<div class="hidden-xs box" id="product_catrgory" [ngStyle]="{ 'display': subItems == undefined || subItems.length == 0 ? 'none' : ''}">
    <h2 class="hidden-xs header_title"><strong>{{'SORT BY PRODUCT CATEGORY' | translate}}</strong></h2>
    <fieldset class="pro-atrtibute">
        <legend class="spanacce"> </legend>
        <div class="content_legend prodFacetsExpand">
            <div class="hidden-ms hidden-sm hidden-md hidden-lg title_category dark_color">
                <h4 class="header_title">Product categories</h4><i class="glyphicon glyphicon-minus"></i>
                <p></p>
            </div>
            <div class="details_div">
                <spinner-component [spinnerShow]="prodLoading"></spinner-component>
                <ul>
                  <li *ngFor="let item of subCategories">
                    <!-- <a [attr.cspobj]="'REPORT'" [attr.csptype]="'LINKS'" [attr.cspenglishvalue]="item.valueText" [routerLink]="['/category', item.id]">{{item.valueText}}<span class="facetCountContainer"> ({{item.prodCount}})</span></a> -->
                    <a [routerLink]="['/category', item.id]">{{item.valueText}}<span class="facetCountContainer"> ({{item.prodCount}})</span></a>
                  </li>
                </ul>
            </div>
        </div>
    </fieldset>
  </div>