#cspInlineContainer_CSP_GLOBAL_ID > .CspInlineContainer {
  color: #5e5e5e;
  font-family: 'proxima-nova-n4', 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#cspInlineContainer_CSP_GLOBAL_ID .CspInlineContainer,
#cspInlineContainer_CSP_GLOBAL_ID .CspInlineClear {
  clear: both;
}
#cspInlineContainer_CSP_GLOBAL_ID > #CspInlineImage,
#cspInlineContainer_CSP_GLOBAL_ID > #CspInlineVideo {
  float: left;
  display: block;
  padding: 0 5px;
}
.CspInlineImage_CSP_GLOBAL_ID, .variousCSP_GLOBAL_ID, .variousCSP_GLOBAL_ID img {
  height: 110px;
	margin-bottom: 10px;
}
div.cspBlockTitle {
  font-weight: bold;
}
.viewImageOverlay_CSP_GLOBAL_ID {
	background-image:
		url("http://global.syndication.tiekinetix.net/customer-resources/inline/images/zoom.png");
	bottom: 10px;
	display: inline-block;
	height: 16px;
	left: -4%;
	position: relative;
	width: 16px;
}

.playVideoOverlay_CSP_GLOBAL_ID {
	background-image: url(http://global.syndication.tiekinetix.net/customer-resources/inline/images/play.png);
  display: block;
  left: 67px;
  opacity: 0.75;
  position: relative;
  bottom: 83px;
	left: 10%;
  width: 50px;
  height: 50px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineProduct {
  float: left;
  width: 100%;
  position: relative;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineProduct > #CspInlineProductTitle {
  width: 60%;
  float: right;
  font-size: 19px;
  line-height: 1.2em;
  margin-bottom: 10px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlinePageContentTitle {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineProduct > #CspInlineProductDescription {
  float: right;
  width: 63%;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineProduct > #CspInlineProductDescription p {
  padding-left: 10px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineProduct > #CspInlineProductDescription,
#cspInlineContainer_CSP_GLOBAL_ID #CspInlinePageContent > #CspInlinePageContentDescription {
  font-size: 12px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineProduct > #CspInlineProductMedia {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35%;
  /*border: 1px solid;*/
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineProduct > #CspInlineProductMedia img {
  width: 100%;
}
#cspInlineContainer_CSP_GLOBAL_ID .CspInlinePageContentContainer > div:nth-child(odd) #CspInlinePageContentDescription,
#cspInlineContainer_CSP_GLOBAL_ID .CspInlinePageContentContainer > div:nth-child(odd) #CspInlinePageContentTitle {
  float: left;
  width: 63%;
}
#cspInlineContainer_CSP_GLOBAL_ID .CspInlinePageContentContainer > div:nth-child(odd) #CspInlinePageContentMedia {
  float: right;
  width: 35%;
  position: absolute;
  right: 0;
}
#cspInlineContainer_CSP_GLOBAL_ID .CspInlinePageContentContainer > div:nth-child(even) #CspInlinePageContentDescription,
#cspInlineContainer_CSP_GLOBAL_ID .CspInlinePageContentContainer > div:nth-child(even) #CspInlinePageContentTitle {
  float: right;
  width: 63%;
}
#cspInlineContainer_CSP_GLOBAL_ID .CspInlinePageContentContainer > div:nth-child(even) #CspInlinePageContentMedia {
  float: left;
  width: 35%;
  position: absolute;
}
#cspInlineContainer_CSP_GLOBAL_ID .CspInlinePageContentContainer > div {
  overflow: hidden;
  border-top: 1px solid #4c4c4c;
  margin-top: 25px;
  padding-top: 25px;
  position: relative;
  min-height: 125px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlinePageContent > #CspInlinePageContentMedia img {
  width: 100%;
}
/* Style for TABs */
#CspTabs .csp-inline-tabs {
  background-color: #ececec;
  color: #5e5e5e;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
}
#CspTabs .csp-inline-tabs li {
  list-style-type: none;
  color: #5e5e5e;
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin-bottom: -1px;
  display: block;
  position: relative;
}
#CspTabs .csp-inline-tabs li a {
  color: #5e5e5e;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right: 2px;
  display: block;
  position: relative;
  text-decoration: none;
}
#CspTabs .csp-inline-tabs li.csp-inline-tab-current a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #dddddd #dddddd transparent;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  cursor: default;
}
.csp-inline-tabcontainer {
  display: none;
}
.csp-inline-currenttabcontainer {
  display: block !important;
}
/* EOF Style for TABs */
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineVideo {
  width: 100%;
  min-height: 120px;
  padding: 0px;
  position: relative;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineVideo > a {
  position: relative;
}

#cspInlineContainer_CSP_GLOBAL_ID #CspInlineVideo a.fancybox-iframe {
  display: inline-block;
  zoom: 1;
  *display: inline;
  max-width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineVideo a > span.playVideoOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineVideo > a > img {
  max-width: 200px;
  overflow: hidden;
  vertical-align: middle;
  margin-top: 12px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineVideo {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlinePdf {
  padding: 10px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlineVideo:nth-child(2n+1),
#CspInlinePdf:nth-child(2n) {
  background: #EDEDED;
}
#cspInlineContainer_CSP_GLOBAL_ID .cspBlockTitle {
  background-color: #CD1F1E;
  color: #f8f8f8;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0 5px 10px;
  margin-bottom: 10px;
}
#cspInlineContainer_CSP_GLOBAL_ID #CspInlinePdf > a {
  display: block;
  font-size: 21px;
  text-decoration: none;
  color: #4B4B4B;
  line-height: 30px;
}
#cspInlineContainer_CSP_GLOBAL_ID .CspVideoTitle {
  font-weight: bold;
}
#cspInlineContainer_CSP_GLOBAL_ID .CspVideoTitle,
#cspInlineContainer_CSP_GLOBAL_ID .CspVideoDescription {
  padding-left: 210px;
  padding-right: 15px;
  padding-top: 10px;
}

/* Update 2015-10-30 */
#CspInlineProductMedia {
 position: relative !important;
}
#CspInlinePageContentMedia img{
 height: auto !important;
}
.CspInlinePageContentContainer > div {
 min-height: 180px !important;
}