/* 1199px 1024px 991px 767px 660px 425px 375px */

// $screen-xs:                  480px !default;
// $screen-ms                   660px; Add in "_bootstrap-ms.scss"
// $screen-sm:                  768px !default;
// $screen-md:                  992px !default;
// $screen-lg:                  1200px !default;

$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-float-breakpoint: 660px; // set breakpoint Navbar Collapse 
@import "bootstrap";

//$main-bg-color
$main-bg-color: #424242;
//$main-color: #FFB91D(orange) -> #424242(dark-gray)
$main-color: #424242;
//text-overlay: $main-bg-color(dark-gray) -> #FFF(white)
$text-overlay-color: #FFF;
//$gray-bg: #feb916(orange) -> #bfbfbd(gray)
$gray-bg: #bfbfbd;

* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #353535;
  background-color: #e2e1dd;
  
}

body, #hf-configuration-wrapper {
  width: 1px;
  min-width: 100%;
  *width: 100%;
}

h1,h2,h3,p {
  margin-top: 0;
}

header {
  background: #fff;
  border-bottom: 13px solid $main-color;
  padding-top: 10px;
}

footer {
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  max-width: 100%;
}

nav.navbar.navbar-default {
  background: transparent;
  box-shadow: none;
  border: none;
  min-height: 0px;
  margin: 7px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

ul.nav.navbar-nav {
  margin: 0 0 0 -30px;
}

.btn.btn-primary.btnContactUs {
  min-width: 180px;
  line-height: 23px;
}

.btn.btn-primary .fa {
  margin-right: 10px;
  font-size: 15px;
}

#product_browse .product-attr .divContactUs {
  text-align: center;
  margin: 5% 0;
}

#product_browse .product-attr .divContactUs .btnContactUs {
  margin: 10% 0;
}

ul.nav.navbar-nav li a {
  color: $main-bg-color;
}

.nav>li.dropdown.open {
  position: static;
}

.nav>li.dropdown.open .dropdown-menu {
  width: 100%;
  max-width: 600px;
  padding: 10px 20px 20px;
  margin-bottom: -25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 4px solid $main-color;
  border-top: 2px solid #777777;
  z-index: 9999;
  list-style-type: none;
  overflow: hidden;
}

.dropdown-menu>li {
  float: left;
  display: block;
  width: 50%;
}

.dropdown-menu>li.active:hover a {
  color: $main-bg-color;
  text-decoration: underline;
}

.dropdown-menu>li:hover a,
.dropdown-menu>li.active a {
  background: none;
  text-decoration: underline;
  color: $main-bg-color;
}

.dropdown-menu>li a {
  white-space: normal;
  font-size: 12px;
  font-weight: bold;
}

#menu li a {
  padding: 15px 20px 0;
}

#menu a {
  cursor: pointer;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
#menu li.active a {
  background: none;
  box-shadow: none;
}

ol.breadcrumb {
  background: none;
  margin-left: -15px;
  margin-bottom: 0;
}

ol.breadcrumb a {
  color: #000;
  font-size: 10px;
  font-style: italic;
}

.breadcrumb>li+li:before {
  content: "\25b6";
  color: #000;
  font-size: 7px;
}

ol.breadcrumb li:last-child a {
  font-style: normal;
  font-weight: bold;
}

.row.contact {
  margin: 0;
}

.page-header,
.content_section .box,
.header_bar,
.product_listing_container,
.contact {
  background: #fff;
}

.page-header {
  padding: 40px 40px 36px !important;
  margin-top: 0;
}

.page-header h1 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  word-wrap: break-word;
  /* add '-' to title, chrome not working */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.content_section h2.header_title {
  font-size: 13px;
  color: $text-overlay-color;
  line-height: 16px;
  padding: 13px 25px 10px;
  font-weight: bolder;
  text-transform: uppercase;
  background: $main-color;
  margin-bottom: 0;
}

.content_section ul {
  padding: 0;
}

.content_section .box {
  margin-bottom: 5px;
}

.content_section ul li {
  list-style: none;
  font-size: 12px;
  text-decoration: none;
  color: #777777;
  padding: 9px 10px 9px 22px;
  text-transform: none;
}

.content_section ul li a {
  font-size: 13px;
  color: $main-bg-color;
  font-weight: bold;
}

legend.spanacce {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -1px;
}

.content_legend {
  color: #000;
  text-transform: uppercase;
}

h4.title {
  display: inline-block !important;
  max-width: 190px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 13px;
  font-weight: bold;
  word-wrap: break-word;
  /* add '-' to title, chrome not working */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 17px;
}

// <= 1199px
@media (max-width:$screen-lg - 1) {
  h4.title {
    max-width: 180px;
  }
}

#product_attributes .content_legend {
  border-top: 1px solid #ddd;
}

.content_legend .title_expand {
  padding: 10px 22px;
  cursor: pointer;
}

.content_legend .details_div {
  padding: 0;
}

#product_attributes .details_div {
  max-height: 200px;
  overflow: hidden;
}

.content_legend .dark_color {
  background: #3E3E3E;
  color: #fff;
}

.content_legend i {
  float: right;
  font-size: 12px;
}

.content_legend .details_div .list-group {
  box-shadow: none;
  padding-left: 22px;
  padding-top: 20px;
  padding-right: 15px;
}

.content_legend .details_div .list-group li {
  border: none;
  padding: 0;
}

.content_legend .details_div .list-group li .checkbox {
  padding: 0;
  margin-bottom: 1px;
  margin-top: 5px;
}

.content_legend .details_div .list-group li .checkbox label {
  line-height: 19px;
  color: #323232;
  font-size: 13px;
}

.content_legend .details_div .facetCountContainer {
  color: #737373;
}

.header_bar {
  background: #fff;
}

.header_bar .title {
  color: #fff;
  background: $main-bg-color;
  padding: 7px 25px 8px;
}

.header_bar span.num_products {
  color: #bfbfbd;
  font-weight: normal;
  display: inline-flex;
}

.header_bar .paging_controls {
  position: absolute;
  float: right;
  right: 50px;
  top: 8px;
}

.paging_controls span {
  float: left;
  color: #fff;
  cursor: pointer;
}

.paging_controls span.active {
  color: $main-color;
}

div.divider {
  width: 1px;
  height: 17px;
  background-color: #bfbfbf;
  margin: 0 12px;
  top: 0;
  float: left;
  right: 76px;
}

.pages ul.pagination {
  margin: 0;
}

.sorting_controls {
  right: 5%;
  float: right;
  margin: 3px 0 0;
  position: relative;
  top: 5px;
}

.sorting_controls span {
  color: #4d4d4d;
  font-size: 11px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.sorting_controls select {
  font-size: 10px;
  width: 100px;
  height: 20px;
}

fieldset.list-product {
  width: 100%;
}

.row_border {
  padding: 0 40px 20px;
}

.compare-padding {
  padding-bottom: 100px;
}

.row-product {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

div.product_listing_container {
  margin-top: 5px;
  min-height: 300px;
  position: relative;
}
div.product_listing_container .sc-center {
  top: 160px !important;
} 

.product-info h4 {
  margin: 0;
  word-wrap: break-word;
  /* add '-' to title, chrome not working */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.product-info h4 a {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.grid_mode .product-info h4 a {
  font-size: 13px;
}

.content_section ul li a {
  word-wrap: break-word;
  /* add '-' to title, chrome not working */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.btn-config {
  padding: 0;
  max-height: 50px;
}

.btn.btn-primary {
  background: #3e3e3e;
  box-shadow: none;
  min-width: 110px;
  border-radius: 30px;
  font-size: 13px;
  margin: 10px 0;
  text-transform: uppercase;
  line-height: 19px;
  border: none;
}

.list-product .btn.btn-primary {
  min-width: 155px;
  font-size: 10px;
  line-height: 15px;
  white-space: normal;
  width: 160px;
}

.btn.btn-primary:hover {
  background: #000;
}

#product_attributes .details_div,
#product_attributes .glyphicon-minus {
  display: none;
}

#services_category_section_div {
  padding-left: 0;
}

@media (min-width:1024px) {
  .container {
    // width: 1170px;
    width: 1024px + 30px;
  }
}

div.title_category {
  color: #fff;
  padding: 22px;
}

div.title_category p {
  text-transform: none;
}

// <= 991px
@media (max-width:$screen-md - 1) {
  .container {
    width: 1024px;
  }
  .content_section .box {
    margin-bottom: 0;
  }
}

.pages ul.pagination li {
  cursor: pointer;
}

.pages ul.pagination li a {
  padding: 5px;
  margin: 5px;
  border: none;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: bold;
}

.pages ul.pagination li.active a,
.pages ul.pagination li:hover a {
  background: #E5E5E5;
  color: #4d4d4d;
  z-index: 0;
}

.product-image img {
  width: 100%;
  max-height: 140px;
  max-width: 140px;
}

// <=767px
@media (max-width:$screen-sm - 1) {
  .product-image img {
    max-width: 130px;
    max-height: 130px;
  }
}

//>768px
@media (min-width:$screen-sm ) {
  .grid_mode .product-image,
  .grid_mode .product-info,
  .grid_mode .btn-config {
    width: 100%;
  }
  .grid_mode .product-info {
    text-align: center;
  }
  .grid_mode .product-info p {
    display: none;
  }
  #homePage .grid_mode .row-product {
    border: none;
    margin-bottom: 0 !important;
  }
}

.product-image {
  text-align: center;
  padding: 5px 0;
}

.loader {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.8;
}

.loader .glyphicon {
  top: calc(50% - 20px);
  font-size: 40px;
  color: #fff;
}

.loader .glyphicon-spin {
  -webkit-animation: spin 2000ms infinite linear;
  animation: spin 2000ms infinite linear;
}

.facet_filter_section {
  padding: 10px 20px 0;
}

.facet_filter_section a {
  color: #000;
  cursor: pointer;
}

.facet_filter_section a:hover,
.facet_filter_section a:focus {
  text-decoration: none;
  color: $main-bg-color;
}

.facet_filter_section i {
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 2px;
}

.facet_filter_section #clear_all_filter {
  float: left;
}

.facet_filter_section #filter_list_wrapper ul {
  margin: 0;
}

.facet_filter_section #filter_list_wrapper li {
  display: inline-block;
}

.facet_filter_section .filter_sprite {
  padding: 3px;
}

#compare .info_section {
  border-top: 1px solid #999;
  padding: 20px 40px;
  background: #fff;
}

#compare .info_section h4 {
  padding-bottom: 10px;
}

#compare .info_section .btn.btn-primary {
  margin: 0 10px;
}

#compare .pull-right {
  text-align: right;
}

// <=767px
@media (max-width:$screen-sm - 1) {
  #compare .info_section {
    padding: 20px 10px;
  }
  #compare .pull-right {
    margin-top: -40px;
  }
  #compare .info_section .btn.btn-primary {
    margin: 0;
  }
  #compare .info_section .margin-top {
    margin-top: 10px;
  }
}

#MessageArea .modal {
  text-align: center;
  color: #353535;
  line-height: 1.38;
  font-weight: bold;
  display: block;
}

#MessageArea .modal-header,
#MessageArea .modal-footer,
#MessageArea .modal-body {
  border: none;
  text-align: center;
  padding: 0;
}

#MessageArea .modal-header {
  padding: 7px 5px;
}

#MessageArea .modal-body {
  padding: 0;
}

#MessageArea .modal .close {
  font-weight: bold;
  line-height: 1;
  background-color: $main-bg-color;
  color: #fff;
  padding: 1px 5px;
  cursor: pointer;
  opacity: 1;
  font-size: 19.5px;
}

#MessageArea .modal-content {
  border-radius: 0;
  padding-bottom: 20px;
}

#overlay,
.overlay2 {
  background-color: #000000;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1040;
  width: 100% !important;
  opacity: 0.6 !important;
  width: 100%;
  height: 100%;
}

#compare-page .compare_table {
  background: #fff;
  padding: 36px 40px 20px;
  position: relative;
}

#compare-page .table.compare_table td.even-row {
  background-color: #e2e1dd;
}

// <=767px
@media (max-width:$screen-sm - 1) {
  #compare-page .compare_table {
    background: #fff;
    padding: 20px;
  }
  #compare-page .btn.btn-primary {
    min-width: 50px;
    font-size: 9px;
    width: 90px;
    line-height: 12px;
    margin: 10px 0;
  }
}

#compare-page .btn.btn-primary {
  margin: 30px 0;
}

#compare-page .compare_table td {
  border: none;
  padding: 7px 8px;
  width: 25%;
}

#compare-page .compare_table h5 {
  font-weight: bold;
  font-size: 13px;
}

#compare-page .compare_table h3 {
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

#compare-page .compare_table img {
  width: 100%;
  max-width: 138px;
  min-width: 40px;
}

#compare-page .compare_table a.remove {
  font-weight: bold;
  cursor: pointer;
}
#homePage {
  margin-bottom: 10px; 
}

#homePage #home-carousel {
  min-height: 250px;
}

#homePage #home-carousel img {
  height: auto;
}

#homePage .slick-list img {
  height: 100%;
}

#homePage .info_section {
  border-top: 7px solid $main-color;
  background: #fff;
  padding: 40px 40px 80px;
}

#homePage .info_section img {
  padding: 30px;
  border: 1px solid #E2E1DD;
  max-width: 100%;
  margin-bottom: 5px;
}

#homePage .outerDiv {
  background: #353535;
  margin-bottom: 10px;
}

#homePage .list-product {
  padding: 0;
}

#homePage .list-product li {
  margin: 0 20px;
}

#homePage .list-product li .item {
  padding: 5px 25px;
  text-align: center;
}

#homePage .list-product li .item h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

#homePage .list-product li .item a {
  color: #0066cc;
}

#homePage .list-product li .item a:hover {
  color: #004080;
}

#homePage h2 {
  font-size: 20px;
  font-weight: 700;
}

#homePage .slick-prev,
#homePage .slick-next {
  top: 36%;
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background: none;
  font-size: 0;
  border: none;
  z-index: 999;
  outline: none;
}

#homePage .slick-prev {
  left: -10px;
}

#homePage .slick-next {
  right: -10px;
}

#homePage .slick-prev:before,
#homePage .slick-next:before {
  font-size: 50px;
  line-height: 0.5;
}

#homePage .slick-prev:before {
  content: "\2039";
}

#homePage .slick-next:before {
  content: "\203A";
}

#homePage .btn.btn-primary {
  font-size: 12px;
  padding: 2px;
  min-width: 140px;
}

#homePage .product_listing_container {
  min-height: auto !important;
}

#homePage .product_listing_container .product-info h4 {
  text-align: center; //  text-align: left; 
  text-transform: uppercase;
  padding: 10px 0px !important;
  // margin-top: 10px;
  /* border-top: 2px solid #0066cc;  */
  font-size: 13px;
  color: #000;
  font-weight: bold;
  word-wrap: break-word;
  /* add '-' to title, chrome not working */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


/* .product_listing_container.grid_mode .product-info h4 {
  min-height: 4.2em;
  max-height: 4.2em;
  overflow: hidden;
  padding-bottom: 0 !important;
  
} */

// >=660px
@media (min-width:$screen-ms) {
  .product_listing_container.grid_mode .list-product .col-product {
    width: 25%;
    float: left;
  }
  /* add "..." if h4 too long */
  .product_listing_container.grid_mode .product-info h4 {
    overflow: hidden;
    height: 80px;
    line-height: 20px;
  }
  .product_listing_container.grid_mode .product-info h4:before {
    content: "";
    float: left;
    width: 1px;
    height: 80px;
  }
  .product_listing_container.grid_mode .product-info h4>*:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
  }
  .product_listing_container.grid_mode .product-info h4:after {
    content: "\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -22px;
    left: 100%;
    width: 1em;
    margin-left: -1em;
    padding-right: 5px;
    text-align: right;
    background: #fff;
  }
  .product_listing_container.grid_mode .product-info h4:hover:after {
    text-decoration: underline;
  }
  /* end add "..." if h4 too long */
}

#homePage .product_listing_container .product-info h4:hover {
  text-decoration: underline;
}

#homePage .product_listing_container .row_border {
  padding: 40px 40px 36px !important;
}

#homePage .grid_mode .col-product {
  overflow: hidden;
}

#homePage .grid_mode .row-product {
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

/* #homePage .grid_mode .row-product img {max-width: 80%;} */

.backgroud_opac {
  z-index: 9999;
  margin-top: -110px;
}

//<=991
@media (max-width:$screen-md - 1) {
  .backgroud_opac {
    margin-top: 0;
  }
}

#slider-thumbs {
  background: rgba(0, 0, 0, 0.4);
}

#slick-thumb {
  padding-left: 0;
}

#homePage #slick-thumb li {
  margin: 0;
  padding: 0;
  outline: none;
}

#homePage #slick-thumb img.item {
  padding: 1px;
  margin: 5px;
  width: 90%;
}

#homePage #slick-thumb .slick-current img {
  outline: 1px solid $main-color;
  padding: 1px;
  margin: 5px;
}

.sliderRight {
  margin-top: 30px;
  padding-left: 5px;
}

.sliderLeft {
  color: #fff;
  padding-left: 30px;
  min-height: 110px;
  padding-bottom: 5px;
}

.sliderLeft h3 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 9px;
  font-weight: bold;
}

.sliderLeft a {
  color: $main-color;
}

.sliderLeft p {
  margin: 0;
  font-weight: bold;
}

//<=991
@media (max-width:$screen-md - 1) {
  .sliderLeft {
    padding: 0 20px;
  }
  .sliderRight {
    margin-top: 0;
    padding: 0 30px;
  }
  #homePage .info_section img {
    padding: 0;
  }
  #homePage .list-product li .item {
    padding: 5px;
  }
  #homePage .list-product li .item h3 {
    font-size: 13px;
  }
}

#product_browse h1 {
  margin: 0;
}

#product_browse .btn-set {
  padding-top: 5px;
}

#product_browse .info_section {
  background: #fff;
  padding: 30px 40px;
  margin: 0;
  margin-bottom: 40px;
}

#product_browse .product-attr .black-bg {
  background: $main-bg-color;
  color: #fff;
  font-weight: 700;
}

#product_browse .product-attr .black-bg-top {
  overflow: hidden;
  position: relative;
}

#product_browse .product-attr .black-bg-top p {
  padding-top: 12px;
  padding-left: 60px;
}

#product_browse .product-attr .black-bg-top div {
  float: left;
  height: 100%;
  background: $gray-bg;
  width: 50px;
  text-align: center;
  margin-right: 10px;
  position: absolute;
}

#product_browse .product-attr .black-bg-top i {
  font-size: 16px;
  /* padding:14px 0; */
  top: calc(50% - 8px);
}

#product_browse .product-attr .list-group-item {
  background: none;
  border: none;
  padding: 20px;
}

.list-group-item:first-child {
  margin-top: -10px;
}

#product_browse .black-bg-bottom {
  text-align: center;
}

#product_browse .black-bg-bottom p {
  padding: 20px 0px 20px;
  border-bottom: 1px solid grey;
  width: 88%;
  margin: 0 auto;
}

#product_browse .form-container {
  background: #E2E1DD;
  padding: 18px 40px 13px;
}

#product_browse .form-container label {
  text-align: right;
  color: #6a6a6a;
  padding-top: 8px;
  font-size: 12.5px;
}

#product_browse .form-container .form-group label:last-child strong {
  font-weight: normal;
  color: #353535;
}

#product_browse .form-container .form-group label:first-child {
  text-transform: uppercase;
}

#product_browse .form-container .form-group {
  margin-bottom: 0;
}

#product_browse .btn.btn-info,
#product_browse .btn.btn-info:active:hover {
  background: $gray-bg;
  border-radius: 20px;
  border: none;
  color: $text-overlay-color;
  line-height: 2;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 4px 14px;
}

#product_browse .btn.btn-info i {
  border-right: 1px solid $text-overlay-color;
  padding-right: 10px;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
}

#product_browse .form-container .form-control {
  border: 1px solid #7e7e7e;
  font-size: 12.5px;
  color: #5c5c5c;
  border-radius: 0;
  font-weight: 700;
  margin-bottom: 15px;
  height: 31px;
}

#product_browse .form-container a.btn.btn-link {
  color: #555;
  text-decoration: underline;
}

#product_browse .form-container a.btn.btn-link:hover {
  text-decoration: none;
}

#product_browse .form-container .form-control option {
  font-weight: 700;
}

#product_browse .tab-content {
  background: #fff;
  padding-bottom: 10px;
}

#product_browse .product-tab li {
  width: 18% !important;
  min-width: 197px;
  padding-right: 5px;
  margin-right: 2%;
  border: none;
  font-size: 12px;
  min-inline-size: fit-content;
}

#product_browse .product-tab>li.active>a,
#product_browse .product-tab>li.active>a:focus,
#product_browse .product-tab>li.active>a:hover {
  border: none;
  border-top: 7px solid $main-color;
  background: #fff;
  color: $main-bg-color;
}

#product_browse .product-tab>li>a,
#product_browse .product-tab>li>a:hover,
#product_browse .product-tab>li>a:focus {
  background: #fff;
  border-color: #fff;
  color: $main-bg-color;
  padding-top: 7px;
}

#product_browse .product-tab>li>a {
  background: $main-bg-color;
  color: #fff;
  border: none;
  border-radius: 0;
  border-top: 7px solid $main-bg-color;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

#product_browse .tab-pane {
  padding: 40px;
}

#product_browse p.title-tech-spec {
  background: #434343;
  color: #fff;
  text-transform: uppercase;
  padding: 4px;
}

#product_browse .spec-tect-prod h3.descAttributeName {
  width: 50%;
  float: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

#product_browse .spec-tect-prod h3.descAttributeName {
  width: 50%;
}

#product_browse .product-tab i {
  display: none;
  float: right;
}

#product_browse #product-asset-list li {
  padding: 5px 10px;
  list-style: none;
}

#product_browse #product-asset-list li a {
  cursor: pointer;
  word-break: break-all;
  display: inline-block;
}

//width < 660px
@media (max-width:$screen-ms - 1) {
  #menu {
    overflow-x: hidden;
    overflow-y: auto;
  }
  #menu .nav.navbar-nav {
    margin: 10px 0;  
  }
  #product_browse .spec-tect-prod h3.descAttributeName,
  #product_browse .spec-tect-prod h3.descAttributeName {
    width: 100%;
  }
  #product_browse .product-tab li {
    width: 100% !important;
    border-top: 1px solid #ddd;
    padding-right: 0;
  }
  #product_browse .product-tab>li.active>a,
  .product-tab>li.active>a:focus,
  .product-tab>li.active>a:hover {
    background: $gray-bg;
  }
  #product_browse .product-tab li a {
    text-align: left;
    margin-right: 0;
  }
  #product_browse .product-tab i.glyphicon-plus {
    display: block;
  }
  #product_browse .product-tab li.active i.glyphicon-plus {
    display: none;
  }
  #product_browse .product-tab li.active i.glyphicon-minus {
    display: block;
  }
}

.navbar-brand img.logo {
  width: 120px;
  height: auto;
}

//<= 767px
@media (max-width:$screen-sm - 1) {
  /* #product_browse .product-attr .black-bg-top i{
    padding:20px 0;
  } */
  .product_listing_container.grid_mode .product-info h4 {
    min-height: 1em;
    max-height: none;
  }
  #product_browse div.row.info_section {
    padding: 30px 5px;
  }
  .navbar-brand img.logo {
    width: 100px;
    margin-top: -5px;
    margin-left: 15px;
  }
  .form-group {
    margin-bottom: 2px;
  }
}
.navbar-header {
  max-height: 15px;
}

.navbar-header .navbar-toggle {
  background-color: $main-bg-color;
  height: 38px;
  width: 38px;
  border-radius: 0;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #686868;
  padding: 6px;
  color: #fff;
  font-size: 8px;
  z-index: 1043;
  right: 0;
  margin-top: 4px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: $main-bg-color;
}

.navbar-header .navbar-toggle .icon-bar {
  background: #fff;
  width: 24px;
  height: 3px;
  border-radius: 0;
}

.close-x {
  color: #fff;
  font-size: 28px;
  line-height: 26px;
  font-weight: bold;
}

#product_browse .square-box {
  margin-bottom: 15px;
}

.paging_controls a {
  float: left;
  color: $gray-bg;
  font-weight: bold;
  text-decoration: none;
}

.paging_controls a.active {
  color: #fff;
}

.row-product .cbCompare {
  margin-top: -4px;
}

.row-product .cbCompare input[type="checkbox"] {
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
  cursor: pointer;
}

.row-product .cbCompare label {
  font-weight: normal;
  color: #0066cc;
  cursor: pointer;
  max-width: 100px;
  text-align: left;
  vertical-align: text-top;
  margin-left: 5px;
}

.product_listing_container.grid_mode .list-product .row-product {
  border: none;
}

.product_listing_container.grid_mode .list-product .row-product .btn-config {
  margin-bottom: 5px;
}

.tooltip_sec .arrow-left {
  border-color: transparent transparent #fff !important;
  border-style: solid !important;
  border-width: 7px !important;
  float: right;
  height: 10px;
  position: relative;
  right: 24.5%;
  top: 5px;
  width: 11px;
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(135deg);
  background: none repeat scroll 0 0 #fff;
  z-index: 2;
}

// <=767px
@media (max-width:$screen-sm - 1) {
  .row-product .cbCompare {
    position: relative; // top:-80px;
    // left: 52.3%;
    // float: left;
  }
  .row-product .cbCompare label {
    max-width: 200px;
    //max-width: 127px;
  }

  .tooltip_sec .arrow-left {
    top: -5px;
  }
}

.paging .ngx-pagination {
  padding: 6px 20px;
  font-weight: bold;
  font-size: 12px;
}

.paging .ngx-pagination li {
  margin-right: 0;
}

.paging .ngx-pagination a {
  color: #4d4d4d;
  font-size: 12px;
  padding: 0;
}

.paging .ngx-pagination .current,
.paging .ngx-pagination li a,
.ngx-pagination .disabled {
  padding: 4px 7px;
  margin: 0 2px;
}

.paging .ngx-pagination .current {
  color: #4d4d4d;
  background: #e5e5e5;
  cursor: pointer;
}

.paging .pagination-next,
.paging .pagination-previous,
.paging .pagination-next a,
.paging .pagination-previous a {
  color: #9e9d9d;
  text-transform: uppercase;
}

.paging .pagination-next:hover a,
.paging .pagination-previous:hover a {
  background: none;
}

.paging .ngx-pagination .pagination-next a::after,
.paging .ngx-pagination .pagination-next.disabled::after {
  font-family: 'FontAwesome';
  content: "\f054";
  margin-left: 2px;
}

.paging .ngx-pagination .pagination-previous a::before,
.paging .ngx-pagination .pagination-previous.disabled::before {
  font-family: 'FontAwesome';
  content: "\f053";
  margin-right: 2px;
}

.paging .ngx-pagination .disabled {
  display: none;
}


/* image always square */

.square-box {
  display: inline-block;
  position: relative;
  width: 100%;
  /* border: 1px solid #E2E1DD; */
  max-width: 150px;
}

.square-box:before {
  content: '';
  margin-top: 100%;
  display: block;
}

.square-box img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width:425px) {
  .row-product .cbCompare {
    left: 54.3%;
  }
}

@media (max-width:375px) {
  .row-product .cbCompare {
    left: 56.3%;
    top: -95px;
  }
  .row-product .cbCompare label {
    max-width: 120px;
  }
}

.navbar-brand {
  padding-left: 0;
}

#menu li #btnContact {
  padding-right: 0;
}

#menu li #btnContact i {
  font-size: 14px;
  padding-right: 5px;
}

#contact-us-form-wrapper {
  padding: 50px 0px;
  background-color: #FFF;
}

#contact-us-form-content,
#thankyou-wrapper {
  width: 70%;
  margin: 0 auto;
}

#contact-us-form-wrapper #form-heder-desc {
  text-align: right;
  font-style: italic;
}

#filterDiv .box {
  background-color: $main-color;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 49%;
  float: left;
  cursor: pointer;
  color: $text-overlay-color;
  font-size: 13px;
  line-height: 31px;
  font-weight: bold;
}

#filterDiv .box:hover {
  text-decoration: none;
}

#filterDiv .box.mobile_sort_by_filter {
  float: right;
}

#filterDiv .box.mobile_sort_by_filter #orderByText {
  font-weight: normal;
  font-size: 15px;
  text-transform: capitalize;
}

.list-product .pages {
  margin-top: -15px;
}

.tooltip_sec ul {
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin-top: 52px;
}

.tooltip_sec ul li {
  padding: 15px 20px;
  border-bottom: 2px solid #ddd;
  margin: 0 20px;
  cursor: pointer;
}

.tooltip_sec ul li:nth-last-child(1) {
  border: none;
}

.btn.btn-primary.btn-xs {
  padding: 0px;
  margin: 5px;
  font-size: 9px;
  min-width: 70px;
}

#clear_all_btn {
  background: #fff;
  color: #000;
}

#clear_all_btn:hover {
  border: none;
}

.content_legend h4.header_title {
  font-size: 13px;
  margin: 0 0 5px;
  font-weight: bold;
}

.content_legend .title_category p {
  font-size: 9px;
  margin: 0;
}

.facetCountContainer {
  font-weight: normal;
}

#filterDiv.open_filter .mobile_facet_filter {
  width: 100% !important;
}

#filterDiv.open_filter #clear_all_btn,
#filterDiv.open_filter .filter_done_btn {
  display: block !important;
  margin: 5px 15px;
}

#filterDiv.open_filter .mobile_sort_by_filter {
  display: none !important;
}

#filterDiv.open_filter .btn_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $main-color;
  z-index: 3;
}

#filterDiv.open_filter .btn_fixed .filter_done_btn {
  width: 85%;
  margin: 15px auto;
}

#product_attributes .content_legend.prodFacetsExpand .title_expand {
  background: rgb(62, 62, 62);
  /* border-top: 2px solid #fff; */
  color: #fff;
}

#product_attributes .content_legend.prodFacetsExpand .glyphicon-minus,
#product_attributes .content_legend.prodFacetsExpand .details_div {
  display: block !important;
}

#product_attributes .content_legend.prodFacetsExpand .glyphicon-plus {
  display: none !important;
}

.content_section ul.list-group {
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  -o-column-width: 300px;
  -ms-column-width: 300px;
  column-width: 300px;
}

#product-asset-list {
  list-style-position: inside;
  -webkit-padding-start: 0px;
  padding-left: 15px;
}

.btn.btn-primary.btnContactUs {
  min-width: 180px;
  line-height: 23px;
}

.btn.btn-primary .fa {
  margin-right: 10px;
  font-size: 15px;
}

#product_browse .product-attr .divContactUs {
  text-align: center;
  margin: 5% 0;
}

// #product_browse .product-attr .divContactUs .btnContactUs {
//   margin: 10% 0;
// }

#productsFacets h4.title {
  max-width: calc(100% - 20px);
  font-size: 12px;
}

#product-asset-list .pdp-li-link {
  background: url("../assets/images/ico-link.png");
  height: 10px;
  left: -30px;
  top: 12px;
  width: 20px;
  display: flex;
  position: relative;
}

#product-asset-list .pdp-li-pdf {
  background: url("../assets/images/ico-pdf.png");
}

#product-asset-list h3 {
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #323232;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.pos-fixed {
  position: fixed;
}
.mCSB_scrollTools {
  margin-right: 5px;
}
//loading image
.sc-default-spinner[_ngcontent-c2] {
  background-color: $main-color !important;
  margin-top: -10px !important;
}
.arrowthin {
  padding-left: 0;
  color: $main-bg-color;
}

#productsFacets,
#product_catrgory .details_div  {
  min-height: 80px;
  position: relative;
}
// .product_listing_container .sc-default-spinner[_ngcontent-c2]{
//   top: 30vh;
// }

//width < 660px
@media (max-width:$screen-ms - 1) {
  #menu li a {
    color: $main-bg-color;
    padding-top: 10px;
  }
  ul.nav.navbar-nav li {
    margin-left: 10px;
    width: 100%;
  }
  .nav>li.dropdown.open .dropdown-menu {
    border: none;
    padding: 0;
    margin: 0;
  }
  #menu .dropdown-menu>li.active a {
    color: $main-bg-color;
    text-decoration: underline;
  }
  #menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1040;
    width: 250px;
    height: 100%;
    border: none;
    background: #fff;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  #product_catrgory ul {
    padding-top: 10px;
  }
  #product_catrgory ul li {
    width: 50%;
    float: left;
    padding-bottom: 15px;
  }
  #services_category_section_div {
    padding-left: 15px;
  }
  .btn-config .btn.btn-primary {
    width: calc(100% - 20px);
    font-size: 12.5px;
    padding-top: 8px;
  }
  .row-product .cbCompare {
    top: -80px;
    left: 52.3%;
    float: left;
  }
  #category .header_bar .title {
    background: #E2E1DD;
    font-size: 12px;
    padding-bottom: 2px;
  }
  #category .header_bar span.num_products {
    color: #000;
    font-weight: bold;
  }
  .product-info p {
    display: none;
  }

  #homePage .row-product {
    border-bottom: 1px solid #ddd;
  }
  #homePage .row-product a {
    display: table;
    width: 100%;
  }
  #homePage .row-product a > div{
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  #homePage .grid_mode .row-product {
    margin-top: 10px;
    margin-bottom: 0;
  }
  #product_browse .form-container label {
    text-align: left;
  }
  #product_browse .form-container .form-control {
    margin-bottom: 10px;
  }
  #product_browse .product-tab > li.active > a, 
  #product_browse .product-tab > li.active > a:focus, 
  #product_browse .product-tab > li.active > a:hover{
    border-color: $gray-bg;
    background: $gray-bg;
  }
  #product_listing_container {
    width: 100%;
  }
  .content_legend .dark_color {
    background: #A7A396;
    border-top: 2px solid #fff;
  }
  #homePage .product_listing_container .product-info h4 {
    text-align: left;
  }
  div.product_listing_container {
    margin-top: 0;
  }
  #homePage .grid_mode .col-product:first-child {
    margin-top: -25px;
  }
  .btn-primary.filter_done_btn {
    border: 1px solid #fff;
  }
}

//660px -> 768px
@media (min-width:$screen-ms) and (max-width:$screen-sm - 1) {
  .row-product .cbCompare {
    // left: 6%;
    font-size: 12px;
    top: 0;
  }

  .product_listing_container.grid_mode .list-product .col-product {
    width: 50%;
  }
  .product_listing_container.grid_mode .list-product .col-product .product-image,
  .product_listing_container.grid_mode .list-product .col-product .product-info,
  .product_listing_container.grid_mode .list-product .col-product .btn-config {
    width: 100%;
  }
  .product_listing_container.grid_mode .list-product .col-product .product-info p {
    display: none;
  }
  #homePage .grid_mode .row-product {
    border: none;
  }
  .product_listing_container.grid_mode .list-product .col-product .product-info h4 {
    text-align: center;
  }
  .product_listing_container.grid_mode .list-product .col-product .btn-config .cbCompare {
    float: none;
    left: 0;
  }
  .grid_mode .list-product .btn.btn-primary {
    min-width: 155px;
    font-size: 10px;
    line-height: 15px;
    white-space: normal;
    width: 160px;
  }
  #product_browse .form-container {
    padding-right: 25px;
  }
  #product_browse .form-container label {
    font-size: 12px;
  }
  #product_browse .form-container .form-control {
    margin-bottom: 10px;
  }
  .product_listing_container .list-product .col-product .btn-config {
    position: absolute;
    right: 10px;
    top:25px;
  }
  .product_listing_container .list-product .col-product .product-info {
    padding: 0 5px;
  }
  .product_listing_container.grid_mode .list-product .col-product .btn-config {
    position: initial;
  }
}

//width >= 768px
@media (min-width:$screen-sm) {
  .list-product .btn.btn-primary {
    min-width: 130px;
    width: 140px;
    font-size: 10px;
  }
}

//768px -> 991px
@media (min-width:$screen-sm) and (max-width:$screen-md - 1) {
  .product_listing_container.grid_mode .list-product .col-product {
    width: 33.33%;
  }
}
