<div id="sce-wrapper" class="container">
	<div id="main-nav-wrapper" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="logo-header">
				<img id="sce-logo-img" class="image-logo" src=""/>
				<!--<input class="search" type="text" name="Search" value="search">-->
			</div>
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<div class="navbar-collapse collapse" id="csp-main-nav">
				<div id= "main-nav-left-wrapper">
					<ul class="nav navbar-nav navbar-left">
					</ul>
					<ul id="mn-overflow-items">
					</ul>
					<a id="mn-overflow-toggle"></a>
				</div>
			</div><!--/.nav-collapse -->
			<ul id="main-nav-contactus">
				<li class="contactus" id="btn-contactus"><a href="javascript: void(0)"></a></li>
			</ul>
		</div>
	</div>
	
	<!-- Lef col + content -->
	<div id="content" class="row">
		<div id="block-content-products" class="col-md-12">
			<div id="sce-left-col" class="hide col-md-4 block-menu">
				<ul class="menu-items"></ul>
				<div class="contactleft">
					<a href="javascript: void(0)"></a>
				</div>
			</div>
			<div id="workspace">
				<div class="clear" id="workspacelastitem"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<!-- EOF Lef col + content -->
	
	<div id="footer" class="row">
		<div id="footer-inner">
			<div class="col-md-6">
				<img id="logo-footer" src="Images/logo-asterisk-faded.png"/>
				<div class="content-footer">
					<span>Copyright © <span id='copyright-year'></span>. All Rights Reseved</span><br/>
					<span>Powered by TIE Kinetix</span>
				</div>
			</div>
			
			<div class="col-md-6" id="sce-footer-socials">
				<ul>
					<li><a href="javascript: void(0)"><img src="Images/socials_icon/icon-facebook.png" /></a></li>
					<li><a href="javascript: void(0)"><img src="Images/socials_icon/icon-twitter.png" /></a></li>
					<li><a href="javascript: void(0)"><img src="Images/socials_icon/icon-linkedin.png" /></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
jQuery(function() {
	initApp();
});
</script>