body{}
#csp-agencyBar{display:none;}
#csp-agencyBar, #csp-agencyBar span{width: 100%; background-color:#004972; font-family: Arial, Helvetica, sans-serif ;font: 13px; font-weight: bold; color: #fff; height: 24px; vertical-align: middle;}
#csp-agencyBarData{width:640px;margin: 0 auto;top:0;text-align: right; height: 24px; padding-top:5px;}
#container{width: 620px;padding:0 20px;margin: 0 auto;}
#container #csp-cobrandLogo{width: 100%; max-height: 90px; margin-top: 10px;display:none;}
#container div.csp-content-zone{display: block;clear:both;width: 100%;margin:5px 0;}
#container div.csp-one-block{width:100%;margin:10px 10px 10px 0;}
#container div.csp-two-blocks{width:300px; margin:0;}
#container div.csp-two-blocks.csp-two-blocks-first-block {margin-right: 20px;}
#container div.csp-two-blocks a img {width:300px; border:0;}
#container div.csp-three-blocks{width: 195px; margin:10px;}
#container div.csp-float-left{float:left;}
#container div.csp-float-right{float:right;}
#container div.csp-clear{clear:both;}
#container div.csp-footer{padding:0; margin-top:15px;}