/*ul li { list-style-type: none; }
header {
    background: #fff;
    border-bottom: 13px solid #ffb91d;
    padding-top: 27px;
    padding-bottom: 0;
}
footer {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
nav.navbar.navbar-default {
    background: transparent;
    box-shadow: none;
    border: none;
    min-height: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0;
}
ul.nav.navbar-nav {
    margin: 0 0 0 -30px;
}
ul.nav.navbar-nav li a {
    color: #424242;
}
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 4px solid #ffb91d;
    border-top: 2px solid #777;
    z-index: 9999;
    padding: 20px;
}
.dropdown-menu > li {
    width: 33%;
    padding-bottom: 10px;
}
.dropdown-menu > li.active:hover a {
    color: #424242;
    text-decoration: underline;
}
.dropdown-menu > li:hover a,
.dropdown-menu > li.active a {
    background: none;
    text-decoration: underline;
    color: #424242;
}
.dropdown-menu > li a {
    white-space: normal;
    font-size: 12px;
    font-weight: 700;
}
#menu li a {
    padding: 0 20px 0 0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
#menu li.active a {
    background: none;
    box-shadow: none;
}*/