<header>
	<div class="container">
		<div class="overlay2 hidden"></div>
		<nav class="navbar navbar-default" >
		<div class="navbar-header">
			<a [routerLink]="['/']" class="navbar-brand">
				<!-- <img class="logo" src="https://www.parker.com/parker/newparkerstyle/responsive/images/logo.png"> -->
			</a>
			<button data-toggle="slide-collapse" data-target="#menu" class="navbar-toggle collapsed">
				<div class="open">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					<span class="txt_menu">MENU</span>
				</div>
				<span class="close-x hidden">×</span>
			</button>
		</div>
		<div class="clearfix"></div>
		
			<div class="collapse navbar-collapse" id="menu">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">{{'Product'|translate}} <i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu" role="menu">
							<spinner-component [spinnerShow]="menuItems.length == 0" *ngIf="menuItems.length == 0"></spinner-component>
							<li *ngFor="let item of menuItems;">
								<a [attr.cspobj]="'REPORT'" [attr.csptype]="'LINKS'" [attr.cspenglishvalue]="item.valueText" [routerLink]="['./category', item.id]">{{item.valueText}}</a>
							</li>

						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a id="btnContact" [routerLink]="['/contactus']">{{'Contact' | translate }}<i class="fa fa-phone fa-flip-horizontal"></i></a></li> -->
					<li><a id="btnContact" [routerLink]="['/contactus']">{{'Contact' | translate }}</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>