<script type="text/ng-template" id="carouselinner-tmpl">
	<img ng-src="{{blocks.image}}">
</script>
<div id="home-carousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#home-carousel" data-slide-to="{{$index}}" ng-class="{active:$first}" ng-repeat="blocks in blockHero"></li>
	 </ol>					 
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item" ng-repeat="blocks in blockHero" ng-class="{active : $first}" ng-include="'carouselinner-tmpl'">
		</div>
	</div>
	<!-- Controls -->
	<a rel="nofollow" class="left carousel-control" href="#home-carousel" data-slide="prev" eat-click>
		<span class="icon-prev"></span>
	</a>
	<a rel="nofollow" class="right carousel-control" href="#home-carousel" data-slide="next" eat-click>
		<span class="icon-next"></span>
	</a>			 
</div>
<div id="csp-content" class="row">
	<div class="row blocks-{{blockTile.length}}">
		<script type="text/ng-template" id="homeblock-tmpl">
			<a rel="nofollow" class="tile-thumbnail" ng-href="{{getTileBlocksLink(blocks.cspcategoryid)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{blocks.reportingId}}">
			  <img ng-src="{{blocks.image}}">
			  <div class="caption homeblock-caption">
				<div class ="short-title">{{blocks.title}}</div>
				<!--<div ng-bind-html-unsafe="blocks.description"></div>-->
			  </div>
			</a>
		</script>
	  <div class="block-items col-sm-6 col-md-3" ng-repeat="blocks in blockTile" ng-include="'homeblock-tmpl'">
	  </div>
	</div><!--end #csp-contemt-->
</div>
<script type="text/javascript">
	jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
		addTick(jQuery(this));
	});
	jQuery(document).ready(function() {
		jQuery("#home-carousel").carousel({
			interval: 6000
		});
		jQuery("#home-carousel").swiperight(function() {  
			jQuery("#home-carousel").carousel('prev');  
		});  
		jQuery("#home-carousel").swipeleft(function() {  
			jQuery("#home-carousel").carousel('next');  
		});
	});  
</script>