<div id="product-panel">
   <div class="ajax-loading" ng-show="ajaxLoading">
      <div class="loading-image"></div>
   </div>
   <!--<div class="border-background-top-nav"></div>-->
   <script type="text/ng-template" id="breadcrumb-tmpl">
      <a rel="nofollow" href="{{breadcrumb.link}}">{{breadcrumb.title}}</a>&raquo;
   </script>
   <div id="breadcrumb">
      <span ng-repeat="breadcrumb in breadcrumbs" ng-include="'breadcrumb-tmpl'">
      </span>
      <a rel="nofollow" class="current" href="javascript: void(0)">{{categoryContent.title}}</a>
	  
	  <script type="text/ng-template" id="carouselinner-tmpl">
		  <a rel="nofollow" ng-href="{{baseDomain}}#/products/{{productId}}/productdetail/{{blocks.id}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{blocks.reportid}}">
			<img ng-src="{{blocks.imageUrl}}">
			<p class="ctitle" ng-bind-html-unsafe="blocks.title"></p>
			<p class="ctitlesecond" ng-bind-html-unsafe="blocks.secondarytitle"></p>
		  </a>
	   </script>
	   <div class="az-titles" >
		  <a href="#{{let}}" ng-class="checkHaveProduct(let)" ng-repeat="let in alphabet" class="az-links az" target="_self"><span>{{let}}</span></a>
	   </div>
   </div>

   
   <div>
		<div class="products-a-z-list">
			<div id="{{let}}" ng-class="checkHaveProduct(let)" ng-repeat="let in alphabet" class="alphabet-block">
				<a class="az" href="javascript: void(0)" style="cursor: default" name="{{let}}" >{{let}}</a>
				<div class="row" >
						<div ng-repeat="prod in AToZProducts | filter:byFirstLetter(let)" class="row col-md-6 prod-col-a-z">
							<a ng-click="GoToProduct(prod)" class="prod-title-a-z" cspObj="REPORT" cspType="LINKS" cspEnglishValue="">{{prod.title}}</a>
							<p class="prod-des-a-z" ng-bind-html-unsafe="prod.secondarytitle"></p>
						</div>
				</div>
			</div>
		</div>
   </div>
   
</div>
<script type="text/javascript">
   jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
	if (jQuery(this).hasClass('az-links')) return;
   	addTick(jQuery(this));
	//event.preventDefault();
   });
   if(jQuery(".alphabet-block div").length == 0){
		jQuery(this).parent.css("display","none");
   }
   jQuery(document).ready(function() {
   	jQuery("#product-carousel").carousel({
   		interval: 6000
   	});
   	jQuery("#product-carousel").swiperight(function() {  
   		jQuery("#product-carousel").carousel('prev');  
   	});  
   	jQuery("#product-carousel").swipeleft(function() {  
   		jQuery("#product-carousel").carousel('next');  
   	});
	jQuery("body").undelegate(".az-links", "click").delegate(".az-links", "click", function(e) {
		
		jQuery('html,body').animate({ scrollTop: jQuery(this.hash).offset().top}, 1000);
		return false;
		e.preventDefault();
	});
   }); 
	

</script>