<div #comparePageDiv id="compare-page">
  <section id="category">
      <div class="container">
          <ol class="breadcrumb">
              <li><a><span>{{'Product' | translate }}</span></a></li>
              <li><a [routerLink]="['/category', categoryId]"><span>{{categoryTitle}} </span></a></li>
          </ol>
          <div class="compare_table">
              <h1>{{'Compare Products' | translate}} </h1>
              <p>{{'You can only compare up to 4 products.' | translate}} </p><a [routerLink]="['/category', categoryId]">{{'back to' | translate}} {{categoryTitle}} </a>
              <div>
                  <spinner-component [spinnerShow]="prodLoading"></spinner-component>
                  <table class="table compare_table">
                      <tbody>
                            <tr>
                                <td *ngFor="let prodItem of productList">
                                    <div>
                                        <div class='square-box'>
                                            <a>
                                                <img src="{{prodItem.thumbnailImage}}">
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="button" (click)="goViewProduct(prodItem)">{{'View Product' | translate}}</button>
                                    </div>
                                    <div>
                                        <a class="remove" (click)="removeProd(prodItem)"><i class="glyphicon glyphicon-remove"></i> {{'Remove' | translate}}</a>
                                        <h5>{{prodItem.valueText}}</h5>
                                    </div>
                                </td>

                            </tr>
                            <tr *ngFor="let fname of facetNames; let idx = index">
                                <td *ngFor="let prodItem of productList" class="{{idx % 2 == 0 ? 'even-row' : 'odd-row'}}">
                                    <div>
                                    <h3>{{fname}}</h3>
                                    <p>{{getFacetValue(prodItem.id + '', fname)}}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td *ngFor="let prodItem of productList">
                                    <button class="btn btn-primary" type="button" (click)="goViewProduct(prodItem)">{{'View Product' | translate}}</button>
                                </td>
                            </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
</div>