﻿div.cspisicontainer {
    float: left;
}

.cspBackToTop {
    display: none;
}
.csp_pdf_container {
    min-height: auto;
}
div.cspisicontainer div.cspisifeatures li, div.cspisicontainer div.cspisidesc li {
    list-style: disc !important;
}
div.cspisicontainer div.cspisifeatures ul, div.cspisicontainer div.cspisidesc ul {
    margin-left: 15px;
    margin-top: 15px;
}
div.cspisicontainer .cspFeatureTitle {
    margin: 12.95px 0 !important;
    font-weight: bold !important;
}
.cspisivideo h1, .cspisidesc h1, .cspisigallery h1 {
    font-weight: bold;
}