	<div id="asset-detail-page">
		<script type="text/ng-template" id="breadcrumb-tmpl">
			<a rel="nofollow" ng-if="breadcrumb.link != ''" ng-href="{{breadcrumb.link}}">{{breadcrumb.title}}</a>
			<a rel="nofollow" ng-if="breadcrumb.link == ''" ng-href="{{breadcrumb.link}}" eat-click>{{breadcrumb.title}}</a>
			<span ng-if="!$last">&raquo;</span>
		</script>
		<div id="breadcrumb">
			<span ng-repeat="breadcrumb in adc.breadcrumbs" ng-include="'breadcrumb-tmpl'">
			</span>
			<!-- <a rel="nofollow" class="current" href="javascript: void(0)">{{assetTitle}}</a> -->
		</div>
		<div id="page-title">
			<h1>{{adc.assetTitle}}</h1>
		</div>
		
		<!-- Featured block -->
		<script type="text/ng-template" id="bannerblock-tmpl">
			<a rel="nofollow" ng-href="{{adc.assetItem.fileurl}}" buttontitle="{{adc.assetItem.buttontitle}}" buttonlink="{{adc.assetItem.buttonlink}}" ng-class="{true:'csp-lightbox', false:'no-asset-video'}[adc.assetItem.fileurl != '']">
			<div class="asset-img"><img class="img-responsive" ng-src="{{adc.assetBanner}}" /></div>
			<div class="asset-text" ng-bind-html="TrustHtmlContent(adc.assetDescription)"></div>
			</a>
		</script>
		<div class="row whole-row">
			<div class="col-md-12">
				<div class="asset-block" ng-include="'bannerblock-tmpl'">
					
				</div>
			</div>
		</div>
		<div id="asset-detail">
			<div class="row">
				<div class="col-md-8" ng-bind-html="TrustHtmlContent(adc.assetLongDescription)"></div>
				<div class="col-md-4">
					<div class="file-outer">
						<a rel="nofollow" href="{{adc.assetFileLinkUrl}}" rel="{{adc.assetFileType}}" class="{{adc.assetFileLinkLaunchType}}" ng-class="{true:'hide', false:''}[adc.assetFileLinkUrl == '']" target="{{adc.assetFileLinkTarget}}">
							<div class="{{adc.assetFileType}}">
								{{adc.assetFileDownloadTitle}}
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		jQuery("body").undelegate(".csp-lightbox", "click").delegate(".csp-lightbox", "click", function(event) {
			var isDesktop = reAdjustColorBoxSize(350);
			var thisEl = jQuery(this);
			if (isDesktop) {
				if (jQuery(this).attr('rel') != undefined && jQuery(this).attr('rel').toLowerCase() == 'document')
					wdHeight = jQuery(window).height() - 90;
			}
			jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href'), onComplete: function(){
				jQuery("#cboxLoadedContent iframe").height(wdHeight);
				var buttontitle = thisEl.attr("buttontitle");
				var buttonlink = thisEl.attr("buttonlink");
				if(buttontitle == undefined || buttontitle == '') return;
				jQuery("#cboxLoadedContent").append("<a class='btn-learnmore-asset' href='"  + buttonlink + "'>" + buttontitle + "</a>");
				jQuery.colorbox.resize();
			}});
			event.preventDefault();
		});
		
		jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
			addTick(jQuery(this));
		});
	</script>