		<!-- Wrapper for slides -->
		<script type="text/ng-template" id="carouselinner-tmpl">
			<a rel="nofollow" ng-class="{true:'csp-lightbox'}[mainc.IsExternalLink(blocks.link)]"  ng-if="blocks.link != ''" ng-href="{{blocks.link}}" cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{blocks.reportingId}}">
				<img ng-src="{{blocks.image}}" alt="{{blocks.description}}">
				<div class="carousel-caption" ng-hide="mainc.CheckEmptyDesc(blocks.description)" ng-bind-html="TrustHtmlContent(blocks.description)"></div>
			</a>
			<a rel="nofollow" ng-if="blocks.link == ''" href="javascript: void(0)" eat-click style="cursor: default">
				<img ng-src="{{blocks.image}}" alt="{{blocks.description}}">
				<div class="carousel-caption" ng-hide="mainc.CheckEmptyDesc(blocks.description)" ng-bind-html="TrustHtmlContent(blocks.description)"></div>
			</a>
		</script>
		<div id="home-carousel" class="carousel slide clearfix">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{active:$first}" ng-repeat="blocks in mainc.homeBlocks | filter:type='hero' | orderBy:'displayorder'"></li>
			 </ol>
			<div class="carousel-inner">
				<div class="item" ng-class="{active:$first}" ng-repeat="blocks in mainc.homeBlocks | filter:type='hero' | orderBy:'displayorder'" ng-include="'carouselinner-tmpl'" my-home-directive>
				</div>
			</div>
			<!-- Controls -->
			<a rel="nofollow" class="left carousel-control" href="#home-carousel" data-slide="prev" eat-click>
			<span class="icon-prev"></span>
			</a>
			<a rel="nofollow" class="right carousel-control" href="#home-carousel" data-slide="next" eat-click>
			<span class="icon-next"></span>
			</a>			 
		</div>
		
		<script type="text/ng-template" id="homeblock-tmpl">
			<a rel="nofollow" href="{{blocks.link}}" target="{{mainc.GetLinkTarget(blocks.link)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{blocks.title}}">
				<img ng-src="{{blocks.thumbnail}}" />
				<div class="csp-box-description">
					<div class="csp-box-title">
						{{blocks.title}}
					</div>
					<div class="csp-box-desc" ng-bind-html="TrustHtmlContent(blocks.description)">						
					</div>
				</div>
			</a>
		</script>
		<div id="csp-homeblocks-wrapper" class="row" style="padding: 0px 0px 0px 3px">
			<div class="csp-box span4" ng-repeat="blocks in mainc.tileBlocks | filter:type='tile' | orderBy:'displayorder'" ng-include="'homeblock-tmpl'">				
			</div>
		</div><!--end #csp-contemt-->
		<script type="text/javascript">
		/*
		jQuery(document).ready(function() {
			jQuery("#home-carousel").carousel({
				interval: 6000
			});
			jQuery("#home-carousel").swiperight(function() {  
				jQuery("#home-carousel").carousel('prev');  
			});  
			jQuery("#home-carousel").swipeleft(function() {  
				jQuery("#home-carousel").carousel('next');  
			});
			jQuery('.carousel-control').on('click', function(e) {
				e.preventDefault();
			});
		});  
		*/
		
		jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
			var hrefValue = jQuery(this).attr('href');
			if (hrefValue != undefined && hrefValue.indexOf('amp.twimg.com/v/') != -1) {
				var isDesktop = reAdjustColorBoxSize(350);
				var exceptionHeight = wdHeight + 70;
				
				var reportingId = jQuery(this).attr("cspEnglishValue");
				reportingId=(reportingId?reportingId:"");
				jQuery.colorbox({width: wdWidth + "px", height: exceptionHeight + "px", iframe:true, href: jQuery(this).attr('href'), 
					onComplete: function(){if (typeof (CspReportLib) != "undefined") CspReportLib.trackVideoStatus.start(reportingId); jQuery('.cboxIframe').attr({'scrolling': 'no', 'style': 'overflow: hidden; width: 100%;', 'frameborder': '0'});},
					onClosed: function() {if (typeof (CspReportLib) != "undefined") CspReportLib.trackVideoStatus.stop(reportingId);}
				});
				event.preventDefault();
				return;
			}
			if (jQuery(this).hasClass('csp-lightbox')) return;
			addTick(jQuery(this));
		});
		
		jQuery("body").undelegate(".csp-lightbox", "click").delegate(".csp-lightbox", "click", function(event) {
			var reportingId = jQuery(this).attr("cspEnglishValue");
			reportingId=(reportingId?reportingId:"");
			var isDesktop = reAdjustColorBoxSize(350);
			/*
			if (isDesktop) {
				jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href'), 
					onComplete: function(){if (typeof (CspReportLib) != "undefined") CspReportLib.trackVideoStatus.start(reportingId);},
					onClosed: function() {if (typeof (CspReportLib) != "undefined") CspReportLib.trackVideoStatus.stop(reportingId);}
				});
				event.preventDefault();
			}
			*/
			jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href'), 
				onComplete: function(){if (typeof (CspReportLib) != "undefined") CspReportLib.trackVideoStatus.start(reportingId);},
				onClosed: function() {if (typeof (CspReportLib) != "undefined") CspReportLib.trackVideoStatus.stop(reportingId);}
			});
			event.preventDefault();
		});
		</script> 