		<div id="product-page">
			<script type="text/ng-template" id="breadcrumb-tmpl">
				<a rel="nofollow" ng-if="!breadcrumb.isProduct" ng-href="{{breadcrumb.link}}">{{breadcrumb.title}}</a>
				<a rel="nofollow" ng-if="breadcrumb.isProduct" ng-href="{{breadcrumb.link}}" eat-click>{{breadcrumb.title}}</a>
				<span ng-if="!$last">&raquo;</span>
			</script>
			<div id="breadcrumb">
				<span ng-repeat="breadcrumb in prodc.breadcrumbs" ng-include="'breadcrumb-tmpl'">
				</span>
			</div>
			<div id="page-title">
				<h1>{{prodc.currentItem.title}}</h1>
			</div>
			
			<!-- ltu 8/18/14 -->
			<div id="page-intro" ng-bind-html="TrustHtmlContent(prodc.currentItem.Content_Information_Detail)">
			</div>
			<!-- Sub products list -->
			<script type="text/ng-template" id="prodblock-tmpl">
				<div class="prod-block" ng-if="prod.lastItem">
					<a rel="nofollow" ng-href="{{prod.filevideourl}}" ng-class="{'cursor-default': prod.filevideourl == '', 'csp-lightbox': prod.filevideourl != ''}" buttontitle="{{prod.buttontitle}}" buttonlink="{{prod.buttonlink}}">
						<div class="prod-img"><img class="img-responsive" ng-src="{{prod.image}}" /></div>
						<div class="prod-text title-edit" 
							ng-class="{'align-right':prod.textorientation.toLowerCase() == 'right', 
										'align-left':prod.textorientation.toLowerCase() != 'right',
										'no-overlay-bg':prod.description == '',
										'hide':prod.title == '' && prod.description == ''}">
							<h3 ng-bind-html="TrustHtmlContent(prod.title)"></h3>
							<span ng-bind-html="TrustHtmlContent(prod.description)"></span>
						</div>
					</a>
				</div>
				<div class="prod-block" ng-if="prod.feature.toLowerCase() == 'yes' && !prod.lastItem">
					<div class="prod-img">
						<a rel="nofollow" href="#/products/{{prodc.getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">
							<img class="img-responsive" ng-src="{{GetProductBanner(prod)}}" src="{{GetProductBanner(prod)}}" />
							<!-- <img ng-if="pro.bannerimage.trim()==''" class="img-responsive" ng-src="{{prod.image}}" /> -->
						</a>
					</div>
					<div class="prod-text" 
						ng-class="{'align-right':prod.textorientation.toLowerCase() == 'right', 
									'align-left':prod.textorientation.toLowerCase() != 'right',
									'no-overlay-bg':GetDescriptionExtended(prod) == '',
									'hide':prod.title == '' && GetDescriptionExtended(prod) == ''}">
						<h3><a rel="nofollow" href="#/products/{{prodc.getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">{{prod.title}}</a></h3>
						<span ng-bind-html="TrustHtmlContent(GetDescriptionExtended(prod))"></span>
						<div class="text-learnmore"><a rel="nofollow" href="#/products/{{prodc.getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">{{prodc.textLearnMore}}</a></div>
					</div>
				</div>
				<div class="block-wrapper" ng-if="prod.feature.toLowerCase() != 'yes' && !prod.lastItem">
					<div class="prod-img">
						<a rel="nofollow" href="#/products/{{prodc.getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">
							<img class="img-responsive" ng-if="prod.feature==Yes" ng-src="{{prod.image}}" />
							<img class="img-responsive" ng-if="prod.feature!=Yes" ng-src="{{prod.thumbnail}}" />
						</a>
					</div>
					<div class="prod-text align-right" ng-class="{'no-overlay-bg':prod.description == '', 'hide':prod.title == '' && prod.description == ''}">
						<h3><a rel="nofollow" href="#/products/{{prodc.getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">{{prod.title}}</a></h3>
						<span ng-bind-html="TrustHtmlContent(prod.description)"></span>
						<div class="text-learnmore"><a rel="nofollow" href="#/products/{{prodc.getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">{{prodc.textLearnMore}}</a></div>
					</div>
				</div>
			</script>
			<div class="row" ng-class="{'whole-row':contentRow[0].feature.toLowerCase() == 'yes'}" ng-repeat="contentRow in prodc.prodRows | orderBy:'displayorder'" my-prodchild-directive>
				<div ng-class="{'col-md-6 prod-block':contentRow[0].feature.toLowerCase() != 'yes', 'col-md-12':contentRow[0].feature.toLowerCase() == 'yes'}" ng-repeat="prod in contentRow | orderBy:'displayorder'" ng-include="'prodblock-tmpl'" my-prodcol-directive></div>
			</div>
			
			
			<!-- Product detail -->
			<div id="product-node-detail">
				<div class="row" ng-if="prodc.currentItem.descriptionlong != ''" style="margin: 0px">
					<div class="col-md-12 prod-block">
						<div class="content-block-outer" ng-bind-html="TrustHtmlContent(prodc.currentItem.descriptionlong)">
						
						</div>
					</div>
				</div>
				<script type="text/ng-template" id="prodcontentblock-tmpl">
					<div ng-if="prod.blockContentOrientation != 'iframe'">
					<div class="content-block-outer" ng-if="prod.imageUrl=='' && prod.thumbnailUrl==''">
						<h3 ng-bind-html="TrustHtmlContent(prod.description)"></h3>
						<div class="content-block-desc" ng-bind-html="TrustHtmlContent(prod.descriptionLong)"></div>
					</div>
					<div class="prod-block" ng-if="prod.imageUrl!=''">
						<div class="prod-img"><img class="img-responsive" ng-src="{{prod.imageUrl}}" /></div>
						<div class="prod-text align-{{prod.blockContentOrientation.toLowerCase()}}" ng-class="{'no-overlay-bg':prod.description == '' && prod.descriptionLong == ''}">
							<h3>{{prod.description}}</h3>
							<div class="content-block-desc" ng-bind-html="TrustHtmlContent(prod.descriptionLong)"></div>
						</div>
					</div>
					<div class="page-content-block-thumbnail" ng-if="prod.thumbnailUrl!=''">
						<div class="asset-img"><img class="img-responsive" ng-src="{{prod.thumbnailUrl}}" /></div>
						<div class="asset-text vertical-{{prod.blockContentVerticalAlign.toLowerCase()}}" ng-class="{'no-overlay-bg':prod.description == '' && prod.descriptionLong == ''}">
							<h3>{{prod.description}}</h3>
							<div class="content-block-desc" ng-bind-html="TrustHtmlContent(prod.descriptionLong)"></div>
						</div>
					</div>
					</div>
					<div ng-if="prod.blockContentOrientation == 'iframe'">
						<iframe src="{{TrustIframeUrl(prod.blockiframeurl)}}" width="100%" style="height:100vh; border:none;" />
					</div>
				</script>
				<!-- Columns are always 50% wide, on mobile and desktop -->
				<div class="row" ng-class="{'whole-row featured-content-block':contentRow[0].imageUrl != ''}" ng-repeat="contentRow in prodc.prodContentRows" my-prodblock-directive>
					<div style="{{prodc.GetBlockStyle(prod.blockbgcolor, prod.blockFontColor)}}"  
						ng-class="{'col-md-6 prod-block':prod.imageUrl=='' , 
									'col-md-12':prod.imageUrl!='', 
									'col-md-12 full-block': prod.blockContentOrientation == 'full' || prod.blockContentOrientation == 'iframe', 
									'block-left':prod.imageUrl=='' && $first && prod.blockContentOrientation != 'full', 
									'block-right':prod.imageUrl=='' && $last && prod.blockContentOrientation != 'full'}" 
									ng-repeat="prod in contentRow" ng-include="'prodcontentblock-tmpl'" my-contentblock-directive>
					</div>
				</div>
			</div>
			
			<!-- Related assets -->
			<script type="text/ng-template" id="assetblock-tmpl">
				<div class="block-wrapper">
					<a rel="nofollow" href="{{asset.linkurl}}" rel="{{asset.filetype}}" target="{{asset.target}}" buttontitle="{{asset.buttontitle}}" buttonlink="{{asset.buttonlink}}" class="{{asset.launchtype}} {{asset.leadgen}}">
						<div class="asset-img" ng-if="asset.thumbnail.length>0"><img class="img-responsive" ng-src="{{asset.thumbnail}}" /></div>
						<div class="asset-text" ng-bind-html="TrustHtmlContent(asset.description)"></div>
					</a>
				</div>
			</script>
			<!-- Columns are always 50% wide, on mobile and desktop -->
			<div class="row relatedassetblock" ng-repeat="assetRow in prodc.assetRows | orderBy:'displayorder'" my-prodblock-directive>
				<div class="col-md-6 asset-block col-{{$index}}" ng-repeat="asset in assetRow" ng-include="'assetblock-tmpl'" ></div>
			</div>
			
			<!-- ltu 8/18/14 -->
			<div id="page-extra" ng-bind-html="TrustHtmlContent(prodc.currentItem.Content_Description_Extended)">
			</div>
			<div class="row" id="contactus-block">
				<div class="inner-row" style="margin: 1px; background-color: #f2f2f4">
					<div class="col-md-6">
						<div style="padding: 25px;" ng-bind-html="TrustHtmlContent(prodc.readyToBuy)">
						</div>
					</div>
					<div class="col-md-6" style="text-align: right;">
						<div style="padding: 20px;">
							<a ng-if="prodc.Supplier.twitter != ''" rel="nofollow" id="prod-twitter-btn" ng-href="{{prodc.Supplier.twitter}}" target="_blank">
								<div class="btn-inner-text">{{prodc.btnTweetUsText}}</div>
							</a>
							
							<a rel="nofollow" id="prod-contactus-btn" href="#/contactus/title/{{prodc.currentItem.title}}" cspObj="REPORT" cspType="LEADGEN" cspEnglishValue="ContactUs">
								<div class="btn-inner-text">{{prodc.btnContactUsText}}</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="leadgen-form-holder" class="hide">
				<form id="frmleadgen" name="frmleadgen" ng-submit="prodc.submit()">
					<div id="field-list">
						
					</div>
				</form>
				
				<form id="frmcircuitcontact" name="frmcircuitcontact" ng-submit="prodc.circuitsubmit()">
					<div id="circuit-field-list">
						
					</div>
				</form>
			</div>
			<a id="circuit-reg" class="hide" href="javascript:" target="_blank"></a>
		</div>
		<script type="text/javascript">
			var downloadFormFields = '';
			var contactusFormFields = '';
			jQuery("body").undelegate(".csp-lightbox", "click").delegate(".csp-lightbox", "click", function(event) {
				var isDesktop = reAdjustColorBoxSize(350);
				var thisEl = jQuery(this);
				if (isDesktop) {
					if (jQuery(this).attr('rel')!==undefined&&jQuery(this).attr('rel').toLowerCase() == 'pdf')
						wdHeight = jQuery(window).height() - 90;				
				}
				jQuery.colorbox({width: wdWidth + "px", height: wdHeight  + "px", iframe:true, href: jQuery(this).attr('href'), onComplete: function(){
					var buttontitle = thisEl.attr("buttontitle");
					var buttonlink = thisEl.attr("buttonlink");
					if(buttontitle == undefined || buttontitle == '') return;
					jQuery("#cboxLoadedContent iframe").height(wdHeight - 60);
					jQuery("#cboxLoadedContent").append("<a onClick='javascript: jQuery.colorbox.close();' class='btn-learnmore-asset' href='"  + buttonlink + "'>" + buttontitle + "</a>");
					jQuery.colorbox.resize();
				}});
				event.preventDefault();
			});
			
			jQuery("body").undelegate(".call-leadgen", "click").delegate(".call-leadgen", "click", function(event) {
				try {
					reAdjustColorBoxSize(350);
					var fileUrl = jQuery(this).attr('href');
					var assetTitle = jQuery(this).find('.asset-text').text();
					jQuery('#field-list').html('');
					jQuery('#field-list').html(downloadFormFields);
					jQuery('#redirect').val(fileUrl);
					jQuery('#requestedAsset').val(assetTitle);
					jQuery.colorbox({inline:true, href:"#frmleadgen", width: wdWidth + "px", height: wdHeight + "px"});
					AutoPopulateUserInfo();
					angular.element(document.getElementById('product-page')).scope().prodc.inlineleadgenshown();
					event.preventDefault();
				} catch (Err) {
					console.log('#2: ' + Err);
				}
			});
			
			/*
			jQuery("body").undelegate(".disti-reseller", "click").delegate(".disti-reseller", "click", function(event) {
			//jQuery('body').on("click", ".disti-reseller", function(event) {
				alert('test');
				event.preventDefault();
				return;
				if(typeof(distiResellerID) == 'undefined' || distiResellerID == ""){
					try {
						reAdjustColorBoxSize(350);
						jQuery('#circuit-field-list').html('');
						jQuery('#circuit-field-list').html(contactusFormFields);
						jQuery.colorbox({inline:true, href:"#frmcircuitcontact", width: wdWidth + "px", height: wdHeight + "px", onComplete: function() {
							jQuery.colorbox.resize();
						}});
						
						AutoPopulateUserInfo();
						event.preventDefault();
					} catch (Err) {
						console.log('#2: ' + Err);
					}
				}
				else{
					var a_link = jQuery(this).attr('href');
					if(typeof(a_link) != 'undefined' || a_link != "")
						window.location.href = a_link + "?" + distiResellerID;
				}
			});
			*/
			
			jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
				if (jQuery(this).hasClass('cursor-default') || jQuery(this).hasClass('disti-reseller')) { 
					event.preventDefault();
					if (jQuery(this).hasClass('disti-reseller'))
						angular.element(document.getElementById('product-page')).scope().prodc.circuitTrigger(jQuery(this));
					return false;
				}
				addTick(jQuery(this));
			});
			
			jQuery(document).on('submit', '#frmcontactus', function(e) {
				e.preventDefault();
				angular.element(document.getElementById('product-page')).scope().prodc.contactusSubmit();
			});
			
			jQuery(document).on('submit', '#frmjabra', function(e) {
				e.preventDefault();
				angular.element(document.getElementById('product-page')).scope().prodc.jabraSubmit();
			});
			
			function onFrameLoad(iframe) {
				iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
			}
		</script>