@font-face {
    font-family: "Univers-lt";
    font-style: normal;
    font-weight: normal;
    src: url("a4542df8c-aa98-4662-9397-f25621c02ff1.eot?#iefix") format("embedded-opentype"), url("9b61b7b8-6c84-4e84-b8aa-4a627a721b60.woff") format("woff"), url("3dde9f5d-4017-494c-a6d7-764d248c0292.ttf") format("truetype"), url("de990cca-297f-443d-a252-319a8a19ce04.svg#de990cca-297f-443d-a252-319a8a19ce04") format("svg");
}
@font-face {
    font-family: "Univers";
    font-style: normal;
    font-weight: normal;
    src: url("adc492fa-2e18-46e7-a334-19977a077ec2.eot?#iefix") format("embedded-opentype"), url("14f0370a-8385-437e-b5b8-5cb89e20e2ff.woff") format("woff"), url("8c1d24ab-e7f8-4c29-a419-f87180fdf410.ttf") format("truetype"), url("9baaf87b-982d-45c0-9518-8f5aec7c1292.svg#9baaf87b-982d-45c0-9518-8f5aec7c1292") format("svg");
}
@font-face {
    font-family: "Univers-b";
    font-style: normal;
    font-weight: normal;
    src: url("c1f2f059-579b-465a-a13f-d70acd6c6212.eot?#iefix") format("embedded-opentype"), url("b2388651-dd56-4c8e-8455-c55318f6a734.woff") format("woff"), url("346ec69d-90a7-4fef-a216-1a0dafbd3798.ttf") format("truetype"), url("d39b0ff2-cca2-4288-8f6a-c730f44feb81.svg#d39b0ff2-cca2-4288-8f6a-c730f44feb81") format("svg");
}

.ajax-loading {
    background: rgba(0, 0, 0, 0) url("../images/prod-text-bg.png") repeat scroll 0 0 !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.ajax-loading .loading-image {
    height: 100%;
    width: 100%;
}
a:focus {
    outline: medium none !important;
}
a:hover {
    cursor: pointer;
}
.clear, .clear-fix {
    clear: both;
}
.container {
    padding-left: 0;
    padding-right: 0;
    width: 660px;
}
.header-top {
    min-height: 40px;
}
.header-logo {
    float: left;
    width: 175px;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#csp-main-nav .header-menu {
    height: 40px;
}
#csp-main-nav .header-menu a {
    cursor: pointer;
    font-family: "Univers-b";
    font-size: 13px;
}
#csp-main-nav .header-menu .content-block-title a {
    margin-right: 15px;
}
.ms-nav-util {
    float: right;
    height: 40px;
    padding: 5px 0;
}
.ms-nav-util li:first-child {
    padding-left: 0;
}
.no-chat .ms-btn-chat {
    display: none;
}
.ms-logo {
    background: rgba(0, 0, 0, 0) url("../images/motoSolutions.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    margin-top: 10px;
    width: 175px;
}
.ms-nav-util li {
    float: left;
    font-size: 11px;
    padding-left: 20px;
    text-transform: uppercase;
}
.header-menu > ul > li > a {
    text-transform: uppercase;
}
.ms-nav-util > ul {
    float: left;
}
.ms-nav-util li a {
    color: #0063be;
    font-family: Arial,san-serif;
    font-size: 11px;
    line-height: 34px;
}
.ms-btn-link .i-contact::before {
    background: rgba(0, 0, 0, 0) url("../images/icon_spritesheet.png") repeat scroll -159px 0;
}
.ms-btn-link .i-manual::before {
    background: rgba(0, 0, 0, 0) url("../images/icon_spritesheet.png") repeat scroll -180px 0;
}
.ms-btn-link .i-person::before {
    background: rgba(0, 0, 0, 0) url("../images/icon_spritesheet.png") repeat scroll -80px 0;
}
.content-block-title a {
    color: #fff !important;
    font-weight: bold !important;
    line-height: 30px;
    padding-left: 0 !important;
    text-transform: uppercase;
}
.content-block > li > a {
    color: #def;
    line-height: 20px;
    min-height: 30px;
    padding-left: 0;
}
.content-block li a:hover {
    color: #99c1e5;
}
.header-menu > ul > li > a {
    color: #def;
    height: 40px;
    line-height: 40px;
}
.header-menu > li > a {
    text-transform: uppercase;
}
.ms-nav-util > li > a, .header-menu li a {
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    min-height: 15px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: none;
    font-weight: normal !important;
}
.ms-icon::before {
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 20px;
    margin-right: 8px;
    overflow: hidden;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 20px;
}
.ms-nav-util .ms-util-personal {
    border-left: 1px solid #c4d6eb;
    margin-left: 25px;
    padding-left: 25px;
}
.navbar {
    background: #0063be none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 40px;
}
.navbar a {
    font-family: "Univers",Arial,san-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.375;
    padding: 17px 38px 16px 10px;
    position: relative;
    z-index: 3;
}
.header-menu > ul > li {
    display: inline-block;
    position: static;
}
.header-menu ul li a span::before {
    background: #3f81c1 none repeat scroll 0 0;
    height: 30px;
    margin-top: -15px;
    top: 50%;
    width: 1px;
}
.header-menu ul li a span {
    bottom: 0;
    display: inline-block;
    left: -1px;
    position: absolute;
    right: -1px;
    top: 0;
    z-index: -1;
}
.header-menu > ul > li {
    border: medium none;
    padding-right: 20px;
}
.header-menu > ul > li:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #1a579e none repeat scroll 0 0;
    border-color: -moz-use-text-color #036;
    border-image: none;
    border-style: none solid;
    border-width: medium 1px;
}
.header-menu ul li .caret {
    background: transparent url("../images/menu_icon.png") no-repeat scroll center center !important;
    content: " ";
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
}
.root-li > a.root-item > .caret {
    margin-right: -15px;
}
.header-menu ul li .caret {
    border-style: none !important;
}
.header-menu ul li a.hassub {
    margin-right: 10px;
}
#csp-body-mainview {
    position: relative;
}
#home-carousel {
    min-height: 406px;
}
.carousel-indicators li {
    background-color: #0063be;
}
.carousel-indicators .active {
    background-color: #999;
}
#bottom-border {
    background-color: #0063be;
    height: 2px;
    width: 100%;
}
#tieBrandingFooter {
    background-color: #fff;
    padding: 10px 0;
    text-align: right;
}
.ms-hide-pane {
    left: 35px;
    position: absolute;
    right: 35px;
    width: 660px;
}
.nav-flyout {
    background: rgba(20, 81, 153, 0.97) none repeat scroll 0 0;
}
.dropdown-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) url("../images/submenu-bg.png") repeat scroll 0 0;
    border-color: -moz-use-text-color #036 #036;
    border-image: none;
    border-radius: 0;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: none;
    margin: 0;
    padding: 10px 10px 0;
    top: 100%;
    width: 660px;
}
.row {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
}
.header-menu .nav-block {
    overflow: hidden;
}
.dropdown-navbar .content-block-title {
    background-color: #eee;
    border-bottom: 1px solid #e6e6e6;
    display: table;
    height: 60px;
    min-height: 60px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.content-placehoder {
    padding: 0 10px;
}
.con-title {
    border-bottom: 2px solid #708fb8;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 9px;
    padding-bottom: 9px;
    text-transform: uppercase;
    vertical-align: bottom;
    width: 100%;
}
.i-contact {
}
.header-menu ul li a span::before {
    background: #3f81c1 none repeat scroll 0 0;
    height: 30px;
    margin-top: -15px;
    top: 50%;
    width: 1px;
}
.col-2, .col-1 {
    float: left;
    position: relative;
}
.header-block {
    height: 115px;
}
.block-des {
    background: #0063be none repeat scroll 0 0;
    color: #fff;
    font-size: 10px;
    height: auto;
    margin: 0 10px;
    min-height: 40px;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 90%;
}
#csp-main-nav {
    position: relative;
}
#csp-main-nav .header-menu {
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}
#csp-main-nav .navbar-header {
    display: none;
}
#csp-main-nav .nav-block {
    border-bottom: 2px solid #708fb8;
    padding: 15px 0 5px;
}
#csp-main-nav .content-placehoder .nav-block:nth-of-type(1) {
    padding-top: 5px !important;
}
#csp-main-nav .nav-block .content-block {
    display: none;
}
#csp-main-nav .cols-3 .content-placehoder {
    width: 33.33% !important;
}
#csp-main-nav .first-nav-col {
    border-left: medium none !important;
}
#csp-main-nav .content-placehoder {
    display: block;
    float: left;
    min-height: 100%;
    width: 165px;
}
#csp-main-nav .content-block-title {
    position: relative;
}
#csp-main-nav .content-block-title .caret {
    z-index: 4;
}
#csp-main-nav .content-block-title .caret::after {
    margin: 0 !important;
    top: 20%;
}
#csp-content .block-items {
    margin: 0;
    padding: 0;
}
#csp-content .block-items {
    position: relative;
    text-align: center;
}
#csp-content .thumbnail, #main-container .tile-thumbnail {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
#csp-content .tile-thumbnail img {
    height: 115px;
    width: 100%;
}
#csp-content .short-title {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin: 10px auto 0;
    padding: 7px 0 7px 10px;
    text-align: left;
    text-transform: uppercase;
    width: calc(100% - 20px);
}
#csp-content .blocks-1 .block-items {
    width: 100% !important;
}
#csp-content .blocks-2 .block-items {
    width: 50% !important;
}
#csp-content .blocks-4 .block-items {
    width: 25% !important;
}
#csp-content .blocks-5 .block-items {
    width: 20% !important;
}
#csp-content .blocks-6 .block-items {
    width: 16.66% !important;
}
#breadcrumb {
    margin: 5px 0;
}
#breadcrumb li {
    float: left;
    list-style-type: none;
}
.body-rtl #breadcrumb li {
    float: right;
    list-style-type: none;
}
#breadcrumb a {
    color: #0063be;
    font-size: 12px;
    font-weight: bold;
}
#breadcrumb .current {
    color: #a8a8a8;
    cursor: auto !important;
}
#breadcrumb .current:hover {
    text-decoration: none;
}
#breakcrum a {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: bold;
}
#breakcrum a.active {
    color: #0063be;
}
.product-title {
    border-bottom: 2px solid #cccccc;
    color: #444444;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}
.ex-title {
    color: #444444;
    display: block;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}
#product-des {
    color: #444;
}
#product-des h2 {
    font-family: "Univers-b";
    font-size: 18px;
}
.browse-by-group {
    margin-bottom: 5px;
    margin-top: 5px;
}
.browse-by-tit, .browse-by {
    color: #0063be;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.browse-by-tit {
    padding: 15px 0 0;
}
.browse-by {
    padding: 10px 0 0;
}
.product-col {
    margin: 0;
    padding: 0 15px 0 0;
}
.product-col a {
    color: #0063be;
    display: block;
    width: 100%;
}
.featured-item .feature-title {
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
}
.featured-item .feature-des {
    display: block;
    line-height: 13px;
    margin-top: 5px;
}
.carousel-des {
    background: #fff none repeat scroll 0 0;
    left: 20px;
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 55%;
}
.carousel-des h2 {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: none;
}
.carousel-des span {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.carousel-des a {
    color: #0063be;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}
#product-banner {
    min-height: 200px;
}
#product-banner .item {
    position: relative;
}
#product-banner .item > img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}
#product-carousel .item > img {
    margin: 0 auto;
}
#product-pane {
    position: relative;
}
#product-pane #product-carousel .item {
    min-height: 200px;
}
#product-pane .browse-by-tit {
    color: #444;
	display:none;
}
#product-pane #block-col-3 {
    padding-top: 10px;
}
#prod-title {
    border-bottom: 2px solid #ccc;
    font-family: "Univers-b";
    font-size: 20px;
    margin: 5px 0 10px;
    padding-bottom: 5px;
}
#product-pane #product-des > h2 {
    margin-top: 0 !important;
}
#product-detail-panel {
    position: relative;
}
#product-detail-panel #product-detail-title {
    font-family: "Univers-b";
    font-size: 18px;
}
#product-detail-panel #first-description {
    float: left;
    padding: 0 0 10px;
}
.border-background-top-nav {
    background: #c7c7c7 none repeat scroll 0 0;
    height: 49px;
    margin-top: 10px;
    width: 660px;
}
#product-detail-panel {
    color: #5e5e5e;
    padding-bottom: 30px;
    position: relative;
}
#product-detail-panel #detail-banner {
    border-top: 2px solid #e2e2e2;
    margin: 10px 0;
    padding: 10px;
}
#product-detail-panel #detail-banner #detail-title {
    font-size: 16px;
    font-weight: bold;
}
#product-detail-panel #title-nav-tab {
    background-color: #ececec;
    color: #5e5e5e;
    font-size: 12px;
    font-weight: bold;
}
#product-detail-panel #title-nav-tab li a {
    color: #5e5e5e;
    padding: 5px 15px;
}
#product-detail-panel #product-tab-content {
    padding: 10px 0;
}
#product-detail-panel #first-img {
    float: left;
    min-width: 170px;
}
#product-detail-panel #first-img img {
    border: 1px solid #000;
}
#product-detail-panel #first-img #zoom-trigger {
    cursor: pointer;
}
#product-detail-panel #first-description #first-description-title, .fourth-description-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 4px;
}
#product-detail-panel #product-tab-content #first-description #first-description-galery, #product-detail-panel #product-tab-content #first-description #video-blocks {
    margin-top: 20px;
    padding: 15px 0;
}
#product-detail-panel #product-tab-content #first-description #video-blocks {
    border-top: medium none;
    margin-top: 0;
}
#product-detail-panel #product-tab-content #first-description .thumbnails, #product-detail-panel #product-tab-content #first-description #video-blocks .thumbnails {
    margin: 0;
    padding: 0;
}
#product-detail-panel #product-tab-content #first-description #first-description-galery .thumbnails li, #product-detail-panel #product-tab-content #first-description #video-blocks .thumbnails li {
    display: inline-block;
}
#product-detail-panel #product-tab-content #first-description #first-description-galery .thumbnails li span, #product-detail-panel #product-tab-content #first-description #video-blocks .thumbnails li span {
    cursor: pointer;
    display: inline-block;
}
#product-detail-panel #product-tab-content .csp-cs-video, #product-detail-panel #product-tab-content .csp-cs-text {
    display: block;
    float: left;
    overflow: hidden;
}
#product-detail-panel #product-tab-content .csp-cs-video, #product-detail-panel #product-tab-content .csp-cs-video img {
    max-width: 220px;
}
#product-detail-panel #product-tab-content .no-video {
    cursor: default !important;
}
#product-detail-panel #product-tab-content .csp-cs-text {
    max-width: 440px;
}
.btn-contact a, .btn, .btn-primary, #btn-cancel-copy-url, #btn-copy-url {
    background-color: #0063be;
    border-color: transparent !important;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
}
#btn-cancel-copy-url, #btn-copy-url {
    padding: 4px 25px;
}
.url-copied {
    background: #00ff00 none repeat scroll 0 0 !important;
}
.tieContactUsFormSubmit {
    padding: 5px 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #2c87d6;
    border-color: transparent;
    color: #ffffff;
}
.btn-contact a:hover {
    text-decoration: none;
}
#product-detail-panel #overview-tab #block-contact #btn-contact-title {
    float: left;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    width: 350px;
}
#product-detail-panel #overview-block-second #second-description {
    float: left;
    width: 300px;
}
#product-detail-panel #overview-block-second #second-description ul {
    padding: 0;
}
#product-detail-panel #overview-block-second #second-img {
    float: left;
    text-align: center;
    width: 300px;
}
#product-detail-panel #second-description .second-description-detail, #first-description .first-description-detail, #third-description .third-description-detail {
    font-size: 14px;
}
#customersuccesses-tab .fourth-description-detail {
    font-size: 14px;
}
#customersuccesses-tab .odd-block {
    background-color: #e8e7e5;
    color: #4c4c4c;
}
#customersuccesses-tab .even-block {
    background-color: #fff;
    color: #4c4c4c;
}
#product-detail-panel #second-description .second-description-detail {
    padding: 5px;
}
#product-detail-panel #third-description .third-description-detail {
    margin: 10px 0;
}
#product-detail-panel #third-img .thumbnails {
    padding: 0;
}
#product-detail-panel #third-img .thumbnails li {
    display: inline-block;
}
#product-detail-panel #third-img .thumbnails li a {
    padding-left: 0;
}
#product-detail-panel #overview-block-third, #overview-block-second {
    border-bottom: 2px solid #e2e2e2;
    margin: 25px 0;
    padding-bottom: 10px;
}
#product-detail-panel #overview-block-fourth #fourth-img, .customer-img {
    float: left;
    max-width: 275px;
}
#product-detail-panel #product-tab-content .customer-img img {
    width: 100%;
}
#product-detail-panel #overview-block-fourth #fourth-description, .customer-description {
    float: left;
    padding:10px 0px;
    width: 100%;
}
.assetpdf {
    background: rgba(0, 0, 0, 0) url("../images/pdf_white.png") no-repeat scroll 0 10px;
    min-height: 30px;
    padding-left: 23px;
}
.body-rtl .assetpdf {
    background: rgba(0, 0, 0, 0) url("../images/pdf_white.png") no-repeat scroll right 10px;
    min-height: 30px;
    padding-right: 23px;
}
#detail-tab table {
    width: 100%;
}
#product-detail-banner {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}
#product-detail-banner > img {
    display: block;
    margin: 0 auto;
    max-width: 330px;
}
#product-detail-panel #product-tab-content .customer-content {
    margin-bottom: 20px;
}
#product-detail-panel #product-tab-content .customer-content .asset-img, #product-detail-panel #product-tab-content .customer-content .asset-text {
    display: inline-block;
}
#product-detail-panel #product-tab-content .customer-content .asset-img {
    height: 100%;
    max-width: 220px;
    overflow: hidden;
    vertical-align: middle;
}
#product-detail-panel #product-tab-content .customer-content .asset-img img {
    max-width: 220px;
    vertical-align: middle;
}
#product-detail-panel #product-tab-content .customer-content .asset-text {
    max-width: 440px;
    overflow: hidden;
}
#customersuccesses-tab a, #resources-tab a {
    color: #4c4c4c;
}
#resources-tab {
    padding: 5px 0;
}
#resources-tab .resource-content-title {
    background-color: #cd1f1e;
    color: #f8f8f8;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 0 5px 10px;
}
.resource-content {
    margin-bottom: 10px;
}
#resources-tab .resource-content-download {
    padding: 10px 5px;
}
#resources-tab .odd-block .resource-content-download {
    background-color: #ededed;
}
#resources-tab .download-img {
    float: left;
    height: 100%;
    max-width: 220px;
    overflow: hidden;
    vertical-align: middle;
}
#resources-tab .download-description {
    color: #4b4b4b;
    float: left;
    max-width: 430px;
    padding: 3px 5px 0;
    word-wrap: break-word;
}
.download-title a {
    color: #5e5e5e;
    font-size: 15px;
}
.download-title a:hover {
    text-decoration: none;
}
.download-date {
    color: #5e5e5e !important;
    cursor: text;
    font-size: 11px;
}
#product-detail-panel .fourth-description-detail {
    color: #5e5e5e !important;
    cursor: text;
}
#resources-tab .download-description .download-title {
    font-size: 21px;
}
#resources-tab .no-max-width {
    max-width: 99%;
}
#product-detail-panel .prod-video-item object {
    margin: 0 auto !important;
}
#technical-sidebar {
    margin-top: 30px;
    padding: 0 !important;
}
#technical-navbar {
    padding: 0;
    width: 100%;
}
#technical-navbar li a, .technical-block-detail ul li a {
    font-size: 11px;
}
#technical-navbar li a {
    color: #cd1f1e;
}
#technical-navbar li a:hover {
    text-decoration: none;
}
#technical-navbar li {
    border-bottom: 2px solid #e2e2e2;
    padding: 5px 0;
}
#technical-button {
    margin: 25px 0;
    text-align: center;
}
#technical-mainbar {
    margin-top: 10px;
    padding-left: 20px;
}
.technical-block-detail ul {
    float: left;
    padding: 0 0 0 10px;
    width: 157px;
}
.technical-block-title {
    padding: 15px;
}
#technical-mainbar .products-title {
    margin-bottom: 10px;
}
.technical-block-detail {
    float: left;
    height: 120px;
    padding-top: 20px;
}
.technical-block-detail ul li a {
    color: #5e5e5e;
    font-size: 9px;
}
.technical-block-detail ul li a:hover {
    text-decoration: none;
}
.technical-block-detail ul li {
    list-style-position: inside;
    list-style-type: circle;
}
.technical-block-title {
    float: left;
    height: 120px;
    width: 150px;
}
.gray {
    background-color: #eaeaea;
}
#field-list {
    width: 70%;
}
.browse-by-group .col-md-6 {
    margin-bottom: 20px;
}
#block-col-3 .img-cont img, .col-md-6 .img-cont img {
    border: 1px solid #ccc;
    float: left;
    max-height: 78px;
    max-width: 78px;
}
.body-rtl .col-md-6 .img-cont img {
    float: right;
}
.body-rtl #block-col-3 .text-cont, .col-md-6 .text-cont {
    padding-right: 90px;
}
#block-col-3 .text-cont, .col-md-6 .text-cont {
    padding-left: 90px;
}
#block-col-3 .prod-title, .col-md-6 .prod-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    margin: -3px 0 0;
    padding: 0 0 3px;
}
#block-col-3 .product-desc span, #block-col-3 .product-desc p, .col-md-6 .product-desc span, .col-md-6 .product-desc p {
    font-size: 12px;
    line-height: 1.2;
}
#block-col-3 .block-col {
    padding: 15px 15px 0 0;
}
.body-rtl .img-cont span {
    float: right;
}
.img-cont span {
    border: 1px solid #eee;
    display: block;
    float: left;
    height: 80px;
    width: 80px;
}
.body-rtl .product-img {
    float: right;
    text-align: right;
}
.product-img {
    float: left;
    width: 285px;
}
.product-img img {
    width: 270px;
}
.body-rtl #product-des {
    text-align: right;
}
#product-des hr {
    border-top: 1px solid #ccc;
    margin-top: 5px;
}
#product-des a {
    word-break: break-all;
}
.carousel-inne, .carousel-inner img {
    height: auto !important;
    width: 100% !important;
}
ul.content-block {
    padding: 0 15px 10px !important;
}
ul.content-block li {
    padding-top: 5px;
}
#product-detail-banner > img {
    float: left;
    padding-bottom: 10px;
    padding-right: 10px;
}
#detail-tab {
    clear: both;
}
#product-des span {
    font-size: 14px !important;
    line-height: 16px !important;
}
.header-top-rtl .header-logo {
    float: right !important;
}
.header-top-rtl .ms-nav-util {
    float: left !important;
}
.body-rtl .header-menu ul li .caret {
    left: 0;
    right: auto !important;
}
.body-rtl #csp-main-nav .header-menu .content-block-title a {
    margin-left: 15px;
    margin-right: 0;
    font-weight: normal !important;
    font-family: "Univers-b" !important;
}
.body-rtl .header-menu > ul > li > a {
    padding-left: 18px !important;
}
.body-rtl #csp-content .short-title {
    text-align: right !important;
}
.body-rtl #product-pane > .product-img {
    float: right;
}
.body-rtl #product-pane #block-col-3 .row .item .img-cont {
    float: right;
}
.body-rtl #product-pane #block-col-3 .row .item .text-cont {
    padding-left: 0;
    padding-right: 90px;
}
.body-rtl #product-detail-panel #product-detail #product-detail-banner img {
    float: right;
    padding-left: 10px;
    padding-right: 0;
}
.body-rtl .nav-tabs > li {
    float: right;
}
.body-rtl .col-md-1, .body-rtl .col-md-2, .body-rtl .col-md-3, .body-rtl .col-md-4, .body-rtl .col-md-5, .body-rtl .col-md-6, .body-rtl .col-md-7, .body-rtl .col-md-8, .body-rtl .col-md-9, .body-rtl .col-md-10, .body-rtl .col-md-11 {
    float: right;
    padding-left: 15px;
    padding-right: 0 !important;
}
.block-items img {
    display: none;
}
#csp-content {
    border-collapse: separate;
    border-spacing: 8px 0;
    display: table;
    margin: 8px -32px 15px;
}
#csp-content .row {
    display: table-row;
    height: 120px;
    width: 130%;
}
#csp-content .block-items {
    background-color: #0063be;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 33.33%;
    word-wrap: break-word;
}
#csp-content .block-items:hover {
    background-color: #004479;
    box-shadow: 0 0 0 5px #0063be inset;
}
#csp-content .short-title {
    display: inline-block;
    font-size: 18px !important;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 78%;
	font-family: "Univers-b";
    font-weight: normal;
}
#home-carousel {
    min-height: 0;
}
#csp-body-mainview {
    overflow: hidden;
}
ul.content-block > li > a {
    font-family: "arial" !important;
}
@media (max-width: 660px) {
    .container {
        width: 100%;
    }
    .dropdown-menu {
        width: 100%;
    }
    #product-pane, #product-detail-panel {
        padding: 0 10px !important;
    }
    .col-md-4 {
        float: left !important;
        width: 33.33% !important;
    }
    .col-md-4 .text-cont {
        padding-top: 5px !important;
    }
    .item {
        float: left;
    }
}
@media (min-width: 531px) {
    #csp-content .blocks-3 .block-items {
        width: 33.33% !important;
    }
}
@media (max-width: 530px) {
    #csp-main-nav .navbar-header {
        display: block;
    }
    #csp-main-nav .header-menu li {
        display: block;
        width: 100%;
    }
    #csp-main-nav .navbar-collapse {
        height: auto !important;
        max-height: 100% !important;
    }
    .dropdown-menu {
        width: 100% !important;
    }
    .home-block {
        text-align: center;
        width: 100% !important;
    }
    .home-block img {
        display: inline-block;
    }
    .block-des {
        margin: 0;
        width: 100%;
    }
    .header-top .ms-nav-util a {
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }
    #csp-content .blocks-3 .block-items {
        height: 190px !important;
        overflow: hidden;
        width: 100% !important;
    }
    #csp-content .blocks-3 .block-items img {
        height: auto !important;
        width: 100% !important;
    }
    #csp-main-nav .cols-3 .content-placehoder {
        width: 100% !important;
    }
    .col-md-4 {
        width: 50% !important;
    }
}
@media (max-width: 480px) {
    #csp-content .blocks-3 .block-items {
        height: 140px !important;
    }
    .product-img {
        float: none;
        padding-bottom: 10px;
        width: 100%;
    }
    .product-img img {
        width: 100%;
    }
    #product-detail-banner > img {
        width: 100%;
    }
    #csp-content .block-items {
        float: left;
        margin: 2px;
        padding: 15px;
        width: 100%;
    }
    #csp-content .block-items:hover {
        padding: 10px;
    }
}
@media (max-width: 320px) {
    .col-md-4 {
        width: 100% !important;
    }
}
#accessories-tab .col-md-6 {
    padding: 0;
}
.promos-content .fourth-description-title {
    color: #428bca !important;
}
.section h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 4px;
}
.header-menu > ul > li > a {
	font-family: "Univers" !important;
}

.content-block-title a {
	font-family: "Univers-b" !important;
}