﻿body,ul,p{margin:0;padding:0}
body{background-color:#333;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
ul{list-style:none}
a{color:#88c540 ;text-decoration:none}
h1,h2,h3{font-family:Arial,Helvetica,sans-serif;font-weight:400;text-decoration:none}
.csp-container{margin:auto;padding:10px 0;width:972px}
.csp-header{background-color:#fff;height:46px;width:972px}
.bg-color-999{background-color:#fff;}
.bg-color-fff{background-color:#fff}
.csp-left-panel{display:block;height:100%;left:0;position:absolute;top:0;width:242px}
.csp-content-panel{background-color:#fff;display:block;float:left;padding-left:242px;position:relative;width:730px;border:0px !important; border-bottom:1px solid #afee5c !important;}
.csp-content-block{clear:both;float:none}
.csp-block-1{background-image:url(../../../images/smiley-guy.jpg);background-repeat:no-repeat;display:table;float:left;height:184px;width:570px;/*width:360px*/}
.csp-vertical-middle{display:table-cell;vertical-align:middle;width:100%}
.csp-bottom-line{border:solid 1px #afee5c;/*padding-top: 10px;*/}
.csp-bottom-line-2{border-bottom:solid 1px #afee5c;width: 200px;}
.csp-right-line{border-right:solid 1px #999}
.csp-padding-right-30{padding-left:30px}
.csp-padding-top-bottom-20{padding:20px 0; padding-top: 0px;}
.csp-padding-top-bottom-15{padding:15px 0}
.csp-padding-top-bottom-10{padding:10px 0;padding-top: 25px;padding-bottom: 0px;}
.csp-padding-top-bottom-5{padding:35px 0;}
.csp-padding-top-bottom-55 {color: #2a3136;     padding-left: 10px; vertical-align:bottom;}
.csp-padding-20{padding:20px}
.csp-padding-10{padding:0px 10px 10px 10px; height: 47%;}
.csp-padding-5{padding:5px}
.csp-clear{clear:both}
.csp-hide{display:none}
.csp-block-1 h2,.csp-block-1 h3{padding-left:185px}
.csp-block-1 h3{font-size:1em}
.csp-block-2{float:right;width:130px;margin-right:30px;/*width:340px*/}
.csp-header ul{padding:0 15px}
/*.csp-header li.last-item{background:url(../../../images/microsoft-logo.png) no-repeat scroll right top transparent;display:block;float:right;height:14px;top:12px;width:82px}*/
.csp-header li.last-item{display:block;float:left;height:14px;top:8px;width:158px; margin-left:220px;}
.csp-step-content-pane{background-color:#fff;padding:10px 20px; color:#2a3136;}
.csp-step-content-pane a{color:#999;font-size:14px}
.csp-step-content-pane ul li{float:left;padding-right:30px; margin-top: 15px; margin-bottom:15px;}
.csp-sub-content-pane{background-color:#fff;/*padding:10px 20px*/}
.csp-sub-content-pane a{color:#444;font-size:12px}
.csp-sub-content-pane ul li{float:left;margin:14px;width:100px;height:165px;overflow:visible;padding:5px;}

.csp-header li{display:block;float:left;padding-right:15px;position:relative}
.csp-header li a{display:inline-block;float:left}
.csp-header li img{border:none;margin:0 5px;vertical-align:middle}
.csp-steps li{padding-right:80px!important;width:142px;text-align:center;}
.csp-steps h3{color:#F93;font-size:14px;margin:0;padding:0;text-align:center}
.csp-steps p{font-size:14px;padding-bottom:20px;text-align:center}
.csp-bottom-right-corner{/*background:url(../../../images/bottom-round-corners.gif) no-repeat scroll 0 0 transparent;*/clear:both;display:block;height:10px;left:0;position:absolute;width:100%}
.csp-bottom-left-corner{clear:both;display:block}
.csp-button-gray{background:url(../../../images/button-right-corners.png) no-repeat scroll right top transparent}
.csp-button-orange{background:url(../../../images/orange-button-right.png) no-repeat scroll right top transparent}
.csp-button-gray span{background:url(http://global.syndication.tiekinetix.net/customer-resources/ppp/custom/unify/images/button.png) no-repeat scroll 0 0 transparent}
.csp-button-orange span{background:url(../../../images/orange-button-left.png) no-repeat scroll 0 0 transparent}
.csp-button{cursor:pointer;display:block;height:24px;margin-right:6px;padding-right:12px;text-align:center;vertical-align:middle;width:133px}
.csp-button:hover{background-position:bottom right;color:#000;outline:none}
.csp-button:hover span{/*background-position:bottom left*/}
.csp-button span{color:#fff!important;display:block;font-size:12px;line-height:14px;padding:5px 14px 15px 10px}
.csp-block-1 h2,.csp-sub-content-pane h2{color:#039;padding-bottom: 5px;}
.csp-block-1 a,.csp-sub-content-pane p{color:#2a3136;}
.csp-campaign-title,.csp-campaign-preview-link{font-family:Arial,Helvetica,sans-serif;font-weight:400;text-decoration:none;color: #003399;font-size: 18px;padding-top:10px;}
.csp-campaign-title a.csp-campaign-preview-link{font-family:Arial,Helvetica,sans-serif;font-weight:400;/*text-decoration:underline;*/color: #2f7d00;font-size: 18px;}

/*menu*/
.sub-menu-1{margin:0;padding:0}
.sub-menu-1 li h2{font-weight:500;font-size:1.16em;background-color:#88c540;;color:#fff;font-family:Arial,Helvetica,sans-serif;cursor:pointer;margin:0;padding:10px 0 6px 10px;border-bottom:1px solid #fff;}
.sub-menu-1 li h2 a{color:#fff;}
.menu-item-selected{background-color:#88c540;}
.menu-item-over{background-color:#88c540;}
.sub-menu-2{position:relative;background-color:#afee5c;/*background-color:#62c9f0;*/background-position:top;margin:0;/*padding:5px 0*/}
.sub-menu-2 li{padding:3px 0;position:relative;font-size:1em;font-weight:500;}
.sub-menu-2 a{padding:0 10px; color:#2a3136;}
.sub-menu-3{position:absolute;left:242px;top:0px;/*background-color:#069;*/width:250px;border-left:solid 1px #79D3FF;opacity:.9;margin:0;padding:0}
.sub-menu-3 li{padding:5px}
.sub-menu-3 li a.seperator{border-bottom:solid 1px #009EEA;padding-bottom:5px;display:block}

/*cnet footer*/
#footerCopyright{float:left;/*padding:0 0 0 25px*/color:#fff;}
#footerCopyright img{left:0;position:absolute;top:0}
#footerLinks,#footerCopyright{display:block;line-height:23px;margin:20px 0 0;position:relative;width:450px}
#footerPowerBy{float:right;height:33px;margin:15px 0 0 5px;padding:0 0 0 40px}
#footerPowerBy span{font-size:14px;line-height:15px;width:200px}
div.csp-footer {margin:0px 5px;color:#fff;}
div.csp-footer a{color:#fff; border-style:none;}
div.csp-footer img{border-style:none;}

/*embed div*/
/*.csp-embed-container{background:url(../../../images/inverted-main-bg-1.png) repeat-x scroll 0 0 transparent;display:block;font-size:13px;height:450px;width:650px;padding-left:10px;}*/
.csp-embed-container,.csp-asset-container{background-color:#f1f2f4;display:block;font-size:13px;/*height:500px;*/width:650px;padding:0 5px;}
.csp-embed-container h1,.csp-embed-container h2{margin:0;padding:0}
.csp-embed-container h1,.csp-asset-container h1{font-size:16px;font-weight:900}
.csp-embed-container h2,.csp-asset-container h2{font-size:14px}
.csp-embed-container h1 img,.csp-asset-container h1 img{vertical-align:middle;padding-right:5px;border:0 none;}
.csp-embed-container ul{list-style-type:decimal;padding:20px}
.csp-asset-container ul{list-style-type:disc;padding:20px}
.csp-embed-container li,.csp-asset-container li{float:none}
.csp-form-container {padding:0 25px;    padding-top: 5px; padding-bottom: 5px;}
.csp-form-container input.text {border:solid 1px #999;width:300px;height:22px;}
.csp-bottom-line-2{border-bottom:solid 1px #afee5c;width: 200px;}
.csp-thumbnail{padding-top: 15px;padding-bottom: 15px;}
.csp-campaign-download-links{padding-top: 3px;padding-bottom: 3px; text-align: center; margin-left: 39%; margin-right: 30%;}
.csp-center{text-align:center;}
#csp-campaign-container li img {border: 0 none; width:100px; height:129px;}

/*others*/
#csp-select-language,#csp-select-audience{vertical-align:middle; width: 150px;}
#csp-content-count {padding-bottom:10px;}
#csp-welcome-container
{
    height:350px;
    color:#2a3136;
}
#csp-banner-size-selection div input
{
    vertical-align:middle;
    margin: 2px;
}
#csp-loading-indicator{height:300px;}
#csp-banners{}
#csp-banners ul{list-style:none;text-align: center;}
#csp-banner-size-selection {text-align:left;}
/*feature campaign*/
div.csp-block-2 div.csp-feature-campaign { /*margin: 42px 27px 0 0;*/text-align: right;}
.current{display:block;}

.csp-sub-content-pane ol {
        list-style-type:disc;
}

a#csp-learn-more div 
{
display:none;
}

.csp-campaign
{
float:left;
width:690px;
margin-bottom:7px;
padding-left:10px;
}

.csp-top-left-panel img{
        max-width:220px;
        max-height:160px;
        border-style:none;
        position: absolute;
        top:-20px;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
}

.csp-feature-container .csp-feature-campaign a img
{
width:100px;
height:140px;
border-style:none;
}

.csp-feature-container{
width:100px;
margin-left:30px;
}

.csp-feature{
width:100px;
}

.csp-top-left-panel{
/*margin-top:50px;*/
height:85%;
}

.csp-feature-mytext{
font-size: 1.0em;
text-align:center;
}

.csp-campaign-download-links a{
width:150px !important; 
}