#csp-wrapper { background-color: #3A4348 }
.carousel { overflow: hidden; }
.carousel .carousel-indicators { margin-left: -10px !important;top:95% !important; }
.carousel .carousel-indicators li { float: left; }
.carousel-control { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1) !important; }
#csp-homeblocks-wrapper { overflow: hidden; padding-bottom: 3px !important; }

#breadcrumb span {zoom: 1; *display: inline; }

#product-page #contactus-block { overflow: hidden; }
#product-page .prod-text { right: 0px !important; }
#product-page .row {overflow: hidden;}
a:hover{
	text-decoration:none ;
	cursor:pointer;
}
#breadcrumb a:hover{
	text-decoration:underline !important;
}
#addtomailing{
	margin-bottom:8px;
}
#cboxLoadedContent{
	overflow:hidden !important;
}
#home-carousel .carousel-caption{
	width: 70% !important;
	left: 99px !important;
}
@media (max-width:550px){
	#main-nav-bar .dropdown-menu{
		background:none !important;
	}
	.navbar-collapse{
		display:block;
	}
	.navbar-toggle {
		display:none !important;
	}
}