				<div id="csp-asset-info" ng-bind-html-unsafe="label.categorypageinfo">
					<!--<h1 ng-if="currentCategoryTitle != ''">{{currentCategoryTitle}}</h1>-->
					<!--<p ng-show="label.firstcategorypageinfo != ''">{{label.firstcategorypageinfo}}{{assetCount}}{{label.lastcategorypageinfo}}</p>-->
					
				</div>
				
				<div id="csp-asset-list">
					<div id="what-new-list" class="item-row" ng-if="whatNewList.length > 0" ng-class="{'forced-show':isResponsive == false}">
						<div class="item-row-inner">
							<div class="item-row-title"><a class="item-title-link" ng-class="{active:isResponsive == false}" href="javascript: void(0)"><h3>{{label.WhatNew}}</h3></a></div>
							<div class="item-row-desc" ng-bind-html-unsafe="label.WhatNewDescription">
							</div>
							<div class="csp-item-asset" ng-class="{jcarousel:isResponsive == true}">
								<ul>
									<li ng-repeat="assetitem in whatNewList | orderBy:'datetime':true" ng-include="'assetitem-tmpl'" my-block-resize>
										
									</li>
									<li class="fake-asset-item" ng-show="SetFakeItemStatus(0, whatNewList.length)">
										<a class="csp-asset-item-link" href="javascript: void(0)">
											<div class="csp-asset-item-wrapper">
												<div class="csp-asset-item-figure">
													<img src="" />
												</div>
												<div class="csp-asset-item-title">
													<p>&nbsp;</p>
												</div>
												<div class="clear"></div>
											</div>
										</a>
									</li>
								</ul>
								<p class="jcarousel-pagination"></p>
							</div>
						</div>
					</div>
					
					
					<div ng-repeat="categoryblock in categoryBlocks | orderBy:myCategoryBlockOrder" ng-include="'assetrow-tmpl'" my-assetrow-directive>						
					</div>
				</div>
				<div id="trunk-wrapper" class="hide">
					<li class="fake-asset-item">
						<a class="csp-asset-item-link" href="javascript: void(0)">
							<div class="csp-asset-item-wrapper">
								<div class="csp-asset-item-figure">
									<img src="" />
								</div>
								<div class="csp-asset-item-title">
									<p>&nbsp;</p>
								</div>
								<div class="clear"></div>
							</div>
						</a>
					</li>
				</div>
				<script type="text/ng-template" id="assetitem-tmpl">
					<div class="csp-asset-item-wrapper">
						<div class="csp-asset-item-figure">
							<a ng-if="DisableAssetDownload == false" class="csp-go-item-download {{assetitem.local_File_LaunchType}}" secured="{{assetitem.status_Secure_Y_N}}" cobrandtype="{{assetitem.local_Featured}}" cid="{{assetitem.contentId}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}">
								<img ng-src="{{GetAssetThumbnail(assetitem)}}" />
							</a>
							<span ng-if="DisableAssetDownload == true" class="no-download-thumbnail">
								<img ng-src="{{GetAssetThumbnail(assetitem)}}" />
							</span>
							<a ng-if="DisableAssetDownload == false && (assetitem.local_File_Type != 'youtube')" class="csp-asset-item-download {{assetitem.local_File_LaunchType}}" secured="{{assetitem.status_Secure_Y_N}}" cobrandtype="{{assetitem.local_Featured}}" cid="{{assetitem.contentId}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}"></a>
						</div>
						<div class="csp-asset-item-title">
							<p>
								<!-- {{assetitem.content_Title}} ({{assetitem.local_Partner_Type}}) -->
								{{assetitem.content_Title}}
							</p>
							<p class="learn-more" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}">
								<a class="csp-asset-item-link" href="javascript: void(0)">{{label.LearnMore}}</a>
							</p>
						</div>
						<div class="clear"></div>
						<div class="csp-asset-item-desc hide">
							<h3>{{assetitem.content_Title}}</h3>
							<div class="csp-asset-item-desc-wrapper" ng-bind-html-unsafe="GetInlineAsset(assetitem)">
							
							</div>
							<div style="text-align: center; padding-bottom: 20px;">
								<div><img ng-if="!(assetitem.local_File_LaunchType == 'inline' && assetitem.local_File_Type == 'text')" ng-src="{{GetAssetThumbnail(assetitem)}}" class="img-responsive csp-asset-item-desc-img"/></div>
								<div style="padding-top: 10px;">
									<a ng-if="DisableAssetDownload == false && (assetitem.local_File_Type != 'youtube')" class="csp-asset-item-download-btn {{assetitem.local_File_LaunchType}}" secured="{{assetitem.status_Secure_Y_N}}" cobrandtype="{{assetitem.local_Featured}}" cid="{{assetitem.contentId}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}">
										{{GetDownloadButtonLabel(assetitem)}}																						
									</a>
									<a ng-if="DisableAssetDownload == true && assetitem.local_File_LaunchType == 'noembedded'" target="_blank" class="csp-asset-item-download-btn {{assetitem.local_File_LaunchType}}" secured="{{assetitem.status_Secure_Y_N}}" cobrandtype="{{assetitem.local_Featured}}" cid="{{assetitem.contentId}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}">
										{{assetitem.content_Download_Title}}																						
									</a>
									<a ng-if="typeof(assetitem.local_File_Type) != 'undefined' && (assetitem.local_File_Type == 'localvideo' || assetitem.local_File_Type == 'youtube')" class="csp-asset-item-download-btn" ng-href="{{assetitem.content_Link_Url}}" localfiletype="{{assetitem.local_File_Type}}">
										{{GlobalLabel.Watch}}																					
									</a>
									<a ng-if="EnableAssetSyndication == true && ValidAssetKeys(assetitem) == true" class="csp-asset-item-download-btn csp-embed-lightbox" cspuniquekey="{{assetitem.csP_Unique_Key}}">
										{{GlobalLabel.EmbedThisAsset}}
									</a>
									<p class="default-thumbnail-holder" style="display: none">{{GetAssetThumbnail(assetitem)}}</p>
									<p class="thumbnail-holder" style="display: none">{{GetAssetEmbededThumbnails(assetitem)}}</p>
								</div>
							</div>
						</div>
					</div>
				</script>
				
				<script type="text/ng-template" id="assetrow-tmpl">

					<div class="item-row" ng-show="(crrAssetList  | filterByCategory:categoryblock.value.categoryId).length > 0">
						<div class="item-row-inner">
							<div class="item-row-title">
								<a class="item-title-link" href="javascript: void(0)">
									<h3 cid="{{categoryblock.value.categoryId}}" ng-bind-html-unsafe="GetDecodedHTML(categoryblock.value.content_Title)"></h3>
								</a>
							</div>
							<div class="item-row-desc" ng-bind-html-unsafe="GetCategoryDescription(categoryblock)"></div>
							<div class="csp-item-asset jcarousel">
								<ul>
									 <li ng-repeat="assetitem in crrAssetList | orderBy:assetListOrder | filter:customFilter(categoryblock.value.categoryId)" ng-include="'assetitem-tmpl'" my-asset-directive>
										
									</li>
									<li class="fake-asset-item" ng-show="SetFakeItemStatus(categoryblock.value.categoryId, 0)">
										<a class="csp-asset-item-link" href="javascript: void(0)">
											<div class="csp-asset-item-wrapper">
												<div class="csp-asset-item-figure">
													<img src="" />
												</div>
												<div class="csp-asset-item-title">
													<p>&nbsp;</p>
												</div>
												<div class="clear"></div>
											</div>
										</a>
									</li>
								</ul>
								<p class="jcarousel-pagination"></p>
							</div>
						</div>
					</div>
					<div ng-repeat="categoryblock in categoryblock.children | orderBy:myCategoryBlockOrder" ng-include="'assetrow-tmpl'" my-assetrow-directive>
					
					</div>
				</script>
				<script type="text/javascript">
				function resizeAssetBlocks(blockWrapper) {
					var maxHeight = 0;
					blockWrapper.find('li').each(function() {
						if (jQuery(this).outerHeight() > maxHeight)
							maxHeight = jQuery(this).outerHeight();
					});
					blockWrapper.find('li').each(function() {
						jQuery(this).outerHeight(maxHeight);
					});
				}
				
				jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
					var temp = jQuery(this);
					if (temp == undefined) return;
					
					if (temp.hasClass('newwindow'))
						event.preventDefault();

					if (temp.hasClass('csp-lightbox')) return;					
					try {
						if (temp.attr('href')!=undefined && temp.attr('href').indexOf('javascript') >= 0) {
							return;
						}
						if (temp.attr('href')!=undefined && (temp.hasClass('csp-go-item-download') || temp.hasClass('csp-asset-item-download-btn') || temp.hasClass('csp-asset-item-download'))){
							event.preventDefault();
							var elementUrl = temp.attr('href');
							var urlEx = elementUrl.split('.').pop();
							var extArray = ['jpeg','JPEG','jpg','JPG','png','PNG','gif','GIF','tif','TIF','tiff','TIFF'];
							if(extArray.indexOf(urlEx) > -1 ){
								var downloadImageUrl = 'http://global.syndication.tiekinetix.net/download/index.aspx?link=' + elementUrl;
								if (typeof(cspSSLMode) != 'undefined' && cspSSLMode != '' && cspSSLMode.toLowerCase() == 'yes')
									downloadImageUrl = 'https://global.syndication.tiekinetix.net/download/index.aspx?link=' + elementUrl;
								window.open(downloadImageUrl,"_self");
							}
						}
						addTick(jQuery(this));
					} catch(e) {
						//debugger;
					}
				});
				
				jQuery("body").undelegate("a.item-title-link", "click").delegate("a.item-title-link", "click", function(event) {
					var wrapperNode = jQuery(this).parents('div.item-row-inner');
					
					if (wrapperNode.find('div.csp-item-asset').hasClass('hide')) {
						wrapperNode.find('div.csp-item-asset').removeClass('hide');
						wrapperNode.find('div.csp-item-asset').show();
					}
					else
						wrapperNode.find('div.csp-item-asset').toggle();
						
					if (!jQuery(this).hasClass('active')) {
						jQuery(this).addClass('active');
						resizeAssetBlocks(wrapperNode.find('div.csp-item-asset'));
					}
					else {
						jQuery(this).removeClass('active');
					}
					/*
					if (jQuery('#csp-left-section-mobile-inner').height() < jQuery(document).height())
						jQuery('#csp-left-section-mobile-inner').height(jQuery(document).height());
					*/
					initJCarousel(jQuery(this), wrapperNode);
					event.preventDefault();
				});
				
				
				jQuery("body").undelegate(".csp-go-item-download,.csp-asset-item-download,.csp-feature-asset-item-download", "click").delegate(".csp-go-item-download,.csp-asset-item-download,.csp-feature-asset-item-download", "click", function(event) {
					event.stopPropagation();
				});
				
				jQuery("body").undelegate(".csp-asset-item-link,.csp-feature-asset-item-link,.no-download-thumbnail", "click").delegate(".csp-asset-item-link,.csp-feature-asset-item-link,.no-download-thumbnail", "click", function(event) {
					event.preventDefault();
					var item = jQuery(this);
					var itemWrapper = item.parents('.csp-asset-item-wrapper');
					var itemDesc = item.parents('.csp-asset-item-wrapper').find('.csp-asset-item-desc').html();
					var firstEmbeddedBanner = '';
					if (jQuery(this).hasClass('csp-feature-asset-item-link')) {
						itemWrapper = item.parents('.csp-feature-asset-item-wrapper');
						itemDesc = item.parents('.csp-feature-asset-item-wrapper').find('.csp-asset-item-desc').html();
					}
                    if (itemDesc == null) {
                        itemDesc = item.parents('.csp-asset-item-title').siblings('.csp-asset-item-desc').html();
                    }
					if (itemDesc == undefined) {
						itemDesc = item.parents('li:first').find('.csp-asset-item-desc').html();
					}
					firstEmbeddedBanner = itemWrapper.find('.thumbnail-holder').text();
					if (firstEmbeddedBanner != '') {
						jQuery([firstEmbeddedBanner.split(',')[0]]).preload();
					}
					CURRENT_DESC_DETAIL = itemDesc;
					reAdjustColorBoxSize(550);
					jQuery.colorbox({className: 'asset-desc-detail', width: wdWidth + "px", html: itemDesc});
				});
				
				jQuery("body").undelegate(".csp-embed-lightbox", "click").delegate(".csp-embed-lightbox", "click", function(event) {
					event.preventDefault();
					InitEmbededBanners(jQuery(this));
				});
				</script>