<div id="search-wrapper">
	<div id="search-key-desc">Result for: <b>{{searchKey}}</b></div>
	<div id="result-list">
		<div class="row result-item" ng-repeat="result in searchResult | filter:byPartnerType">
			<p class="item-title"><a ng-href="{{GetSearchCategoryUrl(result)}}" ng-bind-html-unsafe="result.title"></a></p>
			<p class="item-desc" ng-bind-html-unsafe="result.description"></p>
		</div>
		<div class="row">
			<div class="csp-item-asset">
				<ul>
					<li ng-repeat="assetitem in crrAssetList | orderBy:'sortorder'" ng-include="'assetitem-tmpl'">
						
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="assetitem-tmpl">
	<div class="csp-asset-item-wrapper">
		<div class="csp-asset-item-figure">
			<a ng-if="DisableAssetDownload == false" class="csp-go-item-download {{assetitem.local_File_LaunchType}}" secured="{{assetitem.status_Secure_Y_N}}" cobrandtype="{{assetitem.local_Featured}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}">
				<img ng-src="{{GetAssetThumbnail(assetitem)}}" />
			</a>
			<span ng-if="DisableAssetDownload == true" class="no-download-thumbnail">
				<img ng-src="{{GetAssetThumbnail(assetitem)}}" />
			</span>
			<a ng-if="DisableAssetDownload == false && (assetitem.local_File_Type != 'youtube')" class="csp-asset-item-download {{assetitem.local_File_LaunchType}}" secured="{{assetitem.status_Secure_Y_N}}" cobrandtype="{{assetitem.local_Featured}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}"></a>
		</div>
		<div class="csp-asset-item-title">
			<p>
				<!-- {{assetitem.content_Title}} ({{assetitem.local_Partner_Type}}) -->
				{{assetitem.content_Title}}
			</p>
			<p class="learn-more" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}">
				<a class="csp-asset-item-link" href="javascript: void(0)">{{label.LearnMore}}</a>
			</p>
		</div>
		<div class="clear"></div>
		<div class="csp-asset-item-desc hide">
			<h3>{{assetitem.content_Title}}</h3>
			<div class="csp-asset-item-desc-wrapper" ng-bind-html-unsafe="GetInlineAsset(assetitem)">
			
			</div>
			<div style="text-align: center; padding-bottom: 20px;">
				<div><img ng-if="!(assetitem.local_File_LaunchType == 'inline' && assetitem.local_File_Type == 'text')" ng-src="{{GetAssetThumbnail(assetitem)}}" class="img-responsive csp-asset-item-desc-img"/></div>
				<div style="padding-top: 10px;">
					<a ng-if="DisableAssetDownload == false && (assetitem.local_File_Type != 'youtube')" class="csp-asset-item-download-btn {{assetitem.local_File_LaunchType}}" secured="{{assetitem.status_Secure_Y_N}}" cobrandtype="{{assetitem.local_Featured}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}">
						{{assetitem.content_Download_Title}}																						
					</a>
					<a ng-if="DisableAssetDownload == true && assetitem.local_File_LaunchType == 'noembedded'" target="_blank" class="csp-asset-item-download-btn {{assetitem.local_File_LaunchType}}" secured="{{assetitem.status_Secure_Y_N}}" cobrandtype="{{assetitem.local_Featured}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.csP_Reporting_Id}}">
						{{assetitem.content_Download_Title}}																						
					</a>
					<a ng-if="typeof(assetitem.local_File_Type) != 'undefined' && (assetitem.local_File_Type == 'localvideo' || assetitem.local_File_Type == 'youtube')" class="csp-asset-item-download-btn" ng-href="{{assetitem.content_Link_Url}}" localfiletype="{{assetitem.local_File_Type}}">
						{{GlobalLabel.Watch}}																					
					</a>
					<a ng-if="EnableAssetSyndication == true && ValidAssetKeys(assetitem) == true" class="csp-asset-item-download-btn csp-embed-lightbox" cspuniquekey="{{assetitem.csP_Unique_Key}}">
						{{GlobalLabel.EmbedThisAsset}}
					</a>
					<p class="default-thumbnail-holder" style="display: none">{{GetAssetThumbnail(assetitem)}}</p>
					<p class="thumbnail-holder" style="display: none">{{GetAssetEmbededThumbnails(assetitem)}}</p>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/javascript">
	function resizeAssetBlocks(blockWrapper) {
		var maxHeight = 0;
		blockWrapper.find('li').each(function() {
			if (jQuery(this).outerHeight() > maxHeight)
				maxHeight = jQuery(this).outerHeight();
		});
		blockWrapper.find('li').each(function() {
			jQuery(this).outerHeight(maxHeight);
		});
	}
	
	jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
		var temp = jQuery(this);
		if (temp == undefined) return;

		if (temp.hasClass('csp-lightbox')) return;					
		try {
			if (temp.attr('href')!=undefined && temp.attr('href').indexOf('javascript') >= 0) {
				return;
			}
			if (temp.attr('href')!=undefined && (temp.hasClass('csp-go-item-download') || temp.hasClass('csp-asset-item-download-btn') || temp.hasClass('csp-asset-item-download'))){
				event.preventDefault();
				var elementUrl = temp.attr('href');
				var urlEx = elementUrl.split('.').pop();
				var extArray = ['jpeg','JPEG','jpg','JPG','png','PNG','gif','GIF','tif','TIF','tiff','TIFF'];
				if(extArray.indexOf(urlEx) > -1 ){
					window.open('http://global.syndication.tiekinetix.net/download/index.aspx?link=' + elementUrl,"_self");
				}
			}
			addTick(jQuery(this));
		} catch(e) {
			//debugger;
		}
	});

	jQuery("body").undelegate(".csp-asset-item-link,.csp-feature-asset-item-link,.no-download-thumbnail", "click").delegate(".csp-asset-item-link,.csp-feature-asset-item-link,.no-download-thumbnail", "click", function(event) {
		event.preventDefault();
		var item = jQuery(this);
		var itemWrapper = item.parents('.csp-asset-item-wrapper');
		var itemDesc = item.parents('.csp-asset-item-wrapper').find('.csp-asset-item-desc').html();
		var firstEmbeddedBanner = '';
		if (jQuery(this).hasClass('csp-feature-asset-item-link')) {
			itemWrapper = item.parents('.csp-feature-asset-item-wrapper');
			itemDesc = item.parents('.csp-feature-asset-item-wrapper').find('.csp-asset-item-desc').html();
		}
		firstEmbeddedBanner = itemWrapper.find('.thumbnail-holder').text();
		if (firstEmbeddedBanner != '') {
			jQuery([firstEmbeddedBanner.split(',')[0]]).preload();
		}
		CURRENT_DESC_DETAIL = itemDesc;
		reAdjustColorBoxSize(550);
		jQuery.colorbox({className: 'asset-desc-detail', width: wdWidth + "px", html: itemDesc});
	});
	
	jQuery("body").undelegate(".csp-embed-lightbox", "click").delegate(".csp-embed-lightbox", "click", function(event) {
		event.preventDefault();
		InitEmbededBanners(jQuery(this));
	});
</script>