.csp-box {
    color: #2A3136;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.csp-box img {
    max-width: 200px;
    max-height: 200px;
    z-index: 1;
}
/*
.csp-box-description {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
*/
.csp-box-title {
    font-size: 13px;
    padding-top: 10px;
    color: #2A3136;
}
.csp-box-title, .csp-box-desc {
    padding-left: 10px;
    padding-right: 10px;
}
.csp-box-desc {
    font-size: 11px;
    color: #5F6568;
}