<div class="ajax-loading" ng-show="ajaxLoading">
	<div class="loading-image"></div>
</div>
<div id="csp-showcase-page-content" ng-bind-html-unsafe="ContentPage"></div>
<script type="text/javascript">
	jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
		if (jQuery(this).attr('href').indexOf('scrollto') == 0) {
			var targetId = '#' + jQuery(this).attr('href').split('=')[1];
			if (jQuery(targetId).length == 1) {
				//console.log(jQuery(targetId).offset().top);
				jQuery('html, body').animate({
					scrollTop: jQuery(targetId).offset().top
				}, 500);
			}
			event.preventDefault();
			return false;
		}
		addTick(jQuery(this));
	});
	
	jQuery("body").undelegate(".video-plugin-block a", "click").delegate(".video-plugin-block a", "click", function(event) {
		var isDesktop = reAdjustColorBoxSize(350);
		if (isDesktop) {
			if (jQuery(this).attr('rel').toLowerCase() == 'pdf')
				wdHeight = jQuery(window).height() - 90;
		}
		jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href')});
		event.preventDefault();
	});
	
	jQuery("body").undelegate(".player", "click").delegate(".player", "click", function(event) {
		event.preventDefault();
		return;
		var isDesktop = reAdjustColorBoxSize(350);
		if (isDesktop) {
			if (jQuery(this).attr('rel').toLowerCase() == 'pdf')
				wdHeight = jQuery(window).height() - 90;				
			jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).parent('a').attr('href')});
			event.stopPropagation();
			event.preventDefault();
		}
	});
</script>