<div id="csp-wrapper" class="container">
		<div id="header">
			<div id="header-logo">
			</div>
			<div id="introduction">Onze producten</div>
			<div id="sce-breadcrumb"></div>
			<div id="sce-page-navigation">
				<ul>
					<li class="prev">
						<a href="/producten-micro/all/silhouette-shades/">vorig product</a>
					</li>
					<li class="next">
						<a href="/producten-micro/all/duette-shades/">volgend product</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- New version header -->
		<div id="header2" class="hide">
			<div id="header2-logo">
            </div>
			<div id="header2-contactus">
				<a href="javascript: void(0)">Contact Us</a>
			</div>
			<div class="clear"></div>
		</div>
		<!-- EOF New version header -->
		
		<div id="workspace">
			<div class="clear" id="workspacelastitem"></div>
		</div>

		<div id="content">
			<div id="template-1-row" class="row">
			  <div id="home-blocks">
			  </div>
			</div>
			
			<!-- New version home blocks -->
            <div id="new-homeblock-buttons" class="row p-delete-outer hide">
				<ul>

				</ul>
            </div>
			<!-- EOF New version home blocks -->
		</div>
		
		<div style="clear:both"></div>
		<div id="footer">
			<div id="footer-logo">
			</div>
		</div>
	</div>
<script type="text/javascript">
jQuery(function() {
	initApp();
});
</script>
<script type="text/javascript">function listener(event) {var iFrameNewHeight = parseInt(event.data);if (iFrameNewHeight > 0) {jQuery('#workspace').find('iframe').height(iFrameNewHeight);jQuery('#workspace').find('iframe').closest('.wgiframe-wrapper').height(iFrameNewHeight);jQuery('body').click();}}jQuery(function() {if (window.addEventListener) {window.addEventListener("message", listener, false);} else {attachEvent("onmessage", listener);}});</script>		