@CHARSET "ISO-8859-1";

body {
	background-color: #d9d9d9;
}

.container {
	backgroud-color: #d9d9d9;
}

#main-nav-wrapper {
	height: 110px;
	border: none !important;
	background-color: #FFF !important;
	box-shadow: 5px 5px 5px #888888;
}

#sce-wrappercontainer {
	position: relative;
	max-width: 660px;
	background-color: white;
	padding: 0;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.logo-header {
	height: 60px;
}

.image-logo {
	position: relative;
	top: 10px;
	left: 0px;
	max-height: 50px;
	vertical-align: middle;
	border: 0;
}

#navContactUsBox {
	height: 40px;
}

#navContactUs {
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: rgb(119, 119, 119);
	font-weight: bold;
	padding: 0;
	padding-right: 15px;
	text-transform: uppercase;
	bottom: 0;
	position: absolute;
	right: 0;
}

#contentBlockfirst {
  margin-top: 125px;	
}

.contentBlock {
	margin-top: 10px;
	border-radius: 0px;
	display: block;
	padding: 10px;
	position: relative;
	width: 100%;
	background-color: #FFF;
}

#mainImage {
	width: 100%;
	height: auto;
}

.titleBlock3 {
	margin: 0px;
	line-height: 1.5;
}

.textBlock1 {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #4d4d4d;
}

.imagelink img {
	width: 100%; 
	height: auto;
}

.footer {
	background-color: #343434;
	margin-top: 5px;
	padding-bottom: 10px;
}

.content-footer {
	color: #fff;
	font-size: 10px;
}