#csp-pageNav{
	color: #333;	
	font: 13px Arial,Verdana,Helvetica,sans-serif;
	margin: 0;
	padding: 4px 0 0;
}
#csp-pageNav a  {
    text-decoration: none;
    color: #333;
}
#csp-pageNav p {
	margin: 0 0 17px;
	padding: 0;
	line-height: 18px;
}
.nav {
	background: #fff url(images/hartford_logo.gif) no-repeat top right;
	float: left;
	width: 620px;
	border-bottom: 2px solid #bebebe;
}
.nav-wrapper {
	clear: both;
	float: left;
}
.nav ul {
	float: left;
	margin: 0;
	padding-top: 0;
	list-style: none !important;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 34px;
    padding-left: 10px;
    
}
.nav li {
	float: left;
    background-image: none !important;
    padding-left: 0 !important;
    border: 1px solid transparent;
    border-bottom-width: 0;
    position: relative;
}
.menu-mid {
	background: none;
    height: 40px;
    line-height: 18px;
    padding-top: 10px;
    width: 89px; 
    padding-left: 16px;
    text-align: left;
    /*IE7 bug fix*/
   cursor: pointer;
}
.nav li:hover .menu-mid.hasChildren {
    cursor: pointer;
    background-color: #fefefe;
    border-color: #cfcfcf;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    box-shadow: 0 0 1px 1px rgba(209, 209, 209, 0.6);
    -moz-box-shadow: 0 0 1px 1px rgba(209, 209, 209, 0.6);
    -webkit-box-shadow: 0 0 1px 1px rgba(209, 209, 209, 0.6);
    border-bottom-width: 0;
    border-bottom: 0;
    /*border-left: 1px solid rgba(209, 209, 209, 0.6);*/
    z-index: 103;
}
.Arrows {
    margin: 0 0 1px 5px;
}
.nav .menu-mid-sectionTitle,
.nav li:hover li:hover ul.subsub,
.nav li div.menu-mid,
.nav li:hover ul.sub,
.nav li:hover .menu-mid-patch,
.nav li:hover .menu-mid-sectionTitle  {
    display: block;
}
/*.nav li div,*/ 
.nav li .menu-mid-patch,
.nav li ul.sub,
.subsub,
.subHidden {
    display: none;
}
.nav li:hover li:hover .subsub {
    margin-left: 160px;
    width: 150px;
    border-bottom: 0px none;
    margin-top: -16px;
}

.nav li:hover ul.sub {
    position: absolute;
    top: 46px;
    left: 0px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 10px 12px 10px;
    list-style: none;
    font-size: 12px !important;
    font-weight: normal !important;
    text-align: left;
    color: #004972 !important;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    /* IE 10 */
    background: -ms-linear-gradient(top, #ffffff, #eeeeee);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff, #eeeeee);
    border-color: #cfcfcf;
    border-radius: 0 8px 8px 8px;
    -moz-border-radius: 0 8px 8px 8px;
    -webkit-border-radius: 0 8px 8px 8px;
    box-shadow: 0 2px 1px 1px rgba(209, 209, 209, 0.6);
    -moz-box-shadow: 0 2px 1px 1px rgba(209, 209, 209, 0.6);
    -webkit-box-shadow: 0 2px 1px 1px rgba(209, 209, 209, 0.6);
    border-top: 1px solid rgba(209,209,209,0.6);
    /*border-left: 1px solid rgba(207, 207, 207, 0.6);*/
    z-index: 80;
}
.nav li:hover ul.sub li {
    border: none;
    box-shadow: none;
}
.nav .subsub:hover {
    display:inline;    
}

.subtext {
    width: 185px;
    display: block;
}
    
.nav li:hover li,
.nav li.active li {
	width: 100%;
	background: none !important;
}
.nav li:hover li a,
.nav li.active li a {
    font-size: 12px;
    font-weight: normal;
    color: #004972 !important;
	background: none !important;
	line-height: normal;
	width: 156px;
	text-indent: 1px;
}
.nav li:hover li a:hover {
	text-decoration: underline !important;
}
.nav .menu-mid:hover {
    text-decoration: underline;
}
.nav .menu-mid.hasChildren:hover,
.nav .menu-mid.hasChildren .menu-mid-sectionTitle:hover {
    color: #903 !important;
    text-decoration: none !important;
}
.nav .menu-mid-sectionTitle {
    height: 36px;
    display: table-cell !important;
    height: 36px;
    vertical-align: bottom;
}
.nav .menu-mid-patch {
    width: 105px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 45px;
    height: 5px;
}
.csp-container {
	width: 670px;
	background: transparent url(images/content_bg.png) repeat-y;
	float: left;
	padding: 10px 20px;
}
.csp-container h1 {
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	border-bottom: 1px dashed #ad2452;
}
.csp-container h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: -5px;
}
.csp-container p {
	padding: 0 15px;
	text-align: justify;	
}
.csp-container-bottom {
	width: 710px;
	background: transparent url(images/content_bottom.png) no-repeat;
	height: 13px;
	float: left;
}