.nav li {
    height: 50px;
}
.nav li .menu-mid.hasChildren li {
    height: auto;
}
.menu-mid.hasChildren {
    /*visibility: hidden;*/
}
.nav li .menu-mid.hasChildren, 
.nav li ul.sub {
    border: 1px solid transparent;
}
.nav li:hover .menu-mid.hasChildren, 
.nav li:hover ul.sub {
    border: 1px solid rgb(209,209,209);
    background-color: #fff;
}
.nav .menu-mid-patch {
    left: 1px;
}