div.cspisicontainer .cspclear {
    padding: 0 0 5px !important;
}
div.cspisicontainer span.play-icon {
    top: -73px !important;
}
.cspisiFlashShowcase .cspSectionTitle {
    display: none;
}
.cspisiFlashShowcase {
    position: relative;
    text-align: center;
}
#csp_prod_desc_image {
    float: right;
    margin-bottom: 5px;
    margin-left: 15px;
}
.cspisifeatures .cspisifeaturesText {
    display: block !important;
    margin-bottom: 12px;
}
