﻿.clear, .csp-clear { clear: both; }

.hide { display: none; }

.pos-relative { position: relative; }

.error-msg {
	display: none;
	position: absolute;
	top: -2px;
	right: 0px;
	display: block;
	color: white !important;
	background: url(../images/errorbg.gif) no-repeat left center;
	text-shadow: 0px 1px 1px black;
	padding: 5px 20px;
}

img { border: none; }

ul, li {
	padding: 0px; margin: 0px;
}

p {
	font-size: 13px;
}

h1, h2 {
	font-weight: normal;
}

.long-input {
	width: 250px;
	border: 1px solid #BBB;
}

.popup-textarea {
	resize: none;
	border: 1px solid #BBB;
}

div#csp-wrapper {
	width: 660px;
	position: relative;
	margin: 0 auto;
	padding: 0px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	font-size: 13px;
}

div#csp-wrapper * {
    font: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.rich-text ul li, .section-sub-topic ul li {
    list-style-type: disc;
    margin: 0 0 0 15px;
}

.primary-heading{
	color: #00447C;
    font-size: 34px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

div#csp-top-section {
	position: relative;
	z-index: 2;
}

div#csp-logo {
	float: left;
}

div#csp-nav {
	border-top: none;
	float: right;
	/*width: 510px;*/
	width: 500px;
	margin-bottom: 10px;
	background: none;
}

div#csp-nav * {
	margin: 0 auto;
	padding: 0px;
}

div#csp-nav ul#main-nav {
    padding: 0px !important;
    overflow: hidden;
	background: -moz-linear-gradient(center top , #4D4D4D, #272727) repeat scroll 0 0 transparent;
	background-image: -ms-linear-gradient(rgba(69, 69, 69, 0.95) 0%, rgba(24, 24, 24, 0.95) 100%);
	background: -webkit-linear-gradient(#4D4D4D, #272727);
	box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.65);
}

div#csp-nav ul#main-nav input {
	color: #000 !important;
}

div#csp-nav li.root-item {
	list-style-type: none;
	float: left;
	background: none;
	padding-right: 1px;
	height: 40px;
}

.root-item-title-editor {
	border: 1px solid #333;
}

div#csp-nav li.last-root {
	background: none;
	padding-right: 0px;
}

div#csp-nav li.root-item {
}

div#csp-nav li.root-item a.root-item-link {
	color: #999999;
    display: block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

div#csp-nav li.root-item-hover a.root-item-link, 
div#csp-nav li.root-item a.root-item-link:hover, 
div#csp-nav li.selected a.root-item-link{
	background-color: #2B2D2E;
	color: #FFF !important;
}

div#csp-nav li.selected > a.root-item-link {
	color: #FFF !important;
}

div#csp-nav li.root-item span.root-item-text {
	display: block;
	width: 100%;
	cursor: pointer;
}

div#csp-nav li.sub-item h2 a {

}

div#csp-nav ul.sub-menu-detail li a {
	font-size: 13px;
}

div.sub-menu-wrapper {
	background-color: #2B2D2E;
    cursor: default;
	left: 0px;
    padding-top: 1px;
    position: absolute;
    top: 40px;
	right: 77px;
    width: 660px;
	z-index: 1;
	display: none;
}

ul.sub-menu {
	margin-bottom: 20px;
    padding: 10px !important;
    text-align: left;
}

ul.sub-menu ul {
    padding: 0px !important;
}

ul.sub-menu li.sub-item {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	list-style: none outside none;
	color: #FFF;
    font-size: 11px;
    line-height: 13px;
    
	width: 180px;
}

ul.sub-menu li.sub-item * {
	color: #999999;
	text-decoration: none;
}

ul.sub-menu li.sub-item h2 {
	color: #999999;
    font-size: 15px;
	background-color: #5A5B5C;
    border-bottom: 1px solid #0F1010;
	margin-bottom: 10px !important;
}

ul.sub-menu li.sub-item h2 a{
	background-color: transparent !important;
	display: block;
    padding: 5px !important;
}

ul.sub-menu li.sub-item h2 a:hover,
ul.sub-menu-detail li.ctmenu-item a:hover {
	background-color: #000 !important;
	color: #FFF;
}

li.sub-item div.menu-overlay-section li {
	color: #FFF;
    float: none;
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0;
	list-style-type: none;
}

li.sub-item a {
	display: block;
	padding: 5px !important;
}

ul.sub-menu-detail li.ctmenu-item {
}

li.missing-content-small {
	background: url("../images/missing_content.png") no-repeat scroll right center;
	padding-right: 15px !important;
}

div#csp-banner {
	height: 300px;
	z-index: 0;
}

div#csp-homepage-header {
	width: 450px;
	position: absolute;
	right: 0px;
	top: 115px;
	padding: 25px 0px 0px 0px;
	z-index: 0;
}

div#csp-homepage-header * {
	text-align: right;
}

div#csp-homepage-header  h1 {
	color: #404040;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 15px;
}

div#csp-homepage-header  h2 {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

div#sub-category-blocks {
	padding-top: 20px;
	border-top: 3px solid #EEE;
}

div#csp-tout-area li {
	background-color: #EEE;
	border-left: 1px solid #CCC;
    float: left;
    min-height: 200px;
    padding: 5px;
    position: relative;
    width: 154px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

div#csp-tout-area a.csp-tout-title {
	text-decoration: none;
	color: #565656;
}

div#csp-tout-area a.csp-tout-title h2 {
	font-size: 15px;
    height: 50px;
    padding: 5px 0;
}

div#csp-tout-area a.csp-tout-title p {
	padding-top: 10px;
	font-size: 13px;
}

div#csp-tout-area div.csp-tout-figure {
	text-align: center;
}

div#tieBrandingFooter {
	text-align: right;
	padding: 5px 5px 5px 0px;
}

#csp-page-header {
	background: url("../images/double-border.gif") repeat-x scroll top left;
	padding-top: 4px;
}

/* Sub page { */
#csp-breadcrumb {
    color: #939598;
    font-size: 11px;
    padding: 10px 0px;
}

#csp-breadcrumb, #csp-breadcrumb * {
	font-family: 'PT Sans', Arial,Verdana,Univers !important;
	font-size: 11px !important;
}

#csp-breadcrumb a {
	text-decoration: none;
	color: #1b75ba;
}

#csp-page-title {
    color: #404040;
    font-size: 30px;
	line-height: normal;
}

.header-category-title-editor {
	width: 610px;
	height: 27px;
}

div#csp-content {
	
}

div#csp-right-col {

}

div#csp-right-col div#page-banner, div#csp-right-col > div.feature {
	position: relative;
}

div#csp-right-col > div.feature {
	overflow: hidden;
}

div.feature .feature-info {
    width: 250px;
	float: left;
	overflow: hidden;
}

div.feature .figure {
    float: right;
	width: 390px;
	overflow: hidden;
}

#csp-right-col #banner-main-text * {

}

#csp-right-col #banner-main-text h1 {
	font-size: 16px;
	font-weight: bold;
	color: #1B75BA;
}

#csp-right-col #banner-main-text h2 {
	font-weight: bold;
	color: #1B75BA;
}

#csp-right-col #banner-main-text .media-subtitle {
	font-size: 14px;
	display: block;
	width: 200px;
}

#csp-right-col .lightbox, #video{
	display: none;
}

div.csp-side-col {
    width: 155px;
}
div.csp-right-col {
    width: 495px;
	overflow: hidden;
	padding-top: 13px;
	padding-left: 10px;
}
div.csp-side-col, div.csp-right-col {
    float: left;
}

ul#side-col-list {
	padding: 0px;
}

.csp-sibling-items {
    margin-top: 18px;
    width: 155px;
}

.csp-sibling-items li {
	list-style-type: none;
    font-size: 11px;
    margin-bottom: 10px;
}

.csp-sibling-items li a {
    color: #444343;
    display: block;
	font-size: 13px;
    padding: 2px 0;
    text-decoration: none;
}

.csp-children-items li {
	padding: 5px 0px;
	margin-bottom: 0px;
	border-bottom: 1px dashed #EEE;
}

.csp-children-items li a {
	font-size: 11px;
	padding-left: 10px;
}

.csp-sibling-items li a:hover, .csp-sibling-items li.selected > a {
	color: #009FC2;
}

.csp-right-col ul, .csp-right-col ol { padding: 10px 30px; }
.csp-right-col p { padding: 0px 0px 10px 0px; }
.csp-right-col ul li { padding: 5px 0px;}
.csp-right-col ol li {padding: 5px 0px;}

.csp-right-col p.title {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
#csp-right-col table{
	border: none;
	width: 100%;
}
#csp-right-col table tr{
   vertical-align: top;
}
#csp-right-col table tr td{
	padding: 6px;
}
#csp-right-col table.table-middle-align tr{
	vertical-align:middle;
}
#csp-right-col table.table-border{
	border: 1px solid;
}

#sub-category-blocks .sub-category-block {
	float: left;
	overflow: hidden;
}

#sub-category-blocks .sub-category-block  .sub-category-block-figure {
	display: block;
	padding: 0px 5px;
	overflow: hidden;
}

#sub-category-blocks .sub-category-block  h2 {
	margin: 5px 0px;
	padding: 0px 5px;
}

#sub-category-blocks .sub-category-block  h2 a {
	color: #1B75BA;
	font-size: 14px;
	font-weight: bold;
}

#sub-category-blocks .sub-category-block  p {
	margin: 0px;
	padding: 0px 5px;
	font-size: 13px;
	color: #58595B !important;
}
/* } EOF Sub page */

.RadMenu_Context { z-index: 99999 !important; }

.RadEditor td.reWrapper_corner,
.RadEditor td.reWrapper_center,
.RadEditor td.reToolZone,
.RadEditor td.reLeftVerticalSide,
.RadEditor td.reTlbVertical,
.RadEditor td.reRightVerticalSide,
.RadEditor td.reToolZone td,
.RadEditor td.reToolCell,
.RadEditor td.reContentCell {
    padding: 0px !important;
}

.reContentCell, .reContentCell iframe, iframe body {
    background-color: #FFFFFF !important;
}

#wdCategoryEditForm {
	padding: 10px 0px 0px 20px;
}

#wdCategoryEditForm td {
	padding-bottom: 5px;
}

#wdCategoryDescriptionEditor {
	padding: 10px 0px 0px 10px;
}

#wdDeleteCategoryOption {
	padding: 10px 0px 0px 10px;
}

.un-published {
	color: #ff8686 !important;
}

.inactive-item, .sub-menu .un-published {
	color: #999 !important;
}

/*
.sub-menu .ctmenu-item {
	padding: 2px 0px !important;
}

.sub-menu .ui-sortable-placeholder {
	padding: 2px 0px !important;
	border: 1px dashed #999 !important;
}
*/

.ui-sortable-helper a {
	cursor: move !important;
}

.RadWindow {
	z-index: 99999 !important;
}
.RadWindow li {
	list-style-type: none;
}

#side-controls-menu ul {
	display: none;
}

#wdBannerFileMan {
	padding:  10px 0px 0px 10px;
}

.top-window {
	z-index: 1001 !important;
}

.lower-window {
	z-index: 1000 !important;
}
/*
#wdBannerFileMan {
	background-color: #FFFFFF;
    border: 1px solid;
    padding: 30px 5px 5px;
    position: absolute;
    z-index: 99999;
}

#wdBannerFileMan .k-window-titlebar {
	width: 540px;
}

#wdBannerFileMan .k-window-titlebar .k-window-actions {
	right: 0px;
}
*/

#sci-addpagebanner {
	background: url("../images/window.png") no-repeat scroll left center transparent;
}

.primary-heading{
	color: #00447C;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;	
}

.layoutColumn table {
	padding: 0px !important;
	margin: 0px !important;
}

.rich-text .content-img {
    float: right;
    padding: 0 0 5px 5px;
}
/*LongVK new layout barracuda 27/09/2013 */
#csp-content{
	font-family:'Myriad Pro',Arial !important;
}
#home-banner a:hover,#webfilter-block a:hover,#security-btn-contact a:hover{
	text-decoration:none !important;
}
.btn-contact{
	background-color:#1b75ba;width:200px;height:50px;text-align:center;padding-top:10px;border-radius: 5px;
}
.btn-contact span{
	color:white;
}
#home-banner{
	width:300px;
} 
#home-content ul li{
	list-style:none;
	float:left;
}
#home-content ul {
	padding:0;
}
#home-content .home-content-block{
	width:300px;
	padding:0;
	margin-right:30px;
	height:100px;
}
.home-content-block img{
	float: left;padding-top:3px;width:35px !important;
}
#home-banner a{
	text-decoration:none;
}
.home-content-block div{
	float: left; margin-left: 10px;padding:0;width:250px;
}
.home-content-block div span{
	font-weight:bold;
}
#sub-category-blocks .sub-category-block h2 a{
	font-size:18px !important;
	color:#1b75ba !important;
	font-weight:normal;
}
.sub-category-description{
	text-align:center;
	font-size:18px;
	padding: 0 80px;
	margin-bottom:50px;
}
#sub-category-blocks .sub-category-block .sub-category-block-figure {
    padding-bottom:20px !important;
}
.webfilter-list{
	padding:0 !important;
}
.webfilter-list li{
	padding:1px 0 !important;
	list-style:disc inside none !important;
}
div#csp-wrapper {
    font-family: 'Myriad Pro',Arial !important;
}
.content-page-detail{
	color:#58595b !important;
}
/*End LongVK new layout barracuda 27/09/2013 */