				<div id="csp-asset-info" ng-bind-html-unsafe="label.categorypageinfo">
					<!--<h1 ng-if="currentCategoryTitle != ''">{{currentCategoryTitle}}</h1>-->
					<!--<p ng-show="label.firstcategorypageinfo != ''">{{label.firstcategorypageinfo}}{{assetCount}}{{label.lastcategorypageinfo}}</p>-->
					
				</div>
				
				<div id="csp-asset-list">
					<div class="item-row" ng-if="whatNewList.length > 0">
						<div class="item-row-inner">
							<div class="item-row-title"><a class="item-title-link active" href="javascript: void(0)"><h3>{{label.WhatNew}}</h3></a></div>
							<div class="item-row-desc" ng-bind-html-unsafe="label.WhatNewDescription">
							</div>
							<div class="csp-item-asset" style="display: block">
								<ul>
									<li ng-repeat="assetitem in whatNewList | orderBy:'datetime':true" ng-include="'assetitem-tmpl'" my-block-resize>
										
									</li>
									<li class="fake-asset-item" ng-show="SetFakeItemStatus(0, whatNewList.length)">
										<a class="csp-asset-item-link" href="javascript: void(0)">
											<div class="csp-asset-item-wrapper">
												<div class="csp-asset-item-figure">
													<img src="" />
												</div>
												<div class="csp-asset-item-title">
													<p>&nbsp;</p>
												</div>
												<div class="clear"></div>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					
					<div ng-repeat="categoryblock in categoryBlocks | orderBy:'displayorder' | filter:byPartnerType" ng-include="'assetrow-tmpl'" on-last-block>

					</div>
				</div>
				<div id="trunk-wrapper" class="hide">
					<li class="fake-asset-item">
						<a class="csp-asset-item-link" href="javascript: void(0)">
							<div class="csp-asset-item-wrapper">
								<div class="csp-asset-item-figure">
									<img src="" />
								</div>
								<div class="csp-asset-item-title">
									<p>&nbsp;</p>
								</div>
								<div class="clear"></div>
							</div>
						</a>
					</li>
				</div>
				<script type="text/ng-template" id="assetitem-tmpl">
					<div class="csp-asset-item-wrapper">
						<div class="csp-asset-item-figure">
							<a ng-if="DisableAssetDownload == false" class="csp-go-item-download {{assetitem.launchtype}}" secured="{{assetitem.secured}}" cobrandtype="{{assetitem.cobrandType}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.reportingId}}">
								<img ng-src="{{GetAssetThumbnail(assetitem.thumbnail)}}" />
							</a>
							<span ng-if="DisableAssetDownload == true">
								<img ng-src="{{GetAssetThumbnail(assetitem.thumbnail)}}" />
							</span>
							<a ng-if="DisableAssetDownload == false" class="csp-asset-item-download {{assetitem.launchtype}}" secured="{{assetitem.secured}}" cobrandtype="{{assetitem.cobrandType}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.reportingId}}"></a>
						</div>
						<div class="csp-asset-item-title">
							<p>
								{{assetitem.title}}
							</p>
							<p class="learn-more" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{assetitem.reportingId}}">
								<a class="csp-asset-item-link" href="javascript: void(0)">{{label.LearnMore}}</a>
							</p>
						</div>
						<div class="clear"></div>
						<div class="csp-asset-item-desc hide">
							<h3>{{assetitem.title}}</h3>
							<div class="csp-asset-item-desc-wrapper" ng-bind-html-unsafe="assetitem.descriptionlong">
							
							</div>
							<div style="text-align: center; padding-bottom: 20px;">
								<div><img ng-src="{{GetAssetThumbnail(assetitem.thumbnail)}}" class="img-responsive csp-asset-item-desc-img"/></div>
								<div style="padding-top: 10px;">
									<a ng-if="DisableAssetDownload == false" class="csp-asset-item-download-btn {{assetitem.launchtype}}" secured="{{assetitem.secured}}" cobrandtype="{{assetitem.cobrandType}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.reportingId}}">
										{{assetitem.downloadtitle}}																						
									</a>
									<a ng-if="DisableAssetDownload == true && assetitem.launchtype == 'noembedded'" class="csp-asset-item-download-btn {{assetitem.launchtype}}" secured="{{assetitem.secured}}" cobrandtype="{{assetitem.cobrandType}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.reportingId}}">
										{{assetitem.downloadtitle}}																						
									</a>
									<a ng-if="EnableAssetSyndication == true && ValidAssetKeys(assetitem) == true" class="csp-asset-item-download-btn csp-embed-lightbox" cspuniquekey="{{assetitem.cspuniquekey}}">
										{{GlobalLabel.EmbedThisAsset}}
									</a>
									<p class="default-thumbnail-holder" style="display: none">{{GetAssetThumbnail(assetitem.thumbnail)}}</p>
									<p class="thumbnail-holder" style="display: none">{{GetAssetEmbededThumbnails(assetitem)}}</p>
								</div>
							</div>
						</div>
					</div>
				</script>
				
				<script type="text/ng-template" id="assetrow-tmpl">
					<div class="item-row" ng-show="(crrAssetList  | filterByCategory:categoryblock.value.categoryId).length > 0">
						<div class="item-row-inner">
							<div class="item-row-title"><a class="item-title-link" href="javascript: void(0)"><h3 ng-bind-html-unsafe="GetDecodedHTML(categoryblock.value.title)"></h3></a></div>
							<div class="item-row-desc" ng-bind-html-unsafe="GetDecodedHTML(categoryblock.value.description)"></div>
							<div class="csp-item-asset jcarousel">
								<ul>
									<li ng-repeat="assetitem in crrAssetList | orderBy:'sortorder' | filter:customFilter(categoryblock.value.categoryId)" ng-include="'assetitem-tmpl'">
										
									</li>
									<li class="fake-asset-item" ng-show="SetFakeItemStatus(categoryblock.value.categoryId, 0)">
										<a class="csp-asset-item-link" href="javascript: void(0)">
											<div class="csp-asset-item-wrapper">
												<div class="csp-asset-item-figure">
													<img src="" />
												</div>
												<div class="csp-asset-item-title">
													<p>&nbsp;</p>
												</div>
												<div class="clear"></div>
											</div>
										</a>
									</li>
								</ul>
								<p class="jcarousel-pagination"></p>
							</div>
						</div>
					</div>
					<div ng-repeat="categoryblock in categoryblock.children | orderBy:'displayorder' | filter:byPartnerType" ng-include="'assetrow-tmpl'">
					
					</div>
				</script>
				<script type="text/javascript">
				function resizeAssetBlocks(blockWrapper) {
					var maxHeight = 0;
					blockWrapper.find('li').each(function() {
						if (jQuery(this).outerHeight() > maxHeight)
							maxHeight = jQuery(this).outerHeight();
					});
					blockWrapper.find('li').each(function() {
						jQuery(this).outerHeight(maxHeight);
					});
				}
				
				jQuery("body").undelegate("#csp-left-section-inner a", "click").delegate("#csp-left-section-inner a", "click", function(event) {
					var temp = jQuery(this);
					if (temp.hasClass('selected-item')) return;
					jQuery('.ajax-loading').show();
				});
				
				jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
					var temp = jQuery(this);
					if (temp == undefined) return;

					if (temp.hasClass('csp-lightbox')) return;					
					try {
						if (temp.attr('href')!=undefined && temp.attr('href').indexOf('javascript') >= 0) {
							return;
						}
						addTick(jQuery(this));
					} catch(e) {
						//debugger;
					}
				});
				
				jQuery("body").undelegate("a.item-title-link", "click").delegate("a.item-title-link", "click", function(event) {
					var wrapperNode = jQuery(this).parents('div.item-row-inner');
					
					if (wrapperNode.find('div.csp-item-asset').hasClass('hide')) {
						wrapperNode.find('div.csp-item-asset').removeClass('hide');
						wrapperNode.find('div.csp-item-asset').show();
					}
					else
						wrapperNode.find('div.csp-item-asset').toggle();
						
					if (!jQuery(this).hasClass('active')) {
						jQuery(this).addClass('active');
						resizeAssetBlocks(wrapperNode.find('div.csp-item-asset'));
					}
					else {
						jQuery(this).removeClass('active');
					}
					
					if (jQuery('#csp-left-section-mobile-inner').height() < jQuery(document).height())
						jQuery('#csp-left-section-mobile-inner').height(jQuery(document).height());
					
					initJCarousel(jQuery(this), wrapperNode);
					event.preventDefault();
				});
				
				
				jQuery("body").undelegate(".csp-go-item-download,.csp-asset-item-download,.csp-feature-asset-item-download", "click").delegate(".csp-go-item-download,.csp-asset-item-download,.csp-feature-asset-item-download", "click", function(event) {
					event.stopPropagation();
				});
				
				
				/*
				jQuery("body").undelegate(".csp-asset-item-wrapper,.csp-feature-asset-item-wrapper", "click").delegate(".csp-asset-item-wrapper,.csp-feature-asset-item-wrapper", "click", function(event) {
					event.preventDefault();
					var item = jQuery(this);
					var itemDesc = item.find('.csp-asset-item-desc').html();
					reAdjustColorBoxSize(550);
					jQuery.colorbox({className: 'asset-desc-detail', width: wdWidth + "px", initialHeight: "200px", html: itemDesc});
				});
				*/
				
				jQuery("body").undelegate(".csp-go-item-download, .csp-asset-item-download-btn, .csp-asset-item-download", "click").delegate(".csp-go-item-download, .csp-asset-item-download-btn, .csp-asset-item-download", "click", function(event) {
					if (jQuery(event.currentTarget).attr('secured') != undefined && jQuery(event.currentTarget).attr('secured').toLowerCase() == 'yes') {
						AssetSecureCheck(jQuery(event.currentTarget).attr('cid'), jQuery(event.currentTarget).attr('cobrandtype'));
					}
					else {
						TriggerLinkByLoadType(jQuery(event.currentTarget).attr('href'), jQuery(event.currentTarget).attr('cid'));
					}
					event.preventDefault();
				});
				
				jQuery("body").undelegate(".csp-asset-item-link,.csp-feature-asset-item-link", "click").delegate(".csp-asset-item-link,.csp-feature-asset-item-link", "click", function(event) {
					event.preventDefault();
					var item = jQuery(this);
					var itemDesc = item.parents('.csp-asset-item-wrapper').find('.csp-asset-item-desc').html();
					if (jQuery(this).hasClass('csp-feature-asset-item-link'))
						itemDesc = item.parents('.csp-feature-asset-item-wrapper').find('.csp-asset-item-desc').html();
					CURRENT_DESC_DETAIL = itemDesc;
					reAdjustColorBoxSize(550);
					jQuery.colorbox({className: 'asset-desc-detail', width: wdWidth + "px", html: itemDesc});
				});
				
				jQuery("body").undelegate(".csp-embed-lightbox", "click").delegate(".csp-embed-lightbox", "click", function(event) {
					event.preventDefault();
					InitEmbededBanners(jQuery(this));
				});
				</script>