<div id="search-wrapper">
	<div id="search-key-desc">Result for: <b>{{searchKey}}</b></div>
	<div id="result-list">
		<div class="row result-item" ng-repeat="result in searchResult | filter:byPartnerType">
			<p class="item-title"><a ng-href="{{GetSearchCategoryUrl(result)}}" ng-bind-html-unsafe="result.title"></a></p>
			<p class="item-desc" ng-bind-html-unsafe="result.description"></p>
		</div>
		<div class="row">
			<div class="csp-item-asset">
				<ul>
					<li ng-repeat="assetitem in crrAssetList | orderBy:'sortorder'" ng-include="'assetitem-tmpl'">
						
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="assetitem-tmpl">
	<div class="csp-asset-item-wrapper">
		<div class="csp-asset-item-figure">
			<a ng-if="DisableAssetDownload == false" class="csp-go-item-download {{assetitem.launchtype}}" secured="{{assetitem.secured}}" cobrandtype="{{assetitem.cobrandType}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.reportingId}}">
				<img ng-src="{{GetAssetThumbnail(assetitem.thumbnail)}}" />
			</a>
			<span ng-if="DisableAssetDownload == true">
				<img ng-src="{{GetAssetThumbnail(assetitem.thumbnail)}}" />
			</span>
			<a ng-if="DisableAssetDownload == false" class="csp-asset-item-download {{assetitem.launchtype}}" secured="{{assetitem.secured}}" cobrandtype="{{assetitem.cobrandType}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.reportingId}}"></a>
		</div>
		<div class="csp-asset-item-title">
			<p>
				{{assetitem.title}}
			</p>
			<p class="learn-more" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{assetitem.reportingId}}">
				<a class="csp-asset-item-link" href="javascript: void(0)">{{label.LearnMore}}</a>
			</p>
		</div>
		<div class="clear"></div>
		<div class="csp-asset-item-desc hide">
			<h3>{{assetitem.title}}</h3>
			<div class="csp-asset-item-desc-wrapper" ng-bind-html-unsafe="assetitem.descriptionlong">
			
			</div>
			<div style="text-align: center; padding-bottom: 20px;">
				<div><img ng-src="{{GetAssetThumbnail(assetitem.thumbnail)}}" class="img-responsive csp-asset-item-desc-img"/></div>
				<div style="padding-top: 10px;">
					<a ng-if="DisableAssetDownload == false" class="csp-asset-item-download-btn {{assetitem.launchtype}}" secured="{{assetitem.secured}}" cobrandtype="{{assetitem.cobrandType}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.reportingId}}">
						{{assetitem.downloadtitle}}																						
					</a>
					<a ng-if="DisableAssetDownload == true && assetitem.launchtype == 'noembedded'" class="csp-asset-item-download-btn {{assetitem.launchtype}}" secured="{{assetitem.secured}}" cobrandtype="{{assetitem.cobrandType}}" cid="{{assetitem.contentid}}" ng-href="{{GetAssetUrl(assetitem)}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{assetitem.reportingId}}">
						{{assetitem.downloadtitle}}																						
					</a>
					<a ng-if="EnableAssetSyndication == true && ValidAssetKeys(assetitem) == true" class="csp-asset-item-download-btn csp-embed-lightbox" cspuniquekey="{{assetitem.cspuniquekey}}">
						{{GlobalLabel.EmbedThisAsset}}
					</a>
					<p class="default-thumbnail-holder" style="display: none">{{GetAssetThumbnail(assetitem.thumbnail)}}</p>
					<p class="thumbnail-holder" style="display: none">{{GetAssetEmbededThumbnails(assetitem)}}</p>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/javascript">
	function resizeAssetBlocks(blockWrapper) {
		var maxHeight = 0;
		blockWrapper.find('li').each(function() {
			if (jQuery(this).outerHeight() > maxHeight)
				maxHeight = jQuery(this).outerHeight();
		});
		blockWrapper.find('li').each(function() {
			jQuery(this).outerHeight(maxHeight);
		});
	}

	jQuery("body").undelegate(".csp-asset-item-link,.csp-feature-asset-item-link", "click").delegate(".csp-asset-item-link,.csp-feature-asset-item-link", "click", function(event) {
		event.preventDefault();
		var item = jQuery(this);
		var itemDesc = item.parents('.csp-asset-item-wrapper').find('.csp-asset-item-desc').html();
		if (jQuery(this).hasClass('csp-feature-asset-item-link'))
			itemDesc = item.parents('.csp-feature-asset-item-wrapper').find('.csp-asset-item-desc').html();
		CURRENT_DESC_DETAIL = itemDesc;
		reAdjustColorBoxSize(550);
		jQuery.colorbox({className: 'asset-desc-detail', width: wdWidth + "px", html: itemDesc});
	});
	
	jQuery("body").undelegate(".csp-embed-lightbox", "click").delegate(".csp-embed-lightbox", "click", function(event) {
		event.preventDefault();
		InitEmbededBanners(jQuery(this));
	});
</script>