<section #prodDetailDiv id="product_browse">
    <div class="container">
        <app-breadcrumb></app-breadcrumb>
        <div class="page-header">
            <h1 class="pull-left" csptype="TITLE" cspobj="REPORT">{{itemTitle}}</h1>
            <!-- <div class="btn-set pull-right"><a class="btn btn-link btn-xs" role="button"><i class="glyphicon glyphicon-envelope"></i> Email</a><a class="btn btn-link btn-xs" role="button"><i class="glyphicon glyphicon-print"></i> Print</a></div> -->
            <div class="clearfix"></div>
        </div>
        <div style="position: relative;">
            <spinner-component [spinnerShow]="prodLoading"></spinner-component>
            <div class="row info_section">
                <div class="col-lg-4 col-md-3 col-sm-3 col-ms-3 col-xs-12 text-center product-desc">
                    <!-- <a href="{{itemImage}}" data-lightbox="image-1" data-title="{{itemTitle}}"> -->
                        <div class='square-box' style="max-width:160px">
                            <img id="productMainImage" src="{{itemThumbnail}}">
                        </div>
                        <!-- <p><strong> {{'Click for Larger View' | translate}} </strong></p>
                    </a> -->
                    <p>{{itemDescShort}}</p>
                </div>
                
                <div class="col-lg-8 col-md-9 col-sm-9 col-ms-9 col-xs-12 product-attr">
                    <!-- prodId != undefined -->
                    <div *ngIf="(prodId != undefined || isOnlyProduct) && catProperties == ''">
                        <div class="form-container">
                            <spinner-component [spinnerShow]="attrLoading"></spinner-component>
                            <form>
                                <div class="form-group row" *ngIf="productPartNo != ''">
                                    <label class="control-label col-sm-5 col-lg-6">
                                        <strong>{{'PART NUMBER' | translate}}:</strong>
                                    </label>
                                    <label class="control-label col-sm-5 col-lg-6" style="text-align: left">
                                        <strong>{{productPartNo}} </strong>
                                    </label>
                                </div>
                                <div class="form-group row" *ngFor="let facet of currentFacets | groupfacet:'facetName'">
                                    <label class="control-label col-sm-5 col-lg-6">
                                        <strong>{{ facet.key }}:</strong>
                                    </label>
                                    <label class="control-label col-sm-5 col-lg-6" style="text-align: left">
                                        <strong>{{getConfiguredFacetValue(facet)}} </strong>
                                    </label>
                                </div>
                    
                                <div class="row text-center" *ngIf="!isOnlyProduct">
                                    <div class="col-md-12">
                                        <a class="btn btn-link" role="button" (click)="resetConfiguration()">{{'Reset Attributes' | translate }}</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="black-bg black-bg-bottom">
                            <p>&nbsp;</p>
                            <div>
                                <ul class="list-group">
                                    <!-- <li class="list-group-item"><a class="btn btn-info" role="button" href="#"><i class="glyphicon glyphicon-map-marker"></i>Where To Buy</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- prodId == undefined -->
                    <div *ngIf="prodId == undefined">
                        <!-- <div *ngIf="catProperties == '' && !isOnlyProduct && !facetEmpty"> -->
                        <div *ngIf="catProperties == '' && !isOnlyProduct">
                            <div *ngIf="noPartConfigurator == false">
                                <div class="black-bg black-bg-top">
                                    <div>
                                        <i class="glyphicon glyphicon-ok-sign"></i>
                                    </div>
                                    <p>{{'Select atributes' | translate }} </p>
                                </div>
                                <div class="form-container">
                                    <spinner-component [spinnerShow]="attrLoading"></spinner-component>
                                    <form>
                                        <div class="form-group row" *ngFor="let facet of currentFacets | groupfacet:'facetName'">
                                            <label class="col-lg-6 col-sm-6 col-ms-6 col-xs-12  control-label">
                                                <strong>{{ facet.key }}:</strong>
                                            </label>
                                            <div class="col-lg-6 col-sm-6 col-ms-6 col-xs-12">
                                                <select class="form-control" [id]="facet.key" [disabled]="hasValue(facet.key)" (change)="updateConfiguration($event, facet)">
                                                    <option value="" disabled selected hidden>{{'Select...' | translate}}</option>
                                                    <option *ngFor="let facetValue of facet.value" value="{{facetValue.facetValue}}" [selected]="isConfigured(facet.key, facetValue.facetValue)">{{facetValue.facetValue}}</option>
                                                </select>
                                            </div>
                                        </div>
                    
                                        <div class="row text-center">
                                            <div class="col-md-12">
                                                <a class="btn btn-link" role="button" (click)="resetConfiguration()">{{'Reset Attributes' | translate }} </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="black-bg black-bg-bottom">
                                    <p>{{"Please choose" | translate }}</p>
                                    <div>
                                        <ul class="list-group">
                                            <!-- <li class="list-group-item"><a class="btn btn-info" role="button" href="#"><i class="glyphicon glyphicon-map-marker"></i>Where To Buy</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="noPartConfigurator == true"  class="divContactUs">
                                <a class="btn btn-primary btnContactUs" role="button" [routerLink]="['/contactus']">
                                    <i class="fa fa-phone"></i>{{'Contact Us' | translate}}
                                </a>
                            </div>
                        </div>
                
                        <div *ngIf="catProperties != ''">
                            <div class="black-bg black-bg-bottom" *ngIf="catProperties.toLowerCase().indexOf('ecomm') != -1 && !checkContactUrl(catProperties)">
                                <p>{{"Use our configuration" | translate}}</p>
                                <div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <a class="btn btn-info" role="button" href="http://corpapps.parker.com/eCommerce/config/econfig.aspx?lang={{getLangCode()}}&mod={{getModeParam(catProperties)}}&divid={{getDividParam(catProperties)}}&parentCatId={{cspUniqueKey.split('-')[cspUniqueKey.split('-').length -2]}}&ConfiguratorType=tiekinetix&ProductURL={{renderConfigUrl()}}%2Fproduct%2F{productId}&productID={{cspUniqueKey.split('-')[cspUniqueKey.split('-').length -1]}}">
                                                <i class="fa fa-gear"></i>{{"Custom Configurator" | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div *ngIf="checkContactUrl(catProperties)" class="divContactUs">
                                <a class="btn btn-primary btnContactUs" role="button" [routerLink]="['/contactus']">
                                    <i class="fa fa-phone"></i>{{'Contact Us' | translate}}</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs product-tab">
                    <li class="active"><a href="#tab-1" role="tab" data-toggle="tab"><strong>{{'PRODUCT OVERVIEW' | translate }}</strong> <i class="glyphicon glyphicon-minus"></i><i class="glyphicon glyphicon-plus"></i></a></li>
                    <li *ngIf ="productSeriesTechSpec!= undefined && productSeriesTechSpec.length > 0"><a href="#tab-2" role="tab" data-toggle="tab">{{'TECH SPECIFICATIONS'| translate}} <i class="glyphicon glyphicon-minus"></i><i class="glyphicon glyphicon-plus"></i></a></li>
                    <li *ngIf ="assetList!= null && assetList.length > 0"><a href="#tab-3" role="tab" data-toggle="tab">{{'PRODUCT SUPPORT' | translate }} <i class="glyphicon glyphicon-minus"></i><i class="glyphicon glyphicon-plus"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        
                        <!-- <p><a href="#">Print Product Overview </a></p> -->
                        <div [innerHTML]="productOverViewHtml"></div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div *ngIf="prodId == undefined && isOnlyProduct == true && (productSeriesTechSpec == undefined || productSeriesTechSpec.length == 0)">
                            <div class="spec-tect-prod" *ngFor="let facet of currentFacets | groupfacet:'facetName'">
                                <h3 class="descAttributeName">{{ facet.key }} </h3>
                                <p class="descAttributeValue">{{getConfiguredFacetValue(facet)}} </p>
                            </div>
                        </div>

                        <div *ngIf="productSeriesTechSpec != undefined && productSeriesTechSpec.length > 0">
                            <div class="spec-tect-prod" *ngFor="let facet of productSeriesTechSpec | groupfacet:'facetName'">
                                <h3 class="descAttributeName">{{ facet.key }} </h3>
                                <p class="descAttributeValue">{{ facet.value[0].facetValue }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <ul id="product-asset-list">
                            <li hidden><h3>Communities, Blogs, and Industry Links</h3></li>
                            <li *ngFor="let assetItem of assetList">
                                <span class="pdp-li-link {{getExtensionAsset(assetItem)}}"></span>
                                <a [attr.cspobj]="'REPORT'" [attr.csptype]="'DOWNLOADS'" [attr.cspenglishvalue]="getAssetDownloadTitle(assetItem)" [attr.href]="getAssetUrl(assetItem)" [attr.target]="'_blank'">
                                    {{getAssetDownloadTitle(assetItem)}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a #assetLightbox style="visibility: hidden" href="{{activeAssetUrl}}" data-lightbox="asset-lightbox" data-title="test"></a>
</section>