<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Partner Locator</title>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex,nofollow" />

	<META NAME="WT.si_n" CONTENT="plsa" />
	<META NAME="WT.si_p" CONTENT="fpl" />
	<META NAME="WT.si_cs" CONTENT="1" />
	<META NAME="WT.si_x" CONTENT="1" />
	
	<script charset="UTF-8" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script charset="UTF-8" type="text/javascript" src="js/jquery.js"></script>
	<script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
	<script charset="UTF-8" type="text/javascript" src="js/hpmapapp.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<!--[if lte IE 8]>
	<script src="js/json2.js"></script>
	<script>
	document.createElement('ng-include');
	document.createElement('ng-pluralize');
	document.createElement('ng-view');
	 
	// Optionally these for CSS
	document.createElement('ng:include');
	document.createElement('ng:pluralize');
	document.createElement('ng:view');
	
	if (!Array.prototype.indexOf)
	{
	  Array.prototype.indexOf = function(elt /*, from*/)
	  {
		var len = this.length >>> 0;

		var from = Number(arguments[1]) || 0;
		from = (from < 0)
			 ? Math.ceil(from)
			 : Math.floor(from);
		if (from < 0)
		  from += len;

		for (; from < len; from++)
		{
		  if (from in this &&
			  this[from] === elt)
			return from;
		}
		return -1;
	  };
	}
	</script>
	<![endif]-->
	<!--[if lte IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body onload="GetMap();" ng-app="ngHPDemo">
	<div id="content" ng-controller="MainCtrl as mainc">
		<div id="header" class="header">
			<div class="header-container">
				<img src="images/hp-logo.gif" width="50" alt="logo" />
			</div>
		</div>
		
		<div id="body" class="body">
			<h1 class="gplSearch">Find a local store</h1>
			<div class="nav">
				<div class="section">
					<!-- <h3>Your location</h3>
					<p class="l">Your current country: <span id="crr-country"></span></p>
					<hr class="hr"/> -->
					
					<div id="searchByContainer">
						<h3>Search by</h3>
						<div id="city-store-controls">
							<span class="radio" ng-class="{'checked':mainc.searchType === 1}" rel="city" ng-click="mainc.setSearchType(1)"></span>
							<label class="m" rel="city" ng-click="mainc.setSearchType(1)">Store address</label>
							<span class="radio" ng-class="{'checked':mainc.searchType === 2}" rel="store-name" ng-click="mainc.setSearchType(2)"></span>
							<label class="m" rel="store-name" ng-click="mainc.setSearchType(2)">Store name</label>
							<br/>
							<input type="text" id="txtSearch" ng-model="mainc.searchKey" ng-keyup="mainc.doSearchKeyUp($event)"/>
							<div id="suggest-result-wrapper" ng-show="mainc.currentStore.length == 0 && mainc.searchKey.length > 1">
								<ul>
									<li ng-repeat="store in mainc.storeData | HPMapFilter:mainc.searchKey:mainc.searchType" ng-click="mainc.getMapLocation(store)">{{mainc.GetResultText(store)}}</li>
								</ul>
							</div>
							<br/>
						</div>
						<input type="button" id="btnSearch" value="Find" ng-click="mainc.goSearch()"/>
					</div>
				</div>
			</div>
			<div class="map">
				<div id="mapDiv"></div>
			</div>
			<div id="list" ng-show="mainc.nearbyStores.length !== 0">
				<table>
					<thead>
						<tr>
							<th><p>Store</p></th>
							<th><p>Contact</p></th>
							<th><p>Email</p></th>
						</tr>
					</thead>
					<tbody id="partnersList">
						<tr ng-repeat="listItem in mainc.nearbyStores">
							<td class="store-desc-col">
								<h3 itemprop="name">{{listItem.Name}}</h3>
								<p itemprop="streetAddress">
								{{listItem.Address1}} <br/>
								{{listItem.PhoneNumber}}
								</p>
							</td>
							<td class="store-website-col">
								<span itemprop="telephone"></span>
								<p><a itemprop="url" ng-href="{{mainc.getStoreUrl(listItem)}}" target="_blank">{{mainc.getBaseDomain(listItem)}}</a></p>
							</td>
							<td class="store-email-col">
								{{listItem.Email}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="display: none" id="section-template">
			<div id="pininfobox-tmp">
				<p class="pin-address">
					[address]<br>
					[city]<br>
					[state]<br>
					[country]<br>
					[zipcode]<br>
				</p>
				<p class="pin-tel">
				[phonenumber]
				</p>
				<p class="pin-email">
					<a href="mailto:[email]">[email]</a>
				</p>
				<p class="pin-website">
					<a target="_blank" href="[website]">[website_text]</a>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
	</script>
<!-- START OF SmartSource Data Collector TAG v10.4.1 -->
<!-- Copyright (c) 2014 Webtrends Inc.  All rights reserved. -->
<script>
window.webtrendsAsyncInit=function(){
    var dcs=new Webtrends.dcs().init({
        dcsid:"dcsd4r6md10000wg2al0mh9ml_6d1e",
        domain:"statse.webtrendslive.com",
        timezone:-5,
        i18n:true,
        anchor:true,
        fpcdom:".global.syndication.tiekinetix.net",
        plugins:{
            //hm:{src:"//s.webtrends.com/js/webtrends.hm.js"}
        }
        }).track();
};
(function(){
    var s=document.createElement("script"); s.async=true; s.src="js/webtrends.min.js";    
    var s2=document.getElementsByTagName("script")[0]; s2.parentNode.insertBefore(s,s2);
}());
</script>
<noscript><img alt="dcsimg" id="dcsimg" width="1" height="1" src="//statse.webtrendslive.com/dcsd4r6md10000wg2al0mh9ml_6d1e/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.4.1&amp;dcssip=global.syndication.tiekinetix.net"/></noscript>
<!-- END OF SmartSource Data Collector TAG v10.4.1 -->
	
</body>
</html>