﻿/*General*/
body, h1, h2, h3, ul {
    margin: 0;
    padding: 0
}
/*body{font-family:georgia, serif;font-size:.75em}*/

body {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: .75em
    background-color:#000;
}

html {
    font-size: 100%;
    overflow-y: scroll
}
h1 {
    font-size: 1.3em
}
h2 {
    font-size: 1.2em
}
h3 {
    font-size: 1em
}

#csp_prod_desc_image {
    float: right;
    margin: 0 0 5px 5px;
    width: 50%;
    max-width: 250px;
}
/*Container*/
.ui-page, .ui-header-fixed, .ui-body-c, .ui-page-active, .ui-page .ui-body-c .ui-page-header-fixed .ui-page-active {
    max-width: 710px;
    margin-left:auto !important;
    margin-right:auto !important;
}
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
    position: inherit !important;
}
.ui-header .ui-navbar .ui-grid-b li.ui-block-c .ui-btn {
    margin-right: -1px !important;
}
body.ui-mobile-viewport, div.ui-mobile-viewport, .ui-content {
    overflow-x: visible !important;
}
.csp-clear, .cspclear {
    clear: both;
    float: none
}
/*Overview*/
#productShot {
    width: 200px;
    float: right;
    border: 1px solid #D6D6D6;
    padding: 10px;
    margin: 0 5px 15px 15px;
}
#Overview .csp-prod-overview {
    padding: 0 0px 0 10px;
}
#Overview .csp-prod-overview ul {
   padding: 0 20px 20px 20px;
}
#Overview .csp-prod-desc {
    padding: 10px 0;
}
#Overview .csp-prod-desc ul {
    padding: 0 25px 0;
}

/*PDF*/
#PDF .csp_pdf_container {
    width: 200px;
    min-height: 250px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    margin-right: 20px;
}
#PDF .csp_pdf_title {
    display: block;
    text-decoration: none; 
    width: 110px;
}

/*Video*/
#Video a img {
    width: 100px;
    padding: 5px 5px 0 0;
    display: none;
}
#cspVideoBlock {
    background: none;
}
/*Menu*/
#csp-menu {
    height: 34px;
    list-style: none none
}
#csp-menu li.csp-tab-selected a, #csp-menu li a {
    float: left;
    line-height: 24px;
    padding: 12px 12px 0;
    text-decoration: none;
    white-space: nowrap
}
#csp-menu li.csp-tab-selected a {
    background: url(../img/tabBckgrnd_left.gif) no-repeat scroll left 0 transparent;
    color: #999;
    cursor: text
}
#csp-menu li a {
    background: url(../img/tabBckgrnd_left.gif) no-repeat scroll left -35px transparent;
    color: #069;
    cursor: pointer
}
#csp-menu li.csp-tab-selected {
    background: url(../img/tabBckgrnd_right.gif) no-repeat scroll right 0 transparent;
    float: left;
    margin-top: 1px
}
#csp-menu li {
    background: url(../img/tabBckgrnd_right.gif) no-repeat scroll right -35px transparent;
    float: left
}
div.cspisicontainer h1, div.cspisicontainer h2 {
    margin-bottom: 5px
}
div.cspisicontainer div.cspisiseperator {
    border-top: 1px solid #EEE;
    margin: 15px 0
}
div.cspisicontainer .csp-col1 {
    float: left
}
.first-child {
    float: left;
    margin-right: 10px
}
.second-child {
    float: left;
    width: 300px
}
div.cspisicontainer div.cspisifeatures div {
    padding-bottom: 10px
}
div.cspisicontainer ul, div.cspisifeatures ul {
    padding: 10px 0 0 20px
}

/*Feature*/
.cspisifeatures {
    padding: 10px 0px 10px 0px;
}
.cspisifeatures .cspisifeaturesMedia {
    display: inline-block;
    float: left;
    padding: 5px 0px 0px 0px !important;
}
.cspisifeaturesMedia.right {
    padding: 5px 0px 0px 15px !important;
    float: right;
}
.cspisifeaturesMedia .csp_Feature_Text_Thumbnail {
    margin-right: 5px;
}
.cspisifeaturesMedia.right .csp_Feature_Text_Thumbnail {
    margin-left: 5px;
}
.cspisifeatures .cspisifeaturesText {
    display: block;
    padding-right: 10px;
    clear: right;
    margin-bottom: 12px;
}
#csp_prod_desc_image {
    float: right;
    margin-bottom: 5px;
    margin-left: 15px;
}
div.cspisicontainer .cspclear {
    padding: 0 0 5px !important;
}

/*Float Menu*/
#floatMenu {
    left: 0;
    position: fixed;
    top: 50%;
    width: 250px
}
#floatMenu form {
    margin: 10px
}
#floatMenu form ul {
    list-style: none none
}
#test {
    height: 600px
}
.cspisiFlashShowcase embed {
    width: 580px;
}
.csp_pdf_box {
    text-decoration: none;    
}
.cspisifeaturesTitleTextExpanded {
    width: 100% !important;
}
.csp-footer {
    margin-top: 5px;
}
.tkFooterLogo {
    text-align:right;
}
