﻿/*General*/
body, h1, h2, h3, ul {
    margin: 0;
    padding: 0
}
/*body{font-family:georgia, serif;font-size:.75em}*/

body {
    font-family: Arial, Helvetica, Sans-serif;
    font-size: .75em
}

html {
    font-size: 100%;
    overflow-y: scroll
}
h1 {
    font-size: 1.3em
}
h2 {
    font-size: 1.2em
}
h3 {
    font-size: 1em
}
.csp-header div.csp-logo, .csp-footer img, div.cspisicontainer .csp-col2 {
    float: right
}
.csp-p10 {
    padding: 10px 0
}
.csp-p5 {
    padding: 5px 0
}
.csp-tabs {
    background: none repeat scroll 0 0 #FFF;
    border: solid 1px #C5CFD9;
    padding: 10px 5px
}
/*
.csp-w200, .first-child img {
    width: 200px
}
*/
.csp-w250 {
    width: 250px
}
.csp-w300 {
    width: 300px
}
.csp-w350 {
    width: 350px
}
.cspForceWidth {
    width: 200px;
    display: block;
}

/*Container*/
#csp-container {
    margin: 10px auto;
    width: 711px; /*590px*/
}
.csp-container {
    display: block
}
div.csp-header {
}
.csp-header h1 {
    float: left;
    position: relative;
    top: 5px;
    width: 500px;
    margin-bottom: 10px;
}
.csp-header div.csp-logo span {
    position: relative;
    top: -13px
}
.csp-clear, .cspclear {
    clear: both;
    float: none
}
.csp-hide {
    display: none
}

/*Overview*/
#Overview {
}

/*#Overview img {*/
#productShot {
    width: 200px;
    float: right;
    border: 1px solid #D6D6D6;
    padding: 10px;
    margin: 0 5px 15px 15px;
}

#Overview h2 {
    padding: 0 0 15px;
}
#Overview table {
    margin: 0 0 10px 10px;
/*    width: 340px;*/
}
#Overview table td {
/*    border-bottom: solid 1px #ccc;*/
    padding: 10px 0 5px 0px;
}
/*
#Overview table td.csp-label {
    width: 150px;
    font-weight: bold;
}
*/
#Overview div {
}
#Overview .csp-prod-overview {
    /*float: left;
    width: 340px;
    */
    padding: 0 0px 0 10px;
}
#Overview .csp-prod-overview ul {
    /*padding-left: 20px;*/
   padding: 0 20px 20px 20px;
}
#Overview .csp-prod-desc {
    padding: 10px 0;
}
#Overview .csp-prod-desc ul {
    padding: 0 25px 0;
}

/*Gallery*/
#Gallery {
    height: 550px;
}

/*PDF*/
#PDF .csp_pdf_container {
    width: 200px;
    min-height: 250px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    margin-right: 20px;
}
#PDF .csp_pdf_title {
    display: block;
    text-decoration: none; 
    width: 110px;
}

/*Video*/
#Video a img {
    width: 100px;
    padding: 0 5px 0 0;
}
#cspVideoBlock_wrapper {
    margin-bottom: 10px;
}

/*Menu*/
#csp-menu {
    height: 34px;
    list-style: none none
}
#csp-menu li.csp-tab-selected a, #csp-menu li a {
    float: left;
    line-height: 24px;
    padding: 12px 12px 0;
    text-decoration: none;
    white-space: nowrap
}
#csp-menu li.csp-tab-selected a {
    background: url(../img/tabBckgrnd_left.gif) no-repeat scroll left 0 transparent;
    color: #999;
    cursor: text
}
#csp-menu li a {
    background: url(../img/tabBckgrnd_left.gif) no-repeat scroll left -35px transparent;
    color: #069;
    cursor: pointer
}
#csp-menu li.csp-tab-selected {
    background: url(../img/tabBckgrnd_right.gif) no-repeat scroll right 0 transparent;
    float: left;
    margin-top: 1px
}
#csp-menu li {
    background: url(../img/tabBckgrnd_right.gif) no-repeat scroll right -35px transparent;
    float: left
}
div.cspisicontainer h1, div.cspisicontainer h2 {
    margin-bottom: 5px
}
div.cspisicontainer div.cspisiseperator {
    border-top: 1px solid #EEE;
    margin: 15px 0
}
div.cspisicontainer .csp-col1 {
    float: left
}
.first-child {
    float: left;
    margin-right: 10px
}
.second-child {
    float: left;
    width: 300px
}
div.cspisicontainer div.cspisifeatures div {
    padding-bottom: 10px
}
div.cspisicontainer ul, div.cspisifeatures ul {
    padding: 10px 0 0 20px
}

/*Feature*/
#Feature img {
    border: 0;
}
#Feature table {
    width: auto;
}
#Feature table td {
    border: none;
}
.cspisifeatures {
    /*border-top: 1px solid #D6D6D6;*/
    padding-top: 15px;
}

div.cspisifeatures > div {
    padding: 5px 0;
}

/*Float Menu*/
#floatMenu {
    left: 0;
    position: fixed;
    top: 50%;
    width: 250px
}
#floatMenu form {
    margin: 10px
}
#floatMenu form ul {
    list-style: none none
}
#test {
    height: 600px
}
.cspisiFlashShowcase embed {
    width: 580px;
}
.csp_pdf_box {
    text-decoration: none;    
}
.cspisifeatures .cspisifeaturesText {
    display: table;
}
.cspisifeaturesTitleTextExpanded {
    width: 100% !important;
}
.csp-footer {
    margin-top: 5px;
}
