		<div id="asset-page">
			<div class="ajax-loading" ng-show="ajaxLoading">
				<div class="loading-image"></div>
			</div>
			<script type="text/ng-template" id="breadcrumb-tmpl">
				<a rel="nofollow" ng-if="breadcrumb.link != ''" ng-href="{{breadcrumb.link}}">{{breadcrumb.title}}</a>
				<a rel="nofollow" ng-if="breadcrumb.link == ''" ng-href="{{breadcrumb.link}}" eat-click>{{breadcrumb.title}}</a>
				<span ng-if="!$last">&raquo;</span>
			</script>
			<div id="breadcrumb">
				<span ng-repeat="breadcrumb in breadcrumbs" ng-include="'breadcrumb-tmpl'">
				</span>
				<!-- <a rel="nofollow" class="current" href="javascript: void(0)">{{assetTitle}}</a> -->
			</div>
			<div id="page-title">
				<h1>{{assetTitle}}</h1>
			</div>
			<!-- Featured block -->
			<script type="text/ng-template" id="fassetblock-tmpl">
				<a rel="nofollow" href="{{featuredAsset.linkurl}}" rel="{{featuredAsset.filetype}}" target="{{featuredAsset.target}}" class="{{featuredAsset.launchtype}} {{featuredAsset.leadgen}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{featuredAsset.reportingId}}">
					<div class="asset-img"><img class="img-responsive" ng-src="{{featuredAsset.imgurl}}" /></div>
					<div class="asset-text" ng-bind-html-unsafe="featuredAsset.description" ng-show="featuredAsset.description != ''"></div>
				</a>
			</script>
			<div class="row whole-row">
				<div class="col-md-12">
					<div class="asset-block" ng-repeat="featuredAsset in featuredAssets" ng-include="'fassetblock-tmpl'">
						
					</div>
				</div>
			</div>
			
			<script type="text/ng-template" id="assetblock-tmpl">
				<div class="block-wrapper">
					<a rel="nofollow" href="{{asset.linkurl}}" rel="{{asset.filetype}}" target="{{asset.target}}" class="{{asset.launchtype}} {{asset.leadgen}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{asset.reportingId}}">
						<div class="asset-img"><img class="img-responsive" ng-src="{{asset.imgurl}}" /></div>
						<div class="asset-text" ng-bind-html-unsafe="asset.description" ng-show="asset.description != ''"></div>
					</a>
				</div>
			</script>
			
			<!-- Columns are always 50% wide, on mobile and desktop -->
			<div class="row" ng-repeat="assetRow in featuredRows | orderBy:'displayorder'">
				<div class="col-md-6 asset-block col-{{$index}}" ng-repeat="asset in assetRow" ng-include="'assetblock-tmpl'"></div>
			</div>
			
			<div id="asset-long-description" ng-bind-html-unsafe="assetLongDescription"></div>
			
			<script type="text/ng-template" id="assetgroupblock-tmpl">
				<div class="block-wrapper">
					<h3>{{assetGroup.typename}}</h3>
					<ul>
						<li ng-repeat="asset in assetGroup.assets">
							<a rel="nofollow" ng-href="{{asset.linkurl}}" rel="{{asset.filetype}}" target="{{asset.target}}" class="{{asset.launchtype}} {{asset.leadgen}}" cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{asset.reportingId}}">{{asset.title}}</a>
						</li>
					</ul>
				</div>
			</script>
			<div id="other-assets">
				<div class="row" ng-repeat="groupRow in groupRows" >
					<div class="col-md-6 asset-block col-{{$index}}" ng-repeat="assetGroup in groupRow" ng-include="'assetgroupblock-tmpl'"></div>
				</div>
			</div>
			<div id="leadgen-form-holder" class="hide">
				<form id="frmleadgen" name="frmleadgen" ng-submit="submit()">
					<div id="field-list" ng-bind-html-unsafe="fieldList">
						
					</div>
				</form>
			</div>
			
		</div>
		<script type="text/javascript">
			jQuery("body").undelegate(".csp-lightbox", "click").delegate(".csp-lightbox", "click", function(event) {
				var isDesktop = reAdjustColorBoxSize(350);
				if (isDesktop) {
					if (jQuery(this).attr('rel').toLowerCase() == 'pdf')
						wdHeight = jQuery(window).height() - 90;
					jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href')});
					event.preventDefault();
				}
			});
			
			jQuery(function() {
				jQuery('.call-leadgen').colorbox({inline:true, href:"#frmleadgen"});//, onOpen: function() { jQuery('#frmleadgen').show(); }, onClosed: function() { jQuery('#frmleadgen').hide(); }});
			});
			
			jQuery("body").undelegate(".call-leadgen", "click").delegate(".call-leadgen", "click", function(event) {
				try {
					reAdjustColorBoxSize(350);
					var fileUrl = jQuery(this).attr('href');
					var assetTitle = jQuery(this).text();
					jQuery('#redirect').val(fileUrl);
					jQuery('#requestedAsset').val(assetTitle);
					jQuery.colorbox({inline:true, href:"#frmleadgen", width: wdWidth + "px", height: wdHeight + "px"});//, onOpen: function() { jQuery('#frmleadgen').show(); }, onClosed: function() { jQuery('#frmleadgen').hide(); }});//.colorbox({html: '<form name="form1">' + fieldsList + '</form>', width: wdWidth + "px", height: wdHeight + "px"});
					AutoPopulateUserInfo();
					event.preventDefault();
				} catch (Err) {
				
				}
			});
			
			jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
				addTick(jQuery(this));
			});
		</script>