<div #contactusDiv id="contactus-page">
  <span style="display:none" csptype="TITLE" cspobj="REPORT">Contact Us</span>
  <section id="contactus">
      <div class="container">
          <ol class="breadcrumb">
            <li><a [routerLink]="['/']"><span>{{'Product'|translate}}</span></a></li>
            <li><a><span>{{'Contact' | translate }}</span></a></li>
          </ol>

          <div id="contact-us-form-wrapper">
            <div id="thankyou-wrapper" *ngIf="isSubmitted">
              <h3>{{msgThankYou.contenttitle}}</h3>
              <i>{{msgThankYou.description}}</i>
              <div style="text-align: right; padding-top: 200px;"><input type="button" class="btn btn-success" value="{{'Back' | translate}}" (click)="backToLastPage()"/></div>
            </div>
            <div id="contact-us-form-content" *ngIf="!isSubmitted">
              <div id="form-header" *ngIf="formHeader != null && supplierInfo.length > 0">
                <h3>{{formHeader.contenttitle}} {{supplierInfo[0].companyname}}</h3>
                <div id="form-heder-desc">{{formHeader.description}}</div>
              </div>
              <form (ngSubmit)="onSubmit(contactusForm)" #contactusForm="ngForm" name="fr-contactus" id="fr-contactus">
                  <div style="display: none;" *ngIf="supplierInfo.length > 0">
                    <input type="hidden" name="csphidden_sId" id="sId" value="{{supplierInfo[0].consumerid}}" [ngModel]=supplierInfo[0].consumerid />
                    <input type="hidden" name="csphidden_sName" id="sName" value="{{supplierInfo[0].companyname}}" [ngModel]=supplierInfo[0].companyname/>
                    <input value="CSP" type="hidden" name="csphidden_from_name" [ngModel]="'CSP'"/>
                    <input value="Contact Us from Showcase" type="hidden" name="subject" [ngModel]="'Contact Us from Showcase'"/>
                    <input value="noreply@tiekinetix.com" type="hidden" name="csphidden_from_email" [ngModel]="'noreply@tiekinetix.com'"/>
                    <input value="{{supplierInfo[0].emailaddress}}" type="hidden" name="csphidden_to_email" [ngModel]=supplierInfo[0].emailaddress/>
                    <input value="noreply@tiekinetix.com" type="hidden" name="from" id="from" [ngModel]="'noreply@tiekinetix.com'"/>
                    <input value="{{supplierInfo[0].emailaddress}}" type="hidden" name="to" id="to" [ngModel]=supplierInfo[0].emailaddress/>
                    <input value="Parker Hannifin" type="hidden" name="_nosaveprojectname" [ngModel]="'Parker Hannifin'"/>
                  </div>
                  <div class="form-group" *ngFor="let fContactUs of fieldsContactUs">
                    <div *ngIf="fContactUs.fieldid != undefined && fContactUs.fieldid != 'addtomailing'">
                      <label for="{{fContactUs.fieldid}}">{{fContactUs.fieldlabel}} </label>
                      <div *ngIf="fContactUs.type == 'field'">
                      <input type="{{fContactUs.fieldid.indexOf('email') != -1 ? 'email' : 'text'}}" class="form-control" 
                        id="{{fContactUs.fieldid}}" name="{{fContactUs.fieldlabel.replace('*', '')}}"  
                        ngModel required #cfield="ngModel"
                        pattern="{{fContactUs.fieldid.indexOf('email') != -1 ? '^([a-zA-Z0-9_.+-])+\@([a-zA-Z0-9-])+\\.([a-zA-Z0-9])+$' : ''}}"
                        />
                      </div>
                      <div *ngIf="fContactUs.type == 'textarea'">
                        <textarea ngModel required #cfield="ngModel" class="form-control" id="{{fContactUs.fieldid}}" name="{{fContactUs.fieldlabel.replace('*', '')}}" style="height: 150px"></textarea>
                      </div>
                      <div *ngIf="cfield != undefined && cfield.invalid && (cfield.touched)"
                        class="alert alert-danger">
                   
                        <div *ngIf="cfield.errors.required">
                            {{fContactUs.fieldlabel.replace('*', '')}} is required.
                        </div>

                        <div *ngIf="cfield.errors.pattern">
                            Email is invalid
                        </div>
                      </div>
                    </div>
                    <div *ngIf="fContactUs.fieldid != undefined && fContactUs.fieldid == 'addtomailing'">
                      <input type="checkbox" id="{{fContactUs.fieldid}}" name="{{fContactUs.fieldid}}" />
                      <label for="{{fContactUs.fieldid}}">
                          
                        {{fContactUs.description}} </label>
                    </div>
                  </div>

                  <button *ngIf="fieldsContactUs != undefined && fieldsContactUs.length > 0" type="submit" class="btn btn-success" [disabled]="!contactusForm.valid">{{btnSubmit != null ? btnSubmit.fieldlabel : 'Submit'}}</button>
              </form>
            </div>
          </div>
      </div>
  </section>
</div>