/********************Require css -- apply to all showcase -- please use this to all template.css -- Vu Dinh *********************/
#ng-app .youtube-iframe-disable{display: none !important;}
/******************** /Require css -- apply to all showcase -- please use this to all template.css -- Vu Dinh *******************/
#sce-wrapper { max-width: 660px; margin: 0 auto; padding: 0px 0px 10px 0px; position: relative; color: #686B73; }
#sce-wrapper .clear { clear: both; }
#sce-wrapper { font-family: Arial,sans-serif; font-size: 14px; color: #4d4d4d;z-index:1000; }
#sce-wrapper h1, #sce-wrapper ul  { padding: 0px; margin: 0px }
#sce-wrapper a, #sce-wrapper a:hover { text-decoration: none; }
#sce-wrapper .ajax-loading {background: url("../images/prod-text-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important; position: absolute; z-index: 10000; top: 0px; left: 0px; width: 100%; height: 100%;}
#sce-wrapper .ajax-loading .loading-image {width: 100%; height: 100%; background: url("../images/loading_box.gif") no-repeat scroll center;}

#workspace { }

#sce-wrapper #sce-header { position: relative; z-index:1015;}
#sce-wrapper #sce-header #sce-logo { position: absolute; top: 1px; left: 2px; width: 150px; height: 85px; overflow: hidden; z-index: 100; text-align: center; }
#sce-wrapper #sce-header #sce-logo span.helper { display: inline-block; height: 99%; vertical-align: middle; }
#sce-wrapper #sce-header #sce-logo a img { vertical-align: middle; max-height: 85px; max-width: 120px; }
#sce-wrapper #sce-header #sce-mainnav { margin-bottom: 10px; }
#sce-wrapper #sce-header #sce-mainnav ul.navbar-nav { position: static; }
#sce-wrapper #sce-header #sce-mainnav ul.navbar-nav a { color: #515359; }
#sce-wrapper #sce-header #sce-mainnav ul.navbar-nav a:hover{cursor: pointer;}
#sce-wrapper #sce-header li.main-menu-item { position: static; min-width: 120px; }
#sce-wrapper #sce-header li.main-menu-item a.root-item { text-align: center; padding-bottom: 32.5px !important; padding-top: 32.5px !important; }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu { position: absolute; left: 0px; top: 85px; max-width: 660px;}
#sce-wrapper #sce-header li.main-menu-item  .sub-menu li { list-style-type: none; }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu .sub-menu-item { float: left; }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu .sub-menu-item .sub-menu-col { padding: 0px 5px; overflow: hidden; }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu-1 > li, #sce-wrapper #sce-header li.main-menu-item  .sub-menu > li { width: 100% }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu-2 > li { width: 50% }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu-3 > li { width: 33.33% }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu-4 > li { width: 25% }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu-5 > li { width: 20% }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu-6 > li { width: 16.66% }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu .sub-menu-item .sub-header-item { color: #515359; font-size: 14px; font-weight: bold; display: block; padding: 10px 5px; white-space: normal !important; width: auto !important; }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu .sub-menu-item .sub-menu-col > ul { padding: 5px; }
#sce-wrapper #sce-header li.main-menu-item  .sub-menu .sub-menu-item .sub-menu-col > ul > li { padding: 0px 0px 5px 0px; }
#sce-wrapper #sce-header #sce-mainnav .caret, #sce-wrapper #sce-header #sce-mainnav .caret { border-top-color: #000 !important; }
#sce-wrapper #sce-header #sce-mainnav .dropdown-menu:before { border-bottom: none !important; }
#sce-wrapper #sce-header #sce-mainnav .dropdown-menu:after { border-bottom: none !important; }
#sce-wrapper #sce-header #sce-mainnav li.last-level-item { display: block !important; }
#sce-wrapper #sce-header #sce-mainnav li.last-level-item a { padding: 0px !important; white-space: normal !important; width: 100% !important; }
#sce-wrapper #sce-header #sce-mainnav li.last-level-item a:hover { background: transparent !important; }

#sce-wrapper #sce-breadcrumb { position: relative; border-bottom: 1px solid #C6C6C6; padding: 0px 0px 2px 0px; margin: 0px 0px 10px 0px; }
#sce-wrapper #sce-breadcrumb a { color: #13A3F7; font-size: 11px !important; }
#sce-wrapper #sce-breadcrumb a.current { color: #515359; }
#sce-wrapper #sce-breadcrumb span.bc-decor { padding: 0px 5px; font-size: 11px; }

#sce-wrapper #sce-left-col { width: 25%; float: left; }
#sce-wrapper #sce-left-col ul { padding: 0px 5px 0px 0px; }
#sce-wrapper #sce-left-col li { list-style-type: none; padding: 5px 0px; }
#sce-wrapper #sce-left-col li a { color: #13A3F7; font-size: 16px; }
#sce-wrapper #sce-left-col li.active a { font-weight: bold; }
#sce-wrapper .sce-right-col { width: 75%; float: left; }
#sce-wrapper .src-builder-mode { padding: 30px 0px 50px 0px !important; }

#contactus-page { min-height: 500px; background-color: #FFF; padding: 20px 30px; position: relative; }
#contactus-page h2 {
    border-bottom: 1px solid #EAE8E8;
    color: #555555;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#contactus-page #field-list { padding-right: 30%; }
.checkbox-label { display: inline-block !important; top: -2px; position: relative; }
#submitbutton { padding: 5px 15px; }

#sce-wrapper #sub-category-blocks { overflow: hidden; }
#sce-wrapper #sub-category-blocks .sub-category-block { width: 33.33%; float: left; }
#sce-wrapper #sub-category-blocks .home-blocks-1 .sub-category-block { width: 100% !important; }
#sce-wrapper #sub-category-blocks .home-blocks-2 .sub-category-block { width: 50% !important; }
#sce-wrapper #sub-category-blocks .sub-category-block .block-wrapper { padding: 0px 10px; overflow: hidden; }
#sce-wrapper #sub-category-blocks .sub-category-block .sub-category-block-figure { display: block; overflow: hidden; width: 100%; height: 200px; text-align: center; }
#sce-wrapper #sub-category-blocks .sub-category-block .sub-category-block-figure img { width: 100%; }
#sub-category-blocks .sub-category-block a.block-title { color: #13A3F7; font-size: 14px; font-weight: bold; text-decoration: none; display: block; margin: 20px 0; }

#tieBrandingFooter { text-align: right; }

@media (min-width: 550px) and (max-width: 600px) {
	#sce-wrapper #sub-category-blocks .sub-category-block { width: 50% !important; }
}

@media (max-width: 550px) {
	#sce-wrapper #sce-header #sce-mainnav ul.navbar-nav { float: left !important; }
	#sce-wrapper #sce-header li.main-menu-item a.root-item { text-align: left; }
	#sce-wrapper #sce-header li.main-menu-item .sub-menu { position: static; }
	#sce-wrapper #sce-header li.main-menu-item  .sub-menu .sub-menu-item .sub-menu-col > ul { display: none; }
	#sce-wrapper #sce-header li.main-menu-item  .sub-menu > li { width: 100% !important; float: none !important; }
	#sce-wrapper #sub-category-blocks .sub-category-block { width: 100% !important; float: none; }
	
	#sce-wrapper #sce-left-col, #sce-wrapper .sce-right-col { width: 100% !important; float: none !important; }
}

/* Plugin CSS */
.columnwraper {
    display: block;
    margin: 10px auto 0;
    position: relative;
    width: 100%;
}

.cr-inline-column-content {margin: 0px;}

.cr-inline-column {
    float: left;
    left: 0;
    min-height: 140px;
    position: relative;
    top: 0;
	width: 100%;
}

.cr-inline-column .wgiframe-wrapper { margin: 0 auto; }

.cr-inline-column .wgiframe-wrapper iframe { border: none; }

.overlaywrap {
    background: url("../images/overlay-bg.png") repeat scroll left top rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    padding: 5px 0;
    position: absolute !important;
    text-shadow: 0 0 1px #000000;
    top: 0;
    width: 100%;
}

.overlaywrap span {
    margin: 0 5px;
}

.imgtext-plugin-block img{
    width: 100%;
}

.imgtext-plugin-wrap {
    position: relative;
}

.video-plugin-block .player {
    background: url("../images/glyphicons_173_play.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 18px;
    left: 45%;
    opacity: 0.5;
    position: absolute;
    top: 45%;
    width: 16px;
    z-index: 99;
}

.video-plugin-block .player:hover {
    opacity: 1;
}
.block-video-thumbnail img {
    width: 100%;
    height: 100%;
}

.block-video-thumbnail {
    width: 100%;
    height: auto;
    cursor: pointer;
    position: relative;
}

.video-plugin-block {
    width: 100%;
    height: auto;
}
.video-plugin-block a {
    display: block;
    position: relative;
}

.youtube-plugin-block {
    cursor: pointer;
    position: relative;
}

.full-size {
	width: 100% !important;
}

.img-plugin-block {
    text-align: center;
    /*cursor: pointer;*/
}

.img-plugin-block img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
iframe.wgiframe-main{border:0;width: 100%;}
