
.mainFlyout {
    top: 50px;
    left: 50px;
    background-color: #fff;
    border: 3px solid #3A4348;
    border-radius: 10px;
    padding: 0;
    display: none;
    z-index:999;
    position: absolute;
}
#mainFlyoutContent, .mainFlyoutIFrame {
    overflow: hidden;
    border: none;
    z-index:1;
    padding: 3px 3px 3px 0;
    text-align: center;
}
.mainFlyoutIFrame a {
    text-decoration: none;
}
#flyoutBeak {
    position: absolute;
    z-index: 100;
}
#flyoutBeak.left {
    background: transparent url('i/beakLeft.png') no-repeat;
}
#flyoutBeak.top {
    background: transparent url('i/beakUp.png') no-repeat;
}
#flyoutBeak.right {
    background: transparent url('i/beakRight.png') no-repeat;
}
#flyoutBeak.down {
    background: transparent url('i/beakDown.png') no-repeat;
}
#flyoutCloseBtn {
    background: transparent url('i/close-gray.gif') no-repeat;
    position: absolute;
    z-index: 100;
    top: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}
#mask {
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: white;
    cursor: pointer;
    filter: alpha(opacity=1);
    -moz-opacity:0;
    opacity:0;
}
