<div #facetCol class="hidden-xs box" id="product_attributes">
	<h2 class="hidden-xs header_title"><strong>{{'SORT BY PRODUCT ATTRIBUTES' | translate }}</strong></h2>
   <form id="productsFacets">
		<spinner-component [spinnerShow]="prodLoading"></spinner-component>
	   <fieldset class="pro-atrtibute" *ngFor="let facet of facets | groupfacet:'facetName'">
		   <legend class="spanacce">{{ facet.key }} </legend>
		   <div class="content_legend">
			   <div [class]="isFacetActive(facet) ? 'title_expand dark_color' : 'title_expand'">
				   <h4 class="title">{{ facet.key }} </h4>
				   <i class="glyphicon glyphicon-minus" [ngStyle]="{ 'display': isFacetActive(facet) ? 'block' : 'none' }"></i>
				   <i class="glyphicon glyphicon-plus" [ngStyle]="{ 'display': isFacetActive(facet) ? 'none' : 'block' }"></i></div>
			   <div class="details_div" id="{{facet.key}}" [ngStyle]="{ 'display': isFacetActive(facet) ? 'block' : 'none' }">
				   <ul class="list-group">
					   <li class="list-group-item" *ngFor="let facetValue of facet.value">
						   <div class="checkbox">
							   <!-- <label for="{{facetValue.facetName + facetValue.facetValue}}"> -->
								<label>
								   <input type="checkbox" [checked]="checkedFacets.indexOf(facetValue) != -1"
									   id="{{facetValue.facetName + facetValue.facetValue}}" name="{{facetValue.facetName + facetValue.facetValue}}" value="{{facetValue.productKeys}}" 
									   (change)="facetChecked($event, facetValue)" data-md-icheck/>
									   {{facetValue.facetValue}}
									   <span class="facetCountContainer"> ({{ countFacetProduct(facetValue)}})</span>
							   </label>
						   </div>
					   </li>
				   </ul>
			   </div>
		   </div>
	   </fieldset>
   </form>
</div>