#tk_csp_TB_overlay * { padding: 0; margin: 0; overflow: hidden; }

#tk_csp_TB_window table .content{
	width: auto !important;
}
#tk_csp_TB_overlay {
	position: fixed;
	height: 100%;
	z-index: 100;
	width: 100%;
	left: 0px;
	top: 0px;
	overflow:auto;
}

.tk_csp_TB_overlayMacFFBGHack { background: url(https://cc.syndicate.cnetcontent.com/css/images/macFFBgHack.png) repeat; }
.tk_csp_TB_overlayBG {
	filter: alpha(opacity=75);
	background-color: #ECEDED;
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #tk_csp_TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#tk_csp_TB_window {
	background: transparent;
	text-align: left;
	position: fixed;
	color: #000000;
	display: none;
	z-index: 1000002;
	left: 50%;
	top: 50%;
}
#tk_csp_TB_window table 
{
	table-layout:auto !important;
}
#tk_csp_TB_window td 
{
    border : none;
}

* html #tk_csp_TB_window { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#tk_csp_TB_load {
	position: fixed;
	background: url("../img/loadinganimation.gif");
	display: none;
	height: 13px;
	width: 208px;
	z-index: 103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #tk_csp_TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#tk_csp_TB_HideSelect{
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	border: none;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
}

* html #tk_csp_TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
/*
    _background: url("../img/close-gray.png") ;
    _height: 20px;
    _width: 20px;
    _padding: 0;
 * */
#tk_csp_TB_close{
	border:0;
	margin:0;
	padding: 5px 13px;
	cursor:pointer;
	height:30px;
	background: url("../img/fancy_closebox.png") transparent;
}
.tk_csp_pngFix {
    background: none;
    background-repeat:no-repeat;
    position: relative;
    padding: 0;
    height: 30px;
    width: 30px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fancy_closebox.png', sizingMethod='image');
}
#tk_csp_TB_window td {
	padding:0;
	margin:0;
}
#tk_csp_TB_window td.content {
	background: #FFFFFF;
}
#tk_csp_TB_window td.tk_csp_n {
	background: url("../img/border1.png") repeat-x scroll 0 -50px transparent;
	height:25px;
	_background: #FFFFFF;
	_height:  0;
}
#tk_csp_TB_window td.tk_csp_ne {
	background: url("../img/border1.png") no-repeat scroll -25px 0 transparent;
	_background: #FFFFFF;
}
#tk_csp_TB_window td.tk_csp_e {
	background: url("../img/border2.png") repeat-y scroll -25px 0 transparent;
	width:25px;
	_background: #FFFFFF;
	_width: 0;
}
#tk_csp_TB_window td.tk_csp_se {
	background: url("../img/border1.png") no-repeat scroll -25px -25px transparent;
	_background: #FFFFFF;
}
#tk_csp_TB_window td.tk_csp_s {
	background: url("../img/border1.png") repeat-x scroll 0 -75px transparent;
	height:25px;
	_background: #FFFFFF;
	_height: 0;
}
#tk_csp_TB_window td.tk_csp_sw {
	background: url("../img/border1.png") no-repeat scroll 0 -25px transparent;
	_background: #FFFFFF;
}
#tk_csp_TB_window td.tk_csp_w {
	background: url("../img/border2.png") repeat-y scroll 0 0 transparent;	
	width:25px;
	_background: #FFFFFF;
	_width: 0;
}
#tk_csp_TB_window td.tk_csp_nw {
	background: url("../img/border1.png") no-repeat scroll 0 0 transparent;
	_background: #FFFFFF;
}

#tk_csp_TB_window {
	_border: solid #CCCCCC 3px;
}
	