<section id="category">
	<div class="container">
		
		<!-- <ol class="breadcrumb">
			<li><a [routerLink]="['/']"><span>Products</span></a></li>
			<li><a><span>Product </span></a></li>
			<li><a><span>Hose, Piping, Tubing and T-Slot Framing </span></a></li>
		</ol> -->
		<app-breadcrumb></app-breadcrumb>
		
		<div class="page-header">
			<h1 csptype="TITLE" cspobj="REPORT">{{currentCategory.valueText}}</h1>
			<div class="clearfix"></div>
			<p class="hidden-xs hidden-sm product_page_desc">{{currentCategory.shortDescription}}</p>
			<!--
			<h1>HOSE, PIPING, TUBING AND T-SLOT FRAMING </h1>
			<div class="clearfix"></div>
			<p class="hidden-xs hidden-sm product_page_desc">Parker hoses and tubing are integral components of high pressure systems that control motion, and low pressure systems that transfer materials from place to place. The highly engineered products meet or exceed a variety of industry standards,
				and are offered in a wide range of standard and custom sizes, pressures and temperature capabilities. Parker’s Aluminum Industrial Profile Framing Systems are an ideal solution for applications in factory automation, packaging and
				warehouse storage service. </p>
				-->
		</div>
		<div id="category_container_div_Id" class="row">
			<div id="left-section" class="col-md-3 col-sm-3 col-ms-4 col-xs-12 content_section">
				<div id="filterDiv" class="hidden-sm hidden-ms hidden-md hidden-lg">
						
					<span class="box mobile_facet_filter">
						<button id="clear_all_btn" (click)="clearFacet()" class="btn btn-xs btn-primary pull-left hidden">
							Clear All
						</button>
						<span>Filter</span>
						<button class="btn btn-xs btn-primary pull-right filter_done_btn hidden">
							Done
						</button>
						<div class="btn_fixed">
							<button class="btn btn-primary filter_done_btn hidden">
								Done
							</button>
						</div>
					</span>
					<span class="box mobile_sort_by_filter"(click)="tooltipHidden = !tooltipHidden">
						<span>SORT BY:</span>
						<span id="orderByText">Default</span>
					</span>					
				</div>
				<div class="clearfix"></div>
				<app-product-category (outputEvent)="onProductCategoryChange($event)"></app-product-category>
				<app-facet [(test2WayBinding)]="d2wayBinding" [categorySeriesList]="categorySeriesList" [facetFromProduct]="facetFromProduct" (outputEvent)="onFacetChange($event)"></app-facet>
			</div>
			<div class="col-sm-12 content_section tooltip_sec" [hidden]="tooltipHidden">
				<span class="arrow-left"></span>
				<ul>
					<li>
						<a class="tooltipTextSec">Default</a>
					</li>
					<li>
						<a class="tooltipTextSec">Name (A-Z)</a>
					</li>
					<li>
						<a class="tooltipTextSec">Name (Z-A)</a>
					</li>
				</ul>
			</div>
			
			<div id="services_category_section_div" class="col-md-9 col-sm-9 col-ms-8">
				<app-product-list [currentCategory]="currentCategory" [facetProdKeys]="facetProdKeys" [firstLoadCategorySeries]="firstLoadCategorySeries" [categorySeriesList]="categorySeriesList" [facetCheckedList]="facetCheckedList" (outputEvent)="onProdFacetChange($event)"></app-product-list>
			</div>
		</div>
	</div>
</section>