﻿.cspisifeaturesTextExpanded ul li, .cspisifeaturesText ul li { background: none; display: list-item !important; list-style: disc !important; margin-left: 20px; float: none; font-weight: normal; width: auto !important; text-align: left; }
.cspisifeatures .cspisifeaturesText { overflow: hidden; }
.cspisifeatures .cspisifeaturesText ul { width: auto !important; }
.cspisifeatures .cspisifeaturesText h2 { width: 100%; }