﻿
* {
    margin: 0;
    padding: 0;
}
body {
    /*background: none repeat scroll 0 0 #EDEDED;*/
    color: #404040;
    font: 12px Arial,Helvetica,sans-serif;
}
html {
    overflow-y: auto;
}
ul {
    list-style: none outside none;
}

/*
a {
    color: #5F798F;
    text-decoration: none;    
}
*/

img {border: 0;}

#csp-page #csp-wrapper {
    margin: 0 auto;
    z-index: 4;
}
#csp-page
{
    background: url("/global/files/avaya/images/bodyGradTop.gif") repeat-x scroll left top white;
    position: relative;
}

#csp-wrapper {
    margin-left: 60px;
    padding-bottom: 40px;
    position: relative;
    width: 660px;
    z-index: 2;
}
#csp-util, #csp-util a {
    color: #ECECEC;
}

#csp-util {
    background: url("/_assets/img/homeRedesign/util-bg.gif") repeat-x scroll 0 0 #414141;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    text-align: right;
    width: 508px;
}

#csp-top-nav {
    height: 80px;
    margin: 0 auto;
    padding-left: 152px;
    position: relative;
    text-align: left;
    width: 508px;
    z-index: 7000;
}
#csp-top-nav .logo {
    background: url("../images/logo.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 152px;
}

#csp-top-nav .csp-navbar table {
    background-color: #F5F5F5;
    border-collapse: separate;
    height: 64px;
    width: 100%;
}

#csp-top-nav .csp-navbar table td.first {
    border-left: medium none;
}
#csp-top-nav .csp-navbar .menu-overlay-item, #csp-top-nav .csp-navbar .menu-overlay-menu {
    position: static;
}
#csp-top-nav .csp-navbar table td {
    background: url("../images/topnav-bg.gif") repeat-x scroll 0 0 #D7D7D7;
    text-align: center;
    vertical-align: middle;
}
#csp-top-nav .menu-overlay-item, #csp-top-nav .menu-overlay-menu {
}
#csp-top-nav .csp-navbar table .left-bevel {
    background-color: #C6C6C6;
    background-image: url("../images/topnav-left-bevel.gif");
}
#csp-top-nav .csp-navbar table .bevel {
    background-repeat: no-repeat;
    width: 1px;
}
#csp-top-nav .csp-navbar .menu-overlay-content ul {
    padding: 25px 26px 23px;
    text-align: left;
    margin-bottom: 20px;
}

/*menu*/
#csp-top-nav .csp-navbar table td .csp-menu-link {
    color: #404040;
    display: block;
    font-weight: bold;
    padding: 0 20px;
    /*
    position: relative;
    */
    
    z-index: 1;
    font-size:12px;
}
.menu-overlay-item {
    position: relative;
    z-index: 100;
}

#csp-top-nav .csp-navbar .menu-overlay-content {
    background: url("../images/topnav-overlay-bg.gif") repeat-x scroll 0 0 #F7F7F7;
    box-shadow: 0 0 3px #AAAAAA;
    cursor: default;
    left: 0;
    padding-top: 1px;
    position: absolute;
    top: 79px;
    width: 960px;
}
#csp-top-nav .csp-navbar .menu-overlay-content li {
    float: left;
    list-style: none outside none;
    width: 25%;
}
#csp-top-nav .csp-navbar .menu-overlay-section {
    padding: 0 16px 3px 0;
}
#csp-top-nav .menu-overlay-section h2, #csp-top-nav .menu-overlay-section h3, #csp-top-nav .menu-overlay-section h4, #csp-top-nav .menu-overlay-section h5 {
    font-weight: bold;
}
#csp-top-nav .menu-overlay-section h2, #csp-top-nav .menu-overlay-section h3 {
    color: #131313;
    font-size: 14px;
    margin: 0 0 10px -1px;
}
#csp-top-nav .csp-navbar .menu-overlay-section ul {
    padding: 0 20px 0 0;
}
#csp-top-nav .csp-navbar .menu-overlay-section li {
    color: #666666;
    float: none;
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0;
    width: 100%;
}
#csp-top-nav .csp-navbar .menu-overlay-section a:hover { text-decoration: underline; }
#csp-top-nav .csp-navbar table td.hovered-over,#csp-top-nav .csp-navbar table td.hovered-over .menu-link { background: white; }
#csp-top-nav .csp-navbar td.menu-overlay-item .menu-link { text-shadow: 0 1px 1px white; }

/*home page header*/
.csp-homepage-header {
	padding: 25px 30px;
	width:450px;
}
.csp-homepage-header h1 {
    color: #CC0000;
    font-size: 30px;
	font-weight:normal;
	padding-bottom:15px;
}
.csp-homepage-header h2 {
	color: #666;
	text-decoration:none;
	font-weight:normal;
	font-size: 18px;
}

/*tout area*/
#csp-tout-area {margin-top:5px; float:left; width:660px;}
/*#csp-tout-area div.csp-box */
div.csp-box
{
       float:left;
       width: 145px;
       height:100%;
       /*overflow:hidden;       */
       /*background: url("/global/files/avaya/images/tout-background_large.jpg") no-repeat scroll left top transparent;*/
       background-color: #efefef;
       margin: 5px;       
       position:relative;
       border-radius: 4px;
       box-shadow: 1px 1px 2px #ccc;
       padding:5px;
                            
}
#csp-tout-area {
	margin-bottom: 20px;
}
#csp-tout-area div.csp-box img 
{
    /*
    position:absolute;top:0;right:0;
    */
    float:right;
    margin-left:2px;
	width:80px;
}
#csp-tout-area div.csp-box p {font-size: 11px; }
#csp-tout-area div.csp-box h2 {font-size:13px;padding: 5px 0;height:50px;}
div.csp-left-col, div.csp-right-col {float:left;}
div.csp-left-col {width:165px;}
div.csp-right-col {width: 495px;}
.csp-clear {clear:both;}
/*#csp-breadcrum ul li {float: left;}*/
#csp-page-title, .tieContentFormHeaderTitle {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    line-height: 1;
}
#csp-breadcrumb {
    color:#333;
    font-size: 12px;
    padding: 10px 10px 10px 0;
    display: none;
}
#csp-breadcrumb a, #csp-breadcrumb a:hover, #csp-breadcrumb a:active, #csp-breadcrumb a:visited {
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    text-decoration: none;
    text-transform: uppercase;
}
.csp-marquee-container {height:300px;}
.csp-marquee {}
.csp-marquee h2 {color: #CC0000; padding: 10px 0;}
.csp-marquee p {margin-bottom:10px;width:300px;}
.csp-marquee div a {font-weight:bold;}
.csp-marquee-active{display:block}
.csp-hide{display:none;}


/*tabs*/
.csp-tabs-container {margin-top: 20px;float:left;width:495px;}
.csp-sibling-items
{
    float:left;
    width:165px;
    margin-top:20px;
}

.csp-tabs-container table {width: 100%;table-layout:fixed;}
.csp-tabs-container  .csp-tabs-option a {color: #fff;display:block;text-align:center;text-transform:uppercase;font-size:11px;font-weight:bold;}
.csp-tabs-container  .csp-tab-active a {color: #cc0000;}

.csp-tabs-container .csp-tabs-option 
{
    background: url("/global/files/avaya/images/tab_bg.gif") repeat-x scroll 0 0 #899AAA;
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #B3BFC9;
    border-right: 1px solid #8598AA;
    cursor: pointer;
    height: 31px;
    padding: 2px 10px;
}
.csp-tabs-container .csp-tab-active
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/global/files/avaya/images/on_tab_bg.gif") repeat-x scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #E2E2E2 #FFFFFF;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    cursor: default;
}

.csp-tabs-content
{
    margin-top:10px;
}
.csp-tab-block 
{
    padding-bottom:15px;
    border-bottom: solid 1px #ececec;
    margin-bottom: 15px;
}
.csp-tab-block h2
{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

.csp-tab-block .csp-tab-image ,.csp-tab-block .csp-tab-content
{
    
}
.csp-tab-block .csp-tab-image
{
    float: left;
    width: 150px;
}
.csp-tab-block .csp-has-image 
{
    float: left;
    width:495px;
}
.csp-tab-block .csp-tab-link
{
    margin-top: 10px;
}

/* products*/
.csp-right-col .csp-right-col
{
    width: 175px;
}
.csp-right-col .csp-left-col
{
    width: 485px;
    margin-right:5px;
}
.csp-product-marquee 
{
    position:relative;
}
.csp-thumbnail-image 
{
    position: absolute;
    top: 70%;
}
.csp-thumbnail-image img
{
    border: 1px solid #ccc;
}
.csp-product-marquee-container 
{
    height:300px;
}
.csp-product-tabs {padding-bottom:20px;}
.csp-product-tab {float:left;margin-right: 10px; padding-right:10px; border-right: 1px solid #ccc;}
.csp-product-features {margin-bottom: 10px;}
.csp-product-features h3 {font-weight:normal;text-transform:uppercase;font-size:12px;}
.csp-product-features p {padding-bottom:5px;}
.csp-sibling-items li
{
    font-size:11px;
    margin-bottom:10px;
}
li.csp-selected-item a
{
    color: #cc0000;
}

.csp-product-box 
{
        /*background: url(/global/files/avaya/images/bg_explore-item.png) no-repeat scroll;*/
    height: 90px;
    width:420px;
    margin:0 0 10px 10px;
    float:left;
}
.csp-product-box h3,.csp-product-box p
{
    padding: 5px;
}
/* form */
#csp-form-container .csp-form-field
{
    border: 1px solid #ccc;
}


.csp-left-col .csp-product-marquee div a, .csp-left-col .csp-product-marquee-active div a
{
	font-weight:bold;
}

.csp-product-marquee-text
{
padding: 15px;
}
.csp-footer .csp-TieKinetixLogo {
    float: left;
    
}
.csp-footer .csp-HartfordFooter {
    float: right;
    color: #666;
    float: right;
    font-family: arial;
    font-size: 11px;
    padding-right: 20px;
    text-align: right;
    margin-bottom: 20px;
}
.csp-footer .csp-HartfordFooter a {
    color: #990033;
    text-decoration: none;
}
.csp-footer .csp-HartfordFooter a:hover {
    text-decoration: underline;
}
.csp-footer .copyrightText {
    text-align: justify;
}
