#container div.csp-content-zone{margin:0;}
#container div.csp-one-block{margin:0;}
#container div.csp-two-blocks a img {width:auto;}
#container div.csp-three-blocks{width:195px;margin:0 0 0 17px;}
#container div.csp-three-blocks:first-child{margin-left:0;}
#container div.csp-three-blocks-first{margin-left:0;}