.hide { display: none; }
.ajax-loading {background: url("../images/prod-text-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important; position: absolute; z-index: 100; top: 0px; left: 0px; width: 100%; height: 100%;}
.ajax-loading .loading-image {width: 100%; height: 100%; background: url("../images/loading_box.gif") no-repeat scroll center;}
body {
	font-size: 13px;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: "proxima-nova-n4","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ol,ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.text-align-left{
    text-align: left !important;
}
/** END RESET CSS**/
#csp-wrapper {
	margin: 0px auto;
	background-color: #fff;
	min-height: 500px;
}
#csp-wrapper .navbar-header { min-width: 230px; max-width: 230px; }
#logo{
	background: url("../images/logo.png") no-repeat scroll left 10px / 230px auto rgba(0, 0, 0, 0);
	padding-left:100px;
	color:#6d6f70;
	font-size:13px;
    font-weight: bold;
    height: 38px;
	margin-left:10px;
	line-height: 12px;
	min-width: 230px;
}
/* CSP-3963 */
#logo {background: url("../images/logo.png") no-repeat scroll left 1px / 120px auto rgba(0, 0, 0, 0);height: 46px;width: 125px;margin-left: 15px;}
#csp-wrapper .navbar-header {min-width: 195px;max-width: 195px;}

#dropdown-navbar ul {
    float: left;
}

#dropdown-navbar{
	border: 0 none;
    box-shadow: 0 3px 3px #777777;
    /*float: left;
    left: -329px;
	*/
    margin-top: 0;
    padding: 0;
    top: 45px;	
	border: solid 1px;
	color: #e6e6e6;	
	/*position: absolute;*/
	left: -1px;
}
.navbar-default .navbar-nav > li > a {
    color: #cd1f1e;
	font-weight:bold;
	padding: 10px 5px 17px !important;
	cursor:pointer;
  }
#csp-content{
	/*background: url("../images/csp-content-bg.png") repeat scroll 0 0 transparent !important;*/
	width:100%;
	height:120%;
	padding-bottom:2px;
}
#main-container .thumbnail, #main-container .tile-thumbnail{background:none;border:none;}
#main-container .tile-thumbnail img{width:100%;height:115px;}
#main-container .short-title{
	/*
	font-size: 13px;
    min-height: 35px;
    margin-bottom: 12px;
    margin-top: 5px;
    text-align: left;
    width: 144px;
	color:#fff;
	padding-left:5px;
	padding-bottom:5px;
	background-color:#cd1f1e;
	*/
	background-color: #CD1F1E;
    color: #FFFFFF;
    font-size: 13px;
    margin: 0px auto;
	margin-top: 5px;
    padding: 7px 0px 7px 10px;
    text-align: left;
    width: 90%;
}
#main-container #home-carousel .carousel-control.left,.carousel-control.right {
	background-image:none !important;
  }
#home-navbar{
	width: 100%;
	margin: 5px 0px !important;
	/*position:relative;*/
	position:inherit !important;
	min-height: 46px;
}
#bottom-border{
	width:100%;
	background-color:#cd1f1e;
	height:2px;
 }

#csp-nav-bar .content-block{
	margin: 0;
    padding: 5px 0 5px 5px;
}

#csp-nav-bar ul.content-block li{padding:5px 0;}

#csp-nav-bar .root-li { position: static !important; }


 #main-container  #dropdown-navbar .content-placehoder{
	/*border-right: 1px solid #6D6F70;*/
	border-right: 1px dashed #BEBEBE;
    display: block;
    float: left;
    /*padding-bottom: 20px;*/
    width: 165px;
	min-height: 100%;
 }
#main-container  #dropdown-navbar .first-nav-col { border-left: none !important; }
#main-container  #dropdown-navbar .last-nav-col { border-right: none !important; }
#main-container  #dropdown-navbar .content-block li a{
	color:#4c4c4c;
	font-size: 11px;
 }
#main-container #dropdown-navbar .content-block-title a{
	font-size:13px;
	/*font-weight:bold;*/
	color:#4c4c4c;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
 }
#main-container #dropdown-navbar .content-block-title a:hover{
	text-decoration:none;
 }
#main-container #dropdown-navbar .content-block-title{
	display: table;
	width: 100%;
	border-bottom: 1px solid #E6E6E6; /*1px solid #6D6F70;*/
    min-height: 60px;
	height: 60px;
    text-align:center;
	padding: 10px;
	background-color: #EEE;
 }
 #main-container #dropdown-navbar .no-border{
	border:none;
}
#home-navbar #dropdown-navbar .row > .content-placehoder > .nav-block {overflow: hidden; }
#home-navbar #dropdown-navbar .row > .content-placehoder > ul > li, 
#home-navbar #dropdown-navbar .row > .content-placehoder> .nav-block > ul > li
{ display: block; overflow: hidden; }

#home-navbar #dropdown-navbar .row > .content-placehoder > ul > li > a, 
#home-navbar #dropdown-navbar .row > .content-placehoder > .nav-block > ul > li > a 
{ font-weight: bold; cursor: pointer; background: url("../images/collapse-icon.png") no-repeat scroll left top rgba(0, 0, 0, 0); padding-left: 20px; display: block; }
.not-prod .item-level-4 { background: none !important; font-weight: normal !important; }
.item-level-3 , .item-level- { background: none !important; font-weight: normal !important; }
#home-navbar #dropdown-navbar .row > .content-placehoder > ul > li > a.failed-node,
#home-navbar #dropdown-navbar .row > .content-placehoder > .nav-block > ul > li > a.failed-node  
{ background: none !important; }
#home-navbar #dropdown-navbar .no-featured { font-style: italic; }

#csp-content .homeblock-caption{
	color:#cd1f1e !important;
    /*padding: 9px;*/
    position: absolute;
    top: 0;
	left: 0;
	font-size:11px;
	/*width: 144px;*/
	width: 100%;
	overflow: hidden;
}
#main-container{
	padding-left:0 !important;
	padding-right:0 !important;
	position: relative;
}
.tieContentFormHeaderTitle{
	font-size: 20px;
    font-weight: bold;
}
/* Product Page*/
#overview-tab,#customer-tab,#technical-tab{
	padding-left:10px;
}
#customer-tab,#overview-tab{
	margin-top:30px;
}
#product-panel { position: relative; }
#product-panel .row { margin: 0px !important; }
#product-panel #product-list { padding-left: 20px; }
#product-panel #products-banner{
	text-align:center !important;
}
#product-panel .products-title{
	font-weight:bold;
	color:#878787;
}
#product-panel #products-mainbar #products-topnav{
	min-height:30px;
	margin-top: 5px;
	overflow: hidden;
}
#products-topnav{
	color:#5e5e5e;
}
#product-panel #products-sidebar {padding: 0px !important;}
#product-panel #products-sidebar .products-sidebar-list .products-sidebar-title{
	background-color: #CD1F1E;
    color: #F8F5F5;
	font-size:13px;
    margin-bottom: 5px;
	margin-top:5px;
    padding: 7px 0 7px 5px;
    text-align: left;
}
#product-panel #products-sidebar .type-block-collapse {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 15px;
	height: 15px;
	background: url('../images/collapse-icon.png') no-repeat scroll center;
	position: relative;
	top: 2px;
	left: 1px;
	cursor: pointer;
}
#product-panel #products-sidebar .btn-spec-resize { color: #CD1F1E; cursor: pointer; }
#product-panel{
	padding-bottom:30px;
}
#product-panel #products-topnav-title{
	float:left;
	/*width:100px;*/
}
#product-panel #products-items-list{
	float:left;
	margin-top: 8px;
	padding:0;
}
#product-panel .products-items-selected{
	padding: 5px 20px 5px 10px;
	background-color:#ebeaea;
	position: relative;
}
#product-panel .products-items-selected-remove { background: url("../images/icon-close-small.png") no-repeat; display: inline-block; zoom: 1; *display: inline; width: 12px; height: 12px; position: absolute; top: 2px; right: 2px; cursor: pointer; }
#product-panel .products-sidebar-content,#products-topnav-title,#main-container .products-items-selected{
	font-size:12px;
}
#product-panel .product-caption{
	font-weight:bold;
	font-size:11PX;
}
#product-panel .product-chectbox{
	vertical-align:text-bottom;
}
#product-panel .products-sidebar-content label{
	font-weight:normal;
	/*font-weight:bold;*/
	font-size:11px;
}
#product-panel, #products-topnav-title,#product-panel .products-title {
    margin-top: 10px;
	}
#children-categories { padding: 20px 0px 0px 0px; }
#children-categories .row { margin-bottom: 20px !important; }
#children-categories .sub-category-text { color: #4C4C4C !important; background-color: #F8F9F9; border-top: 1px solid #BEBEBE; border-bottom: 1px solid #BEBEBE; min-height: 231px; position: relative; }
#children-categories .sub-category-text h2 { font-size: 18px; }
#children-categories .btn-explore { 
	background-color: #b60400; background-image: -webkit-gradient(linear,left top,left bottom,from(#fe2709),to(#b60400));
    background-image: -webkit-linear-gradient(top,#fe2709,#b60400);
    background-image: -moz-linear-gradient(top,#fe2709,#b60400);
    background-image: -ms-linear-gradient(top,#fe2709,#b60400);
    background-image: -o-linear-gradient(top,#fe2709,#b60400);
    background-image: linear-gradient(top,#fe2709,#b60400);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#fe2709', EndColorStr='#b60400'); 
	color: #fff; display: block; padding: 5px 10px; position: absolute; right: 10px; bottom: 10px; 
}
#children-categories .btn-explore:hover { text-decoration: none; color: #fff; }
#children-categories .category-desc-long { padding: 0px 0px 35px 0px; }

.sub-category-list-holder { position: relative; width: 100%; min-height: 17px; }
.sub-category-children { 
	display: none; background-color: #b60400; background-image: -webkit-gradient(linear,left top,left bottom,from(#fe2709),to(#b60400));
    background-image: -webkit-linear-gradient(top,#fe2709,#b60400);
    background-image: -moz-linear-gradient(top,#fe2709,#b60400);
    background-image: -ms-linear-gradient(top,#fe2709,#b60400);
    background-image: -o-linear-gradient(top,#fe2709,#b60400);
    background-image: linear-gradient(top,#fe2709,#b60400);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#fe2709', EndColorStr='#b60400'); 
	color: #fff; margin: 0; padding: 0px 5px; position: absolute; left: 96%; bottom: 10px; list-style-type: none; width: 80%; z-index: 2; 
	min-height: 28px;
}
.sub-category-list-holder:hover .sub-category-children { display: block; }
.sub-category-children li { border-bottom: 1px dashed #fff; margin: 0; }
.sub-category-children a { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; filter: none; cursor: pointer; display: block; letter-spacing: 1px; padding: 3px; text-decoration: none; color: #FFF; }
/* End Product Page*/

/*Begin Product Detail Page */
.border-background-top-nav{
	background: none repeat scroll 0 0 #C7C7C7;
    height: 49px;
    margin-top: 10px;
    width: 660px;
}
#product-detail-panel{
	color:#5e5e5e;
	padding-bottom:30px;
	position: relative;
}
#product-detail-panel #detail-banner{
	padding: 10px 10px;
	margin:10px 0;
	border-top:2px solid #e2e2e2;
}
#product-detail-panel #detail-banner #detail-title{
	font-size:16px;
	font-weight:bold;
}
#product-detail-panel #title-nav-tab{
	background-color:#ececec;
	font-weight:bold;
	font-size:12px;
	color:#5e5e5e;
}
#product-detail-panel #title-nav-tab li a{
	color:#5e5e5e;
	padding: 5px 15px;
}
#product-detail-panel #product-tab-content{
	padding:10px 0;
}

#product-detail-panel #first-img{
	/*
	position: relative;padding:20px 30px;max-width:275px;
	*/
	min-width: 170px;
	float:left;
	/*border:1px solid #000;*/
}
#product-detail-panel #first-img img {border:1px solid #000;}
#product-detail-panel #first-img #zoom-trigger { cursor: pointer; }
/*
#product-detail-panel #first-img #zoom-trigger { cursor: pointer; display: inline-block; zoom: 1; *display: inline; position: absolute; left: 0px; bottom: 0px; width: 30px; height: 30px; background: #777 url("../images/zoom-icon.png") no-repeat scroll center; }
*/
#product-detail-panel #product-tab-content #first-description{
	float: left;
    padding: 10px 0 10px 20px;
    max-width: 350px;
}

#product-detail-panel #product-tab-content #first-description #first-description-title,.fourth-description-title{
	font-size:19px;
	margin-bottom:10px;
	line-height:1.2em;
}
#product-detail-panel #product-tab-content #first-description #first-description-galery,
#product-detail-panel #product-tab-content #first-description #video-blocks {
	margin-top:20px;
	padding:15px 0;
	/*
	border-top:2px solid #e2e2e2;
	border-bottom:2px solid #e2e2e2;
	*/
}
#product-detail-panel #product-tab-content #first-description #video-blocks { margin-top: 0px; border-top: none; }
#product-detail-panel #product-tab-content #first-description .thumbnails,
#product-detail-panel #product-tab-content #first-description #video-blocks .thumbnails{
	padding:0;
	margin: 0;
}
#product-detail-panel #product-tab-content #first-description #first-description-galery .thumbnails li,
#product-detail-panel #product-tab-content #first-description #video-blocks .thumbnails li{
	display:inline-block;
	zoom: 1;
	*display: inline;
}
#product-detail-panel #product-tab-content #first-description #first-description-galery .thumbnails li span,
#product-detail-panel #product-tab-content #first-description #video-blocks .thumbnails li span{
	display:inline-block;
	zoom: 1;
	*display: inline;
	cursor: pointer;
}

#product-detail-panel #product-tab-content .csp-cs-video, #product-detail-panel #product-tab-content .csp-cs-text {
	display: block;
	float: left;
	overflow: hidden;
}
#product-detail-panel #product-tab-content .csp-cs-video, #product-detail-panel #product-tab-content .csp-cs-video img { max-width: 220px; }
#product-detail-panel #product-tab-content .no-video { cursor: default !important; }
#product-detail-panel #product-tab-content .csp-cs-text { max-width: 440px; }
/*
#product-detail-panel #overview-tab #block-contact .btn-contact{
	margin-top:20px;
	width:250px;
	float:left;
	text-align:center;
}
*/
.btn-contact a, .btn, .btn-primary, #btn-cancel-copy-url, #btn-copy-url {
	border-color: transparent !important;
	padding:10px 25px;
	background-color:#cd1f1e;
	cursor:pointer;
	color:white;
	-webkit-border-radius: 10px 11px 12px 13px;
    -moz-border-radius: 10px 11px 12px 13px;
    border-radius: 5px;
}
#btn-cancel-copy-url, #btn-copy-url { padding: 4px 25px; }
.url-copied { background: none repeat scroll 0 0 #00FF00 !important; }
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#ffffff;background-color:#cd1f1e;border-color:transparent;}
.btn-contact a:hover{
	text-decoration:none;
}
#product-detail-panel #overview-tab #block-contact #btn-contact-title{
	margin-top:20px;
	font-weight:bold;
	width:350px;
	float:left;
	text-align:center;
}
#product-detail-panel #overview-block-second #second-description{
	width:300px;
	float:left;
}
#product-detail-panel #overview-block-second #second-description ul{
	padding:0;
}
#product-detail-panel #overview-block-second #second-img{
	float:left;
	width:300px;
	text-align:center;
}
#product-detail-panel #second-description .second-description-detail, #first-description .first-description-detail, #third-description .third-description-detail{
	font-size:12px;
}
#customersuccesses-tab .fourth-description-detail {font-size:12px;}
#customersuccesses-tab .odd-block {background-color:#e8e7e5;color:#4c4c4c;}
#customersuccesses-tab .even-block {background-color:#fff;color:#4c4c4c;}

#product-detail-panel #second-description .second-description-detail{
	padding:5px;
}
#product-detail-panel #third-description .third-description-detail{
	margin:10px 0;
}
#product-detail-panel #third-img .thumbnails{
	padding:0;
}
#product-detail-panel #third-img .thumbnails li{
	display:inline-block;
}
#product-detail-panel #third-img .thumbnails li a{
	padding-left:0;
}
#product-detail-panel #overview-block-third,#overview-block-second{
	border-bottom:2px solid #e2e2e2;
	padding-bottom:10px;
	margin:25px 0;
}
#product-detail-panel #overview-block-fourth #fourth-img,.customer-img{
	float:left;
	max-width: 275px;
}
#product-detail-panel #product-tab-content .customer-img img {
	width: 100%;
}
#product-detail-panel #overview-block-fourth #fourth-description,.customer-description{
	float: left;
    width: 100%;
    padding: 10px 10px;
}
/*Begin Product Customer Tab*/
#product-detail-panel #product-tab-content .customer-content{
	margin-bottom:20px;
}
#product-detail-panel #product-tab-content .customer-content .asset-img, #product-detail-panel #product-tab-content .customer-content .asset-text {
	display: inline-block;
	zoom: 1;
	*display: block;
}
#product-detail-panel #product-tab-content .customer-content .asset-img { max-width: 220px; overflow: hidden; vertical-align: middle; height: 100%; }
#product-detail-panel #product-tab-content .customer-content .asset-img img { max-width: 220px; vertical-align: middle; }
#product-detail-panel #product-tab-content .customer-content .asset-text { max-width: 440px; overflow: hidden; }
/*End Product Customer Tab*/
/*Begin Product Resource Tab*/
#customersuccesses-tab a,#resources-tab a {color:#000;}
#resources-tab{padding:5px 0;}
#resources-tab .resource-content-title{
	background-color:#CD1F1E;
	color:#f8f8f8;
	font-size:15px;
	font-weight:bold;
	padding:5px 0 5px 10px;
	margin-bottom:10px;
}
.resource-content{
	margin-bottom:10px;
}
#resources-tab .resource-content-download{
	padding:10px 5px 10px 5px;
}
#resources-tab .odd-block .resource-content-download{background-color: #ededed;}
#resources-tab .download-img{
	float:left;
	max-width: 220px; 
	overflow: hidden; vertical-align: middle; height: 100%;
}
#resources-tab .download-description{
	float:left;
	padding: 3px 5px 0px 5px;
	/*word-break: break-all;*/
	word-wrap: break-word;
	max-width: 430px;
	color: #4b4b4b;
}
.download-title a{
	color:#5e5e5e;
	font-size:15px;
}
.download-title a:hover{
	text-decoration:none;
}
.download-date{
	font-size:11px;
}
#resources-tab .download-description .download-title{font-size: 21px; }
#resources-tab .no-max-width{max-width: 99%; }
#product-detail-panel .prod-video-item object { margin: 0 auto !important; }
/*End Product Resource Tab*/
/*Begin Product Technical Tab */
#technical-sidebar{
	margin-top:30px;
	padding:0 !important;
}
#technical-navbar{
	width:100%;
	padding:0;
}
#technical-navbar li a,.technical-block-detail ul li a{
	font-size:11px;
}
#technical-navbar li a{
	color:#CD1F1E;
}
#technical-navbar li a:hover{
	text-decoration:none;
}
#technical-navbar li {
	padding:5px 0;
	border-bottom:2px solid #e2e2e2;
}
#technical-button{
	text-align:center;
	margin:25px 0;
}
#technical-mainbar{
	margin-top:10px;
	padding-left:20px;
}
.technical-block-detail ul{
	padding:0;
	padding-left: 10px;
    width: 157px;
	float: left;
}
.technical-block-title{
	padding:15px;
}
#technical-mainbar .products-title{
	margin-bottom:10px;
}
.technical-block-detail{
	float: left;
	padding-top: 20px;
	height:120px;
}
.technical-block-detail ul li a{
	color:#5e5e5e;
	font-size:9px;
}
.technical-block-detail ul li a:hover{
	text-decoration:none;
}
.technical-block-detail ul li {
	list-style-type:circle;
	list-style-position: inside;
}
.technical-block-title{
	width:150px;
	height:120px;
	float:left;
}
.gray{
	background-color:#eaeaea;
}
/*End Product Technical Tab */
/*End Product Detail Page */

/* Category Page { */
#category-panel #category-title { border-bottom: 1px solid #7d7d7d; border-top: 1px solid #7d7d7d; padding: 10px; }
#category-panel #category-title h1 { margin: 0px; font-size: 20px; }
#category-panel #product-list { padding: 10px 0px; }
#category-panel #product-list .row { border-bottom: 1px solid #7d7d7d; padding-bottom: 20px; margin-bottom: 20px; }
#category-panel #product-list .prod-text h2 { font-size: 18px; margin: 0px 0px 10px 0px; }
#category-panel #product-list .learn-more { font-weight: 600; color: #4c4c4c; padding: 5px 0px; }
#category-panel #product-list .prod-desc-long { padding: 0px 0px 25px 0px }
/* } End Category Page */

.clear-fix{
		clear:both;
}
/* Fix Layout */
#dropdown-navbar .row, #csp-content,#csp-content .row,#technical-tab .row,#csp-content .thumbnail > img {
	margin-left:0 !important;
	margin-right:0 !important;
}
#csp-content .col-md-3,#csp-content .col-sm-6{
	padding-left:0 !important;
	padding-right:0 !important;
}
#technical-mainbar{
	padding-right:0 !important;
}
#home-carousel .carousel-indicators li, #product-carousel .carousel-indicators li {
    border: 1px solid #cd1f1e;
}
#home-carousel .carousel-indicators .active, #product-carousel .carousel-indicators .active {
    background-color: #cd1f1e;
}
#home-carousel .carousel-control, #product-carousel .carousel-control {
    color: #cd1f1e !important;
}
#home-carousel  a:focus{
	outline:none;
}
/*End Fix Layout */	
#main-container .block-items{ position: relative; text-align: center; }
@media (min-width: 660px) {
	#home-navbar{
		background: url("../images/navbar-bg.png") repeat scroll 0 0 transparent !important;
		position: static;
		width: 660px !important;
	}
	#main-container .navbar-default .navbar-nav > li > a {
		margin-left: 25px;
		cursor:pointer;
	}
	#dropdown-navbar{
		width:660px;
	}
	#main-container {
		max-width: 660px;
	}
	#products-mainbar{
		padding: 0px !important;
	}
	#product-panel .products-title{
		text-align:center;
	}
	#products-topnav-title{
		padding-left:23px;
		margin-top: 5px;
	}
	#main-container #dropdown-navbar .cols-1 .content-placehoder{
	width:100% !important;
	}
	#main-container #dropdown-navbar .cols-2 .content-placehoder{
		width:50% !important;
	}
	#main-container #dropdown-navbar .cols-3 .content-placehoder{
		width:33.33% !important;
	}
	#main-container #dropdown-navbar .cols-4 .content-placehoder{
		width:25% !important;
	}
	#main-container #dropdown-navbar .cols-5 .content-placehoder{
		width:20% !important;
	}
	#main-container #dropdown-navbar .cols-6 .content-placehoder{
		width:16.66% !important;
	}
	#main-container .blocks-1 .block-items{
		width:100% !important;
	}
	#main-container .blocks-2 .block-items{
		width:50% !important;
	}
	#main-container .blocks-3 .block-items{
		width:33.33% !important;
	}
	#main-container .blocks-4 .block-items{
		width:25% !important;
	}
	#main-container .blocks-5 .block-items{
		width:20% !important;
	}
	#main-container .blocks-6 .block-items{
		width:16.66% !important;
	}
	#main-container #csp-nav-bar .children-4 .last-nav-col {
		position: relative;
		left: 33.33%;
	}
}
#product-panel .products-sidebar-content .products-sidebar-decor{
	padding:5px 5px 0;
	border-bottom:solid 1px #f8f5f5;
}
#product-panel .products-items-selected{
	display:inline-block;
	margin: 0px 2px 2px 2px;
	zoom: 1;
	*display: inline;
}
#product-panel #product-info h1 {
	font-weight: normal;
	font-size: 16px;
}

#product-detail-panel #overview-block-first { min-height: 370px; }
#product-detail-panel #overview-block-first .gallery-carousel-item, #product-detail-panel #overview-block-first .img-responsive { width: 275px !important; }
.video-demo-item {width: 75px !important;}
/*#product-detail-panel #block-contact {min-height: 50px; padding-bottom: 40px;}*/
#product-detail-panel #block-contact {position:relative; top: 60px; diplay:block; }
#product-detail-panel .overview-block { padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #4c4c4c; }
#product-detail-panel .overview-first-block { padding-top: 25px; margin-top: 25px; border-top: 1px solid #4c4c4c; }
#product-detail-panel .overview-last-block {border: none !important; margin: 0px; padding: 0px;}

#overview-tab .odd-block .overview-block-1 {float:left;width:45%;}
#overview-tab .odd-block .overview-block-2 {float:right;width:45%;}
#overview-tab .even-block  .overview-block-1{float:right;width:45%;}
#overview-tab .even-block  .overview-block-2{float:left;width:45%;}
#overview-tab .overview-block-2 img,#overview-tab .overview-block-1 img{max-width:100%;}
.overview-block-1 .short-desc {color:black;font-size:18px;margin-bottom:10px;}
.overview-block-1 .long-desc {font-size: 12px;}
.overview-block-1 .long-desc h3 {font-size:16px !important; margin: 0px 0px 5px 0px !important;}

#contactus-page { padding: 0px 0px 20px 30px; }
#contactus-page #field-list {padding-right: 35%;}
#contactus-page #submitbutton { padding: 5px 10px; }
@media (min-width: 550px) and (max-width: 660px) {
	#main-container .navbar-header {
		background: none !important;
	}
	#home-navbar {
		margin-bottom:0; !important;
	}
	#main-container #dropdown-navbar .content-placehoder {
		min-width:520px !important;
		height:auto !important;
		margin-left: 15px;
	}
	.navbar-collapse {
		padding:0 !important;
	}
}
@media (max-width:550px){
	#csp-wrapper .navbar-header { max-width: 100% !important; }
	#main-container #dropdown-navbar .content-placehoder {
		border:none!important;
		/*height:auto;*/
		width: 100%;
		height:auto !important;
		overflow:auto !important;
		margin-right:15px;
	}
	#dropdown-navbar {
		width: auto !important;
		background-color: white !important;
		margin-left:15px;
		margin-right:15px;
	}
	#home-navbar {
		margin-bottom:60px; !important;
	}
	#product-detail-panel #overview-tab #block-contact .btn-contact {
		text-align: left;
	}
	#product-detail-panel #overview-tab #block-contact #btn-contact-title {
		text-align: left;
	}
	#product-detail-panel #product-tab-content #first-description { padding-top: 95px !important; }
	.sub-category-children { left: 20% !important; top: 100% !important; }
	.sub-category-children li { 
		background-color: #b60400;
	}
}
@media (max-width:660px){
	#main-container #dropdown-navbar .content-block-title,#csp-nav-bar .content-block {
		padding-left:10px !important;
	}
	#main-container #dropdown-navbar .content-block-title {
		/*border-bottom: 1px solid #6D6F70;*/
		height: auto !important;
		min-height: 35px !important;
		padding: 10px;
		text-align: center;
	}
	#dropdown-navbar{
		position:static !important;
	}
	#main-container #dropdown-navbar .content-placehoder {
		border:none!important;
		/*height:auto;*/
		
	}
	#dropdown-navbar {
		width: auto !important;
		background-color: white !important;
	}
	#home-navbar .navbar-collapse.in {
		overflow-y: inherit !important;
		}
	#home-navbar .navbar-collapse{
		max-height:none !important;
	}
	#home-navbar li.root-li { border-bottom: 1px solid #FFF; }
	#main-container #dropdown-navbar .no-border{
		border-right: 1px solid #6d6f70;
	}
	#main-container {
		max-width: 660px;
	  }
	#main-container .navbar-header{
		background-color:#E7E7E7;
	}
	.border-background-top-nav{
		background:none !important;
		height:0 !important;	
		}
	#product-detail-panel #product-tab-content #first-description,#overview-block-fourth #fourth-description ,.customer-description{
		padding-left:0 !important;
	}
	.btn-contact,#overview-tab #block-contact #btn-contact-title,#overview-block-second #second-img   {
		text-align:left;
	}
	#technical-mainbar{
		padding-left:0;
		padding-right:10px;
	}
	.technical-block-title {
		height: 50px;
		width: 100%;
	}
	.technical-block-detail {
		height: auto;
		width:100%;
		padding-top:5px;
	}
	.technical-block{
		margin-bottom:20px;
	}
	.technical-block-detail ul {
		width: 50%;
	}
	#first-img{
		margin-right:10px;
	}
	#dropdown-navbar {
		border: 0 none;
		box-shadow: none;
		float: left;
		left: -302px;
		margin-top: 0;
		padding: 0;
		top: 45px;
		width: 550px;
	}
	#main-container #dropdown-navbar .content-placehoder {
		display: block;
		float: left;
		padding-bottom: 20px;
	}
	
	#product-panel .product-caption {
		font-size: 11px;
		font-weight: bold;
		text-align: center;
	}
	#second-description,#first-description,#fourth-description ,.customer-description{
		width:auto !important;
		max-width:none !important;
	}
}
#products-mainbar .thumbnail .caption{padding-left:2px;text-align:center;}
#products-mainbar .thumbnail {/*width: 141px;*/ height:180px;}
#products-mainbar .thumbnail img {/*height:140px;*/};
#breadcrumb { font-size: 11px; padding: 5px 10px 10px 10px; }
#breadcrumb a { color: #CD1F1E; display: inline-block; zoom: 1; *display: inline; padding: 2px 5px 0px 5px; font-weight: bold; }
#breadcrumb a.current, #breadcrumb a.current:hover { color: #CD1F1E !important; text-decoration: none; padding-left: 2px; cursor: auto; }

#product-carousel { width: 100%; margin: 0 auto; padding-bottom: 30px; }
#product-carousel .carousel-indicators { bottom: 0px; }
#product-carousel .carousel-control.left, #product-carousel .carousel-control.right { background: none !important; }
#product-carousel a:hover, #product-carousel a:active, #product-carousel a:focus { text-decoration: none; outline: 0; }
#product-carousel .ctitle { text-align: center; color: #333333; font-size: 16px; margin-top: 10px; }
#product-carousel .ctitlesecond { color: #333333; text-align:center;}
#product-carousel .carousel-control .icon-prev, #product-carousel .carousel-control .icon-next { top: 35%; }
#product-carousel .carousel-inner .item img { margin: 0 auto; }

#tieBrandingFooter { text-align: right; background-color: #FFF; padding: 10px 0px; }
#url-clip-frm { text-align: center; padding: 20px 0px; }
#url-clip-frm #url-section { padding: 10px 0px 15px 55px; }
#txtCurrentUrl { width: 450px; }

.promotionAssets {padding: 30px 20px;}
.tieContactUsForm {padding:10px 0 0 0;}
#breadcrumb {padding-bottom:10px;}
#products-mainbar .product-tile {padding:0 !important;width:155px; float: left;}
div.toggle-options {text-align:center;}
#all-video-wrapper, #all-video-wrapper .kWidgetIframeContainer, #all-video-wrapper iframe.mwEmbedKalturaIframe { width: 100%; height: 100%; }
#all-video-wrapper span { display: block; width: 100%; height: 100%; }
#all-video-wrapper span object { width: 100%; height: 100%; }
#frmleadgen { margin: 20px 10% 0 10%; }
/* new css for avaya 07-04-2016 */
@media (min-width: 660px){
	#home-navbar {background: #EFEFEF !important;border-radius: 0px !important;}
}

#home-navbar {
    border-top: 10px solid #c00;border-right: none !important;border-bottom: none !important;border-left: none !important;margin: 0px !important;height: 70px;
}
#home-navbar #csp-nav-bar > li > a {color: #000;}
#home-navbar #csp-nav-bar > li > a:hover {border-bottom: 2px solid #c00;text-decoration: none;color: #c00;}
.navbar-default .navbar-nav > li > a {padding-bottom: 0px !important;}

#main-container #product-panel #breadcrumb a, #main-container #product-detail-panel #breadcrumb a {color: #000;font-weight: normal;}
#main-container #product-detail-panel, #main-container #product-panel {margin-top:15px}
#csp-nav-bar .dropdown-menu {border: 1px solid #000;border-radius: 0px;box-shadow: none;left: 0px;padding: 5px;}
#main-container #dropdown-navbar .content-placehoder {border-right: 0px;} 
#main-container #dropdown-navbar .content-block-title a {padding: 10px;background: #efefef;font-weight: 600;text-align: left;}
#main-container #dropdown-navbar .content-block-title {    padding-left: 5px;
    background: none;
    border-bottom: none !important;
    padding-right: 0px !important;
    margin-top: 0px;
	text-align: left;
	padding-bottom: 0px;
}
#home-navbar #dropdown-navbar .row > .content-placehoder > .nav-block {
    overflow: hidden;
    margin-right: 5px;
}
#main-container #dropdown-navbar .content-block li a {
    font-size: 12px;
}
#home-navbar #dropdown-navbar .row > .content-placehoder > ul > li > a, #home-navbar #dropdown-navbar .row > .content-placehoder > .nav-block > ul > li > a {
    padding-left: 10px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background: none
}
/*Solutions*/
#product-detail-panel #first-img {
    float: right;
}
.product-header .breadcrumb-bar {
    border-bottom: 1px solid #ccc;
}
#product-detail-panel {
    color: #000;
}
#product-detail-panel #title-nav-tab {background-color: #ededed;}
#product-detail-panel #title-nav-tab li {margin-right: 20px;margin-left: 20px;}
#product-detail-panel #title-nav-tab li a{padding-top: 10px;padding-bottom: 10px;padding-left:0px; padding-right:0px}
#product-detail-panel #title-nav-tab li.active>a {color: #c00!important;border-bottom: 3px solid #c00 !important;border: none;border-radius: 0px;padding-left: 0px;background: none;}
#product-detail-panel #title-nav-tab .nav-tabs>li.active>a:hover,#product-detail-panel #title-nav-tab .nav-tabs>li.active>a:focus {}
#product-tab-content #overview-tab, #customer-tab, #technical-tab {padding-left: 0px;}
#product-detail-panel .overview-block {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 0px;
}
#product-detail-panel .overview-first-block {
    border-top: 1px solid #CFCFCF;
}
#product-detail-panel #product-tab-content #first-description {
    padding: 0px 0px 10px 0px !important;
}
#product-detail-panel #product-tab-content .overview-block .overview-block-1 {
    background: #ededed;padding: 15px;
}
#resources-tab .resource-content-title {
    background: none;
    color: #c00;
}
#product-panel #children-categories .sub-category-list-holder > a{display: none;}
#product-panel #children-categories .sub-category-list-holder .sub-category-children {display: block;width: 100% !important;background:none;position: relative;left: 7%;color:#000 !important;list-style-type: inherit !important;}
#product-panel #children-categories {padding-top: 0px !important;}
#product-panel #children-categories .sub-category-list-holder .sub-category-children li a {color:#000}
#product-panel #children-categories .sub-category-list-holder .sub-category-children li a:hover {color: #c00;text-decoration: underline;}
#product-panel #children-categories .row{float: left;width: 50% !important;} 
#product-panel #children-categories .sub-category-text {background: none;border: none !important;width: 100% !important;}
#product-panel #children-categories .category-desc-long {padding: 0px 0px 10px 0px;} 
#product-panel #children-categories .sub-category-image {display: none;} 
#resources-tab .odd-block .resource-content-download {
    background: none;
}

/* Product */
#breadcrumb {border-bottom: 1px solid #ccc;}
#product-detail-panel #detail-banner {border: none;}
#product-panel #product-carousel {display: none !important;}
#children-categories #products-mainbar .row {width: 100% !important;}
#products-mainbar #product-list {padding-left: 0px;}
#products-mainbar .product-tile {padding: 0 !important;width: 100%;float: left;}
#products-mainbar .product-content {width: 75%;float: left;padding: 0px 10px 0px 20px;}
#products-mainbar .thumbnail {width: 100%;height: 180px;}
#products-mainbar .thumbnail img {width: 25% !important;float: left;}
#products-mainbar .thumbnail .caption {padding: 0px;text-align: left;font-size: 15px;}
#products-mainbar .thumbnail .caption:hover {color: #c00;text-decoration: underline;}
#product-list .product-tile .product-content .product-content-text {color:#000}
#product-categories .product-categories-title {font-size: 1.5em;font-weight: 600;color: #000;}
#product-categories .product-categories-desc {}
#product-categories .product-categories-childcategory a {color: #000;font-size: 1.15em;line-height: 30px;font-weight: bold;}
#product-categories .product-categories-childcategory a:hover {color: #c00;text-decoration: underline;}
/*11-04  */
#product-tab-content .overview-block .overview-block-1 {float: right;width:70% !important}
#product-tab-content .overview-block .overview-block-2 {float: left; width:30%;    padding-top: 15px;
    padding-left: 15px;}
#product-detail-panel .overview-block {background: #ededed;}
#product-detail-panel .overview-first-block {padding-top: 0px;}
#main-container #dropdown-navbar .content-block-title {    min-height: auto !important;
    height: auto !important;}
/*menu product  */
#products-mainbar {padding: 0px !important;float: left;}
#product-panel #products-sidebar {float: left;}
.products-sidebar-list {width: 33.3%;}
.produc-sidebar-mainbar {}
.products-sidebar-title {}
#product-panel #products-sidebar ul {padding: 0;}
#product-panel #products-sidebar ul li {width: 33.3%;float: left;}
#product-panel #products-sidebar ul li .products-sidebar-title{}
#product-panel #products-sidebar .type-block-collapse {}
#products-topnav {float: left;}
#product-panel #products-sidebar .products-sidebar-list .products-sidebar-title {background-color: #EFEFEF;color: #000;padding: 10px 0 15px 5px;font-size: 14px}
#product-panel #products-sidebar .type-block-collapse {
    width: auto !important;
    background: url('../images/collapse-icon.png') no-repeat scroll left;
    padding-left: 20px;
}
#product-panel .products-sidebar-content label {font-size: 13px;color: #000;}
.menu-show-setup, .menu-hide-setup {transition:all 0.5s ease-out;overflow:hidden}
.menu-show-setup {max-height:0;}
.menu-show-setup.menu-show-start {max-height:200px;}
.menu-hide-setup {max-height:200px;}
.menu-hide-setup.menu-hide-start {max-height:0;}

.az {
    display: inline-block;
    padding: 0 4px;
    border: 1px solid #c00;
    margin: 0 2px 10px 0;
    font-weight: 600;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.az span{
	color:#4b4b4b;
}
.az:hover span{text-decoration:underline;color:#c00}
.az:last-child {width: 30px;}
a.az{text-transform: uppercase;}
.products-a-z-list .in-active{ display:none;}
.az-titles .in-active { border: 1px solid gray; color: gray;}
.prod-col-a-z { padding-left: 0px; min-height: 85px;}
.prod-title-a-z { color: #4b4b4b; font-size: 14px; font-weight: bold;}
.prod-title-a-z:hover {cursor:pointer;}
.prod-des-a-z {font-size: 100%; color: #4c4c4c; height: 50px;}
.a-z-link {color: #4b4b4b; font-size: 12px;font-weight: bold;float: right;padding-right: 110px;padding-bottom: 10px;}
.a-z-link :hover {color: #CC0000 !important, text-decoration:underline; }
/* fix css 14-04 */
#product-detail-panel #breadcrumb span a:hover {color: #c00 !important;}
#main-container #dropdown-navbar .content-block-title a:hover {color: #c00;text-decoration: underline;}
#main-container #dropdown-navbar .content-block li a:hover, #dropdown-navbar a.a-z-link:hover {color: #c00}
#product-detail-panel #title-nav-tab li a {text-transform: lowercase;font-size: 15px !important;font-weight: 500;color: #4c4c4c;}
#product-detail-panel #title-nav-tab li a:hover {color: #c00;text-decoration: underline;}
#product-detail-panel #title-nav-tab li a:first-letter {text-transform: uppercase !important;}
.products-a-z-list { padding: 20px 0px 0px 0px; }
.products-a-z-list a.az {color: #4c4c4c !important;}
.products-a-z-list a.az:hover {color: #000 !important;text-decoration: none;}
.products-a-z-list a.prod-title-a-z:hover {color: #c00 !important;}
#product-panel .products-sidebar-content label:hover {color: #c00;text-decoration: underline;}
#product-panel .product-chectbox {vertical-align: sub;}
/*  */

#scrollUp {
  bottom: 60px;
  right: 20px;
  width: 38px; /* Width of image */
  height: 38px; /* Height of image */
  background: url(../Images/top.png) no-repeat;
}

#csp-wrapper .navbar-header {
	min-width: 185px;
	max-width: 185px;
}