#csp-wrapper .navbar-header { padding-top: 7px; }
.carousel { overflow: hidden; }
.carousel .carousel-indicators { margin-left: -10px !important;top:95% !important; }
.carousel .carousel-indicators li { float: left; }
.carousel-control { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1) !important; }
#breadcrumb span {zoom: 1; *display: inline; }
#product-detail-panel #product-tab-content .csp-cs-video, #product-detail-panel #product-tab-content .csp-cs-video img { width: 220px; }