﻿


* {
    margin: 0;
    padding: 0;
}
body {
    /*background: none repeat scroll 0 0 #EDEDED;*/
    color: #404040;
    font: 12px Arial,Helvetica,sans-serif;
	min-height: 750px;
}
html {
    overflow-y: auto;
}
ul {
    list-style: none outside none;
}

a {
    color: #0087c1;
    text-decoration: none;    
}
img {border: 0;}

#csp-page #csp-wrapper {
    margin: 0 auto;
    z-index: 4;
}
#csp-page
{
    background: url("/global/files/avaya/images/bodyGradTop.gif") repeat-x scroll left top white;
    position: relative;
}

#csp-wrapper {
    margin-left: 60px;
    padding-bottom: 40px;
    position: relative;
    width: 660px;
    z-index: 2;
}

#csp-util, #csp-util a {
    color: #ECECEC;
}

#csp-util {
    /*background: url("/_assets/img/homeRedesign/util-bg.gif") repeat-x scroll 0 0 #414141;*/
   background: #414141;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    text-align: right;
    width: 508px;
}

#csp-top-nav {
    height: 80px;
    margin: 0 auto;
    padding-left: 152px;
    position: relative;
    text-align: left;
    width: 508px;
    z-index: 7000;
}
#csp-top-nav .logo {
    background: url("http://global.syndication.tiekinetix.net/customer-resources/showcase/custom/motorola/images/motorolaLogo.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 152px;
}

#csp-top-nav .csp-navbar table {
    background-color: #F5F5F5;
    border-collapse: separate;
    height: 64px;
    width: 100%;
}

#csp-top-nav .csp-navbar table td.first {
    border-left: medium none;
}
#csp-top-nav .csp-navbar .menu-overlay-item, #csp-top-nav .csp-navbar .menu-overlay-menu {
    position: static;
}
#csp-top-nav .csp-navbar table td {
    background: url("http://global.syndication.tiekinetix.net/customer-resources/showcase/custom/motorola/images/topnav-bg.gif") repeat-x scroll 0 0 #D7D7D7;
    text-align: center;
    vertical-align: middle;
}
#csp-top-nav .menu-overlay-item, #csp-top-nav .menu-overlay-menu {
}
#csp-top-nav .csp-navbar table .left-bevel {
    background-color: #C6C6C6;
    background-image: url("../images/topnav-left-bevel.gif");
}
#csp-top-nav .csp-navbar table .bevel {
    background-repeat: no-repeat;
    width: 1px;
}
#csp-top-nav .csp-navbar .menu-overlay-content ul {
    padding: 25px 26px 23px;
    text-align: left;
    margin-bottom: 20px;
}

/*menu*/
#csp-top-nav .csp-navbar table td .csp-menu-link {
    color: #404040;
    display: block;
    font-weight: bold;
    padding: 0 20px;
    /*
    position: relative;
    */
    
    z-index: 1;
    font-size:12px;
}
.menu-overlay-item {
    position: relative;
    z-index: 100;
	float:left;
	width:32%;
	margin-right:1%;
	margin-top:1%;
	margin-top:5%;
	min-height:300px;
}

.menu-overlay-item h2{
	height:80px;
}

.menu-overlay-item h2 span{
	height:50px;
	float:left;
	width:100%;
}

.menu-overlay-content{
	border: 1px solid #C7C7C7;
}

.menu-overlay-content ul li{
	line-height:25px;
	border-top: 1px solid #C7C7C7;	
}

.menu-overlay-section {
	padding:2px 5px 2px 10px;
}

.menu-overlay-section h4{
	font-weight:normal;
	word-wrap:break-word;
}
.menu-overlay-section h4 a{
	color:#686868;
	font-weight:bold;
}

.menu-overlay-section h4 a:hover{
	color:#0087C1;
}

#csp-top-nav .csp-navbar .menu-overlay-content {
    background: url("../images/topnav-overlay-bg.gif") repeat-x scroll 0 0 #F7F7F7;
    box-shadow: 0 0 3px #AAAAAA;
    cursor: default;
    left: 0;
    padding-top: 1px;
    position: absolute;
    top: 79px;
    width: 660px;
}
#csp-top-nav .csp-navbar .menu-overlay-content li {
    float: left;
    list-style: none outside none;
    width: 25%;
}
#csp-top-nav .csp-navbar .menu-overlay-section {
    padding: 0 16px 3px 0;
}
#csp-top-nav .menu-overlay-section h2, #csp-top-nav .menu-overlay-section h3, #csp-top-nav .menu-overlay-section h4, #csp-top-nav .menu-overlay-section h5 {
    font-weight: bold;
}
#csp-top-nav .menu-overlay-section h2, #csp-top-nav .menu-overlay-section h3 {
    color: #131313;
    font-size: 14px;
    margin: 0 0 10px -1px;
}
#csp-top-nav .csp-navbar .menu-overlay-section ul {
    padding: 0 20px 0 0;
}
#csp-top-nav .csp-navbar .menu-overlay-section li {
    color: #666666;
    float: none;
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0;
    width: 100%;
}
#csp-top-nav .csp-navbar .menu-overlay-section a:hover { text-decoration: underline; }
#csp-top-nav .csp-navbar table td.hovered-over,#csp-top-nav .csp-navbar table td.hovered-over .menu-link { background: white; }
#csp-top-nav .csp-navbar td.menu-overlay-item .menu-link { text-shadow: 0 1px 1px white; }

/*home page header*/
.csp-homepage-header {
	padding: 25px 30px;
	width:450px;
}
.csp-homepage-header h1 {
    color: #0087c1;
    font-size: 30px;
	font-weight:normal;
	padding-bottom:15px;
}
.csp-homepage-header h2 {
	color: #666;
	text-decoration:none;
	font-weight:normal;
	font-size: 18px;
}

/*tout area*/
#csp-tout-area {margin-top:5px; float:left; width:660px;margin-bottom: 35px;}

.csp-box-outer{
	padding:10px 5px;
	float:left;
	border:1px solid #e8e8e8;
	height:100%;
}

div.csp-box
{
       float:left;
       width: 198px;
       height:100%;
       /*overflow:hidden;       */
       /*background: url("/global/files/avaya/images/tout-background_large.jpg") no-repeat scroll left top transparent;*/
       background-color: #efefef;
       margin: 4px;       
       position:relative;
	   background: url("http://global.syndication.tiekinetix.net/customer-resources/showcase/custom/motorola/images/cspBox.png") repeat-x scroll 0 0 transparent;
	   background-position:bottom;
                            
}

#csp-tout-area div.csp-box img 
{
    /*
    position:absolute;top:0;right:0;
    */
    float:left;
   /* margin-left:2px;*/
	/*width:80px;*/
	width:98px;
}
#csp-tout-area div.csp-box p {font-size: 11px; float:left;}

.csp-box-shortdesc{

	width:80px;
	height:90%;
	background-color:#afafaf;
	color:#fff;
	padding:10px 10px 0px 10px;
	font-weight:bold;

}

.csp-box-longdesc{
	margin:10px 10px;
	color:#a8a8a8;
}

.csp-box-top{
	height:50%;
	margin-bottom:10px;
}

#csp-tout-area div.csp-box h2 {font-size:13px;padding: 5px 0;height:50px;}
div.csp-left-col, div.csp-right-col {float:left;}
div.csp-left-col {width:165px;}
div.csp-right-col {width: 495px; margin-top:15px; color:#656565;}
.csp-clear {clear:both;}
#csp-breadcrum ul li {float: left;}
#csp-page-title, .tieContentFormHeaderTitle
{
    font-size: 30px;
    color: #0087c1;
   /* margin-bottom: 25px;*/
}

#csp-page-header{
	float:left;
}
#csp-breadcrumb 
{
    color:#5F798F;
    font-size: 11px;
    margin: 20px 0 10px;
}

.csp-marquee-container {height:300px;}
.csp-marquee {}
.csp-marquee h2 {color: #0087c1; padding: 10px 0;}
.csp-marquee p {margin-bottom:10px;width:300px;}
.csp-marquee div a {font-weight:bold;}
.csp-marquee-active{display:block}
.csp-hide{display:none;}


/*tabs*/
.csp-tabs-container {margin-top: 20px;float:left;width:495px;}
.csp-sibling-items
{
    float:left;
    width:165px;
	margin: 20px 0px 5px 0px;
}

.csp-tabs-container table {width: 100%;table-layout:fixed;}
.csp-tabs-container  .csp-tabs-option a {color: #fff;display:block;text-align:center;text-transform:uppercase;font-size:11px;font-weight:bold;}
.csp-tabs-container  .csp-tab-active a {color: #0087c1;}

.csp-tabs-container .csp-tabs-option 
{
    background: url("/global/files/avaya/images/tab_bg.gif") repeat-x scroll 0 0 #899AAA;
    border-bottom: 1px solid #E2E2E2;
    border-left: 1px solid #B3BFC9;
    border-right: 1px solid #8598AA;
    cursor: pointer;
    height: 31px;
    padding: 2px 10px;
}
.csp-tabs-container .csp-tab-active
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/global/files/avaya/images/on_tab_bg.gif") repeat-x scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #E2E2E2 #FFFFFF;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    cursor: default;
}

.csp-tabs-content
{
    margin-top:10px;
}
.csp-tab-block 
{
    padding-bottom:15px;
    border-bottom: solid 1px #ececec;
    margin-bottom: 15px;
}
.csp-tab-block h2
{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}

.csp-tab-block .csp-tab-image ,.csp-tab-block .csp-tab-content
{
    
}
.csp-tab-block .csp-tab-image
{
    float: left;
    width: 150px;
}
.csp-tab-block .csp-has-image 
{
    float: left;
    width:495px;
}
.csp-tab-block .csp-tab-link
{
    margin-top: 10px;
}

/* products*/
.csp-right-col .csp-right-col
{
    /*width: 175px;*/
	margin-top:0px;
}
.csp-right-col .csp-left-col
{
    /*width: 485px;
    margin-right:5px;*/
	width:100%;
}
.csp-product-marquee 
{
    position:relative;
}
.csp-thumbnail-image 
{
    /*position: absolute;*/
	float:left;
	margin:2px 2px 2px 0px;
    top: 73%;
}
.csp-thumbnail-image img
{
    border: 1px solid #ccc;
}
.csp-product-marquee-container 
{
    /*height:575px;*/
	margin-bottom:20px;
}
.csp-product-tabs {width:100%;float:left;border-bottom:2px solid #656565;margin-bottom:12px;}
.csp-product-tab {float:left;margin-right: 2px; padding:8px; background:#b9b9b9;}
.csp-product-tab a{color:#fff;}
.csp-product-features {margin-bottom: 10px;}
.csp-product-features h3 {font-weight:normal;text-transform:uppercase;font-size:12px;}
.csp-product-features .csp-feature-block {padding-bottom:5px;}
.csp-sibling-items li
{
    font-size:11px;
    margin-bottom:10px;
	word-wrap: break-word;
}

.csp-sibling-items li a
{
color:#656565;
text-decoration:underline;
}

li.csp-selected-item a
{
    color: #0087c1;
}

.csp-product-box 
{
        /*background: url(/global/files/avaya/images/bg_explore-item.png) no-repeat scroll;*/
    /*height: 90px;*/

    width:485px;
    margin:0 0 40px 10px;
    float:left;
}

.csp-product-box h3,.csp-product-box p
{
    padding: 5px;
	color:#656565;
}
/* form */
#csp-form-container .csp-form-field
{
    border: 1px solid #ccc;
	width:340px;
	height:20px;
}


.csp-left-col .csp-product-marquee div a, .csp-left-col .csp-product-marquee-active div a
{
	font-weight:bold;
}

.csp-product-marquee-text
{
padding: 15px;
}


#cspContactButton
{
	width: 132px;
	font-size:12px;
	font-weight:bold;
	/*background-image:url('../images/arrow.png');
	background-position:125px 5px;
	background-repeat:no-repeat;*/
	background-color:#0087c1;
	float:left;
	padding: 6px 5px 6px 10px;
	/*text-align:center;*/
	border-radius: 1px;
    box-shadow: 1px 1px 1px #aaaaaa;
	text-transform:uppercase;	
	margin-top:15px;
	color:#fff;
}

#cspContactButton p
{
	float:right;
	font-size:16px;
	font-weight:normal;
}

#cspContactButton a
{
	color:#ffffff;
	float:left;
	margin-top:7px;
}

#_opt1{
*height:1400px;
}

/*Priyanka Additions*/

#csp-breadcrumb , #csp-breadcrumb  a{
	color:#bbbbbb;
}

#csp-breadcrumb a:hover{
	color:#0087C1;
}



#csp-product-box-parent{
	float: left;
    margin: 5px 0 10px 0px;
    width: 100%;
	color:#0087c1;
}

.csp-product-marquee{
/*height:575px !important;*/
}

.csp-tab-content .intro{
margin:10px 0px 10px 0px;
}

.csp-tab-content .intro ul{
margin:10px 0px 10px 0px;
}

.csp-product-features-container{
width:495px;
}

.csp-product-features h3{
font-weight:bold;
margin:10px 0px 10px 0px;
float:left;
clear:both;
}
.csp-product-features .csp-feature-block{
margin:4px 0px 4px 0px;
float:left;
clear:both;
}

.csp-product-features .csp-pdf-image-left{
clear: right;
float: left;
margin-right:5px;
}

.csp-product-features .csp-feature-block .csp-feature-right{
float:left;
width:450px;
}

.csp-product-features .csp-feature-block .csp-feature-right a{
font-weight:bold;
}

.csp-product-features .csp-feature-block .csp-feature-right span{
/* float: left;*/
 margin-bottom: 10px;
 /*margin-left:35px;*/
 width:100%;
}

.csp-spec-group{
margin:20px 0px 10px 0px;
width:100%;
float:left;
}

.csp-spec-group p{
font-size:16px;
font-weight:bold;
text-transform:uppercase;
border-bottom:2px solid #656565;
padding-bottom:4px;

}
.csp-individual-spec-group{
float:left;
width:46%;
margin:1%;
min-height:100px;
}

.csp-spec-name{
font-size:13px;
font-weight:bold;
margin:5px;
}

.csp-spec-value{
font-weight:normal;
margin:5px;
}

.csp-tab-content .csp-subtab{
display:none;
}

.csp-subgroup p{
margin:2% 2% 2% 0%;
font-weight:bold;
}

.csp-subgroup p a{
margin:0% 1%;
cursor:pointer;
color:#5F798F;
}

#csp-products{
float: left;
width: 100%;
}

/*Nav Bar Start*/

#csp-new-navbar{
float:left;
width:100%;
background:url("http://global.syndication.tiekinetix.net/customer-resources/showcase/custom/motorola/images/topnav-bg.gif") repeat-x scroll 0 0 #D7D7D7;
border-top: 3px solid #747474;
}

#csp-new-navbar div{
	float:left;
	width:31.1%;
	padding:4.6% 1% 4.5% 1%;
	border-right: 1px solid #747474;
	text-align: center;
}

#csp-new-navbar div:hover{
	background:#8e8e8e;
}

#csp-new-navbar div a{
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	font-size:15px;
}

/*Nav Bar End*/

#csp-Blue-Box-Title{
	float:left;
	width:50%;
	background-color:#0087C1;
	height:260px;
}

#csp-Blue-Box-Title p{
	color:#fff;
	font-size:20px;
	font-weight:bold;
	padding:1%;
	text-transform:uppercase;
	margin:15px;
}

#csp-Blue-Box-Image{
	float:right;
	width:50%;
	overflow:hidden;
}

.csp-title{
	display:none;
}

/*Contact Us Start*/



#tieContactUsForm ,.csp-form-content{
float:left;
width:100%;
margin-top:10px;
}


.tieContactUsFormFieldLabel{
	font-weight:bold;
	color:#000;
}

.tieContentShortDescription{
color:#656565;
margin:15px 0px;
}

.tieContentShortDescription span{
font-size: 10px;
}

.tieContactUsFormSubmit .btn{
	border:none;
	width: 132px;
	font-size:12px;
	font-weight:bold;
	/*background-image:url('../images/arrow.png');
	background-position:125px 5px;
	background-repeat:no-repeat;*/
	background-color:#0087c1;
	float:left;
	padding: 8px;
	/*border-radius: 1px;*/
    box-shadow: 1px 1px 1px #aaaaaa;
	text-transform:uppercase;	
	margin-top:15px;
	color:#fff;
	text-align:left;
	cursor:pointer;
}

.tieContactUsFormSubmit p{
	color:#fff;
	margin-top:21px;
	margin-left:-23px;
	float:left;
	cursor:pointer;
	font-size:16px;
}
.csp-arrowInContactUs {
    margin-top: 17px !important;
}
.tieContentShortDescription2{
	margin-bottom:20px;
}

/*Contact Us End*/

/*Internal Page Additions*/

.csp-internalPage-image{
	float:left;
	width:660px;	
	overflow: hidden; 
}

/*Internal Page Additions END*/