.clear-fix{
	clear:both;
}

#csp-detail-title{
	font-weight:bold;
}

#product-detail-panel #overview-block-first { }
#product-detail-panel #overview-block-first .gallery-carousel-item, #product-detail-panel #overview-block-first .img-responsive { width: 275px !important; }
.video-demo-item {width: 75px !important;}

#product-detail-panel #csp-first-img{
	min-width: 170px;
	float:left;
}
#product-detail-panel #csp-first-img img {border:1px solid #000;}
#product-detail-panel #csp-first-img #zoom-trigger { cursor: pointer; }

#product-detail-panel #product-tab-content #csp-first-description{
	float: left;
    padding: 10px 0 10px 20px;
    max-width: 350px;
}

#product-detail-panel #product-tab-content #csp-first-description #csp-first-description-title,.fourth-description-title{
	margin-bottom:10px;
}
#product-detail-panel #product-tab-content #csp-first-description #csp-first-description-galery,
#product-detail-panel #product-tab-content #csp-first-description #csp-video-blocks {
	margin-top:20px;
	padding:15px 0;
	/*
	border-top:2px solid #e2e2e2;
	border-bottom:2px solid #e2e2e2;
	*/
}
#product-detail-panel #product-tab-content #csp-first-description #csp-video-blocks { margin-top: 0px; border-top: none; }
#product-detail-panel #product-tab-content #csp-first-description .thumbnails,
#product-detail-panel #product-tab-content #csp-first-description #csp-video-blocks .thumbnails{
	padding:0;
	margin: 0;
}
#product-detail-panel #product-tab-content #csp-first-description #csp-first-description-galery .thumbnails li,
#product-detail-panel #product-tab-content #csp-first-description #csp-video-blocks .thumbnails li{
	display:inline-block;
	zoom: 1;
	*display: inline;
}
#product-detail-panel #product-tab-content #csp-first-description #csp-first-description-galery .thumbnails li span,
#product-detail-panel #product-tab-content #csp-first-description #csp-video-blocks .thumbnails li span{
	display:inline-block;
	zoom: 1;
	*display: inline;
	cursor: pointer;
}

#block-detail-panel .csp-overview-block { padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #4c4c4c; }
#block-detail-panel .overview-first-block { padding-top: 25px; margin-top: 25px; border-top: 1px solid #4c4c4c; }
#block-detail-panel .overview-last-block {border-bottom: 1px solid #4c4c4c; margin: 0px; padding: 0px;}

#block-detail-panel .odd-block .overview-block-1 {float:left;width:45%;}
#block-detail-panel .odd-block .overview-block-2 {float:right;width:45%;}
#block-detail-panel .even-block  .overview-block-1{float:right;width:45%;}
#block-detail-panel .even-block  .overview-block-2{float:left;width:45%;}
#block-detail-panel .overview-block-2 img,#overview-tab .overview-block-1 img{max-width:100%;}
#block-detail-panel .overview-block-1 .csp-short-desc {margin-bottom:10px; font-size: 20px;}
#block-detail-panel .overview-block-1 .csp-long-desc {}
#block-detail-panel .overview-block-1 .csp-long-desc h3 {margin: 0px 0px 5px 0px !important;}

#asset-detail-panel .odd-block {background-color: #ededed;}
#asset-detail-panel .even-block {}
.csp-asset-block { padding: 10px 0px; }
.csp-asset-thumbnail { width: 30%; float: left; }
.csp-asset-thumbnail img { width: 100%; }
.csp-asset-description { width: 70%; float: left; }
.csp-asset-description > div { padding: 0px 10px; }
.full-size { width: 100% !important; float: none !important; }
.full-size > div { padding: 0px !important; }
.csp-asset-date { font-size: 11px; }
.csp-asset-title { font-size: 20px; }
.csp-asset-title a { display:block !important; }
#all-video-wrapper, #all-video-wrapper span, .kWidgetIframeContainer {
    display: block;
    height: 100%;
    width: 100%;
}
#all-video-wrapper span object {
    height: 100%;
    width: 100%;
}