#csp-wrapper { max-width: 972px; margin: 0 auto; padding: 0px; position: relative; }
#csp-wrapper .clear { clear: both; }
#csp-wrapper .hide { display: none; }
#csp-wrapper .float-left { float: left; }
#csp-wrapper { font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: #767676; }
#csp-wrapper h1, #csp-wrapper h2, #csp-wrapper h3, #csp-wrapper h4, #csp-wrapper ul  { padding: 0px; margin: 0px }
#csp-wrapper a { color: #3d8840; }
#csp-wrapper a, #csp-wrapper a:hover { text-decoration: none; }
#csp-wrapper .call-leadgen { cursor: pointer; }
#csp-wrapper .ajax-loading {background: url("../images/prod-text-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important; position: absolute; z-index: 10000; top: 0px; left: 0px; width: 100%; height: 100%;}
#csp-wrapper .ajax-loading .loading-image {width: 100%; height: 100%; background: url("../images/loading_box.gif") no-repeat scroll center;}

#csp-top-bar { position: relative; /*border-radius: 7px;*/ }
#csp-top-bar-inner { padding: 5px 10px; height: 30px; /*margin-top: 5px;*/ }
#csp-lang-box { width: 194px; height:36px;top:-4px;left:-10px; background: #003352 url('../images/ddlang-list-arrow.png') no-repeat scroll 177px center; float: left; position: relative; cursor: pointer; }
#csp-lang-box #csp-lang-box-inner { padding: 10px 25px 0 10px; margin: 0 25px 0 0; overflow: hidden; white-space:nowrap;color:#fff;}
#csp-lang-box #csp-lang-list { position: absolute; z-index: 100;width:972px; padding:10px 0; background-color: #003352; top: 100%; display: none; }
#csp-lang-box #csp-lang-list li { list-style-type: none; padding: 7px 10px; color: #FFF; width: 194px;float:left; }
#csp-lang-box #csp-lang-list li:hover { background-color: #004976; }
#csp-search-box { float: right; position: relative; top: -1px;}
#csp-clear-search { display: none; }
#csp-search-result-list { position: absolute; left: 0px; top: 20px; width: 92%; background-color: #FFF; z-index: 1; box-shadow: 0px 0px 2px #555; }
#csp-search-result-list * { font-size: 11px; }
#csp-search-result-list .result-wrapper { padding: 5px; }
#csp-search-result-list .result-section-label { font-weight: bold; font-style: italic; background-color: #EEE; }
#csp-search-result-list ul li { list-style-type: none; border-bottom: 1px dashed #BBB; padding: 2px 0px; }
#csp-search-result-list ul li a { font-weight: bold; display: block; }
#csp-search-result-list p, #csp-search-result-list ul li p { padding: 0px; margin: 0px; }
#csp-search-result-viewall { background-color: #464646; text-align: right; }
#csp-search-result-viewall a { color: #FFF; }
#csp-search-result-list .highlight { background-color: #FFFF88; }
#csp-search-box #csp-search-key { width: 200px; border: 1px solid #999; }
#csp-search-box {display:none;} /* hide search box for now*/
#csp-search-submit { border: none; background: url("../images/icon-search.png") no-repeat scroll center; width: 15px; height: 15px; position: relative; left: -20px; }

#csp-header { position: relative; }
#csp-header-main { padding: 10px 0 40px 0px; position: relative; }
#csp-consumer-logo { width: 27%; text-align: center; }
#csp-consumer-logo img {max-width: 220px;}

#csp-featured-item { width: 245px; min-height: 140px; }
#csp-featured-inner { height: 140px; }
#csp-featured-inner .carousel-control { width: 1px; }
#csp-featured-item .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
#csp-featured-item .carousel-fade .carousel-inner .active {
  opacity: 1;
}
#csp-featured-item .carousel-fade .carousel-inner .active.left,
#csp-featured-item .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#csp-featured-item .carousel-fade .carousel-inner .next.left,
#csp-featured-item .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#csp-featured-item .carousel-fade .carousel-control {
  z-index: 2;
  width: 1px;
}
#csp-featured-item .carousel,
#csp-featured-item .carousel-inner,
#csp-featured-item .carousel-inner .item {
  height: 100%;
}
#csp-featured-item .carousel-control { background: transparent !important; }

#csp-logo-nav { max-width: 45%; }
#csp-supllier-logo { position: absolute; top: 10px; right: 0px; }
#csp-nav-bar { position: absolute; bottom: 0; right: 0; }
#csp-nav-bar ul { overflow: hidden; border-bottom: 1px solid #CCC; padding: 0px 10px; }
#csp-nav-bar ul li { list-style-type: none; display: inline-block; zoom: 1; *display: inline; }
#csp-nav-bar ul li a { display: block; padding: 5px 30px 3px 30px; font-size: 14px; font-weight: bold; }
#csp-nav-bar ul li a:hover, #csp-nav-bar ul li a.active { border-bottom: 4px solid #ff6d10; }

#csp-body { padding: 20px 0px; }
#csp-left-section, #csp-right-section { float: left; min-height: 100px; }
#csp-left-section { width: 27%; }
#csp-right-section { width: 73%; }
#csp-left-section #csp-left-section-inner { padding: 0px 20px 0px 0px; }
#csp-left-section ul li { list-style-type: none; }
#csp-left-section ul li a { color: #FFF; }
#csp-left-section ul li.main-item a.main-item-link { display: block; width: 100%; text-align: left; padding: 10px; }
#csp-left-section ul li.main-item > ul.sub-menu > li { border-bottom: 1px solid #888; }
#csp-left-section ul li.main-item:hover > ul.sub-menu { display: block !important; }
#csp-left-section ul.sub-menu { padding: 0px 0px; display: none; }
#csp-left-section ul.sub-menu-show { display: block !important; }
#csp-left-section ul.sub-menu li.sub-item a { display: block; width: 100%; text-align: left; padding: 5px 15px; }
#csp-left-section ul.sub-menu li.sub-item > ul.sub-menu > li > a { padding: 5px 25px; }
#csp-left-section ul.sub-menu li.sub-item:hover > ul.sub-menu { display: block !important; }

#csp-asset-info {padding: 0 0 15px 0; color: #000; font-size: 14px;}
#csp-asset-info h1 { color: #2A3136; font-size: 16px; font-weight: bold; padding: 0px 0px 15px 0px; }
#csp-asset-list { color: #2A3136; }
#csp-asset-list .item-row { border: 1px solid #afee5c; margin-bottom: 5px; }
#csp-asset-list .item-row .item-row-inner { min-height: 30px; padding: 10px; }
#csp-asset-list .item-row .item-row-inner .item-title-link { display: block; padding: 2px 0px 2px 20px; background: url("../images/show-icon.png") no-repeat scroll left center; }
#csp-asset-list .item-row .item-row-inner .item-row-title a.active { background: url("../images/hide-icon.png") no-repeat scroll left center; }
#csp-asset-list .item-row .item-row-inner h3 { font-size: 16px; }
#csp-asset-list .item-row .item-row-inner .csp-item-asset { display: none; }
#csp-asset-list .item-row .item-row-inner .csp-item-asset ul { /*text-align: center;*/ overflow: hidden; }
#csp-asset-list .item-row .item-row-inner .csp-item-asset li { display: inline-block; zoom: 1; *display: inline; margin: 10px 30px; min-height:260px; float:left; position: relative;}
#csp-asset-list .item-row .item-row-inner .csp-item-asset li.last { float: left; }
#csp-asset-list .item-row .item-row-inner .csp-item-asset li .csp-asset-item-link { /*width: 100px; overflow: hidden;color: #FFF;*/ }
#csp-body .csp-asset-item-wrapper { width: 110px; min-height: 140px; text-align: center; }
.csp-asset-item-wrapper .csp-asset-item-figure img,
.csp-feature-asset-item-wrapper .csp-feature-asset-item-figure img
{ max-width: 110px; max-height: 140px; }
.csp-asset-item-figure { /*float: left; width: 100px;*/ height: 140px; overflow: hidden; }
.csp-asset-item-figure a { cursor: pointer; }
.csp-asset-item-title { /*position: relative; float: left;height: 140px; width: 145px; overflow: hidden; background-color: #509B53;*/ color: #000; /*text-align: left;*/ padding-bottom: 20px;}
.csp-asset-item-title p { padding: 5px; margin: 0; }
.learn-more { display: block; width: 100%; /*position: absolute;*/ text-align: center; bottom: 0px; font-weight: bold;}
/*.csp-asset-item-download { display: block; width: 25px; height: 25px; position: absolute; bottom: 10px; right: 10px; background: url("../images/icon-download.png") scroll center; }*/
.csp-asset-item-download { display: block; width: 25px; height: 25px; position: relative; bottom: 40px; left: 70px; background: url("../images/icon-download.png") scroll center; }

/*Seperate the featured asset*/
.csp-feature-asset-item-wrapper { width: 245px; height: 140px; text-align: center; }
.csp-feature-asset-item-figure { float: left; width: 100px; height: 140px; overflow: hidden; }
.csp-feature-asset-item-title { position: relative; float: left;height: 140px; width: 145px; overflow: hidden; /*background-color: #509B53;*/ color: #000; text-align: left; }
.csp-feature-asset-item-title p { padding: 10px; }
.csp-feature-asset-item-title .learn-more { margin: 0px; padding: 0px 10px; text-align: left !important; }
.csp-feature-asset-item-download { display: block; width: 25px; height: 25px; position: relative; bottom: 40px; left: 70px; background: url("../images/icon-download.png") scroll center; }


#csp-asset-list .item-row .fake-asset-item { visibility: hidden; }

/*Asset Description ColorBox */
/*.asset-desc-detail #cboxLoadedContent { background: url("../images/flag-embed.png") no-repeat scroll 5px 0px #F1F2F4; border: 1px solid #E8E8E8; border-radius: 5px; }*/
.asset-desc-detail #cboxLoadedContent .csp-asset-item-desc-wrapper { padding: 20px 10px 20px 10px; }
.asset-desc-detail #cboxLoadedContent .csp-asset-item-desc-img { margin: 0 auto; max-height: 600px; }
.csp-asset-item-download-btn { display: inline-block; zoom: 1; *display: inline; text-align: center; padding: 5px 30px; border-radius: 4px; cursor: pointer; }
#code-copied-msg { color: #FF0000; text-align: center; visibility: hidden; }

#contactus-page { min-height: 500px; background-color: #FFF; padding: 20px 30px; position: relative; }
#contactus-page h2 {
    border-bottom: 1px solid #EAE8E8;
    color: #555555;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#frmleadgen #field-list { padding: 0px 30px; }
#contactus-page #field-list { padding-right: 30%; }
.checkbox-label { display: inline-block !important; top: -2px; position: relative; }
#submitbutton { padding: 5px 15px; }

#csp-footer { position: relative; padding: 10px 10px 5px 10px; }
#copyright-text { float: left; padding: 5px 0px 0px 0px; }
#copyright-text a { color: #FFF; }
#TIE-Logo { float: right; }

/* Color box - move close button to top */
#colorbox #cboxClose
{
top: 0;
right: 0;
}
#cboxLoadedContent{/*
margin-top:28px;
margin-bottom:0;*/
margin: 0 0;
}

#csp-auth-msg { color: #FF0000; text-align: center; }

@media (min-width: 768px) and (max-width: 972px) {
	
}
/*
@media (min-width: 480px) and (max-width: 768px) {
	#csp-consumer-logo { max-width: 60%; min-width: 45%; text-align: center; }
	#csp-logo-nav { max-width: 100%; width: 100%; padding: 20px 0px 0px 0px; }
	#csp-supllier-logo { text-align: center; width: 100%; position: static; }
	#csp-nav-bar { position: static; }
	#csp-nav-bar ul { text-align: center; }
	
	#csp-left-section { width: 100%; padding: 0px; }
	#csp-left-section #csp-left-section-inner { padding: 0px; }
	#csp-right-section { width: 100%; }
}

@media (max-width: 480px) {
	#csp-consumer-logo { width: 100%; }
	#csp-featured-item { width: 100%; padding: 10px 0px; }
	#csp-featured-inner { margin: 0 auto; }
	#csp-logo-nav { max-width: 100%; width: 100%; padding: 0px; }
	#csp-supllier-logo { text-align: center; width: 100%; position: static; }
	#csp-nav-bar { position: static; }
	#csp-nav-bar ul { text-align: center; }
	
	#csp-left-section { width: 100%; padding: 0px; }
	#csp-left-section #csp-left-section-inner { padding: 0px; }
	#csp-right-section { width: 100%; }
	.fake-asset-item { display: none !important; }
	#csp-featured-item .csp-asset-item-wrapper { margin: 0 auto; }
}
*/

@media (max-width: 768px) {
	#csp-asset-list .item-row .item-row-inner .csp-item-asset li {margin: 10px 18px !important;}
	
}
@media (min-width: 980px) {
	#csp-lang-box #csp-lang-list{width:972px}
}
@media (min-width: 768px) and (max-width: 910px){
	#csp-lang-box #csp-lang-list{width:810px}
}
@media (min-width: 650px) and (max-width: 768px){
	#csp-lang-box #csp-lang-list{width:668px}
}
@media (min-width: 520px) and (max-width: 650px){
	#csp-lang-box #csp-lang-list{width:570px}
}
@media (min-width: 497px) and (max-width: 520px){
	#csp-lang-box #csp-lang-list{width:450px}
}



@media (max-width: 500px) {
	#csp-top-bar-inner { height: auto !important; }
	#csp-lang-box, #csp-search-box { float: none !important; margin: 0 auto; width: 90%; }
	#csp-search-box {  }
	#csp-search-box #csp-search-key { width: 100% !important; }
	#csp-lang-box { background-position: 98% center; margin-bottom: 10px;}
}

@media (max-width: 480px) {
	#csp-left-section-mobile-inner-header { background-color: #444; border-bottom: 1px solid #666; }
	.bg-menu-left { float: left; }
	.csp-left-section-mobile-close { float: right; position: relative !important; top: 25px !important; }
	
	#csp-left-section-mobile .tab-content ul li a {background: url("../images/mobile_leftMenu.png") no-repeat scroll right center;}
	#csp-asset-list .item-row .item-row-inner .item-title-link { display: block; padding: 10px 0 9px 45px; background: url("../images/hide-icon-mobile.png") no-repeat scroll left center; }
	#csp-asset-list .item-row .item-row-inner .item-row-title a.active { background: url("../images/show-icon-mobile.png") no-repeat scroll left center; }
	#csp-asset-list .item-row { border-top: none !important}
	#csp-asset-list .item-row { border-right: none !important}
	#csp-asset-list .item-row { border-left: none !important}
	#csp-asset-list .item-row { border-bottom:2px solid #dee5dd !important}
	#csp-asset-list .item-row .item-row-inner .csp-item-asset li {margin: 10px 18px;}
	#csp-top-bar-inner {height: 80px}
	#csp-asset-list .item-row .item-row-inner .csp-item-asset li {margin: 10px 18px !important;}
	div#mobile-search-section input[type='text'] {font-size:12px;}
	#csp-asset-embed-holder .csp-asset-item-download-btn { width: 100%; margin-bottom: 10px; }
	
	.mobile-search-section-with-lang { width: 70%; float: right; border: none !important;}
	#csp-mobile-ddlang { float: left; width: 50px; height: 50px; background: #282b2d url('../images/mobile-ddlang-icon.png') no-repeat scroll center; }
	
	#csp-lang-box { display: none; }
	
	#csp-mobile-lang-list { background-color: #282b2d; display: none; }
	#csp-mobile-lang-list li { list-style-type: none; padding: 10px; border-bottom: 1px solid #FFF; color: #FFF; cursor: pointer; }
}

#banner-carousel { padding: 10px 0px 25px 0px; }
#banner-carousel .center-align { text-align: center; overflow-y: auto; max-height: 400px; }
#banner-carousel li img { display: inline-block !important; zoom: 1; *display: inline; border: 2px solid #FFF; }
#banner-carousel li img.selected { border: 2px solid #509b53; }

#csp-asset-embed-holder, #cboxLoadedContent { overflow: hidden; }