#main-container #dropdown-navbar .content-block-title { min-height: 30px; }
#home-carousel { overflow: hidden; }
#home-carousel .carousel-indicators { margin-left: -10px !important; }
#home-carousel .carousel-indicators li { float: left; }
#logo {height:8px !important;}
.icon-prev {
  *zoom: expression( this.runtimeStyle['zoom'] = '0.5', this.innerHTML = '<<');
  cursor:pointer;
  font-weight:bold;
}
.icon-next {
  *zoom: expression( this.runtimeStyle['zoom'] = '0.5', this.innerHTML = '>');
  cursor:pointer;
  font-weight:bold;
}
#customersuccesses-tab, #resources-tab{
	margin-top:25px;
}
#product-detail-panel #block-contact {
 left:10px;
}
#block-contact .btn-contact{
	padding:10px;
}
#first-img{
	max-width:225px !important;
}
#products-mainbar .row a{
	cursor:pointer;
}
#products-mainbar .row a:hover{
	text-decoration:none;
}
#home-navbar .navbar-toggle{
	display:none !important;
}
#dropdown-navbar{ left: 0px !important; }
#field-list{
	padding-right:15% !important
}
#addtomailing{
	margin-bottom:4px !important;
	margin-right:5px !important;
}
#csp-content a:hover{
	text-decoration:none;
	cursor:pointer;
}
#csp-content .homeblock-caption{
	font-size:10px;
	overflow: hidden;
}
#title-nav-tab , #title-nav-tab  li{
	padding:0;
	margin:0;
}
#first-description-galery {
	height:100%;;
}
#first-description-galery ul li,#third-img ul li{
	float:left;
}
#first-description-galery .thumbnails .span4,
#video-blocks .thumbnails .span4{
	margin:0;
	padding:0;
	width:85px;
}
#third-img .thumbnails .span4{
	width:200px;
}

#first-description-galery .thumbnails,#first-description-galery .thumbnails .span4 .thumbnail,#third-img .thumbnails {
	padding:0;
	margin:0;
}
#third-img{
	height:100%;
}
#resource-tab{
	padding-top:25px;
}
#technical-navbar{
	margin-left:0;
}
@media (min-width:660px){
	#main-container #dropdown-navbar .cols-1 .content-placehoder{
	width:99.9% !important;
	}
	#main-container #dropdown-navbar .cols-2 .content-placehoder{
		width:49.9% !important;
	}
	#main-container #dropdown-navbar .cols-3 .content-placehoder{
		width:33.23% !important;
	}
	#main-container #dropdown-navbar .cols-4 .content-placehoder{
		width:24.9% !important;
	}
	#main-container #dropdown-navbar .cols-5 .content-placehoder{
		width:19.9% !important;
	}
	#main-container #dropdown-navbar .cols-6 .content-placehoder{
		width:16.56% !important;
	}
	
	
	
	#overview-block-third{
		padding-left:20px;
	}
	#technical-mainbar{
		width:500px !important;
		margin-left:10px;
	}
	#technical-sidebar{
		width:140px;
	}
	.technical-block-detail ul{
		padding:0;
		margin:0;
	}
	.technical-block-title{
		height:105px;
		width:130px;
	}
	.technical-block-detail{
		padding-left:20px;
	}
	#technical-mainbar{
		padding-left:0 !important;
		padding-right:0 !important;
	}
}
@media (min-width:550px){
	#products-sidebar {
	overflow:hidden;
	padding-left:2px;
	padding-right:0;
	}
	#products-mainbar{
		overflow:hidden;
		/*width:465px;*/
		padding-right:0 !important;
	}
	#products-mainbar .col-sm-6{
		width:150px;
		padding-left:5px;
		padding-right:0;
	}
	#products-mainbar .col-sm-4{
		padding-left:0;
		padding-right:0;
	}
}
@media (min-width: 550px) and (max-width: 660px) {
	#dropdown-navbar{
		width:400px !important;
	}
	#products-mainbar{
		padding-left:90px !important;
	}
	#products-sidebar{
		padding-left:15px !important;
	}
}
@media (max-width:660px){
	#first-description,.customer-description{
		min-width:350px !important;
	}
	#second-description ul {
		margin:0;
	}
	#technical-sidebar{
		min-width:300px;
	}
}
@media (max-width:550px){
	#fourth-description{
		min-width:350px !important;
	}
	#third-img{
		padding-left:20px;
	}
	.navbar-collapse {
		margin-top:50px !important;
		display:inline-block;
		max-width:auto;
	}
	.navbar-collapse  in{
		overflow:hidden !important;	
	}
}

/*#product-detail-panel { padding-top: 65px; }*/
#product-panel #products-sidebar .products-sidebar-list .products-sidebar-title { padding-left: 10px; }
#product-panel #products-sidebar .type-block-collapse { top: 0px; left: -4px; }