
    <div class="header_bar">
        <div class="title">
            <span class="hidden-xs"><strong>{{productSeriesTitle.toUpperCase()}}</strong> </span>
            <span class="num_products">
                <span class="hidden-xs">(</span>
                {{beginProdItem > 0 ? beginProdItem + ' -' : ''}} {{endProdItem > 1 ? endProdItem : ''}} {{'of' | translate}} {{totalProdItemCount}}
                <span class="hidden-xs">)</span>
            </span>
            <!--span *ngIf="stillLoading">Loading...</span>-->
        </div>
        <div class="hidden-xs  paging_controls">
            <a id="list_view" href="" (click)="listMode = ''; false" [class]="listMode === '' ? 'active' : ''">
                <i class="glyphicon glyphicon-th-list"></i> {{'List' | translate }}
            </a>
            <div class="divider"></div>
            <a id="grid_view" href="" (click)="listMode = 'grid_mode'; false" [class]="listMode === '' ? '' : 'active'">
                <i class="glyphicon glyphicon-th-large"></i> {{'Grid' | translate }}
            </a>
        </div>
        <div class="hidden-xs  sorting_controls">
            <span>{{'SORT BY' | translate }}</span>
            <select [(ngModel)]="categorySortStatus" (change)="updateSorter()">
                <option [value]=0 [selected]="categorySortStatus == 0">{{'Default' | translate}}</option>
                <option [value]=1 [selected]="categorySortStatus == 1">{{'Name (A-Z)' | translate}}</option>
                <option [value]=2 [selected]="categorySortStatus == 2">{{'Name (Z-A)' | translate}}</option>
            </select>
        </div>
        <div class="hidden-xs  pages">
            <nav>
                <pagination-controls class="paging" (pageChange)="crrPage = $event; pageNavigated($event)" 
                maxSize="{{getPageMaxSize()}}" 
                previousLabel="{{'Previous' | translate}}"
                nextLabel="{{'Next' | translate}}"></pagination-controls>
            </nav>
        </div>
    </div>
    <div #proListDiv class="product_listing_container {{listMode}}" style="position: relative">
        <spinner-component [spinnerShow]="prodLoading"></spinner-component>

        <div class="facet_filter_section" *ngIf="facetCheckedList.length > 0">
            <div id="clear_all_filter" class="filter_sprite">
                <a (click)="clearSelectedFacet()">Clear All <i class="glyphicon glyphicon-remove"></i></a> ,
            </div>
            <div id="filter_list_wrapper">
                <ul>
                    <li class="filter_sprite" *ngFor="let sFacet of facetCheckedList">
                        <a (click)="removeSelectedFacet(sFacet)">{{sFacet.facetValue}} <i class="glyphicon glyphicon-remove"></i></a> ,
                    </li>
                </ul>
            </div>
        </div>

        <fieldset class="list-product">
            <legend class="spanacce">Product Listing </legend>

            <div class="row row_border">
                <div class="col-sm-12 col-product" *ngFor="let prod of listCategorySeries | paginate: { itemsPerPage: 20, currentPage: crrPage, totalItems: totalProdItemCount }">
                    <div class="row row-product">
                        <div class="col-sm-2 col-ms-3 col-xs-6 product-image">
                            <div class='square-box'>
                                <a [routerLink]="['/categoryseries', prod.id]"><img src="{{prod.thumbnailImage}}" width="100%"></a>
                                <!--<a [attr.cspobj]="'REPORT'" [attr.csptype]="'LINKS'" [attr.cspenglishvalue]="prod.valueText" [routerLink]="['/categoryseries', prod.id]"><img src="{{prod.thumbnailImage}}" width="100%"></a>-->
                            </div>
                        </div>
                        <div class="col-sm-7 col-ms-12 col-xs-6 product-info">
                            <!--<h4><a [attr.cspobj]="'REPORT'" [attr.csptype]="'LINKS'" [attr.cspenglishvalue]="prod.valueText" [routerLink]="['/categoryseries', prod.id]">{{prod.valueText}}</a></h4>-->
                            <h4><a [routerLink]="['/categoryseries', prod.id]">{{prod.valueText}}</a></h4>
                            <p>{{prod.shortDescription}}</p>
                        </div>
                        <div class="col-sm-3 col-ms-5 col-xs-12 text-center btn-config">
                            <button class="btn btn-primary" type="button" [routerLink]="['/categoryseries', prod.id]">{{'Configure Product' | translate}}</button>
                            <div class="cbCompare">
                                <input id="chk_{{prod.id}}" type="checkbox" [checked]="compareList.indexOf(prod) != -1" (click)="compareChecked($event, prod);">
                                <label for="chk_{{prod.id}}">{{'Add to Compare' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="{{compareList.length > 1 ? 'compare-padding' : ''}}">
                 <div class="hidden-lg hidden-md hidden-sm hidden-ms pages text-center">
                    <nav>
                        <pagination-controls class="paging" (pageChange)="crrPage = $event; pageNavigated($event)" maxSize="{{getPageMaxSize()}}"></pagination-controls>
                    </nav>
                </div>
            </div>
        </fieldset>

        <div class="hidden-xs hidden-sm pages">
            <nav>
                <pagination-controls class="paging" (pageChange)="crrPage = $event; pageNavigated($event)" 
                maxSize="{{getPageMaxSize()}}"
                previousLabel="{{'Previous' | translate}}"
                nextLabel="{{'Next' | translate}}"></pagination-controls>
            </nav>
        </div>

        <div id="compare" *ngIf="compareList.length > 1">
            <div class="info_section navbar-fixed-bottom">
                <div class="container">
                    <h4 class="title"><strong>{{'PRODUCT COMPARISON' | translate}}</strong> </h4>
                    <div class="row">
                        <div class="col-sm-4"><span>[{{'View up to 4 products at once' | translate}}] </span></div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-5 col-xs-7 pull-right">
                                    <button class="btn btn-primary" type="button" (click)="goCompare()">{{'Compare' | translate }} </button>
                                </div>
                                <div class="col-sm-4 col-xs-6 margin-top"><span>{{'Comparing' | translate }} {{compareList.length}} {{'of' | translate}} 4 {{'products' | translate}}</span></div>
                                <div class="col-sm-3 col-xs-6 margin-top"><a id="clear-all-compare" (click)="clearCompareList()"><i class="glyphicon glyphicon-remove"></i> {{'Clear all' | translate }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="MessageArea" *ngIf="compareExcessLimit">
        <div class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button (click)="compareExcessLimit = false" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <p>{{'You can only compare up to 4 products.' | translate}} </p>
                    </div>
                    <div class="modal-footer">
                        <button (click)="compareExcessLimit = false" class="btn btn-primary" type="button">OK </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay"></div>
    </div>
