﻿div#csp-wrapper * {
	font-size: 13px;
}

.csp-form-field {
	border: 1px solid #777;
	width: 250px;
}

textarea {
	border: 1px solid #777;
}
.tieContentFormHeaderTitle{font-size:20px !important;margin-bottom:15px;}
.tieContentShortDescription{margin-bottom:15px;}