		<div id="product-pane">
			<div class="ajax-loading" ng-show="ajaxLoading">
				<div class="loading-image"></div>
			</div>
			<!--
			<div id="breakcrum">
				<a class="active" href="">HOME</a> \ <a class="">{{categoryContent.title}}</a>
			</div>
            <span class="product-title">{{categoryContent.title}}</span>
			-->
			<script type="text/ng-template" id="breadcrumb-tmpl">
				<li ng-if="isRTLLang == false">
					<!--<a rel="nofollow" href="{{breadcrumb.link}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{breadcrumb.title}}">{{breadcrumb.title.toUpperCase()}}</a><span>&nbsp\&nbsp </span> -->
					<a rel="nofollow" href="{{breadcrumb.link}}">{{breadcrumb.title.toLowerCase()}}</a><span>&nbsp&#10097;&nbsp </span>
				</li>
				<li ng-if="isRTLLang == true">
					<!--<a rel="nofollow" href="{{breadcrumb.link}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{breadcrumb.title}}">{{breadcrumb.title.toUpperCase()}}</a><span>&nbsp/&nbsp </span>-->
					<a rel="nofollow" href="{{breadcrumb.link}}">{{breadcrumb.title.toLowerCase()}}</a><span>&nbsp&#10096;&nbsp </span>
				</li>
			</script>
			<div id="breadcrumb">
				<ul>
					<li ng-repeat="breadcrumb in breadcrumbs" ng-include="'breadcrumb-tmpl'">
					</li>
					<li>
						<!--
						<a ng-if="isRTLLang == true" rel="nofollow" class="current" href="javascript: void(0)" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{categoryContent.title}}">{{categoryContent.title.toUpperCase()}}</a>
						<a ng-if="isRTLLang == false" rel="nofollow" class="current" href="javascript: void(0)" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{categoryContent.title}}">{{categoryContent.title.toUpperCase()}}</a>
						-->
						<a ng-if="isRTLLang == true" rel="nofollow" class="current" href="javascript: void(0)">{{categoryContent.title.toLowerCase()}}</a>
						<a ng-if="isRTLLang == false" rel="nofollow" class="current" href="javascript: void(0)">{{categoryContent.title.toLowerCase()}}</a>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
			
			<!-- Thumbnail Existing -->
			<div class="product-info" ng-if="categoryContent.thumbnail != ''">
				<h1 id="prod-title">{{categoryContent.title.toUpperCase()}}</h1>
				<div class="product-img"  style="margin-bottom:10px">
					<img ng-if="categoryContent.thumbnail != ''" ng-src="{{categoryContent.thumbnail}}" alt="{{categoryContent.title}}" >
				</div>
				<div id="product-des">
					<span ng-bind-html-unsafe="categoryContent.description"></span>
					<!-- <hr ng-if="categoryContent.description != ''"/>
					<div ng-if="productAssetsList.length > 0">
						<div ng-class="" ng-repeat="featuredTabItem in productAssetsList | orderBy:'name'">
								<div class="asset-others">
									<table>
										<tr ng-repeat="featuredTabContent in featuredTabItem.content | filter:localfeatured=featuredTabItem.name | orderBy:['type','sortorder']" ng-include="'tccustomersuccesses-tmpl'">
										</tr>
									</table>
								</div>
						</div>
						<div class="clear"></div>
						<span ng-bind-html-unsafe="categoryContent.descriptionlong"></span>
					</div>
					<div ng-if="productAssetsList.length <= 0">
						<span ng-bind-html-unsafe="categoryContent.descriptionlong"></span>
					</div> -->
					
					
				</div>
			</div>
			
			<!-- Thumbnail Not Existing -->
			<div class="product-info" ng-if="categoryContent.thumbnail == ''">
				<h1 id="prod-title">{{categoryContent.title.toUpperCase()}}</h1>
				<div id="product-des">
					<span ng-bind-html-unsafe="categoryContent.description"></span>
					<!-- <hr ng-if="categoryContent.description != ''"/>
					
					<div class="clear"></div>
					<div ng-if="productAssetsList.length > 0">
						<span ng-bind-html-unsafe="categoryContent.descriptionlong" style="width:58%; float:left;"></span>
						<div style="width:40%; float:left; margin-left:2%; margin-top:-10px;" ng-class="" ng-repeat="featuredTabItem in productAssetsList | orderBy:'name'">
								<div class="asset-others">
									<table>
										<tr ng-repeat="featuredTabContent in featuredTabItem.content | filter:localfeatured=featuredTabItem.name | orderBy:['type','sortorder']" ng-include="'tccustomersuccesses-tmpl'">
										</tr>
									</table>
								</div>
						</div>
					</div>	
					<div ng-if="productAssetsList.length <= 0">
						<span ng-bind-html-unsafe="categoryContent.descriptionlong"></span>
					</div> -->
				</div>
			</div>
			
			<script type="text/ng-template" id="tccustomersuccesses-tmpl">
						<td ng-class-odd="'odd-block'" ng-class-even="'even-block'" ng-if="featuredTabContent.filetype == 'video'">
							<a rel="nofollow" class="asset-img csp-cs-video" ng-class="{true:'csp-lightbox video-lightbox', false:'no-video'}[featuredTabContent.filetype == 'video']" 
								ng-href="{{getVideoLink(featuredTabContent.linkurl)}}" blockId="{{getEmbedVideo(featuredTabContent)}}"
								cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{featuredTabContent.reportingId}}" vidDimension="{{getEmbedVideoDimension(featuredTabContent)}}" >
								<img ng-hide="featuredTabContent.imgurl == ''" ng-src="{{featuredTabContent.imgurl}}" class="img-responsive"/>
							</a>
						</td>
						<td ng-class-odd="'odd-block'" ng-class-even="'even-block'" ng-attr-colspan="{{featuredTabContent.filetype == 'video' && '1' || '2' }}">
							<a rel="nofollow" ng-if="featuredTabContent.filetype == 'video'" class="asset-text video-lightbox" 
								target="{{getLinkTarget(featuredTabContent.launchtype)}}" 
								ng-class="{'csp-lightbox':featuredTabContent.launchtype =='lightbox', 'call-leadgen':featuredTabContent.statusleadgen.toLowerCase() == 'yes'}" 
								href="{{featuredTabContent.linkurl}}" blockId="{{getEmbedVideo(featuredTabContent)}}"
								cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{featuredTabContent.reportingId}}" vidDimension="{{getEmbedVideoDimension(featuredTabContent)}}" >
								<div class="customer-description">
									<div class="download-date">{{featuredTabContent.datetime}}</div>
									<div class="fourth-description-title" ng-bind-html-unsafe="featuredTabContent.downloadtitle"></div>
									<div class="fourth-description-detail" ng-bind-html-unsafe="featuredTabContent.descriptionlong"></div>
								</div>
							</a>

							<a rel="nofollow" ng-if="featuredTabContent.filetype != 'video'" class="asset-text"  target="_blank" 
								ng-class="{'call-leadgen':featuredTabContent.statusleadgen.toLowerCase() == 'yes', 'csp-lightbox': featuredTabContent.linkurl.indexOf('youtube') != -1}" 
								href="{{featuredTabContent.linkurl}}" blockId="{{getEmbedVideo(featuredTabContent)}}"
								cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{featuredTabContent.reportingId}}">
								<div class="customer-description {{GetPDFAssetClassName(featuredTabContent.linkurl)}}">
									<div class="download-date">{{featuredTabContent.datetime}}</div>
									<div class="fourth-description-title" ng-bind-html-unsafe="featuredTabContent.downloadtitle"></div>
									<!-- <div class="fourth-description-detail" ng-bind-html-unsafe="featuredTabContent.descriptionlong"></div> -->
								</div>
							</a>		
						</td>
					</script>
			<div class="clear"></div>
			
			
			
			<div ng-if="categoryRow.length > 0">
				<span class="browse-by-tit">{{label.browseby}}</span>
				<script type="text/ng-template" id="categorycol-tmpl">
					<div class="img-cont">
							<!--<a title="{{categoryItem.category.title}}" ng-href="#/products/{{categoryItem.category.cspuniquekey}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{categoryItem.category.title}}">-->
							<a title="{{categoryItem.category.title}}" ng-href="#/products/{{categoryItem.category.cspuniquekey}}">
								<span ng-if="categoryItem.category.thumbnail == ''"></span>
								<img ng-if="categoryItem.category.thumbnail != ''" ng-src="{{categoryItem.category.thumbnail}}">
							</a>
						</div>
				</script>

			</div>
			<div>
				<script type="text/ng-template" id="prod-col-tmpl">
					<div class="col-md-6 block-col">
							
						<!-- ===== COMPONENT - IMG FULL START ===== -->
						<div class="img-cont">
							<!--<a title="{{featuredItem.title}}" ng-href="{{GetProductLink(featuredItem)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{featuredItem.title}}">-->
							<a title="{{featuredItem.title}}" ng-href="{{GetProductLink(featuredItem)}}">
								<span ng-if="featuredItem.imageUrl == ''"></span>
								<img ng-if="featuredItem.imageUrl != ''" ng-src="{{featuredItem.imageUrl}}">
							</a>
						</div>
					<!-- 	<div class="text-cont">
							<h4 class="prod-title">
								<a title="{{featuredItem.title}}" ng-href="{{GetProductLink(featuredItem)}}">{{featuredItem.title}}</a>
							</h4>
							<div class="product-desc">
								<span class="" ng-bind-html-unsafe="featuredItem.description">{{featuredItem.description}}</span>
							</div>
						</div> -->
						<!-- ===== COMPONENT - IMG FULL END ===== -->
					</div>
					
				</script>
			</div>
			
			<div id="block-col-3" class="browse-by-group">
				<div class="row" ng-repeat="rowItem in mergeProductArrRow" my-product-directive>
				  <div class="item" ng-repeat="featuredItem in rowItem" ng-include="'prod-merge-tmpl'">
					
				  </div>
				  
				</div>
				<script type="text/ng-template" id="prod-merge-tmpl">
					
					<div ng-if="featuredItem.parentCategoryId != undefined" class="col-md-12 block-col product-col-add">
							
						<!-- ===== COMPONENT - IMG FULL START ===== -->
						<div class="img-cont">
							<a title="{{featuredItem.title}}" ng-href="{{GetProductLink(featuredItem)}}">
								<span ng-if="featuredItem.thumbnailUrl == ''"></span>
								<img ng-if="featuredItem.thumbnailUrl != ''" ng-src="{{featuredItem.thumbnailUrl}}">
							</a>
						</div>
						<div class="text-cont">
							<h4 class="prod-title">
								<a title="{{featuredItem.title}}" ng-href="{{GetProductLink(featuredItem)}}">{{featuredItem.title}}</a>
							</h4>
							<div class="product-desc">
								<span class="" ng-bind-html-unsafe="featuredItem.description">{{featuredItem.description}}</span>
							</div>
						</div>
						<a class="btnConfig" title="{{featuredItem.title}}" ng-href="{{GetProductLink(featuredItem)}}">
							CONFIGURE PRODUCT
						</a>
						<!-- ===== COMPONENT - IMG FULL END ===== -->
					</div>
					
					<div class="col-md-4 block-col product-col" ng-if="featuredItem.parentCategoryId == undefined">
						<div class="img-cont">
							<!--<a title="{{featuredItem.title}}" ng-href="#/products/{{featuredItem.cspuniquekey}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{featuredItem.title}}">-->
							
							<a class="has-thumbnail" ng-if="featuredItem.thumbnail != ''" title="{{featuredItem.title}}" ng-href="#/products/{{featuredItem.cspuniquekey}}">
								<img ng-if="featuredItem.thumbnail != ''" ng-src="{{featuredItem.thumbnail}}">
							</a>
							<a class="no-thumbnail" ng-if="featuredItem.thumbnail == ''" title="{{featuredItem.title}}" ng-href="#/products/{{featuredItem.cspuniquekey}}">
								<span ng-if="featuredItem.thumbnail == ''"></span>
							</a>
						</div>
						<div class="text-cont">
							<h4 class="prod-title">
								<!--<a title="{{featuredItem.title}}" ng-href="#/products/{{featuredItem.cspuniquekey}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{featuredItem.title}}">{{featuredItem.title}}</a>-->
								<a title="{{featuredItem.title}}" ng-href="#/products/{{featuredItem.cspuniquekey}}">{{featuredItem.title}}</a>
							</h4>
						</div>
					</div>
				</script>
			</div>
			
		</div>
<script>
	jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
		if (jQuery(this).attr('href') !== typeof undefined && jQuery(this).attr('href').indexOf('void(0)') != -1) {
			event.preventDefault();
			return;
		}
	});
</script>