			<div class="ajax-loading" ng-show="ajaxLoading">
				<div class="loading-image"></div>
			</div>
			<script type="text/ng-template" id="carouselinner-tmpl">
				<img ng-src="{{blocks.image}}">
			</script>
			<div id="home-carousel" class="carousel slide ng-scope">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#home-carousel" data-slide-to="{{$index}}" ng-class="{active:$first}" ng-repeat="blocks in blockHero"></li>
				 </ol>					 
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item" ng-repeat="blocks in blockHero" ng-class="{active : $first}" ng-include="'carouselinner-tmpl'" my-carousel-directive>
					</div>
				</div>
				<!-- Controls -->
				<a rel="nofollow" class="left carousel-control" href="#home-carousel" data-slide="prev" eat-click>
					<span class="icon-prev"></span>
				</a>
				<a rel="nofollow" class="right carousel-control" href="#home-carousel" data-slide="next" eat-click>
					<span class="icon-next"></span>
				</a>
            </div>
			
            <div id="csp-content" class="row">
				<div class="row blocks-{{blockTile.length}}">
					<script type="text/ng-template" id="homeblock-tmpl">
						<!--<a rel="nofollow" class="tile-thumbnail" ng-click="GoToBlockLink(blocks)" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{blocks.reportingId}}">-->
						<a rel="nofollow" class="tile-thumbnail" ng-click="GoToBlockLink(blocks)">
						  <!--<img ng-src="{{blocks.image}}">-->
						  <div class="caption homeblock-caption">
							<div class ="short-title">{{blocks.title}}</div>
							<!--<div ng-bind-html-unsafe="blocks.description"></div>-->
						  </div>
						</a>
					</script>
				  <div class="block-items" ng-repeat="blocks in blockTile | limitTo:3 " ng-include="'homeblock-tmpl'">
				  </div>
				</div><!--end #csp-contemt-->
			</div>
			
			<script type="text/javascript">
				jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
					addTick(jQuery(this));
				});
				jQuery(document).ready(function() {
					
					
				});  
			</script>