div.cspisicontainer a.csp_image_gallery img, div.cspisicontainer a.csp_video img { 
    border: none 0;
    margin-bottom: 2px;
}
div.cspisicontainer span.zoom-icon {
    position: relative;
    left: -20px;
    vertical-align: bottom;
}
.cspBackToTop {
    float: right;
    font-weight: normal;
    margin: 0px 0px 15px 25px;
}

div.cspisicontainer span.play-icon {
    display: block;
    left: 67px;
    opacity: 0.75;
    overflow: hidden;
    position: relative;
    top: -92px;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    width: auto !important;
}

div.cspisicontainer span.play-icon:hover {
    opacity: 0.90;
    filter: alpha(opacity=90);
    -moz-opacity: 0.90;
}
div.cspisicontainer span.play-icon img {
    width: 64px !important;
}
div.cspisicontainer div.cspisivideo div {
    float: left;
    display: block;
    margin-right: 10px;
}

div.cspisicontainer .cspclear {
    clear: both !important;
    float: none;
}
div.cspisicontainer div.cspisiseperator {
    margin: 25px 0;
    border-top: solid 1px #eee;
}
div.cspisicontainer div.cspisiespec th {
    text-align: left !important;
    padding: 10px 0 5px;
}

div.cspisicontainer div.cspisiespec td {
    padding: 0 5px 0 0;
}

div.cspisicontainer div.cspisiespec table tr.even {
    background: #eee;
}
div.cspisicontainer .cspisidesc table,
div.cspisicontainer .cspisidesc table tbody,
div.cspisicontainer .cspisidesc table tbody tr,
div.cspisicontainer .cspisidesc table tbody tr td,
div.cspisicontainer .cspisifeatures table,
div.cspisicontainer .cspisifeatures table tbody,
div.cspisicontainer .cspisifeatures table tbody tr,
div.cspisicontainer .cspisifeatures table tbody tr td
{
    border: none;
}
.cspisifeatures {
    padding: 10px 0px 10px 0px;
}
.cspisifeatures .cspisifeaturesMedia {
    display: inline-block;
    float: left;
    padding: 5px 0px 0px 0px !important;
}
.cspisifeaturesMedia.right {
    padding: 5px 0px 0px 15px !important;
    float: right;
}
.cspisifeatures .cspisifeaturesText {
    display: table;
    padding-right: 10px;
    clear: right;
}
div.cspbacktotop {
    text-align: right;
    /*display:none;*/
}
div.cspisigallery a.csp_image_gallery {
    float: left;
}
.zoom-icon img {
    width: 16px !important;
    vertical-align: bottom;
}
div.cspisicontainer table .zoom-icon img {
    float: right;
    left: -5px;
    position: relative;
    top: -18px;
}
div.cspisicontainer table .zoom-icon.ie img {
    left: 17px;
}
.cspisifeaturesTitleTextExpanded {
    width: 100% !important;
}
.csp_pdf_container {
    width: 200px;
    min-height: 250px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    margin-right: 20px;
}
 .csp_pdf_box img {
    max-width: 200px; 
 }
.csp_pdf_title {
    display: block;
}
#csp_prod_desc_image {
    float: right;
    margin-bottom: 5px;
    margin-left: 15px;
}