.CspInlineContainer, .CspInlineClear {
	clear: both;
}

#cspInlineContainer_CSP_GLOBAL_ID > #CspInlineImage a, 
#cspInlineContainer_CSP_GLOBAL_ID > #CspInlineVideo a {
	float: left;
	display: block;
	padding: 0 5px;
}

.imagesCSP_GLOBAL_ID,
.imagesCSP_GLOBAL_ID img, 
.variousCSP_GLOBAL_ID, 
.variousCSP_GLOBAL_ID img,
.videosCSP_GLOBAL_ID, 
.videosCSP_GLOBAL_ID img {
	height: 110px;
	max-width: 150px;
	margin-bottom: 10px;
	text-decoration: none;
}

.cspBlockTitle {
	font-weight: bold;
}

.viewImageOverlay_CSP_GLOBAL_ID {
    background-image: url("http://global.syndication.tiekinetix.net/customer-resources/inline/images/zoom.png");
    bottom: 30px;
    display: block;
    height: 16px;
    left: 85%;
    position: relative;
    width: 16px;
}

.playVideoOverlay_CSP_GLOBAL_ID {
	background-image: url(http://global.syndication.tiekinetix.net/customer-resources/inline/images/play.png);
	display: block;
	left: 67px;
	opacity: 0.75;
	position: relative;
	bottom: 83px;
	left: 35%;
	width: 50px;
	height: 50px;
}

#cspInlineContainer_CSP_GLOBAL_ID .CspInlineClear {
	border-top: 1px solid #eee;
	margin: 25px 0px;
}

#cspInlineContainer_CSP_GLOBAL_ID > #CspInlineProduct {
	float: left;
	width: 100%
}

#cspInlineContainer_CSP_GLOBAL_ID > #CspInlineProduct > #CspInlineProductTitle {
	font-weight: bold;
	margin: 5px;
	width: 40%
}

#cspInlineContainer_CSP_GLOBAL_ID > #CspInlineProduct > #CspInlineProductDescription {
	float: left;
	margin: 5px;
	width: 63%;
}

#cspInlineContainer_CSP_GLOBAL_ID > #CspInlineProduct > #CspInlineProductMedia {
	float: left;
	width: 35%;
}