		<div id="product-page">
			<script type="text/ng-template" id="breadcrumb-tmpl">
				<a rel="nofollow" ng-if="!breadcrumb.isProduct" ng-href="{{breadcrumb.link}}">{{breadcrumb.title}}</a>
				<a rel="nofollow" ng-if="breadcrumb.isProduct" ng-href="{{breadcrumb.link}}" eat-click>{{breadcrumb.title}}</a>
				<span ng-if="!$last">&raquo;</span>
			</script>
			<div id="breadcrumb">
				<span ng-repeat="breadcrumb in breadcrumbs" ng-include="'breadcrumb-tmpl'">
				</span>
			</div>
			<div id="page-title">
				<h1>{{productTitle}}</h1>
			</div>
			
			<!-- ltu 8/18/14 -->
			<div id="page-intro" ng-bind-html-unsafe="Content_Information_Detail">
			</div>
			<!-- Sub products list -->
			<script type="text/ng-template" id="prodblock-tmpl">
				<div class="prod-block" ng-if="prod.lastItem">
					<a rel="nofollow" ng-href="{{prod.filevideourl}}" ng-class="{'cursor-default': prod.filevideourl == '', 'csp-lightbox': prod.filevideourl != ''}">
						<div class="prod-img"><img class="img-responsive" ng-src="{{prod.image}}" /></div>
						<div class="prod-text" 
							ng-class="{'align-right':prod.textorientation.toLowerCase() == 'right', 
										'align-left':prod.textorientation.toLowerCase() != 'right',
										'no-overlay-bg':prod.description == '',
										'hide':prod.title == '' && prod.description == ''}">
							<h3>{{prod.title}}</h3>
							<span ng-bind-html-unsafe="prod.description"></span>
						</div>
					</a>
				</div>
				<div class="prod-block" ng-if="prod.feature.toLowerCase() == 'yes' && !prod.lastItem">
					<div class="prod-img">
						<a rel="nofollow" href="#/products/{{getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">
							<img class="img-responsive" ng-src="{{prod.image}}" />
						</a>
					</div>
					<div class="prod-text" 
						ng-class="{'align-right':prod.textorientation.toLowerCase() == 'right', 
									'align-left':prod.textorientation.toLowerCase() != 'right',
									'no-overlay-bg':prod.description == '',
									'hide':prod.title == '' && prod.description == ''}">
						<h3><a rel="nofollow" href="#/products/{{getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">{{prod.title}}</a></h3>
						<span ng-bind-html-unsafe="prod.description"></span>
						<div class="text-learnmore"><a rel="nofollow" href="#/products/{{getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">{{textLearnMore}}</a></div>
					</div>
				</div>
				<div class="block-wrapper" ng-if="prod.feature.toLowerCase() != 'yes' && !prod.lastItem">
					<div class="prod-img">
						<a rel="nofollow" href="#/products/{{getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">
							<img class="img-responsive" ng-if="prod.feature==Yes" ng-src="{{prod.image}}" />
							<img class="img-responsive" ng-if="prod.feature!=Yes" ng-src="{{prod.thumbnail}}" />
						</a>
					</div>
					<div class="prod-text align-right" ng-class="{'no-overlay-bg':prod.description == '', 'hide':prod.title == '' && prod.description == ''}">
						<h3><a rel="nofollow" href="#/products/{{getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">{{prod.title}}</a></h3>
						<span ng-bind-html-unsafe="prod.description"></span>
						<div class="text-learnmore"><a rel="nofollow" href="#/products/{{getUniqueKey(prod.cspuniquekey)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportingId}}">{{textLearnMore}}</a></div>
					</div>
				</div>
			</script>
			<div class="row" ng-class="{'whole-row':contentRow[0].feature.toLowerCase() == 'yes'}" ng-repeat="contentRow in prodRows | orderBy:'displayorder'">
				<div ng-class="{'col-md-6 prod-block':contentRow[0].feature.toLowerCase() != 'yes', 'col-md-12':contentRow[0].feature.toLowerCase() == 'yes'}" ng-repeat="prod in contentRow | orderBy:'displayorder'" ng-include="'prodblock-tmpl'"></div>
			</div>
			
			
			<!-- Product detail -->
			<div id="product-node-detail">
				<div class="row" ng-if="currentProduct.descriptionlong != ''" style="margin: 0px">
					<div class="col-md-12 prod-block">
						<div class="content-block-outer" ng-bind-html-unsafe="currentProduct.descriptionlong">
						
						</div>
					</div>
				</div>
				<script type="text/ng-template" id="prodcontentblock-tmpl">
					<div class="content-block-outer" ng-if="prod.imageUrl=='' && prod.thumbnailUrl==''">
						<h3 ng-bind-html-unsafe="prod.description"></h3>
						<div class="content-block-desc" ng-bind-html-unsafe="prod.descriptionLong"></div>
					</div>
					<div class="prod-block" ng-if="prod.imageUrl!=''">
						<div class="prod-img"><img class="img-responsive" ng-src="{{prod.imageUrl}}" /></div>
						<div class="prod-text align-{{prod.blockContentOrientation.toLowerCase()}}" ng-class="{'no-overlay-bg':prod.description == '' && prod.descriptionLong == ''}">
							<h3>{{prod.description}}</h3>
							<div class="content-block-desc" ng-bind-html-unsafe="prod.descriptionLong"></div>
						</div>
					</div>
					<div class="page-content-block-thumbnail" ng-if="prod.thumbnailUrl!=''">
						<div class="asset-img"><img class="img-responsive" ng-src="{{prod.thumbnailUrl}}" /></div>
						<div class="asset-text vertical-{{prod.blockContentVerticalAlign.toLowerCase()}}" ng-class="{'no-overlay-bg':prod.description == '' && prod.descriptionLong == ''}">
							<h3>{{prod.description}}</h3>
							<div class="content-block-desc" ng-bind-html-unsafe="prod.descriptionLong"></div>
						</div>
					</div>
				</script>
				<!-- Columns are always 50% wide, on mobile and desktop -->
				<div class="row" ng-class="{'whole-row featured-content-block':contentRow[0].imageUrl != ''}" ng-repeat="contentRow in prodContentRows">
					<div style="{{GetColorCode(prod.blockbgcolor)}}" ng-class="{'col-md-6 prod-block':prod.imageUrl=='', 'col-md-12':prod.imageUrl!='', 'block-left':prod.imageUrl=='' && $first, 'block-right':prod.imageUrl=='' && $last}" ng-repeat="prod in contentRow" ng-include="'prodcontentblock-tmpl'"></div>
				</div>
			</div>
			
			<!-- Related assets -->
			<script type="text/ng-template" id="assetblock-tmpl">
				<div class="block-wrapper">
					<a rel="nofollow" href="{{asset.linkurl}}" rel="{{asset.filetype}}" target="{{asset.target}}" class="{{asset.launchtype}} {{asset.leadgen}}">
						<div class="asset-img" ng-if="asset.thumbnail.length>0"><img class="img-responsive" ng-src="{{asset.thumbnail}}" /></div>
						<div class="asset-text" ng-bind-html-unsafe="asset.description"></div>
					</a>
				</div>
			</script>
			<!-- Columns are always 50% wide, on mobile and desktop -->
			<div class="row relatedassetblock" ng-repeat="assetRow in assetRows | orderBy:'displayorder'">
				<div class="col-md-6 asset-block col-{{$index}}" ng-repeat="asset in assetRow" ng-include="'assetblock-tmpl'"></div>
			</div>
			
			<!-- ltu 8/18/14 -->
			<div id="page-extra" ng-bind-html-unsafe="Content_Description_Extended">
			</div>
			<div class="row" id="contactus-block">
				<div class="inner-row" style="margin: 1px; background-color: #f2f2f4">
					<div class="col-md-6">
						<div style="padding: 25px;" ng-bind-html-unsafe="readyToBuy">
						</div>
					</div>
					<div class="col-md-6" style="text-align: right;">
						<div style="padding: 20px;">
							<a ng-if="Supplier.twitter != ''" rel="nofollow" id="prod-twitter-btn" ng-href="{{Supplier.twitter}}" target="_blank">
								<div class="btn-inner-text">{{btnTweetUsText}}</div>
							</a>
							
							<a rel="nofollow" id="prod-contactus-btn" href="#/contactus/title/{{productTitle}}" cspObj="REPORT" cspType="LEADGEN" cspEnglishValue="ContactUs">
								<div class="btn-inner-text">{{btnContactUsText}}</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="leadgen-form-holder" class="hide">
				<form id="frmleadgen" name="frmleadgen" ng-submit="submit()">
					<div id="field-list">
						
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			var downloadFormFields = '';
			jQuery("body").undelegate(".csp-lightbox", "click").delegate(".csp-lightbox", "click", function(event) {
				var isDesktop = reAdjustColorBoxSize(350);
				if (isDesktop) {
					if (jQuery(this).attr('rel')!==undefined&&jQuery(this).attr('rel').toLowerCase() == 'pdf')
						wdHeight = jQuery(window).height() - 90;				
					jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href')});
					event.preventDefault();
				}
			});
			
			jQuery("body").undelegate(".call-leadgen", "click").delegate(".call-leadgen", "click", function(event) {
				try {
					reAdjustColorBoxSize(350);
					var fileUrl = jQuery(this).attr('href');
					var assetTitle = jQuery(this).find('.asset-text').text();
					//console.log(downloadFormFields);
					jQuery('#field-list').html('');
					jQuery('#field-list').html(downloadFormFields);
					jQuery('#redirect').val(fileUrl);
					jQuery('#requestedAsset').val(assetTitle);
					jQuery.colorbox({inline:true, href:"#frmleadgen", width: wdWidth + "px", height: wdHeight + "px"});
					AutoPopulateUserInfo();
					event.preventDefault();
				} catch (Err) {
					console.log('#2: ' + Err);
				}
			});
			
			jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
				if (jQuery(this).hasClass('cursor-default')) { 
					event.preventDefault();
					return false;
				}
				addTick(jQuery(this));
			});
		</script>