<section #homePageDiv id="homePage" style="position: relative;">
    <span style="display:none" csptype="TITLE" cspobj="REPORT">Products</span>
    <spinner-component [spinnerShow]="prodLoading"></spinner-component>
    <div class="container">
        <ol class="breadcrumb">
			<li><!-- <a [routerLink]="['/']"><span>Products</span></a> --></li>
			<!--<li><a><span>Product </span></a></li>
			<li><a><span>Hose, Piping, Tubing and T-Slot Framing </span></a></li>-->
        </ol>
        
        <div class="page-header">
            <h1>{{'Product' | translate }}</h1>
            <div class="clearfix"></div>
            <p class="product_page_desc">
                <!-- Parker is the global leader in motion and control technologies, providing precision-engineered solutions for a wide variety of mobile, industrial and aerospace markets. Parker can be found on and around everything that moves. At Parker we have an unmatched breadth and depth of products that originate from a global leadership position in nine core Motion and Control technologies that include aerospace, climate control, electromechanical, filtration, fluid and gas handling, hydraulics, pneumatics, process control, sealing and shielding. We can apply these products and technologies individually to solve customer challenges that are simpler, or we can combine them to develop systems that address challenges that are complex. -->
                {{'Description for Product page' | translate}}
            </p>
        </div>

        <div class="header_bar">
            <div class="title"><span><strong>{{'PRODUCTS FROM PARKER INCLUDE'| translate}}</strong> </span>
            </div>
        </div>

        <div class="product_listing_container grid_mode" style="position: relative">
            <div class="row row_border">
                <div class="col-xs-12 col-ms-4 col-sm-3 col-product" *ngFor="let fItem of featuredList">
                    <div class="row row-product">
                        <a [attr.cspobj]="'REPORT'" [attr.csptype]="'LINKS'" [attr.cspenglishvalue]="fItem.valueText" [routerLink]="['./category', fItem.id]">
                            <div class="col-xs-3 col-sm-12 col-ms-12">
                                <div class='square-box'>
                                    <img src="{{fItem.thumbnailImage}}"/>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-12 col-ms-12 product-info">
                                <h4>{{fItem.valueText}}</h4>
                            </div>
                            <div class="col-xs-1 hidden-sm hidden-ms hidden-md hidden-lg arrowthin">
                                <i class="fa fa-angle-right fa-2x"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
