body{
scrollbar-base-color: #C0C0C0;
scrollbar-base-color: #C0C0C0;
scrollbar-3dlight-color: #C0C0C0;
scrollbar-highlight-color: #C0C0C0;
scrollbar-track-color: #EBEBEB;
scrollbar-arrow-color: black;
scrollbar-shadow-color: #C0C0C0;
scrollbar-dark-shadow-color: #C0C0C0;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

}
::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}
#csp-wrapper { font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }
#csp-wrapper a { color: #004976; }
#csp-asset-list .item-row .item-row-inner .item-title-link {
    background: url("http://global.syndication.tiekinetix.net/customer-resources/assets/custom/dfs/images/plus.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-image: url("http://global.syndication.tiekinetix.net/customer-resources/assets/custom/dfs/images/plus.png");
}
#csp-asset-list .item-row .item-row-inner .item-row-title a.active {
    background: url("http://global.syndication.tiekinetix.net/customer-resources/assets/custom/dfs/images/minus.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-image: url("http://global.syndication.tiekinetix.net/customer-resources/assets/custom/dfs/images/minus.png");
}
#csp-body { position: relative; }

#csp-search-box {display:block;}
#csp-search-box #goto-searchpage { color: #FFF; }
#csp-top-bar-inner { height: 37px }
#csp-search-box #csp-search-key { width: 250px; background: url("../images/search.png") no-repeat scroll left center #5B7F95; border: 1px solid #666666; border-radius: 5px; color: #FFFFFF; display: block; margin: 0 auto; padding: 5px 22px 5px 22px; }
#csp-search-submit { display: none; }
#csp-clear-search { display: block; background: url("../images/btn-clear-search.png") no-repeat scroll center center rgba(0, 0, 0, 0); border: medium none; height: 20px; position: absolute;
    right: 2px;
    top: 4px;
    width: 20px;
	background-image: url("../images/btn-clear-search.png");
}

#csp-top-bar { background-color: #004976; }
#csp-featured-inner .csp-asset-item-title { background-color: #1A651F; color: #FFF; }
#csp-featured-inner .csp-asset-item-title a { color: #FFF; }

#csp-nav-bar ul li a { color: #767676; border-bottom: 4px solid #004976 !important; }
#csp-left-section ul li.main-item a.main-item-link { background-color: #004976; border-top: 1px solid #FFF; }
#csp-left-section ul.sub-menu li.sub-item a { background-color: #0076A8; }
#csp-left-section ul.sub-menu li.sub-item a:hover { background-color: #5B7F95; }
#csp-left-section .selected-item {background-color: #75787B !important;}

.asset-desc-detail #cboxLoadedContent .csp-asset-item-download-btn { background-color: #0076A8; color: #FFF; }

#csp-footer { background-color: #000; color: #FFF; }

/* */
#csp-left {float: left;width:27%}
#csp-left-section {float: left;width:100% !important;}
#button-mobile {display: none;}
#bg-top-mobile {display: none !important;}
#csp-left-section-mobile { display: none; width: 0; }
#csp-left-section-mobile {float: left;padding-right:10px}
#csp-left-section-mobile ul li.main-item{list-style: none outside none;border-top:1px solid #000000;}
#csp-left-section-mobile ul li{}
#csp-left-section-mobile ul li a:hover{background-color: #004976;}
#csp-left-section-mobile .tab-content ul li a{
	color: #FFFFFF;
    display: block;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 21px;
    font-variant: small-caps;
    padding: 10px;
    position: relative;
}
#csp-left-section-mobile ul li{}
#csp-left-section-mobile-inner{background: none repeat scroll 0 0 #FFF;}
.main-menu {}
.bg-menu-left img {padding: 20px 10px; max-width: 220px;}

.tab-content { background-color: #5B7F95; }

.main-menu ul.nav {border: 2px solid #004976;border-radius: 3px;margin-bottom: 20px !important;margin-left: 5px !important;margin-right: 10px !important;}
.main-menu ul.nav li a {color: #FFFFFF !important;padding-left: 5px;font-size: 18px;}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #004976;
}
.nav > li > a {
    background: url("../images/icon-menu-left.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    padding: 10px;
    position: relative;
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #004976 !important;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.nav-tabs > li > a {border: none !important;border-radius: 0 !important;margin-right: 0}

.full-section { width: 100% !important; }
#search-wrapper {  }
#search-wrapper .row { margin: 0px !important; }
#search-wrapper #result-list { padding: 10px; border: 1px solid #004976; }
#search-wrapper .highlight { background-color: #FFFF88; }
.item-title, .item-title a { font-weight: bold; color: #004976; text-decoration: underline; }
#search-wrapper .csp-item-asset li { 
	list-style-type: none; 
    display: inline-block;
    float: left;
    margin: 10px 30px;
    min-height: 260px;
    position: relative;
}

#csp-asset-list .item-row {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #004976 !important;
    border-image: none;
    border-left: 1px solid #004976;
    border-right: 1px solid #004976;
    border-top: 1px solid #004976;
    margin-bottom: 5px;
}

.csp-asset-item-download-btn {
    background-color: #0076A8;
    color: #FFFFFF;
}

.jcarousel-pagination { width: 100%; text-align: center; }

/* */
@media only screen and (min-width: 600px) {
#csp-left-section-mobile-inner {display:none !important}
#csp-wrapper {margin: 0 auto !important}
}
@media only screen and (min-width: 768px) {
#csp-left-section-mobile-inner {display:none !important}
#csp-wrapper {margin: 0 auto !important}

}

@media only screen and (min-width: 1024px) {
#csp-left-section-mobile-inner {display:none !important}
#csp-wrapper {margin: 0 auto !important}

}
@media only screen and (min-width: 1280px) {
#csp-left-section-mobile-inner {display:none !important}
#csp-wrapper {margin: 0 auto !important}

}


@media (min-width: 480px) and (max-width: 768px) {
 #csp-consumer-logo { max-width: 60%; min-width: 45%; text-align: center; }
 #csp-logo-nav { max-width: 100%; width: 100%; padding: 20px 0px 0px 0px; }
 #csp-supllier-logo { text-align: center; width: 100%; position: static; }
 #csp-nav-bar { position: static; }
 #csp-nav-bar ul { text-align: center; }
 
 #csp-left-section { width: 100%; padding: 0px; }
 #csp-left-section #csp-left-section-inner { padding: 0 20px 0 0; }
 #csp-right-section { }
}

@media (max-width: 480px) {
	#csp-body { position: static; }
	#csp-search-box { display: none; }
	#csp-consumer-logo { width: 100%; }
	#csp-featured-item { width: 100%; padding: 10px 0px; }
	#csp-featured-inner { margin: 0 auto; }
	#csp-logo-nav { max-width: 100%; width: 100%; padding: 0px; }
	#csp-supllier-logo { text-align: center; width: 100%; position: static; }
	#csp-nav-bar { position: static; }
	#csp-nav-bar ul { text-align: center; }
	#csp-left { position: absolute; left: 0px; top: 0px; width: 100%; }
	#csp-left-section { width: 100%; padding: 0px; display:none; }
	#csp-left-section #csp-left-section-inner { padding: 0px; }
	#csp-right-section { width: 100%; }
	.fake-asset-item { display: none !important; }
	#csp-featured-item .csp-asset-item-wrapper { margin: 0 auto; }
	/**/
	#csp-top-bar {  border-radius: 0px}
	#csp-top-bar-inner {margin-top: 0px !important; height: 80px; }
	#csp-header-main {display: none !important;}
	#button-mobile {display: block !important; margin: 25px 0 0 0px;cursor: pointer;float: left;width:15%}
	#bg-top-mobile {display: block !important;float: left;margin-top: 5px;}
	#bg-top-mobile img { height: 59px;}	
	#csp-left-section-mobile{
	/*
	float: left;
	position: fixed;
	z-index: 1000;
	display:block ;
	margin-left: -265px
	*/
	position: absolute;
	z-index: 1000;
	display: block;
	padding: 0px;
	width: 100%;
	}
	/*
	#csp-wrapper {margin-left: 265px;
	overflow-x: hidden;

	}
	*/
	#csp-wrapper { position: relative; }
	#csp-left-section-mobile-inner{
	/*float: left;position: fixed;z-index: 1000;top: 0;height: 100%;width: 100%;display:block;overflow-y: auto;*/
		position: relative;
	}
	
	#csp-left-section-mobile-inner .bg-menu-left { width: 60%; }
	.main-menu .li-menu-md {border-left: 2px solid #004976;border-right: 2px solid #004976;}
	#csp-asset-info {display:none}
	.csp-left-section-mobile-close { display: block; width: 35px; height: 25px; background: url('http://635369540025113750.dfs.crdevcsp.syndicationtest.com/ui/assets/custom/dfs/images/bg-top-menu.png') no-repeat scroll center center rgba(0, 0, 0, 0); position: absolute; top: 70px; right: 10px; }
	#csp-left-section-mobile ul.nav-tabs a { padding: 5px 0px !important; display: block; width: 100%; text-align: center; }
	#csp-left-section-mobile .nav-items-1 li { width: 100%; }
	#csp-left-section-mobile .nav-items-2 li { width: 50%; }
	#csp-left-section-mobile .nav-items-3 li { width: 33.333%; }
	
	#mobile-search-section { padding: 10px 0px; position: relative; border-bottom: 1px solid #666; background-color: #004976; }
	#mobile-search-section #mobile-search-key { border: 1px solid #666; display: block; width: 98%; border-radius: 5px; padding: 5px 0px 5px 22px; background: #5B7F95 url('../images/search.png') no-repeat scroll left center; color: #FFF; margin: 0 auto; }
	#mobile-search-section #mobile-clear-search { position: absolute; top: 14px; right: 6px; border: none; width: 20px; height: 20px; background: url('../images/btn-clear-search.png') no-repeat scroll center; }
	
	#csp-search-result-list-mobile { background-color: #FFFFFF; box-shadow: 0 0 2px #555555; left: 5px; position: absolute; top: 37px; width: 97%; z-index: 1; }
	#csp-search-result-list-mobile * { font-size: 11px; }
	#csp-search-result-list-mobile .result-wrapper { padding: 5px; }
	#csp-search-result-list-mobile .result-section-label { font-weight: bold; font-style: italic; background-color: #EEE; }
	#csp-search-result-list-mobile ul li { list-style-type: none; border-bottom: 1px dashed #BBB; padding: 2px 0px; }
	#csp-search-result-list ul li a { font-weight: bold; display: block; }
	#csp-search-result-list-mobile p, #csp-search-result-list-mobile ul li p { padding: 0px; margin: 0px; }
	#csp-search-result-viewall-mobile { background-color: #000; text-align: right; }
	#csp-search-result-viewall-mobile a { color: #FFF; }
	#csp-search-result-list-mobile .highlight { background-color: #FFFF88; }
	#csp-search-result-list-mobile .csp-asset-item-wrapper { width: 100%; min-height: 22px !important; text-align: left; }
	#csp-asset-list .item-row .item-row-inner .item-title-link { display: block; padding: 10px 0 9px 45px; background: url("../images/hide-icon-mobile.png") no-repeat scroll left center; }
	#csp-asset-list .item-row .item-row-inner .item-row-title a.active { background: url("../images/show-icon-mobile.png") no-repeat scroll left center; }
}

