div.cspisicontainer a.csp_image_gallery img, div.cspisicontainer a.csp_video img {
    border: 0 none;
    padding: 0 0 10px;
}
div.cspisicontainer span.zoom-icon {
    float: right;
}
.cspBackToTop {
    display: none;
}
div.cspisicontainer div.cspisivideo div {
    height: 150px;
}
div.cspisicontainer .cspclear {
    clear: both;
}
div.cspisicontainer div.cspisiseperator {
    margin: 10px 0;
}
div.cspisicontainer div.cspisiespec table tr.even {
    background: none repeat scroll 0 0 #EEEEEE;
}
div.cspisicontainer div.cspisifeatures ul, div.cspisicontainer div.cspisidesc ul {
    margin-left: 15px;
    margin-top: 15px;
    padding: 0 0 0 15px !important;
}

span.csp-col1 {
    float: right !important;
    max-width: 440px !important;
    padding: 0 !important;
    width: 440px !important;
}
span.csp-col2 {
    float: none !important;
    padding: 10px 15px !important;
    width: 200px !important;
}
div.cspisigallery a.csp_image_gallery {
    float: left;
    width: 150px;
    margin-left: 20px;
}

div.cspisicontainer h2 {
    font-size: 1em !important;
    font-weight: bold !important;
}
