<div class="ajax-loading" ng-show="ajaxLoading">
    <div class="loading-image"></div>
</div>
<div ng-bind-html-unsafe="ContentPage" style="width: 100%; height: 100%; overflow: auto; -webkit-overflow-scrolling: touch;" my-contentpage-directive></div>
<div id="category-form-wrapper" ng-show="IsCategoryForm">
    <div id="contact-message" ng-show="formCategorySubmitted" ng-bind-html-unsafe="contactusMessage">
    </div>
    <form name="frm-category-form" ng-submit="submitCateForm()" ng-hide="formCategorySubmitted" id="frm-category-form" method="POST">
        <div id="category-fields" ng-bind-html-unsafe="categoryFormContent">

        </div>
    </form>

</div>

<div id="contactus-page" class="categoryForm hide">
    <div class="ajax-loading" ng-show="ajaxLoading">
        <div class="loading-image"></div>
    </div>

    <div id="tmp-content-form">
        <form name="form2" ng-submit="" id="form2" method="POST">
            <div id="field-list2">
            </div>
			<div class="modal fade" id="errorFormModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="img-icon">
                            <img class="info-icon" src="/customer-resources/showcase/Custom/DGTemplate/Images/info.png">
                            <!-- <span class="glyphicon glyphicon-exclamation-sign"></span> -->
                        </div>
                        <div id="contentMess"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <div id="contact-message" ng-show="formSubmitted" ng-bind-html-unsafe="contactusMessage">
        </div>
        <!-- Modal -->
        
    </div>
</div>
<div id="leadgen-form-holder" class="hide">
    <form id="frmleadgen" name="frmleadgen" ng-submit="submit()">
        <!-- Modal -->
        <div class="modal fade" id="errorModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="img-icon">
                            <img class="info-icon" src="/customer-resources/showcase/Custom/DGTemplate/Images/info.png">
                            <!-- <span class="glyphicon glyphicon-exclamation-sign"></span> -->
                        </div>
                        <div id="contentMess"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="field-list" class="frm-asset-view" ng-bind-html-unsafe="fieldList">

        </div>



    </form>

</div>


<script type="text/javascript">
    jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
        addTick(jQuery(this));
    });


    jQuery("body").undelegate(".video-plugin-block a, a.csp-lightbox", "click").delegate(".video-plugin-block a, a.csp-lightbox", "click", function(event) {
        event.preventDefault();
        event.stopPropagation();

        var targetUrl = jQuery(this).attr('href');
        var isDesktop = reAdjustColorBoxSize(350);
        var youtubeId = targetUrl.match(/(?:https?:\/{2})?(?:w{3}\.)?youtu(?:be)?\.(?:com|be)(?:\/watch\?v=|\/)([^\s&]+)/);
        if (targetUrl.indexOf('&v=') > -1 || targetUrl.indexOf('?v=') > -1) {
            youtubeId = targetUrl.match(/v=([^&#]{5,})/);
        }
        if (youtubeId != null) {
            youtubeId[1] = youtubeId[1].replace('v/', '');
            targetUrl = 'https://www.youtube.com/embed/' + youtubeId[1];
        }

        if (isDesktop) {
            if (jQuery(this).attr('rel') != undefined && jQuery(this).attr('rel').toLowerCase() == 'pdf')
                wdHeight = jQuery(window).height() - 90;
        }
        jQuery.colorbox({
            width: wdWidth + "px",
            height: wdHeight + "px",
            iframe: true,
            href: targetUrl,
            onComplete: function() {
                $('#cboxLoadingOverlay, #cboxLoadingGraphic').hide();
            }
        });


        return;
    });

    jQuery("body").undelegate(".video-plugin-block", "click").delegate(".video-plugin-block", "click", function(event) {
        var aLink = jQuery(this).find('a');
        aLink.click();
        event.stopPropagation();
    });

    jQuery("body").undelegate(".block-video-thumbnail", "click").delegate(".block-video-thumbnail", "click", function(event) {
        var parentDiv = jQuery(this).parent('.video-plugin-block');
        var aLink = parentDiv.find('a');
        aLink.click();
        event.stopPropagation();
    });

    jQuery("body").undelegate(".video-thumbnail", "click").delegate(".video-thumbnail", "click", function(event) {
        var parentDiv = jQuery(this).parents('.video-plugin-block');
        var aLink = parentDiv.find('a');
        aLink.click();
        event.stopPropagation();
    });

    jQuery("body").undelegate(".player", "click").delegate(".player", "click", function(event) {
        event.preventDefault();
        return;
        var isDesktop = reAdjustColorBoxSize(350);
        if (isDesktop) {
            if (jQuery(this).attr('rel').toLowerCase() == 'pdf')
                wdHeight = jQuery(window).height() - 90;
        }
        jQuery.colorbox({
            width: wdWidth + "px",
            height: wdHeight + "px",
            iframe: true,
            href: jQuery(this).parent('a').attr('href'),
            onComplete: function() {
                $('#cboxLoadingOverlay, #cboxLoadingGraphic').hide();
            }
        });
        event.stopPropagation();
        event.preventDefault();
    });

    jQuery("body").undelegate(".gated-assets", "click").delegate(".gated-assets", "click", function(event) {
        try {
            setTimeout(function() {
                AutoPopulateUserInfo();
            }, 1000);
            reAdjustColorBoxSize(350);
            var fileUrl = jQuery(this).attr('gated-asset-link');
            var assetTitle = jQuery(this).text();
            var downloadedAsset = '';
            if (fileUrl != '')
                downloadedAsset = fileUrl.split('/').pop();
            jQuery('#redirect').val(fileUrl);
            jQuery('#requestedAsset').val(assetTitle);
            jQuery('#downloadedasset').val(downloadedAsset);

            //Set form title dynamically to prevent page title overwritten
            jQuery('#frmleadgen').find('.tieContentFormHeaderTitle').append(frmLeadgenTitleSection);

            if (jQuery(this).attr("assetid") != undefined) {
                if (jQuery("#frmleadgen #field-list input[name='formID']").length == 0) {
                    jQuery("#frmleadgen #field-list").append('<input value="' + jQuery(this).attr("assetid") + '" type="hidden" name="formID" />');
                }
            } else if (jQuery(".gated-assets").parents(".asset-related").attr("asset-related-id") != '') {
                if (jQuery("#frmleadgen #field-list input[name='formID']").length == 0) {
                    jQuery("#frmleadgen #field-list").append('<input value="' + jQuery(".gated-assets").parents(".asset-related").attr("asset-related-id") + '" type="hidden" name="formID" />');
                }
            }
            if (jQuery(this).attr('formcategory') == undefined) {
                jQuery.colorbox({
                    inline: true,
                    href: "#frmleadgen",
                    width: wdWidth + "px",
                    height: wdHeight + "px"
                });
                setTimeout(jQuery.colorbox.resize(), 2000);
            } else {
                var gatedAssetUrl = jQuery(this).attr('gated-asset-link');
                var formUrl = 'https://' + window.location.hostname + '/#/categoryform/' + jQuery(this).attr('formcategory');
                jQuery("#field-list2").html(DEFAULT_HEADER_FIELDS + contentFormPage[jQuery(this).attr('formcategory')]);
                var formContent = jQuery('#tmp-content-form');
                jQuery.colorbox({
                    inline: true,
                    href: '#tmp-content-form',
                    width: wdWidth + "px",
                    height: "550px",
                    onComplete: function() {
						jQuery("#form2").find(':submit').unbind('click').click(function(e) {
							angular.element('#ng-app').scope().submitform();
						});
						jQuery("#form2").find('#redirect').val(gatedAssetUrl);
						setCookie('asseturl', gatedAssetUrl);
                        //jQuery('#cboxLoadingOverlay, #cboxLoadingGraphic').show();
                        //jQuery('#cboxLoadedContent').hide();
                        setTimeout(function() {
                            //jQuery('#cboxLoadingOverlay, #cboxLoadingGraphic').hide();
                            jQuery('#cboxLoadedContent').show();
                        }, 2000);
                    }
                });
            }

            event.preventDefault();
        } catch (Err) {

        }
    });

    jQuery(function() {
        jQuery('.nav a').on('click', function() {
            if (jQuery('.navbar-toggle').css('display') != 'none') {
                jQuery(".navbar-toggle").trigger("click");
            }
        });
    });
</script>

<!-- Google Tag Manager -->
<script>
    if (typeof(googleTagId) != 'undefined' && googleTagId != '' && typeof(google_tag_manager) == 'undefined') {
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', googleTagId);
    }
</script>