<div id="contactus-page">

	<!-- Modal -->
	<div class="modal fade" id="errorModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="img-icon">
						<img class="info-icon" src="/customer-resources/showcase/Custom/DGTemplate/Images/info.png">
						<!-- <span class="glyphicon glyphicon-exclamation-sign"></span> -->
					</div>
					<div id="contentMess"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>


	<div class="ajax-loading" ng-show="ajaxLoading">
		<div class="loading-image"></div>
	</div>
	<div id="contact-message" ng-show="formSubmitted" ng-bind-html-unsafe="contactusMessage">
	</div>
	<form name="form1" ng-submit="submit()" ng-style="{'visibility': !formSubmitted ? 'visible' : 'hidden'}" id="form1" method="POST">
		<div id="field-list" ng-bind-html-unsafe="fieldList">
			
		</div>
	</form>
</div>

<!-- Google Tag Manager -->
<script>
	if(typeof(googleTagId) != 'undefined' && googleTagId != '' && typeof(google_tag_manager) == 'undefined'){
		
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer',googleTagId);
	}
</script>

<!-- End Google Tag Manager -->
<script type="text/javascript">    //<![CDATA[
if (typeof (console) == "undefined") {
	console = {};
	console.log = function() { };
}

jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
	addTick(jQuery(this));
});
//]]>
</script>