@import url(fonts.css);

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    font-family:"Akko-Regular","Helvetica Neue","Segoe", Helvetica,Arial;
}

ul, ol {
    list-style: none outside none;
}

li {
    line-height: 1;
}

a {
    color: #000000;
    text-decoration: none;
    outline:none;
}

img {
    border: 0 none;
    vertical-align: middle;
}

body {
min-width:750px;
font-size:1em;
line-height:1.4;
font-family:"Akko-Thin","Helvetica Neue","Segoe", Helvetica,Arial;
background:#f0f0f1;
margin:0;
}

#tie_content_container{
	width:750px;
	margin:0 auto;
	position: relative;
}


div.tie_header {
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 750px;
    background-color:#252526;
    border-bottom: 1px solid #4B4B4C;
}

#tie_topNavContent li {
    float: left;
    margin-right: 30px;
    margin-top: 14px;
}

#tie_topNavContent #tie_birstLogo {
    margin: 9px 0 0;
    width: 175px;
}

#tie_topNavContent a {
    color: #BBBBBB;
    font-family:"Akko-Regular","Helvetica Neue","Segoe", Helvetica,Arial;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#tie_topNavContent #tie_birstLogo a {
    padding:10px;
}

#tie_topNavContent #tie_navMenu li a {
    display: block;  
    color: #BBBBBB;
}

#tie_topNavContent #tie_navMenu li a:hover {
    color:#fff;    
}

.tie_borderTop {
    margin-bottom:20px; 
    float:left;  
}
.tie_borderBottom {
    margin-top:20px;
    float:left;
}

#tie_mainContent{
    word-wrap: break-word;
}

#tie_mainContent h1 {
    line-height: 42px;
    margin-bottom: 14px;
    margin-top: 14px;
    text-transform: none;
}

#tie_mainContent h3 {
    color: #666666;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 25px;
    text-transform: none;
}

#tie_mainContent h4 {
    color: #000000;
    line-height: 30px;
    margin-top: 17px;
    text-transform: none;
    font-size: 18px;
}

#tie_mainProductImage {
    margin-bottom: 30px;
    position: relative;
}

#tie_mainContent p {
    color: #444444;
    line-height: 23px;
    margin-bottom: 10px;
}

#tie_footnote{
    clear: both; 
    width: 750px; 
    margin: 0 auto; 
    padding-top: 20px;
    font-size:14px;
}

#tie_birstFooter 
{   
    float:left;
    width: 750px; 
    height:40px;
    background-color:#252526;
    border-top: 1px solid #4B4B4C;
}

#tie_birstFooter div.tie_left
{
    float:left;   
    padding:8px;
   
}

#tie_birstFooter div.tie_right
{
    float:right;
    color:#999;
    padding:8px;
}

#tie_tieFooter 
{   
    float:left;
    width: 750px; 
    height:40px;
    margin-top:10px;
}

#tie_tieFooter div.tie_left
{
    float:left;
    padding:10px 15px; 
    width: 350px; 
}

#tie_tieFooter div.tie_right
{
    float:right;
    margin-bottom: 20px;
    padding-right: 10px;
}


.tie_edgeShadowLightBottom {
    background: url("../images/edgeShadowLightBottom.png") repeat;
    position: relative;
    width:750px;
    float:left;
}

.tie_bulletedListContainer h2
{
    font-size: 26px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 17px;
    text-transform: none;
}

.tie_bulletedListContainer li {
    background: url("../images/checkmark.png") no-repeat scroll 12px 14px transparent;
    border-top: 1px solid #EBEBEB;
    color: #444444;
    line-height: 22px;
    padding: 13px 0 10px 40px;
}

#tie_mainContent h2 {
    color: #000000;
    line-height: 30px;
    margin-bottom: 17px;
    text-transform: none;
    font-size: 26px;
}

#tie_mainContent .tie_textContainer {
    float: right;
    width: 340px;
}
#tie_mainContent .tie_imageContainer {
    float: left;
    width: 300px;
}
#tie_mainContent .tie_imageContainer img {
    background-color: transparent;
    border: 1px solid #E9E8EB;
    padding: 5px;
}

#tie_resources .tie_bulletedListContainer{
    width:500px;
}

#tie_resources .tie_bulletedListContainer li {
   padding: 8px 0 8px 40px;
}

#tie_mainContent #tie_resources .tie_imageContainer {
    width: auto;
}

#tie_resources .tie_bulletedListContainer li a{
    color: #777777; 
}

#tie_resources .tie_bulletedListContainer li a:hover{
    color: #000; 
}

/*contact us*/

.csp-form-content .tieContactUsFormFieldLabel
{
    font-family:"Akko-Regular","Helvetica Neue","Segoe", Helvetica,Arial;
    color:#222222;
}

.csp-form-content .tieContactUsFormFieldCheckboxBlock label
{
    font-family:"Akko-Regular","Helvetica Neue","Segoe", Helvetica,Arial;
    color:#222222;
    margin-left:10px;
}

#contact h3 span, .tieContactUsFormFieldLabel span
{
    color:#CC0000;
    margin-left:5px;
}

.tieContactUsFormField input, .tieContactUsFormField textarea
{   
    font-family:"Akko-Regular","Helvetica Neue","Segoe", Helvetica,Arial;
    font-size:14px;
    width:300px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 26px;
    padding-left:2px;
}

.tieContactUsFormField textarea
{   
    height:100px;
}

#tieContactUsFormSubmit
{
    margin-top:10px;
}

#tieContactUsFormSubmit #birstSubmitButton {
    background: url("http://www.birst.com/sites/all/themes/birst/img/button_sprite.png") no-repeat scroll 0 -2772px transparent;
    border: medium none;
    display: block;
    height: 82px !important;
    margin-left: -16px;
    text-indent: -9999px;
    width: 240px !important;
}

#tieContactUsFormSubmit #birstSubmitButton:hover {
background: url("http://www.birst.com/sites/all/themes/birst/img/button_sprite.png") no-repeat scroll 0 -2692px transparent;
}