@import url(fonts.css);

* {
	margin: 0 auto;
	padding: 0;
}

.float-left { float: left; }

.float-right { float: right; }

.left-align { text-align: left !important; }

.center-align { text-align: center !important; }

.pos-relative { position: relative; }

.clear, .csp-clear { clear: both; }

.hide { display: none; }

img { border: none; }

body { font: 12px "Akko-Regular",Helvetica,sans-serif; background-color: #404040; }

div#wrapper {
	width: 950px;
	overflow: hidden;
	background-color: #FFF;
}

/* Top section { */
div#top-section {
	height: 120px;
}

/* Logo { */
div#logo-holder {
	width: 230px;
	height: 120px;
	overflow: hidden;
	text-align: center;
}
/* } EOF Logo */

/* Top icons { */
div#top-icons {
	width: 505px;
	padding-top: 45px;
	text-align: center;
}
/* } EOF Top icons */

/* TIE Kinetix logo { */
div#tie-kinetix-logo {
	width: 215px;
	padding-top: 25px;
}
/* } EOF TIE Kinetix logo */
/* } EOF Top section */

/* Content section { */
/* Blue Title Bar { */
.blue-nav-bar {
	background-color: #014c88;
	height: 77px;
	overflow: hidden;
}

div#content-title h2 {
	color: #FFF;
	padding: 25px 0px 0px 36px;
	font-weight: normal;
	font-size: 21px;
}
/* } EOF Blue Title Bar */

div#content-wrapper {
	padding: 0px 36px;
	overflow: hidden;
}

div#indicated-required-msg {
	margin: 33px 0px;
	border-left: 5px solid #FF0000;
	padding: 5px 0px 5px 5px;
	font-weight: bold;
}

.content-block {
	margin-bottom: 32px;
}

.block-title-orange {
	background-color: #f4793b;
	color: #FFF;
	font-weight: bold;
	font-size: 15px;
	padding: 4px 0px 4px 4px;
}

.form-row {
	margin-top: 22px;
}

.short-field, .long-field , .short-required-field, .long-required-field{
	border: 1px solid #777;
	padding: 3px 0px;
	border-radius: 4px;
}

.short-required-field {
	border-left: 5px solid #FF0000;
	width: 179px;
}

.long-required-field {
	border-left: 5px solid #FF0000;
	width: 409px;
}

.error-field {
	background-color: #efefef;
}

.form-row .short-col, .form-row .long-col { float: left; }

.form-row .short-col, .form-row .short-col input.short-field {
	width: 185px;
}

.form-row .long-col {
	width: 508px;
	text-align: center;
}

p.long-label, input.long-field {
	width: 415px;
}

p.field-label {
	text-align: left;
	margin-bottom: 3px;
	font-weight: bold;
}

.form-row .item-right-padding {
	padding-right: 46px;
}

#mailing-check {
	padding-top: 10px;
}

#mailing-check label, #accept-terms-conditions label {
	position: relative;
	top: -2px;
	padding-left: 5px;
	cursor: pointer;
}

#mailing-check label, #accept-terms-conditions label a {
	color: #000;
}

#mailing-check #recieve-mail{
	border: 1px solid #777777;
}

.button, .button * {
	display: inline-block;
	cursor: pointer;
	border: 0px none;
}

.button-left {
	background: url(../images/button-left.png) no-repeat scroll top left;
}

.button-right {
	background: url(../images/button-right.png) no-repeat scroll top right;
	padding: 0px 6px;
}

.button-mid {
	background: url(../images/button-mid.png) repeat-x scroll top left;
	height: 31px;
}

.button-text {
	text-align: center;
	color: #ffcb05;
	padding: 7px 30px 0px 30px;
	font-weight: bold;
}

div#submit-information {

}

div#submit-information td {
	vertical-align: center;
}

/* Pick your banner { */
#PYB_list { position: relative; width: 850px; }
#PYB_list li { height: 626px;width: 850px; list-style-type: none; padding-bottom: 10px; }
#PYB_list .banner_160_600 { width: 160px;float: left;}
.right-section-banners { width: 585px; }
.banner-select { margin-top: 10px; }
.banner-select label { position: relative; top: -2px; cursor: pointer;  }
.banner_468_60 {position: absolute; bottom: 10px; left: 265px; }
.banner_234_60 {margin-top: 100px;}
.banner_143_60 {margin-top: 258px; }

/* Campaign Code Page { */
h2#campaign-code-title { 
	color: #f4793b; 
	padding: 45px 0px;
}

#pkc-description-title {
	font-weight: bold;
	padding: 32px 0px 18px 0px;
}

#pkc-steps {
	padding: 0px 20px;
	line-height: 20px;
}

#pkc-steps li {
	margin-bottom: 20px;
}
p.step-title {
	font-weight: bold;
}
p.step-desc {
}
p.note {
	font-style: italic;
}

#campaign-code-section {
	background-color: #e6e6e6;
	padding: 10px;
	border: 2px solid #bfbfbf;
}

#pkc-control-section {
	padding-bottom: 100px;
}

#pkc-control-section p.step-title {
	padding-bottom: 5px;
}

#email-script-value {
	position: relative;
	top: 3px;
}
/* } EOF Campaign Code Page */

#footer {
	width: 950px;
	position: relative;
	color: #FFF;
	padding: 28px 0px;
}

#footer-logo {
	position: absolute;
	right: 0px;
	top: 20px;
}

#viewPrivacyPolicy,#viewTermsOfUse{color:#fff;}

.k-content-frame {width:880px !important;}
#logo-holder a/*,#tie-kinetix-logo a, #footer-logo*/ {cursor:default;}
#companyurl-msg,#companyemail-msg,#accept-msg{
	color: #FF0000;
}
#logo-img{
	width:200px;
	height:90px;
}

.dd-country {
	border: 1px solid #777777;
    border-radius: 4px 4px 4px 4px;
	border-left: 5px solid #FF0000;
    width: 185px;
	height: 24px;
}

.dd-country option {
	width: 155px;
}