@font-face {
    font-family: "HPSimplified";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/hps-euro-w01-regular-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps-euro-w01-regular-woff.woff") format("woff"), url("../fonts/hps-euro-w01-regular-ttf.ttf") format("truetype");
}
@font-face {
    font-family: "HPSimplified";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/hps-euro-w01-bold-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps-euro-w01-bold-woff.woff") format("woff"), url("../fonts/hps-euro-w01-bold-ttf.ttf") format("truetype");
}
*{
	margin:0 0;
	font-family:hpsimplified,arial,helvetica;
}
ul, li { margin: 0px; padding: 0px; list-style-type: none; }
#body A {
    color: #007dba;
	word-wrap: break-word;
}
.header {
    height: 72px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #0096D6;
    line-height: initial!important;
	
}
.header-container{
	margin:0 auto;
	width:970px;
}
.header-container img{
	margin-top:10px;
}
.body{
	margin:20px auto;
	max-width:970px;
}
.body .nav{
	width:33%;
	float:left;
	margin-right:20px;
}
.body  .section {
	padding: 10px;
}
#body H1, #body H1 * {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
	padding: 10px;
}
#body H3, #body H3 * {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
	padding: 10px 0;
}
.body .map{
    position: relative;
    min-width: 550px;
	min-height: 550px;
    border: 1px solid #ccc;
    clear: right;
    overflow: hidden;
	border:1px solid #000;
}
.body .hr{
	margin:20px 0;
	color: #ccc;
}
#body .l {
    font-size: 16px;
    line-height: 20px;
}
#searchByContainer .radio{
	background: url("../images/radio-selected.gif") 0 0 no-repeat;
}
#body SPAN.radio.checked {
    background: url("../images/radio-selected.gif") 0 0 no-repeat;
}
#body SPAN.radio+LABEL, #body SPAN.checkbox+LABEL, #body SPAN.radio+LABEL {
    display: inline;
}
#body SPAN.checkbox, #body SPAN.radio {
    display: inline-block;
    width: 18px;
    height: 18px;
    max-width: 18px;
    padding: 0;
    margin: 1px 1px -1px 1px;
}
#body SPAN.radio {
    background: url("../images/radio-default.gif") 0 0 no-repeat;
}
#body .invisible {
    display: none !important;
}
#body #txtSearch{
	border:2px solid #ccc;
	height:30px;
	padding:2px;
	width:97%;
	font-size: 16px;
}
#body #btnSearch{
	cursor: pointer;
	background: #0096d6 !important; 
	-moz-appearance: none;
	border: medium none;
	border-radius: 0 4px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding: 0 15px;
	text-align: center;
	vertical-align: middle;
	width: auto;
	float: right;
	margin:15px 1px;
}
#body input.primary-search {  }
#suggest-result-wrapper { border: 2px solid #ccc; padding: 2px; width: 97%; position: relative; margin-top: -1px; border-top: 2px solid #FFF; }
#suggest-result-wrapper li:hover { background-color: #0096D6; color: #FFF; cursor: pointer; }
#map-wrapper { text-align: center; }
#map-wrapper-inner { position: relative; width: 400px; height: 400px; overflow: hidden; display: inline-block; zoom: 1; *display: inline; }
#mapDiv { margin: 0 auto; position:absolute; width:550px; height:550px; }
.map {
	position: absolute;
	top: 20;
	left: 10;
	width: 400px;
	height: 400px;
	border:#555555 2px solid;
}

#map-controls { text-align: center; }

#body .infobox-body { background: #FFF !important; }
#body .infobox-body .infobox-title { color: #111 !important; font-size: 13px !important; font-weight: bold !important; }
#body .infobox-body .infobox-info * { font-size: 11px !important; }
#body .pin-address { color: #666 !important; }
#body .pin-tel { color: #222 !important; }
#body .infobox-body .infobox-info a { color: #0096D6 !important; float: none !important; }
#body .infobox-close { color: #222 !important; }

#body #list TABLE * {
    font-size: 14px;
    line-height: 16px;
}
#list { padding: 20px 0px 0px 0px; }
#list table { width: 80%; margin: 0 auto; }
#list table TH {
    background-color: #767676;
    border: 1px solid #cccccc;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 0 15px 20px;
    text-align: left;
}
#body #list TABLE TD > H3 {
    color: #007dba;
    font-size: 16px;
    line-height: 20px;
}

#body #list TABLE TD > P {
    color: #5a5a5a;
}

#body #list TABLE TD.store-desc-col { width: 40%; }
#body #list TABLE TD.store-website-col { width: 35%; padding: 0px 10px; }