* {
	margin: 0 auto;
	padding: 0;
}

.clear, .csp-clear { clear: both; }

.hide { display: none; }

img { border: none; }

body { font: 12px Arial,Helvetica,sans-serif; }

div#csp-wrapper {
	width: 660px;
	position: relative;
}

div#csp-top-section {
	position: relative;
	z-index: 2;
}

div#csp-logo {
	float: left;
}

div#csp-nav {
	border-top: 16px solid #404040;
	float: right;
	/*width: 510px;*/
	width: 660px;
	height: 64px;
	background: url("../images/topnav-bg.gif") repeat-x scroll bottom left;
}

div#csp-nav li.root-item {
	list-style-type: none;
	width: 126px;
	float: left;
	height: 64px;
	background: url("../images/topnav-left-bevel.gif") no-repeat scroll bottom right;
	padding-right: 1px;
}

div#csp-nav li.last-root {
	background: none;
	width: 129px;
	padding-right: 0px;
}

div#csp-nav li.root-item {
}

div#csp-nav li.root-item a.root-item-link {
	text-decoration: none;
	font-weight: bold;
	color: #404040;
	display: block;
	text-align: center;
	width: 118px;
	height: 64px;
	padding: 0px 5px 0px 5px;
}

div#csp-nav li.root-item a:hover {
	background-color: #FFF;
}

div#csp-nav li.root-item span.root-item-text {
	display: block;
	width: 100%;
}

div.sub-menu-wrapper {
	background: url("../images/topnav-overlay-bg.gif") repeat-x scroll 0 0 #F7F7F7;
    box-shadow: 0 0 3px #AAAAAA;
    cursor: default;
    left: 1px;
    padding-top: 1px;
    position: absolute;
    top: 79px;
    width: 658px;
	z-index: 1;
	display: none;
}

ul.sub-menu {
	margin-bottom: 20px;
    padding: 25px 26px 23px;
    text-align: left;
}

ul.sub-menu li.sub-item {
	float: left;
	list-style: none outside none;
	color: #666666;
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0;
    width: 25%;
}

ul.sub-menu li.sub-item * {
	color: #666666;
	text-decoration: none;
}

ul.sub-menu li.sub-item h2 {
	color: #131313;
    font-size: 14px;
    margin: 0 0 10px -1px;
	font-weight: bold;
}

li.sub-item div.menu-overlay-section li {
	color: #666666;
    float: none;
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0;
    width: 100%;
	list-style-type: none;
}

li.sub-item a {
	display: inline;
}

div#csp-banner {
	height: 300px;
	z-index: 0;
}

div#csp-homepage-header {
	width: 450px;
	position: absolute;
	right: 0px;
	top: 115px;
	padding: 25px 0px 0px 0px;
	z-index: 0;
}

div#csp-homepage-header * {
	text-align: right;
}

div#csp-homepage-header  h1 {
	color: #404040;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 15px;
}

div#csp-homepage-header  h2 {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

div#csp-tout-area li {
	background-color: #EEE;
	border-left: 1px solid #CCC;
    float: left;
    min-height: 200px;
    padding: 5px;
    position: relative;
    width: 154px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

div#csp-tout-area a.csp-tout-title {
	text-decoration: none;
	color: #565656;
}

div#csp-tout-area a.csp-tout-title h2 {
	font-size: 15px;
    height: 50px;
    padding: 5px 0;
}

div#csp-tout-area a.csp-tout-title p {
	padding-top: 10px;
	font-size: 13px;
}

div#csp-tout-area div.csp-tout-figure {
	text-align: center;
}

div#tieBrandingFooter {
	text-align: right;
	padding: 5px 5px 5px 0px;
}

/* Sub page { */
#csp-breadcrumb {
    color: #5F798F;
    font-size: 11px;
    padding: 10px 0px 5px 0px;
}

#csp-breadcrumb a {
	text-decoration: none;
	color: #404040;
}

#csp-page-title {
    color: #404040;
    font-size: 30px;
	line-height: 40px;
}

div.csp-left-col {
    width: 155px;
}
div.csp-right-col {
    width: 495px;
	overflow: hidden;
	padding-top: 13px;
	padding-left: 10px;
}
div.csp-left-col, div.csp-right-col {
    float: left;
}

.csp-sibling-items {
    margin-top: 18px;
    width: 155px;
}

.csp-sibling-items li {
	list-style-type: none;
    font-size: 11px;
    margin-bottom: 10px;
}

.csp-sibling-items li a {
    color: #404040;
    text-decoration: none;
	display: block;
	padding: 2px 0px;
}

.csp-sibling-items li a:hover, .csp-sibling-items li.selected a {
	background-color: #E0E0E0;
}

.csp-right-col ul, .csp-right-col ol { padding: 10px 30px; }
.csp-right-col p { padding: 0px 0px 10px 0px; }
.csp-right-col ul li { padding: 5px 0px;}
.csp-right-col ol li {padding: 5px 0px;}

.csp-right-col p.title {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
#csp-right-col table{
	border: none;
	width: 100%;
}
#csp-right-col table tr{
   vertical-align: top;
}
#csp-right-col table tr td{
	padding: 6px;
}
#csp-right-col table.table-middle-align tr{
	vertical-align:middle;
}
#csp-right-col table.table-border{
	border: 1px solid;
}
/* } EOF Sub page */