/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	font-family:inherit;
	padding:inherit;
}

.container{
	width:100%;
}

a {
    color: #0087c1;
    text-decoration: none;    
}

a:hover{
	text-decoration:none;
}

img {border: 0;}

h3{
font-size:0.9em;	
margin:0px;
}

#csp-page #csp-wrapper {
    margin: 0 auto;
    z-index: 4;
}
#csp-page
{
    background: url("/global/files/avaya/images/bodyGradTop.gif") repeat-x scroll left top white;
    height:53px;
}

#csp-wrapper {
    z-index: 2;
    padding-bottom: 2%;
}

#csp-top-nav {
    z-index: 7000;
	height:100%;
}

#csp-new-navbar{
background:url("http://global.syndication.tiekinetix.net/customer-resources/showcase/custom/motorola/images/topnav-bg.gif") repeat-x scroll 0 0 #D7D7D7;
}

#csp-new-navbar div{
	text-align: center;
}

#csp-new-navbar div:hover{
	background:#8e8e8e;
}

#csp-new-navbar div a{
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
}

#csp-page-header{
	float:left;
	width:100%;
}

#csp-breadcrumb 
{
    color:#5F798F;
    font-size: 11px;
    margin: 20px 0 10px;
}

#csp-breadcrumb , #csp-breadcrumb  a{
	color:#bbbbbb;
}

#csp-breadcrumb a:hover{
	color:#0087C1;
}

#csp-product-box-parent{
	float: left;
    margin: 5px 0 10px 0px;
    width: 100%;
	color:#0087c1;
}

#csp-product-box-parent h1{
    margin: 0px;
}
.csp-internalPage-image{
	float:left;
	width:100%	 
}
.csp-internalPage-image img{
	max-width:100%;	
	height:auto;
}

#csp-left-col{
	float:left;
}
#csp-right-col{
	float:right;
	clear:right;
}

.csp-sibling-items {
    float: left;
    margin: 10% 0px 2% 2%;
    list-style: none outside none;
    padding:0px;
}

.csp-sibling-items li {
    font-size: 11px;
    margin-bottom: 7%;
    word-wrap: break-word;
}

.csp-sibling-items li a {
    color: #656565;
    text-decoration: underline;
}

.csp-product-box {
    float: left;
    margin: 2% 0 0 2%;
   }

.csp-product-box h3, .csp-product-box p {
    color: #656565;
    padding: 1%;
    line-height:inherit;
}

.csp-product-box p{
	font-size:0.8em;
}

#cspContactButton {
    background-color: #0087C1;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 1px 1px 1px #AAAAAA;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5% ;
    margin-top:5%;
    padding: 4%;
    text-transform: uppercase;
    width: 95%;
}


#cspContactButton a {
    color: #FFFFFF;
    float: left;
    margin-top: 1.5%;
}


#cspContactButton p {
    float: right;
    font-size: 16px;
    font-weight: normal;
    margin:0px;
}

#tieBrandingFooter{
	float:right;
	width:100%;
}

#tieBrandingFooter img{
	float:right;
}

/*For Bootstrap customization*/

.navbar {
	margin-bottom:0px;
}

.navbar-inner {
    background-color: #E1E1E1;
    background-image: linear-gradient(to bottom, #FFFFFF, #E1E1E1);
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 0px;
}

.navbar .btn, .navbar .btn-group {
    margin-top: -40px;
    position: relative;
	margin-left: 290px;
}

/*For Bootstrap customization End*/


 @media only screen and (min-width: 660px){
 	
	#csp-wrapper {
    	width: 660px;
   }
   
    #csp-top-nav .csp-logo {
		width:20%;
		float:left;
	}
	
	#csp-top-nav .csp-logo img{
		max-width: 100%;
		height: auto;
	}
	
	#csp-top-nav #csp-new-navbar {
		width:80%;
		float:right;	
	}
	#csp-new-navbar{
		border-top: 5px solid #747474;
		height:auto !important;
	}
	#csp-new-navbar div{
		float:left;
		width:31.1%;
		padding:4.0% 1% 3.8% 1%;
		border-right: 1px solid #747474;
		text-align: center;
	}
	#csp-product-box-parent h1{
    	font-size:auto;
	}

	#csp-left-col{
		width:30%;
	}
	#csp-right-col{
		width:70%;
	}

}
 	


 @media only screen and (min-width: 540px) and (max-width: 659px) {
 	#csp-wrapper {
    	width: 100%;
   }
   
       #csp-top-nav .csp-logo {
		width:20%;
		float:left;
	}
	
	#csp-top-nav .csp-logo img{
		max-width: 100%;
		height: auto;
	}
	
	#csp-top-nav #csp-new-navbar {
		width:80%;
		float:right;	
	}
	#csp-new-navbar{
		border-top: 5px solid #747474;
		height:auto !important;
	}
	#csp-new-navbar div{
		float:left;
		width:31.1%;
		padding:4.0% 1% 3.8% 1%;
		border-right: 1px solid #747474;
		text-align: center;
	}
	#csp-product-box-parent h1{
    	font-size:1.8em;
	}
	
	#csp-left-col{
		width:30%;
	}
	#csp-right-col{
		width:70%;
	}
 	
 }
 
 @media only screen and (min-width: 480px) and (max-width: 539px) {
 	#csp-wrapper {
    	width: 100%;
   }
    #csp-top-nav .csp-logo {
		width:20%;
		float:left;
	}
	
	#csp-top-nav .csp-logo img{
		max-width: 100%;
		height: auto;
	}
	
	#csp-top-nav #csp-new-navbar {
		width:80%;
		float:right;	
	}
	#csp-new-navbar{
		border-top: 5px solid #747474;
		height:auto !important;
	}
	#csp-new-navbar div{
		float:left;
		width:31.1%;
		padding:4.0% 1% 3.8% 1%;
		border-right: 1px solid #747474;
		text-align: center;
	}
	#csp-product-box-parent h1{
    	font-size:1.8em;
	}
	
	#csp-left-col{
		width:30%;
	}
	#csp-right-col{
		width:70%;
	}
 }
 
 
 
 
 @media only screen and (min-width: 360px) and (max-width: 479px) {
 	#csp-wrapper {
    	width: 100%;
   }
       #csp-top-nav .csp-logo {
		width:100%;
		float:left;
		background-color:#e1e1e1;		
	}
	
	#csp-top-nav .csp-logo img{
		max-width: 100%;
		height: auto;
	}
	
	#csp-top-nav #csp-new-navbar {
		width:100%;
		float:right;	
	}
	#csp-new-navbar{
		border-top: 5px solid #747474;
		height:auto !important;
	}
	#csp-new-navbar div{
		float:left;
		width:31.1%;
		padding:4.0% 1% 3.8% 1%;
		border-right: 1px solid #747474;
		text-align: center;
	}
	#csp-product-box-parent h1{
    	font-size:1.6em;
	}
	#csp-left-col{
		width:100%;
	}
	#csp-right-col{
		width:100%;
	}
 	.csp-sibling-items li {
    	font-size: 13px;
    	margin-bottom: 8%;
	}

 }
 
 @media only screen and (max-width: 359px) {
 	#csp-wrapper {
    	width: 100%;
   }
   
    #csp-top-nav .csp-logo {
		width:100%;
		float:left;
		background-color:#e1e1e1;
		height:50px;
		
	}
	#csp-top-nav .csp-logo img{
		max-width: 100%;
		height: auto;
		margin-top: 4%;
	}
	#csp-new-navbar{
		width:100%;
		float:right;	
	}
	
 	#csp-new-navbar div{
 		background:url("http://global.syndication.tiekinetix.net/customer-resources/showcase/custom/motorola/images/topnav-bg.gif") repeat-x scroll 0 0 #D7D7D7;
		float:left;
		width:100%;
		padding:4.0% 1% 3.8% 1%;
		border-right: 1px solid #747474;
		text-align: center;
		
	}
	#csp-product-box-parent h1{
    	font-size:1.4em;
	}
	#csp-left-col{
		width:100%;
	}
	#csp-right-col{
		width:100%;
	}
	.csp-sibling-items li {
    	font-size: 13px;
    	margin-bottom: 8%;
	}

 }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
