<ol class="breadcrumb">
  <li><a [routerLink]="['/']"><span>{{'Product' | translate }}</span></a></li>
  <li *ngFor="let bItem of breadcrumbItems"><a [attr.cspobj]="'REPORT'" [attr.csptype]="'LINKS'" [attr.cspenglishvalue]="bItem.valueText" [routerLink]="['/category', bItem.id]"><span>{{bItem.valueText}} </span></a></li>
  <li *ngIf="!isProdDetail"><a [attr.cspobj]="'REPORT'" [attr.csptype]="'LINKS'" [attr.cspenglishvalue]="currentNodeTitle"><span>{{currentNodeTitle}}</span></a></li>
  <li *ngIf="isProdDetail"><a [attr.cspobj]="'REPORT'" [attr.csptype]="'LINKS'" [attr.cspenglishvalue]="currentNodeTitle" [routerLink]="['/categoryseries', categoryId]"><span>{{currentNodeTitle}}</span></a></li>
</ol>