<div id="csp-products">
    <div class="menu-overlay-item">
        <h2><a class="csp-menu-link" href="?p35(ct1&cd582i0):c36(ct1&cd582i1)[st(ct1*Status_Sort_Order*)]:c38(cd582i0&ct1&fPartNumber~1=!):c39(cu582i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Devices, Networks, Systems</a></h2>
        <div class="menu-overlay-menu">
            <div class="menu-overlay-content">
                <ul>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd548i0):c36(ct1&cd548i1)[st(ct1*Status_Sort_Order*)]:c38(cd548i0&ct1&fPartNumber~1=!):c39(cu548i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Bar Code Scanning</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd364i0):c36(ct1&cd364i1)[st(ct1*Status_Sort_Order*)]:c38(cd364i0&ct1&fPartNumber~1=!):c39(cu364i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Micro Kiosks</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd433i0):c36(ct1&cd433i1)[st(ct1*Status_Sort_Order*)]:c38(cd433i0&ct1&fPartNumber~1=!):c39(cu433i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Mobile Computers</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd283i0):c36(ct1&cd283i1)[st(ct1*Status_Sort_Order*)]:c38(cd283i0&ct1&fPartNumber~1=!):c39(cu283i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Private Broadband Networks</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd413i0):c36(ct1&cd413i1)[st(ct1*Status_Sort_Order*)]:c38(cd413i0&ct1&fPartNumber~1=!):c39(cu413i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">RFID</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd292i0):c36(ct1&cd292i1)[st(ct1*Status_Sort_Order*)]:c38(cd292i0&ct1&fPartNumber~1=!):c39(cu292i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Wireless Broadband Networks</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd498i0):c36(ct1&cd498i1)[st(ct1*Status_Sort_Order*)]:c38(cd498i0&ct1&fPartNumber~1=!):c39(cu498i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Wireless LAN</a></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-overlay-item">
        <h2><a class="csp-menu-link" href="?p35(ct1&cd245i0):c36(ct1&cd245i1)[st(ct1*Status_Sort_Order*)]:c38(cd245i0&ct1&fPartNumber~1=!):c39(cu245i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Accessories</a></h2>
        <div class="menu-overlay-menu">
            <div class="menu-overlay-content">
                <ul>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd92i0):c36(ct1&cd92i1)[st(ct1*Status_Sort_Order*)]:c38(cd92i0&ct1&fPartNumber~1=!):c39(cu92i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Bar Code Scanner Accessories</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd103i0):c36(ct1&cd103i1)[st(ct1*Status_Sort_Order*)]:c38(cd103i0&ct1&fPartNumber~1=!):c39(cu103i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Micro Kiosk Accessories</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd416i0):c36(ct1&cd416i1)[st(ct1*Status_Sort_Order*)]:c38(cd416i0&ct1&fPartNumber~1=!):c39(cu416i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Mobile Computer Accessories</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd234i0):c36(ct1&cd234i1)[st(ct1*Status_Sort_Order*)]:c38(cd234i0&ct1&fPartNumber~1=!):c39(cu234i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">RFID Accessories</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd362i0):c36(ct1&cd362i1)[st(ct1*Status_Sort_Order*)]:c38(cd362i0&ct1&fPartNumber~1=!):c39(cu362i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Tablet Accessories</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd347i0):c36(ct1&cd347i1)[st(ct1*Status_Sort_Order*)]:c38(cd347i0&ct1&fPartNumber~1=!):c39(cu347i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">WLAN Accessories</a></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-overlay-item">
        <h2><a class="csp-menu-link" href="?p35(ct1&cd370i0):c36(ct1&cd370i1)[st(ct1*Status_Sort_Order*)]:c38(cd370i0&ct1&fPartNumber~1=!):c39(cu370i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Software and Applications</a></h2>
        <div class="menu-overlay-menu">
            <div class="menu-overlay-content">
                <ul>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd186i0):c36(ct1&cd186i1)[st(ct1*Status_Sort_Order*)]:c38(cd186i0&ct1&fPartNumber~1=!):c39(cu186i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">Mobility Software</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd73i0):c36(ct1&cd73i1)[st(ct1*Status_Sort_Order*)]:c38(cd73i0&ct1&fPartNumber~1=!):c39(cu73i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">RhoMobile Suite</a></h4>
                        </div>
                    </li>
                    <li>
                        <div class="menu-overlay-section">
                            <h4><a href="?p35(ct1&cd62i0):c36(ct1&cd62i1)[st(ct1*Status_Sort_Order*)]:c38(cd62i0&ct1&fPartNumber~1=!):c39(cu62i99&ct1&fPartNumber~1=!)[st(ct1*ContentCategoryDepth desc*)]">WLAN Management and Security Software</a></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>