﻿.navbar .brand {
    padding: 0 0 0 2px;
    margin-left: 0;
}
.navbar-inner {
    padding-right: 0;
}
.navbar .nav {
    min-width: 77%;
    margin-top: 0;
}
.navbar .nav > li {
    background: none repeat scroll 0 0 rgba(83, 83, 83, 0);
    border-left: 1px solid #7D7D7D;
    border-right: 1px solid #333333;
    min-width: 32%;
}
.motorolaNav {
    height: 22px;
}
.navbar .btn {
    margin-top: 0;
}
.navbar .nav > li > a {
    padding: 28px 15px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #F6F6F6;
}
.navbar-inverse .navbar-inner {
    background-color: #535353;
    background-image: linear-gradient(to bottom, #535353, #414141);
    background-repeat: repeat-x;
}
.btn-inverse {
    background-color: #535353;
    background-image: linear-gradient(to bottom, #535353, #414141);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav > li > a:focus, 
.navbar-inverse .nav > li > a:hover, 
.navbar-inverse .nav > li:focus, 
.navbar-inverse .nav > li:hover {
    background-color: #848484;
}
.btn:hover, .btn:focus {
    background-position: 0px -80px;
}
.nav-collapse .nav .nav-header {
    color: #F6F6F6;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    color: #F6F6F6;
}
.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a {
    color: #F6F6F6;
}
.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:focus,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #848484;
}
.nav-collapse .open > .dropdown-menu {
    width: 100%;
}
.btn:hover, .btn:focus {
    transition: none;
}
#csp-form-container .csp-form-field {
    max-width: 340px;
    width: 100%;
}