<div id="category-panel">
	<div class="ajax-loading" ng-show="ajaxLoading">
		<div class="loading-image"></div>
	</div>
	<!--<div class="border-background-top-nav"></div>-->
	<script type="text/ng-template" id="breadcrumb-tmpl">
		<a rel="nofollow" href="{{breadcrumb.link}}">{{breadcrumb.title}}</a>&raquo;
	</script>
	<div id="breadcrumb">
		<span ng-repeat="breadcrumb in breadcrumbs" ng-include="'breadcrumb-tmpl'">
		</span>
		<a rel="nofollow" class="current" href="javascript: void(0)" ng-bind-html-unsafe="crrCategoryItem.title"></a>
	</div>
	<div id="category-title">
		<h1>{{crrCategoryItem.title}}</h1>
	</div>
	
	<div id="product-list">
		<div class="row" ng-repeat="prod in productList | orderBy : 'displayOrder'">
			<div class="col-sm-6 prod-image">
				<a rel="nofollow" href="#/products/{{crrCategoryItem.cspuniquekey}}/productdetail/{{prod.id}}">
					<img ng-src="{{prod.imageUrl}}" class="img-responsive"/>
				</a>
			</div>
			<div class="col-sm-6 prod-text">
				<h2>{{prod.title}}</h2>
				<div ng-bind-html-unsafe="prod.description"></div>
				<a rel="nofollow" href="#/products/{{crrCategoryItem.cspuniquekey}}/productdetail/{{prod.id}}" class="learn-more">{{label.learnmore}} &raquo;</a>
			</div>
		</div>
	</div>
</div>