<div id="product-panel">
	<div class="ajax-loading" ng-show="ajaxLoading">
		<div class="loading-image"></div>
	</div>
	<!--<div class="border-background-top-nav"></div>-->
	<script type="text/ng-template" id="breadcrumb-tmpl">
		<a rel="nofollow" href="{{breadcrumb.link}}">{{breadcrumb.title}}</a>&raquo;
	</script>
	<div id="breadcrumb">
		<span ng-repeat="breadcrumb in breadcrumbs" ng-include="'breadcrumb-tmpl'">
		</span>
		<a rel="nofollow" class="current" href="javascript: void(0)">{{categoryContent.title}}</a>
	</div>
	
	<div id="products-banner" ng-show="featuredCount == 0">
		<img ng-src="{{categoryContent.image}}" class="img-responsive">
	</div>
	<script type="text/ng-template" id="carouselinner-tmpl">
		<a rel="nofollow" ng-href="{{baseDomain}}#/products/{{productId}}/productdetail/{{blocks.id}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{blocks.reportid}}">
			<img ng-src="{{blocks.imageUrl}}">
			<p class="ctitle" ng-bind-html-unsafe="blocks.title"></p>
			<p class="ctitlesecond" ng-bind-html-unsafe="blocks.secondarytitle"></p>
		</a>
	</script>
	<div id="product-carousel" class="carousel slide" ng-show="featuredCount > 0">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#product-carousel" data-slide-to="{{$index}}" ng-class="{active:$first}" ng-repeat="blocks in featuredList | orderBy : 'displayOrder'"></li>
		 </ol>					 
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item" ng-repeat="blocks in featuredList | orderBy : 'displayOrder'" ng-class="{active : $first}" ng-include="'carouselinner-tmpl'">
			</div>
		</div>
		<!-- Controls -->
		<a rel="nofollow" class="left carousel-control" href="#product-carousel" data-slide="prev" eat-click>
			<span class="icon-prev"></span>
		</a>
		<a rel="nofollow" class="right carousel-control" href="#product-carousel" data-slide="next" eat-click>
			<span class="icon-next"></span>
		</a>			 
	</div>
	<!--
	<div id="product-info">
		<h1>{{categoryContent.description}}</h1>
		<p>
		{{categoryContent.descriptionlong}}
		</p>
	</div>
	-->
	<div class="row" ng-if="productSpecTypes.length > 0 && productList.length > 0">
		<div id="products-sidebar" class="col-md-3">
			<div class="products-title">{{label.narrowresultby}}</div>
			<div class="products-sidebar-list" ng-repeat="spec in productSpecTypes">
				<div class="products-sidebar-title">
					<span class="type-block-collapse" ng-click="spec.collapse = !spec.collapse"></span>
					{{spec.name}}
				</div>
				<div class="products-sidebar-content" ng-repeat="specDetail in spec.detail | orderBy:'key'" ng-show="spec.collapse">
					<div class="products-sidebar-decor" ng-hide="spec.showall == false && $index >= productSpecTypesHideFrom">
						<label>
							<input type="checkbox" id="{{getId(spec, $index)}}" ng-click="selectSpec($event, spec.name, specDetail)" ng-checked="isSpecSelected(getId(spec, $index), spec.name, specDetail)" class="product-chectbox">
							{{specDetail.value}}
						</label>
					</div>
				</div>
				<div ng-show="spec.collapse" class="toggle-options">
					<span class="btn-spec-resize" ng-show="spec.showall == false && spec.detail.length >= productSpecTypesHideFrom" ng-click="spec.showall = !spec.showall">{{label.showall}}</span>
					<span class="btn-spec-resize" ng-show="spec.showall == true && spec.detail.length >= productSpecTypesHideFrom" ng-click="spec.showall = !spec.showall">{{label.minimize}}</span>
				</div>
			</div>
		</div>
		<div id="products-mainbar" class="col-md-9">
			<div class="products-title" ng-bind-html-unsafe="label.thereare + (productList | filter:bySpec).length + label.products + label.matchselection"></div>
			<div id="products-topnav">
				<div id="products-topnav-title">{{label.yourselection}}</div>
				<!--<ul id="products-items-list">-->
					<span class="products-items-selected" ng-repeat="selectedItem in selectedSpecItems">
						{{selectedItem.name}}
						<span class="products-items-selected-remove" ng-click="uncheck(selectedItem)"></span>
					</span>
				<!--</ul>-->
			</div>
			<div style="clear:both"></div>
			<div class="row" id="product-list">
                <span ng-repeat="prod in productList | filter:bySpec">
				<!--
                    <a rel="nofollow" ng-if="prod.id=='PRODUCTPARTNUMP1566'" href="#/products/Phones" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportid}}">
                        <div class="col-sm-6 col-md-4 product-tile">
                            <div class="thumbnail">
                                <img ng-src="{{prod.thumbnailUrl}}">
                                <div class="caption product-caption" ng-bind-html-unsafe="prod.title"></div>
                            </div>
                        </div>
                    </a>
                    <a rel="nofollow" ng-if="prod.id!='PRODUCTPARTNUMP1566'" href="#/products/{{productId}}/productdetail/{{prod.id}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportid}}">
                        <div class="col-sm-6 col-md-4 product-tile">
                            <div class="thumbnail">
                                <img ng-src="{{prod.thumbnailUrl}}">
                                <div class="caption product-caption" ng-bind-html-unsafe="prod.title"></div>
                            </div>
                        </div>
                    </a>
				-->
					<a rel="nofollow" ng-href="{{GetProductLink(prod)}}" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{prod.reportid}}">
                        <div class="col-sm-6 col-md-4 product-tile">
                            <div class="thumbnail">
                                <img ng-src="{{prod.thumbnailUrl}}">
                                <div class="caption product-caption" ng-bind-html-unsafe="prod.title"></div>
                            </div>
                        </div>
                    </a>
                </span>
			</div>
			<div style="clear:both"></div>
			<div class="row">
				<div class="promotionAssets" ng-repeat="pa in promotionAssets" my-promotion-directive>
					<h3 ng-bind-html-unsafe="pa.title"></h3>
					<div ng-bind-html-unsafe="pa.descriptionlong"></div>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	<div id="children-categories" class="row" ng-if="childrenCategories.length > 0">
		<div class="row" rel="{{category.cspuniquekey}}" ng-repeat="category in childrenCategories | orderBy : 'displayOrder'" my-category-directive>
			<div class="col-sm-6 sub-category-text">
				<h2>{{category.title}}</h2>
				<div class="category-desc-long" ng-bind-html-unsafe="category.descriptionlong"></div>
				<div class="sub-category-list-holder">
					<a ng-if="category.nodes.length == 0" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{category.title}}" rel="nofollow" class="btn-explore" ng-href="{{CheckIfNotSolutionsSingleNode(category)}}">
						{{category.title}}
					</a>
					<a ng-if="category.nodes.length > 0" cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{category.title}}" rel="nofollow" class="btn-explore" ng-href="{{CheckIfNotSolutions('#/products/' + category.cspuniquekey)}}">
						{{category.title}}
					</a>
					<ul ng-if="category.nodes.length > 0" class="sub-category-children">
						<li ng-repeat="childcategory in category.nodes">
							<a cspObj="REPORT" cspType="LINKS" cspEnglishValue="{{childcategory.title}}" rel="nofollow" ng-href="#/categorydetail/{{childcategory.cspuniquekey}}">{{childcategory.title}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 sub-category-image">
				<img ng-src="{{category.image}}" class="img-responsive"/>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
		addTick(jQuery(this));
	});
	jQuery(document).ready(function() {
		jQuery("#product-carousel").carousel({
			interval: 6000
		});
		jQuery("#product-carousel").swiperight(function() {  
			jQuery("#product-carousel").carousel('prev');  
		});  
		jQuery("#product-carousel").swipeleft(function() {  
			jQuery("#product-carousel").carousel('next');  
		});
	});  
</script>