<div id="product-detail-panel">
	<div class="ajax-loading" ng-show="ajaxLoading">
		<div class="loading-image"></div>
	</div>
	<!--<div class="border-background-top-nav"></div>-->
	<script type="text/ng-template" id="breadcrumb-tmpl">
		<a rel="nofollow" ng-href="{{GetBCLink(breadcrumb)}}">{{breadcrumb.title}}</a>&raquo;
	</script>
	<div id="breadcrumb">
		<span ng-repeat="breadcrumb in breadcrumbs" ng-include="'breadcrumb-tmpl'">
		</span>
		<a rel="nofollow" class="current" href="javascript: void(0)" ng-bind-html-unsafe="product.title"></a>
	</div>
	<div id="detail-banner">
		<div id="detail-title" ng-bind-html-unsafe="product.title"></div>
		<div id="detail-title-description" ng-bind-html-unsafe="product.secondarytitle"></div>
	</div>
	<div id="detail-tab" class="tabbable"> <!-- Only required for left/right tabs -->
		<ul id="title-nav-tab" class="nav nav-tabs">
			<li ng-class="{'active': defaultTab == ''}"><a rel="nofollow" href="#overview-tab" data-toggle="tab" ng-click="tabClick('', $event)"  eat-click>{{label.overview}}</a></li>
			<li ng-class="{'active': defaultTab.toLowerCase() == featuredItem.name.toLowerCase()}" ng-repeat="featuredItem in localFeaturedList | orderBy:'name'">
				<a rel="nofollow" href="#{{featuredItem.name}}-tab" data-toggle="tab" ng-click="tabClick(featuredItem.name, $event)" eat-click>{{featuredItem.label}}</a>
			</li>
		</ul>
		<div id="product-tab-content" class="tab-content">
			<div class="tab-pane" ng-class="{'active': defaultTab == ''}" id="overview-tab">
				<div id="overview-block-first">
					<div id="first-img">
						<a rel="nofollow" ng-if="firstVideoBlock == null" id="zoom-trigger" >
							<img ng-src="{{productImage.thumbnail}}" class="img-responsive">
						</a>
						<a rel="nofollow" ng-if="firstVideoBlock != null" class="csp-lightbox" ng-href="{{firstVideoBlock.videoUrl}}" blockId="{{getEmbedVideo(firstVideoBlock)}}" vidDimension="{{getEmbedVideoDimension(firstVideoBlock)}}" cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{firstVideoBlock.identifier}}">
							<img ng-src="{{firstVideoBlock.thumbnailUrl}}" class="gallery-carousel-item" alt="">
						</a>
						<!--<span id="zoom-trigger" rel="{{firstGalleryBlock.imageUrl}}"></span>-->
						<div id="block-contact">
							<div class="btn-contact"><a rel="nofollow" cspObj="REPORT" cspType="LINKS" cspEnglishValue="ContactUs" href="#/contactus/title/{{goEncodeTitle(product.title)}}">{{label.contactus}}</a></div>
							<!--<div id="btn-contact-title">{{label.contactustoday}}</div>-->
							<div class="clear-fix"></div>
						</div>
					</div>					
					<div id="first-description">
						<div id="first-description-title" ng-bind-html-unsafe="product.description"></div>
						<div class="first-description-detail" ng-bind-html-unsafe="product.descriptionlong" keywords="{{product.id}}"></div>
						<div id="first-description-galery" class="hide">
							<p>{{label.productgallery}}</p>
							<script type="text/ng-template" id="galleryblock-tmpl">
								<span class="thumbnail" ng-click="galleryItemClicked(content)">
									<img ng-src="{{content.thumbnailUrl}}" class="gallery-carousel-item" alt="">
								</span>
							</script>
							<ul class="thumbnails">
								<li class="span4" ng-repeat="content in contentBlocks | filter:blockId='gallery' | orderBy:'blockDisplayOrder'" ng-include="'galleryblock-tmpl'">
									
								</li>
							</ul>
						</div>
						
						<div id="video-blocks" ng-show="label.productvideo != ''">
							<p>{{label.productvideo}}</p>
							<script type="text/ng-template" id="videoblock-tmpl">
								<span class="thumbnail">
									<a rel="nofollow" class="csp-lightbox video-lightbox" ng-href="{{content.videoUrl}}" blockId="{{getEmbedVideo(content)}}" vidDimension="{{getEmbedVideoDimension(content)}}" cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{content.identifier}}">
										<img ng-src="{{content.thumbnailUrl}}" class="video-demo-item" alt="">
									</a>
								</span>
							</script>
							<ul class="thumbnails">
								<li class="span4" ng-repeat="content in demoVideoBlocks | orderBy:'blockDisplayOrder'" ng-include="'videoblock-tmpl'">								
								</li>
							</ul>
							<div id="generated-videos-holder" style="display: none">
							</div>
							<div id="generated-playerscript-holder" style="display: none">
							</div>
						</div>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="overview-block" ng-class="{'overview-last-block':$last, 'overview-first-block':$first}" ng-repeat="content in featureBlocks | orderBy:'displayOrder'" ng-class-odd="'odd-block'" ng-class-even="'even-block'" >
					<div class="overview-block-1">
						<div class="short-desc" ng-bind-html-unsafe="content.description"></div>
						<div class="long-desc" keywords="{{content.keywords}}" ng-bind-html-unsafe="content.descriptionLong"></div>
					</div>
					<div class="overview-block-2"><img ng-src="{{content.imageUrl}}" alt="" /></div>
					<div class="clear-fix"></div>
				</div>
			</div>
			
			<script type="text/ng-template" id="tccustomersuccesses-tmpl">
				<td ng-class-odd="'odd-block'" ng-class-even="'even-block'" ng-if="featuredTabContent.filetype == 'video'">
					<a rel="nofollow" class="asset-img csp-cs-video" ng-class="{true:'csp-lightbox video-lightbox', false:'no-video'}[featuredTabContent.filetype == 'video']" 
						ng-href="{{getVideoLink(featuredTabContent.linkurl)}}" blockId="{{getEmbedVideo(featuredTabContent)}}"
						cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{featuredTabContent.reportingId}}" vidDimension="{{getEmbedVideoDimension(featuredTabContent)}}" >
						<img ng-hide="featuredTabContent.imgurl == ''" ng-src="{{featuredTabContent.imgurl}}" class="img-responsive"/>
					</a>
				</td>
				<td ng-class-odd="'odd-block'" ng-class-even="'even-block'" ng-attr-colspan="{{featuredTabContent.filetype == 'video' && '1' || '2' }}">
					<a rel="nofollow" ng-if="featuredTabContent.filetype == 'video'" class="asset-text video-lightbox" 
						target="{{getLinkTarget(featuredTabContent.launchtype)}}" 
						ng-class="{'csp-lightbox':featuredTabContent.launchtype =='lightbox', 'call-leadgen':featuredTabContent.statusleadgen.toLowerCase() == 'yes'}" 
						href="{{featuredTabContent.linkurl}}" blockId="{{getEmbedVideo(featuredTabContent)}}"
						cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{featuredTabContent.reportingId}}" vidDimension="{{getEmbedVideoDimension(featuredTabContent)}}" >
						<div class="customer-description">
							<div class="download-date">{{featuredTabContent.datetime}}</div>
							<div class="fourth-description-title" ng-bind-html-unsafe="featuredTabContent.downloadtitle"></div>
							<div class="fourth-description-detail" ng-bind-html-unsafe="featuredTabContent.descriptionlong"></div>
						</div>
					</a>
					
					<a rel="nofollow" ng-if="featuredTabContent.filetype != 'video'" class="asset-text" target="{{getLinkTarget(featuredTabContent.launchtype)}}" 
						ng-class="{'csp-lightbox':featuredTabContent.launchtype =='lightbox', 'call-leadgen':featuredTabContent.statusleadgen.toLowerCase() == 'yes'}" 
						href="{{featuredTabContent.linkurl}}" blockId="{{getEmbedVideo(featuredTabContent)}}"
						cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{featuredTabContent.reportingId}}">
						<div class="customer-description">
							<div class="download-date">{{featuredTabContent.datetime}}</div>
							<div class="fourth-description-title" ng-bind-html-unsafe="featuredTabContent.downloadtitle"></div>
							<div class="fourth-description-detail" ng-bind-html-unsafe="featuredTabContent.descriptionlong"></div>
						</div>
					</a>	
				</td>
			</script>
			
			<script type="text/ng-template" id="tcresources-tmpl">
				<div class="resource-content">
					<div class="resource-content-title" ng-if="CreateTab(featuredTabContent)">{{featuredTabContent.label}}</div>
					<a rel="nofollow" ng-if="featuredTabContent.filetype == 'video'" target="{{getLinkTarget(featuredTabContent.launchtype)}}" 
						ng-class="{'video-lightbox':featuredTabContent.filetype == 'video', 'csp-lightbox':featuredTabContent.launchtype =='lightbox', 'call-leadgen':featuredTabContent.statusleadgen.toLowerCase() == 'yes'}" 
						href="{{featuredTabContent.linkurl}}" blockId="{{getEmbedVideo(featuredTabContent)}}"
						cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{featuredTabContent.reportingId}}" vidDimension="{{getEmbedVideoDimension(featuredTabContent)}}">
						<div class="resource-content-download">							
							<div ng-if="featuredTabContent.filetype == 'video'" class="download-img"><img ng-src="{{featuredTabContent.imgurl}}" class="img-responsive" /></div>							
							<div class="download-description" ng-class="{'no-max-width': featuredTabContent.filetype != 'video'}">
								<div class="download-date">{{featuredTabContent.datetime}}</div>
								<div class="download-title" ng-bind-html-unsafe="featuredTabContent.downloadtitle"></div>
								<div class="download-ld" ng-bind-html-unsafe="featuredTabContent.descriptionlong"></div>								
							</div>
							<div class="clear-fix"></div>
						</div>
					</a>
					
					<a rel="nofollow" ng-if="featuredTabContent.filetype != 'video'" target="{{getLinkTarget(featuredTabContent.launchtype)}}" 
						ng-class="{'video-lightbox':featuredTabContent.filetype == 'video', 'csp-lightbox':featuredTabContent.launchtype =='lightbox', 'call-leadgen':featuredTabContent.statusleadgen.toLowerCase() == 'yes'}" 
						href="{{featuredTabContent.linkurl}}" blockId="{{getEmbedVideo(featuredTabContent)}}"
						cspObj="REPORT" cspType="DOWNLOADS" cspEnglishValue="{{featuredTabContent.reportingId}}">
						<div class="resource-content-download">							
							<div ng-if="featuredTabContent.filetype == 'video'" class="download-img"><img ng-src="{{featuredTabContent.imgurl}}" class="img-responsive" /></div>							
							<div class="download-description" ng-class="{'no-max-width': featuredTabContent.filetype != 'video'}">
								<div class="download-date">{{featuredTabContent.datetime}}</div>
								<div class="download-title" ng-bind-html-unsafe="featuredTabContent.downloadtitle"></div>
								<div class="download-ld" ng-bind-html-unsafe="featuredTabContent.descriptionlong"></div>								
							</div>
							<div class="clear-fix"></div>
						</div>
					</a>
				</div>
			</script>
			
			<div class="tab-pane" ng-class="{'active': defaultTab.toLowerCase() == featuredTabItem.name.toLowerCase()}" ng-repeat="featuredTabItem in localFeaturedList | orderBy:'name'" id="{{featuredTabItem.name}}-tab">
				<div ng-if="featuredTabItem.name == 'customersuccesses'">
					<table>
						<tr ng-repeat="featuredTabContent in featuredTabItem.content | filter:localfeatured='customersuccesses' | orderBy:['type','sortorder']" ng-class="{{featuredTabContent.localfeatured}}-content" ng-include="'tccustomersuccesses-tmpl'">
						</tr>
					</table>
				</div>
				<div ng-if="featuredTabItem.name == 'resources'">
					<div ng-repeat="featuredTabContent in featuredTabItem.content | filter:localfeatured='resources' | orderBy:['type','sortorder']" ng-class="{{featuredTabContent.localfeatured}}-content" ng-include="'tcresources-tmpl'" ng-class-odd="'odd-block'" ng-class-even="'even-block'">
					</div>
				</div>
			</div>
		</div>
    </div>
	<div id="leadgen-form-holder" class="hide">
		<form id="frmleadgen" name="frmleadgen" ng-submit="submit()">
			<div id="field-list">
				
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	var wdWidth = jQuery(window).width();
	var wdHeight = 500;
	var downloadFormFields = '';
	
	function reAdjustColorBoxSize(minWidth) {
		wdWidth = jQuery(window).width();
		if (wdWidth > 660)
			wdWidth = 600;
		else {
			wdWidth = wdWidth - 150;
			wdHeight = wdWidth;
		}
		if (minWidth > 0 && wdWidth < minWidth) {
			wdWidth = minWidth;
			wdHeight = wdWidth;
		}
	}

	jQuery("body").undelegate("#zoom-trigger", "click").delegate("#zoom-trigger", "click", function(event) {
		reAdjustColorBoxSize(0);
		var thumbnailImg = jQuery(this).find('img');
		if (thumbnailImg.length > 0) {
			var imgUrl = thumbnailImg.attr('src');
			jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:false, photo: true, href: imgUrl, className: 'prod-gallery-item'});
		}
		event.preventDefault();
	});
	
	jQuery("body").undelegate(".csp-lightbox", "click").delegate(".csp-lightbox", "click", function(event) {
		event.preventDefault();
		var item = jQuery(this);
		reAdjustColorBoxSize(0);
		
		if(item.attr('blockId')&&item.attr('blockId').toLowerCase() != 'null') {
			var sampleUrl = item.attr('href');
			var additionalFlashvars = ['flashvars[avayaActionBtn.plugin]', 'flashvars[viewbix.plugin]'];
			var kalturaFlashVars = {
								'externalInterfaceDisabled' : false,
								'autoPlay' : false
							};
			for (var i = 0; i < additionalFlashvars.length; i++) {
				if (sampleUrl.indexOf(additionalFlashvars[i]) == -1)
					sampleUrl = sampleUrl + '&' + additionalFlashvars[i] + '=false';
			}
			
			var flashVarsArr = sampleUrl.match(/flashvars\[(.*?)\]/g);
			if (flashVarsArr.length > 0) {
				for (var key in flashVarsArr) {
					var escapedParam = flashVarsArr[key].replace(/\[/g, '\\[').replace(/\]/g, '\\]');
					var flashVarsName = flashVarsArr[key].match(/\[(.*?)\]/g)[0];
					var flashVarsValue = getURLParameter(escapedParam, sampleUrl);
					flashVarsName = flashVarsName.replace(/\[/g, '').replace(/\]/g, '');
					if (flashVarsName == 'avayaActionBtn.plugin')
						flashVarsValue = false;
					flashVarsArr[flashVarsArr[key]] = {
						name: flashVarsName,
						value: flashVarsValue
					};
					kalturaFlashVars[flashVarsName] = flashVarsValue;
				}
			}
			
			var videoDimention = item.attr('viddimension').split('x');
			if (jQuery(window).width() < parseInt(videoDimention[0])) {
				videoDimention[0] = jQuery(window).width() - 15;
				videoDimention[1] = videoDimention[0];
			}
			var videoWrapper = '<div id="all-video-wrapper"><div id="video_' + item.attr('blockId') + '" style="width:' + videoDimention[0] + 'px; height:' + videoDimention[1] + 'px"></div></div>';
			jQuery.colorbox({
				innerWidth: videoDimention[0],
				innerHeight: videoDimention[1],
				html: videoWrapper,
				className: 'prod-video-item',
				onComplete: function () {
					jQuery('#cboxLoadingGraphic').show(); 
					setTimeout(function () {
						kWidget.embed({
							'targetId': 'video_' + item.attr('blockId'),
							'wid': '_' + kalturaPId,
							'uiconf_id' : kalturaUId,
							'entry_id' : item.attr('blockId'),
							'flashvars': kalturaFlashVars,
							'readyCallback': function( playerId ){
								window.kdp = jQuery('#' + playerId).get(0);
								jQuery('#cboxLoadingGraphic').hide();
								item.colorbox.resize({
									innerWidth: videoDimention[0],
									innerHeight: videoDimention[1]
								});
							}
						});
						//console.log(item.attr('blockId'), kalturaPId, kalturaUId);
					}, 500);
					
				},
				onClose: function () {
					kWidget.destroy(window.kdp);
					delete(window.kdp);
				}
			});
		}
		else {
			reAdjustColorBoxSize(350);
			if (!item.hasClass('video-lightbox'))
				wdHeight = jQuery(window).height() - 90;
			jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href')});
		}
		if (item.hasClass('video-lightbox')) {
			if(typeof(_tag)!="undefined"&&typeof(CspReportLib)!="undefined") 
				CspReportLib.trackVideoStatus.start(jQuery(this).attr("cspEnglishValue"));
			//GoReport();
		}
	});
	
	jQuery("body").undelegate(".no-video", "click").delegate(".no-video", "click", function (event) {
		event.preventDefault();
	});
	
	jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
		addTick(jQuery(this));
	});
	
	jQuery("body").undelegate(".call-leadgen", "click").delegate(".call-leadgen", "click", function(event) {
		try {
			reAdjustColorBoxSize(350);
			var fileUrl = jQuery(this).attr('href');
			var assetTitle =  jQuery("div.download-ld", this).text(); //jQuery(this).text();
			//console.log(downloadFormFields);
			jQuery('#field-list').html('');
			jQuery('#field-list').html(downloadFormFields);
			jQuery('#redirect').val(fileUrl);
			jQuery('#requestedAsset').val(assetTitle);
			jQuery.colorbox({inline:true, href:"#frmleadgen", width: wdWidth + "px", height: "400px"});//, onOpen: function() { jQuery('#frmleadgen').show(); }, onClosed: function() { jQuery('#frmleadgen').hide(); }});//.colorbox({html: '<form name="form1">' + fieldsList + '</form>', width: wdWidth + "px", height: wdHeight + "px"});
			event.preventDefault();
		} catch (Err) {
			console.log('#2: ' + Err);
		}
	});
</script>