		<!-- Wrapper for slides -->
		<script type="text/ng-template" id="carouselinner-tmpl">
			<a ng-class="{true:'csp-lightbox'}[IsExternalLink(blocks.link)]"  ng-if="blocks.link != ''" ng-href="{{blocks.link}}" cspObj="REPORT" cspType="VIDEO" cspEnglishValue="{{blocks.reportingId}}">
				<img ng-src="{{blocks.image}}" alt="{{blocks.description}}">
				<div class="carousel-caption" ng-bind-html-unsafe="blocks.description"></div>
			</a>
			<a ng-if="blocks.link == ''" href="javascript: void(0)" eat-click style="cursor: default">
				<img ng-src="{{blocks.image}}" alt="{{blocks.description}}">
				<div class="carousel-caption" ng-bind-html-unsafe="blocks.description"></div>
			</a>
		</script>
		<div id="home-carousel" class="carousel slide clearfix">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{active:$first}" ng-repeat="blocks in homeblocks | filter:type='hero' | orderBy:'displayorder'"></li>
			 </ol>
			<div class="carousel-inner">
				<div class="item" ng-class="{active:$first}" ng-repeat="blocks in homeblocks | filter:type='hero' | orderBy:'displayorder'" ng-include="'carouselinner-tmpl'">
				</div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#home-carousel" data-slide="prev" eat-click>
			<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control" href="#home-carousel" data-slide="next" eat-click>
			<span class="icon-next"></span>
			</a>			 
		</div>
		
		<script type="text/ng-template" id="homeblock-tmpl">
			<a href="{{blocks.link}}" ng-class="{true:'csp-lightbox'}[IsExternalLink(blocks.link)]">
				<img ng-src="{{blocks.thumbnail}}" />
				<div class="csp-box-description">
					<div class="csp-box-title">
						{{blocks.title}}
					</div>
					<div class="csp-box-desc" ng-bind-html-unsafe="blocks.description">						
					</div>
				</div>
			</a>
		</script>
		<div id="csp-homeblocks-wrapper" class="row" style="padding: 0px 0px 0px 3px">
			<div class="csp-box span4" ng-repeat="blocks in tileBlocks | filter:type='tile' | orderBy:'displayorder'" ng-include="'homeblock-tmpl'">				
			</div>
		</div><!--end #csp-contemt-->
		<script type="text/javascript">  
		jQuery(document).ready(function() {
			jQuery("#home-carousel").carousel({
				interval: 6000
			});
			jQuery("#home-carousel").swiperight(function() {  
				jQuery("#home-carousel").carousel('prev');  
			});  
			jQuery("#home-carousel").swipeleft(function() {  
				jQuery("#home-carousel").carousel('next');  
			});
		});  
		
		jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
			if (jQuery(this).hasClass('csp-lightbox')) return;
			addTick(jQuery(this));
		});
		
		jQuery("body").undelegate(".csp-lightbox", "click").delegate(".csp-lightbox", "click", function(event) {
			var reportingId = jQuery(this).attr("cspEnglishValue");
			reportingId=(reportingId?reportingId:"");
			var isDesktop = reAdjustColorBoxSize(350);
			if (isDesktop) {
				jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href'), 
					onComplete: function(){if (typeof (CspReportLib) != "undefined") CspReportLib.trackVideoStatus.start(reportingId);},
					onClosed: function() {if (typeof (CspReportLib) != "undefined") CspReportLib.trackVideoStatus.stop(reportingId);}
				});
				event.preventDefault();
			}
		});
		</script> 