﻿.cspisicontainer {
    margin-bottom: 15px;
}
.cspProductDescriptionTitle, .cspSectionTitle, .cspFeatureTitle {
    margin: 15px 0px 15px 0px;
}
.cspProduct_Description_Long_Text, .cspisifeaturesText {
    font-size: 13px;
}
.cspisicontainer ul {
    margin: 15px 0px 0px 25px;
}
.cspisicontainer li {
    margin-bottom: 15px;
    list-style: disc;
}