<div class="ajax-loading" ng-show="ajaxLoading">
	<div class="loading-image"></div>
</div>
<div ng-bind-html-unsafe="ContentPage">

<div class="clear"></div>
</div>
<div class="clear"></div>
<script type="text/javascript">
	jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
		if (jQuery(this).attr('href') != undefined && jQuery(this).attr('href').indexOf('d9.aspx') == -1)
			addTick(jQuery(this));
	});
	
	jQuery("body").undelegate(".video-plugin-block a", "click").delegate(".video-plugin-block a", "click", function(event) {
		var isDesktop = reAdjustColorBoxSize(350);
		if (isDesktop) {
			if (jQuery(this).attr('rel').toLowerCase() == 'pdf')
				wdHeight = jQuery(window).height() - 90;
		}
		jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href')});
		event.preventDefault();
	});
	
	jQuery("body").undelegate(".player", "click").delegate(".player", "click", function(event) {
		event.preventDefault();
		return;
		var isDesktop = reAdjustColorBoxSize(350);
		if (isDesktop) {
			if (jQuery(this).attr('rel').toLowerCase() == 'pdf')
				wdHeight = jQuery(window).height() - 90;				
			jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).parent('a').attr('href')});
			event.stopPropagation();
			event.preventDefault();
		}
	});
</script>