<div id="sce-wrapper" class="container">
	<div id="sce-header">
		<div id="sce-logo">
			<span class="helper"></span>
			<a href="javascript: void(0)">
				<img id="sce-logo-img" src="" />
			</a>
		</div>
		<nav id="sce-mainnav" class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav pull-right" id="sce-mainnav-ul">
					
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
	
	<div id="sce-breadcrumb">
	<!--
		<a href="javascript: void(0)">Home</a><span>&gt;</span><a class="current" href="javascript: void(0)">Test Category</a>
		<a id="sce-bc-contactus" href="javascript: void(0)">Contact Us<span id="sce-contactus-raquo">&raquo;</span></a>
	-->
	</div>
	
	<div>
		<div id="sce-left-col" class="hide">
			<ul></ul>
			<div id="left-col-btns">
				<a id="left-btn-contactus" href="javascript: void(0)"></a>
			</div>
		</div>
		
		<div id="workspace">
			<div class="clear" id="workspacelastitem"></div>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="sub-category-blocks">
		
	</div>
	
	<div id="tieBrandingFooter">
		<img border="0" src="customer-resources/showcase/Custom/SyndicateTemplate1/images/TIE_KINETIX.gif" alt="TIE KINETIX LOGO">
	</div>
</div>

<script type="text/javascript">
jQuery(function() {
	initApp();
});
</script>