.cspProduct_Description_Long_Text, .cspisifeaturesText {
    font-size: small;
}
.cspisicontainer ul {
    margin: 15px 0px 0px 0px;
}
.cspisicontainer li {
    margin-bottom: 15px;
}
.cspbacktotop {
    margin: 0px;
}