.hide { display: none; }
h1, h2, h3 { margin: 5px 0px; }
.no-overlay-bg { background: none !important; }
body {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	background: url("../images/body-bg.png") repeat-x scroll top left;
	color: #2a3136;
}

ol,ul {
	
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** END RESET CSS**/

#csp-wrapper {
	margin: 0px auto;
	background-color: #3A4348;
	min-height: 500px;
	padding: 0px !important;
	max-width: 660px !important;
}
#main-nav-bar, #main-nav-bar .dropdown-menu { background-color: #2a3136; }
.navbar {
	margin-bottom: 0;
	border-radius: 0px;
}

.navbar .navbar-inner {
	padding: 0;
}

.navbar li {
	min-height: 30px;
}
.navbar li a {
	color: #afee5c !important;
	text-shadow:none;
	box-shadow: none !important;
	cursor: pointer !important;
}
.navbar li a:hover { background-color: #3a4348; }
.main-menu-item > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background-color: #5f6568 !important; }
.dropdown.open a:hover, .dropdown.open a:active, .dropdown.open a:focus, .dropdown.open a:disabled, 
.dropdown.open a[disabled], .dropdown.open a:after, .dropdown.open a:before {
	background: #485156 !important;
	color: #7eb72a !important;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    margin-top: -1px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}
.navbar .no-sub-items { display: none !important }
.container {
	margin-top: 5px;
	background-color: #3a4348;
}

.row .span4 p {
	margin: 10px;
	font-size: 12px;
	color: #7eb72a;
	font-weight: bold;
}

.row {
	padding-left: 15px;
}

.row .span4 {
	background: #303136;
	margin: 0 9px 12px 9px;
	width: 200px;
	position: relative;
}

.hero-unit {
	height: 370px;
	margin-bottom: 12px;
	background: url("../images/siemens-bg.jpg");
	color: #7eb72a;
	border-radius: 0;
}

.csp-box-description {
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
}

.csp-box-title, .csp-box-desc {
	padding-left: 45%;
	padding-right: 10px;
}

.csp-box-title {
	padding-top: 10px;
	font-size: 15px;
	color: #88C540;
}

.csp-box-desc {
	font-size: 11px;
	color: #ffffff;
}

@media (min-width: 660px) {
	.row .span4 {
		width: 200px;
	}
}

@media (max-width: 659px) {
	.row .span4 {
		width: 97%;
		margin-left: 0px;
		margin-right: 3%;
	}
}

@media (max-width: 500px) {
	.row .span4 {
		width: 95%;
		margin-right: 5%;
	}
}
#csp-wrapper {
	margin: 0px auto;
	min-height: 500px;
}

#main-nav a { cursor: pointer !important; }
#main-nav a.root-item {  display: block; }

#home-carousel { margin-bottom: 0px; }

#home-carousel .carousel-caption {
	color: #fff;
	background: url("../images/prod-text-bg2.png") repeat scroll 0 0 transparent !important;
    bottom: 65px  !important;
    left: auto !important;
    padding: 15px;
    position: absolute;
    right: 12.5% !important;
    width: 75% !important;
	text-align:left !important;
}

.container {
	margin-top: 5px;
	background-color: #3a4348;
}

.row .span4 p {
	margin: 10px;
	font-size: 12px;
	color: #7eb72a;
	font-weight: bold;
}

.row {
	padding-left: 15px;
}

.row .span4 {
	/*background: #FFF;*/
	margin: 0px 3px 3px 0px;
	width: 200px;
	position: relative;
	overflow: hidden;
	float: left;
}

.hero-unit {
	height: 370px;
	margin-bottom: 12px;
	background: url("../images/siemens-bg.jpg");
	color: #7eb72a;
	border-radius: 0;
}

.csp-box img { width: 216px; }

.csp-box-description {
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
}

.csp-box-title, .csp-box-desc {
	padding-left: 45%;
	padding-right: 10px;
}

.csp-box-title {
	padding-top: 10px;
	font-size: 13px;
}

.csp-box-desc {
	font-size: 11px;
}

@media (min-width: 660px) {
	.row .span4 {
		width: 216px;
	}
}

@media (max-width: 659px) {
	.row .span4 {
		width: 97%;
		margin-left: 0px;
		margin-right: 3%;
	}
	#main-nav-bar .navbar-collapse.in {
			overflow-y: inherit !important;
		}
	#main-nav-bar .navbar-collapse{
		max-height:none !important;
	}
}

@media (max-width: 500px) {
	.row .span4 {
		width: 95%;
		margin-right: 5%;
	}
}

.carousel-caption {}
.carousel-control { background: url("../images/carousel-toleft.png") no-repeat scroll center !important; border: none; }
.carousel-control.right { background: url("../images/carousel-toright.png") no-repeat scroll center !important; }
.carousel-indicators { top: 96% !important; right: 300px; }
.carousel-control .icon-prev:before, .carousel-control .icon-next:before { content: "" !important; }
.carousel .carousel-indicators { text-align: center; }
.carousel .carousel-indicators li { zoom: 1; *display: inline; }

.img-responsive{display:block;max-width:100%;height:auto;}

.ajax-loading {background: url("../images/prod-text-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important; position: absolute; z-index: 100; top: 0px; left: 0px; width: 100%; height: 100%;}
.ajax-loading .loading-image {width: 100%; height: 100%; background: url("../images/loading_box.gif") no-repeat scroll center;}
#breadcrumb { font-size: 11px; padding: 0px 10px 10px 10px; }
#breadcrumb a { color: #2f7d00; display: inline-block; zoom: 1; *display: inline; padding: 2px 5px 0px 5px; }
#breadcrumb a.current, #breadcrumb a.current:hover { color: #2a3136; text-decoration: none; }

#page-title { padding: 0px 15px 5px 15px; }
#page-title h1 { font-weight: normal; font-size: 20px; padding: 0px; margin: 0px; border-bottom: 1px solid #EAE8E8; }

#csp-homeblocks-wrapper { background-color: #3A4348; padding-top: 3px !important; }

#product-page { background-color: #FFF; }
#product-page .whole-row { padding: 5px 0px; }
#product-page .row { padding-left: 0px; }
#product-page .row > div { overflow: hidden; }
#product-page .prod-block { position: relative; }
#product-page .prod-block .vertical-top { top: 0 !important; }
#product-page .prod-block .vertical-bottom { bottom: 0 !important; }
#product-page .prod-block a { color: #2a3136; display: block; }
#product-page .prod-block .prod-text { position: absolute; bottom: 10px; width: 60%; right: 0px; background: url("../images/prod-text-bg.png") repeat; padding: 5px; }
#product-page .prod-block .prod-text h3, #product-page .page-content-block-thumbnail .asset-text h3 { font-size: 15px; font-weight: bold; color: #2A3136; margin: 0px; padding: 0px 0px 5px 0px; line-height: 20px; }
#product-page .whole-row .prod-block .prod-text h3, #product-page .page-content-block-thumbnail .asset-text h3 { font-size: 16px !important; font-weight: bold;}
#product-page .prod-block .prod-text span { color: #5F6568 !important;} 
#product-page .prod-block .block-wrapper { padding: 4px 4px; }
#product-page .whole-row .prod-block { padding: 2px; }
#product-longdescription-detail { padding: 10px; }
#product-page .row { padding-left: 0px; }
#product-page .row > div { overflow: hidden; }
#product-page .asset-block, #product-page .page-content-block-thumbnail { position: relative; min-height: 140px; }
#product-page .asset-block a { color: #2a3136; display: block; background-color: #FFF; }
/*#product-page .page-content-block-thumbnail img  {width: 140px; height: 100px; }*/
#product-page .asset-block img{width: 100px; height: 140px; }
#product-page .asset-block .asset-text, #product-page .page-content-block-thumbnail .asset-text { color: #5F6568; position: absolute; background: url("../images/prod-text-bg.png") repeat; padding: 5px; width: 65%; right: 0px; }
#product-page .asset-block .asset-text { top: 0px; }
#product-page .page-content-block-thumbnail .asset-text {bottom: 10px; }
#product-page .asset-block .block-wrapper { padding: 2px; /*background-color: #F6F7F1;*/ }
#product-page .whole-row .asset-block { background-color: #F6F7F1; padding: 5px; margin: 0px 15px; }
#product-page .row .col-0 .block-wrapper { margin: 2px 2px 2px 0px }
#product-page .row .col-1 .block-wrapper { margin: 2px 0px 2px 2px }
#product-page #prod-contactus-btn { display: inline-block; zoom: 1; *display: inline; padding: 0 15px; height: 32px; background: none repeat scroll 0 0 #80B828; color: #333; border-radius: 4px; }
#product-page #prod-contactus-btn .btn-inner-text { text-align: center; padding-top: 5px; }
#product-page #product-node-detail .row {border-bottom: 1px solid #EAE8E8; margin-top: 20px; padding-bottom: 20px;}
#product-page #product-node-detail .content-block-outer { padding: 5px }
#product-page #product-node-detail .block-left .content-block-outer { padding-right: 14px; border-right: 1px solid #EAE8E8; }
#product-page #product-node-detail .block-right .content-block-outer { padding-left: 15px; }
#product-page #product-node-detail .content-block-outer h3 {font-size: 16px; margin: 0; padding: 0; font-weight: normal; padding-bottom: 15px;}
#product-page #product-node-detail .content-block-outer .content-block-desc {color: #5f6568;}
#product-page .prod-block .align-right { right: 0px !important; left: auto; margin-right: 0px; }
#product-page .prod-block .align-left { left: 0px !important; }
#product-page .featured-content-block {margin: 0px !important; padding: 0px !important; border: none !important;}
#product-page .featured-content-block .prod-text {width: 60% !important;}
#product-page .text-learnmore { color: #2f7d00; padding: 5px 0px 0px 0px; }
#product-page .relatedassetblock {padding-top:15px;}

#asset-page { background-color: #FFF; min-height: 500px; position: relative; }
#asset-page .whole-row { padding: 5px 0px; }
#asset-page .row { padding-left: 0px; }
#asset-page .row > div { overflow: hidden; }
#asset-page .asset-block { position: relative; }
#asset-page .asset-block a { color: #2a3136; display: block; background-color: #FFF; }
#asset-page .asset-block .asset-text { position: absolute; bottom: 10px; width: 50%; right: 0px; margin-right: 4px; background: url("../images/prod-text-bg.png") repeat; padding: 5px; }
#asset-page .asset-block .block-wrapper { padding: 5px 5px; background-color: #F6F7F1; }
#asset-page .whole-row .asset-block { background-color: #F6F7F1; padding: 5px; margin: 0px 15px; }
#asset-page .row .col-0 .block-wrapper { margin: 0px 5px 0px 15px; }
#asset-page .row .col-1 .block-wrapper { margin: 0px 15px 0px 5px; }
#asset-page #asset-long-description { padding: 10px 20px; }
#frmleadgen { margin-left: 10%; margin-top: 20px; }

#asset-page #other-assets .asset-block .block-wrapper { background-color: transparent; }
#asset-page #other-assets .row .col-0 .block-wrapper { margin-left: 10px; }
#asset-page #other-assets .row .col-1 .block-wrapper { margin-left: 10px; }
#asset-page #other-assets .asset-block .block-wrapper h3 { font-size: 14px; margin: 0; padding: 0; font-weight: bold; }
#asset-page #other-assets .asset-block .block-wrapper ul { list-style: none; }
#asset-page #other-assets .asset-block .block-wrapper ul li:before { content: "\00BB \0020"; }
#asset-page #other-assets .asset-block .block-wrapper ul li a { display: inline !important; }
#colorbox #field-list { padding-right: 50px; }

.container:after{clear:both;}
.row{margin-left:0px;margin-right:0px;}.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{position:relative;min-height:1px;padding-left:0px;padding-right:0px;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11{float:left;}
.col-xs-1{width:8.333333333333332%;}
.col-xs-2{width:16.666666666666664%;}
.col-xs-3{width:25%;}
.col-xs-4{width:33.33333333333333%;}
.col-xs-5{width:41.66666666666667%;}
.col-xs-6{width:50%;}
.col-xs-7{width:58.333333333333336%;}
.col-xs-8{width:66.66666666666666%;}
.col-xs-9{width:75%;}
.col-xs-10{width:83.33333333333334%;}
.col-xs-11{width:91.66666666666666%;}
.col-xs-12{width:100%;}
@media (min-width:500px){.container{max-width:720px;} .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11{float:left;} .col-sm-1{width:8.333333333333332%;} .col-sm-2{width:16.666666666666664%;} .col-sm-3{width:25%;} .col-sm-4{width:33.33333333333333%;} .col-sm-5{width:41.66666666666667%;} .col-sm-6{width:50%;} .col-sm-7{width:58.333333333333336%;} .col-sm-8{width:66.66666666666666%;} .col-sm-9{width:75%;} .col-sm-10{width:83.33333333333334%;} .col-sm-11{width:91.66666666666666%;} .col-sm-12{width:100%;} .col-sm-push-1{left:8.333333333333332%;} .col-sm-push-2{left:16.666666666666664%;} .col-sm-push-3{left:25%;} .col-sm-push-4{left:33.33333333333333%;} .col-sm-push-5{left:41.66666666666667%;} .col-sm-push-6{left:50%;} .col-sm-push-7{left:58.333333333333336%;} .col-sm-push-8{left:66.66666666666666%;} .col-sm-push-9{left:75%;} .col-sm-push-10{left:83.33333333333334%;} .col-sm-push-11{left:91.66666666666666%;} .col-sm-pull-1{right:8.333333333333332%;} .col-sm-pull-2{right:16.666666666666664%;} .col-sm-pull-3{right:25%;} .col-sm-pull-4{right:33.33333333333333%;} .col-sm-pull-5{right:41.66666666666667%;} .col-sm-pull-6{right:50%;} .col-sm-pull-7{right:58.333333333333336%;} .col-sm-pull-8{right:66.66666666666666%;} .col-sm-pull-9{right:75%;} .col-sm-pull-10{right:83.33333333333334%;} .col-sm-pull-11{right:91.66666666666666%;} .col-sm-offset-1{margin-left:8.333333333333332%;} .col-sm-offset-2{margin-left:16.666666666666664%;} .col-sm-offset-3{margin-left:25%;} .col-sm-offset-4{margin-left:33.33333333333333%;} .col-sm-offset-5{margin-left:41.66666666666667%;} .col-sm-offset-6{margin-left:50%;} .col-sm-offset-7{margin-left:58.333333333333336%;} .col-sm-offset-8{margin-left:66.66666666666666%;} .col-sm-offset-9{margin-left:75%;} .col-sm-offset-10{margin-left:83.33333333333334%;} .col-sm-offset-11{margin-left:91.66666666666666%;}}@media (min-width:500px){.container{max-width:660px;} .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11{float:left;} .col-md-1{width:8.333333333333332%;} .col-md-2{width:16.666666666666664%;} .col-md-3{width:25%;} .col-md-4{width:33.33333333333333%;} .col-md-5{width:41.66666666666667%;} .col-md-6{width:50%;} .col-md-7{width:58.333333333333336%;} .col-md-8{width:66.66666666666666%;} .col-md-9{width:75%;} .col-md-10{width:83.33333333333334%;} .col-md-11{width:91.66666666666666%;} .col-md-12{width:100%;} .col-md-push-0{left:auto;} .col-md-push-1{left:8.333333333333332%;} .col-md-push-2{left:16.666666666666664%;} .col-md-push-3{left:25%;} .col-md-push-4{left:33.33333333333333%;} .col-md-push-5{left:41.66666666666667%;} .col-md-push-6{left:50%;} .col-md-push-7{left:58.333333333333336%;} .col-md-push-8{left:66.66666666666666%;} .col-md-push-9{left:75%;} .col-md-push-10{left:83.33333333333334%;} .col-md-push-11{left:91.66666666666666%;} .col-md-pull-0{right:auto;} .col-md-pull-1{right:8.333333333333332%;} .col-md-pull-2{right:16.666666666666664%;} .col-md-pull-3{right:25%;} .col-md-pull-4{right:33.33333333333333%;} .col-md-pull-5{right:41.66666666666667%;} .col-md-pull-6{right:50%;} .col-md-pull-7{right:58.333333333333336%;} .col-md-pull-8{right:66.66666666666666%;} .col-md-pull-9{right:75%;} .col-md-pull-10{right:83.33333333333334%;} .col-md-pull-11{right:91.66666666666666%;} .col-md-offset-0{margin-left:0;} .col-md-offset-1{margin-left:8.333333333333332%;} .col-md-offset-2{margin-left:16.666666666666664%;} .col-md-offset-3{margin-left:25%;} .col-md-offset-4{margin-left:33.33333333333333%;} .col-md-offset-5{margin-left:41.66666666666667%;} .col-md-offset-6{margin-left:50%;} .col-md-offset-7{margin-left:58.333333333333336%;} .col-md-offset-8{margin-left:66.66666666666666%;} .col-md-offset-9{margin-left:75%;} .col-md-offset-10{margin-left:83.33333333333334%;} .col-md-offset-11{margin-left:91.66666666666666%;}}@media (min-width:1200px){.container{max-width:1140px;} .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11{float:left;} .col-lg-1{width:8.333333333333332%;} .col-lg-2{width:16.666666666666664%;} .col-lg-3{width:25%;} .col-lg-4{width:33.33333333333333%;} .col-lg-5{width:41.66666666666667%;} .col-lg-6{width:50%;} .col-lg-7{width:58.333333333333336%;} .col-lg-8{width:66.66666666666666%;} .col-lg-9{width:75%;} .col-lg-10{width:83.33333333333334%;} .col-lg-11{width:91.66666666666666%;} .col-lg-12{width:100%;} .col-lg-push-0{left:auto;} .col-lg-push-1{left:8.333333333333332%;} .col-lg-push-2{left:16.666666666666664%;} .col-lg-push-3{left:25%;} .col-lg-push-4{left:33.33333333333333%;} .col-lg-push-5{left:41.66666666666667%;} .col-lg-push-6{left:50%;} .col-lg-push-7{left:58.333333333333336%;} .col-lg-push-8{left:66.66666666666666%;} .col-lg-push-9{left:75%;} .col-lg-push-10{left:83.33333333333334%;} .col-lg-push-11{left:91.66666666666666%;} .col-lg-pull-0{right:auto;} .col-lg-pull-1{right:8.333333333333332%;} .col-lg-pull-2{right:16.666666666666664%;} .col-lg-pull-3{right:25%;} .col-lg-pull-4{right:33.33333333333333%;} .col-lg-pull-5{right:41.66666666666667%;} .col-lg-pull-6{right:50%;} .col-lg-pull-7{right:58.333333333333336%;} .col-lg-pull-8{right:66.66666666666666%;} .col-lg-pull-9{right:75%;} .col-lg-pull-10{right:83.33333333333334%;} .col-lg-pull-11{right:91.66666666666666%;} .col-lg-offset-0{margin-left:0;} .col-lg-offset-1{margin-left:8.333333333333332%;} .col-lg-offset-2{margin-left:16.666666666666664%;} .col-lg-offset-3{margin-left:25%;} .col-lg-offset-4{margin-left:33.33333333333333%;} .col-lg-offset-5{margin-left:41.66666666666667%;} .col-lg-offset-6{margin-left:50%;} .col-lg-offset-7{margin-left:58.333333333333336%;} .col-lg-offset-8{margin-left:66.66666666666666%;} .col-lg-offset-9{margin-left:75%;} .col-lg-offset-10{margin-left:83.33333333333334%;} .col-lg-offset-11{margin-left:91.66666666666666%;}
}

.navbar-inner .icon-th-list{
	background-image: url("../images/glyphicons-halflings-white.png") !important;
}
.navbar-inner .btn-navbar:hover .icon-th-list
{
	background-image: url("../images/glyphicons-halflings.png") !important;
}

#asset-detail-page { min-height: 600px; background-color: #FFF; }
#asset-detail-page .whole-row { padding: 5px 0px; }
#asset-detail-page .whole-row .asset-block { background-color: #F6F7F1; padding: 5px; margin: 0px 15px; }
#asset-detail-page .asset-block { position: relative; }
#asset-detail-page .asset-block .asset-text { position: absolute; bottom: 10px; width: 50%; right: 0px; margin-right: 4px; background: url("../images/prod-text-bg.png") repeat; padding: 5px; }
#asset-detail .col-md-8 { margin-left: -1px; border-right: 1px solid #EAE8E8; }
#asset-detail .video, #asset-detail .document { min-height: 40px; padding: 0px 15px 0px 40px; line-height: 15px; color: #555555; margin-left: 10px; }
#asset-detail .video {background: url("../images/file-video.png") no-repeat scroll left center;}
#asset-detail .document {background: url("../images/document-download.png") no-repeat scroll left center;}
#asset-detail .row ul { list-style-type: square; }

#contactus-page { min-height: 500px; background-color: #FFF; padding: 20px 30px; position: relative; }
#contactus-page h2 {
    border-bottom: 1px solid #EAE8E8;
    color: #555555;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#contactus-page #field-list { padding-right: 30%; }
.checkbox-label { display: inline-block !important; top: 3px; position: relative; }

#tieBrandingFooter { text-align: right; background-color: #FFF; padding: 10px 0px; }
#submitbutton { padding: 3px 5px; border: none; }
.checkbox-label { position: relative; top: -3px; }

.cursor-default{
	cursor:default !important;
}
/* Long new layout 10/04/2013 */
	#product-page  .col-md-6 .block-wrapper .prod-text span, #product-page  .col-md-6 .block-wrapper .prod-text .text-learnmore{
		font-size:11px;
	}
	#home-carousel .carousel-inner .carousel-caption{
		text-shadow:none !important;
	}
	#main-nav-bar ul  li ul li ul,#main-nav-bar ul  li ul li  b{
		display:none !important;
	}
	.tieContactUsFormFieldCheckboxBlock{
		margin-top:10px;
	}
	#addtomailing{
			margin-right:5px
	}
	a:hover{
	text-decoration:none ;
	cursor:pointer;
	}
	#breadcrumb a:hover{
		text-decoration:underline !important;
	}
	#submitbutton {
		background: none repeat scroll 0 0 #80B828;
		border-radius: 4px 4px 4px 4px;
		color: #333333;
		display: inline-block;
		height: 32px;
		padding: 0 20px;
	}
	#cboxClose{
		top:0 !important;
	}
	#product-page .csp-newwindow .asset-text{
		font-size:11px;
	}
	@media (max-width: 660px) {
		#asset-page .asset-block .asset-text,#product-page .prod-block .prod-text,#asset-detail-page .asset-block .asset-text{
			position: static !important;
			width:100% !important;
		}
		#home-carousel .carousel-caption {
				position: static !important;
				width:100% !important;
			}
		#csp-homeblocks-wrapper .csp-box{
				width:100% !important;
		}
	}
	@media (max-width: 550px) {
	.carousel-caption { min-height: 185px; }
	#home-carousel .left,#home-carousel .right{
		background: none !important;
		}
	#home-carousel .carousel-indicators {
	}
	.sub-menu-item .root-item{
		white-space: normal !important;
	}
		
	}
	@media (min-width: 550px) and (max-width: 660px) {
	#home-carousel .carousel-control{
		}
	#home-carousel .carousel-indicators {
		top: 320px !important;
	}
	}
	
/*End Long new layout 10/04/2013*/