﻿.clear, .csp-clear { clear: both; }

.hide { display: none; }

.pos-relative { position: relative; }

.error-msg {
	display: none;
	position: absolute;
	top: -2px;
	right: 0px;
	display: block;
	color: white !important;
	background: url(../images/errorbg.gif) no-repeat left center;
	text-shadow: 0px 1px 1px black;
	padding: 5px 20px;
}

img { border: none; }

ul, li {
	padding: 0px; margin: 0px;
}

/*Priyanka Edits*/

a { color: #00447C; }
a:visited  { color: #666666; }
a:hover    { color: #000000; }

#csp-content-channel img{
	width: auto !important;
}

/*Priyanka Edits End*/

body {
	font: Arial,sans-serif;
}

div#csp-wrapper {
	max-width: 660px;
	/*min-width: 330px;*/
	position: relative;
	margin: 0 auto;
	padding: 0px;
	vertical-align: top;
}

div#csp-wrapper * {
    font-family: Arial,sans-serif;
}

div#csp-wrapper{
font-size: 14px;
}

div#csp-wrapper h3{
font-size: 14px;
}

.primary-heading{
	color: #00447C;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;	
}

div#csp-top-section {
	/*position: relative;*/
	z-index: 2;
	background:#f1f1f1;
}

div#csp-logo {
	float: left;
	margin:20px;
}

div#csp-nav {
	border-top: none;
	float: right;
	/*width: 510px;*/
	width: 80%;
	margin-bottom: 10px;
	margin-top:20px;
	background: none;
}

div#csp-nav * {
	font: Arial,sans-serif;
	margin: 0 auto;
	padding: 0px;
}

div#csp-nav ul#main-nav {
    padding: 0px !important;
    overflow: hidden;
    clear:both;
	background:none !important;
	/*background: -moz-linear-gradient(center top , #FFFF, #272727) repeat scroll 0 0 transparent;*/
	/*background-image: -ms-linear-gradient(rgba(69, 69, 69, 0.95) 0%, rgba(24, 24, 24, 0.95) 100%);*/
	/*background: -webkit-linear-gradient(#FFFF, #272727);*/
	/*box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.65);*/
}

div#csp-nav ul#main-nav input {
	color: #000 !important;
}

div#csp-nav li.root-item {
	list-style-type: none;
	float: left;
	background: none;
	height: 40px;
	width: 16.66%;
}

div#csp-nav li.root-item a.mm-trigger {
	position: absolute;
	background: url("http://global.syndication.tiekinetix.net/customer-resources/showcase/custom/infor/images/pointer.png") no-repeat center;
	width: 20px;
	height: 20px;
	right: 290px;
	top: 10px;
	cursor: pointer;
	display: none;
	
}

.main-nav-1 li.root-item {
	width: 100%;
}

.main-nav-2 li.root-item {
	width: 50% !important;
}

.main-nav-3 li.root-item {
	width: 31% !important;
}

.main-nav-4 li.root-item {
	width: 25% !important;
}

.main-nav-5 li.root-item {
	width: 20% !important;
}

.main-nav-6 li.root-item {
	width: 16.66% !important;
}

.root-item-title-editor {
	border: 1px solid #333;
}

div#csp-nav li.last-root {
	background: none;
	padding-right: 0px;
}

div#csp-nav li.root-item {
}

div#csp-nav li.root-item a.root-item-link {
	color: #686b73;
    display: block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

div#csp-nav li.root-item-hover a.root-item-link, 
div#csp-nav li.root-item a.root-item-link:hover, 
div#csp-nav li.selected a.root-item-link{
	color: #515359 !important;
}

div#csp-nav li.selected > a.root-item-link {
	color: #515359 !important;
}

div#csp-nav li.root-item span.root-item-text {
	display: block;
	width: 100%;
	cursor: pointer;
}

div#csp-nav li.sub-item h2 a {
	word-wrap: break-word;
}

div#csp-nav ul.sub-menu-detail li a {
	font-size: 13px;
}

.content-page-detail
{
	color:#686b73;
}

div.sub-menu-wrapper {
	background-color: #FFFFFF;
    box-shadow: 0 3px 4px rgba(50, 50, 50, 0.65);
    cursor: default;
	left: 0px;
    padding-top: 1px;
    position: absolute;
    top: 60px;
	right: 77px;
    /*width: 660px;*/
    width:100%;
	z-index: 1;
	display: none;
}

ul.sub-menu {
	margin-bottom: 20px;
    padding: 10px !important;
    text-align: left;
}

ul.sub-menu ul {
    padding: 0px !important;
}

ul.sub-menu li.sub-item {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	list-style: none outside none;
	color: #FFF;
    font-size: 11px;
    line-height: 13px;
    
	width: 180px;
}

ul.sub-menu li.sub-item * {
	color: #515359;
	text-decoration: none;
}

ul.sub-menu li.sub-item h2 {
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 10px !important;
}

ul.sub-menu li.sub-item h2 a{
	background-color: transparent !important;
	display: block;
    padding: 5px !important;
	
}


ul.sub-menu-detail li.ctmenu-item a:hover {
	color: #13a3f7;
}

li.sub-item div.menu-overlay-section li {
	color: #515359;
    float: none;
    font-size: 11px;
    line-height: 13px;
    margin: 5px 0 0;
	list-style-type: none;
}

li.sub-item a {
	display: block;
	padding: 5px !important;
}

ul.sub-menu-detail li.ctmenu-item {
}

li.missing-content-small {
	background: url("../images/missing_content.png") no-repeat scroll right center;
	padding-right: 15px !important;
}

div#csp-banner {
	height: 300px;
	z-index: 0;
}

div#csp-homepage-header {
	width: 450px;
	position: absolute;
	right: 0px;
	top: 115px;
	padding: 25px 0px 0px 0px;
	z-index: 0;
}

div#csp-homepage-header * {
	text-align: right;
}

div#csp-homepage-header  h1 {
	color: #404040;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 15px;
}

div#csp-homepage-header  h2 {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

div#sub-category-blocks {
	padding-top: 20px;
	/*border-top: 3px solid #EEE;*/
}

div#csp-tout-area li {
	background-color: #EEE;
	border-left: 1px solid #CCC;
    float: left;
    /*min-height: 200px;*/
    padding: 5px;
    position: relative;
    width: 154px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

div#csp-tout-area a.csp-tout-title {
	text-decoration: none;
	color: #565656;
}

div#csp-tout-area a.csp-tout-title h2 {
	font-size: 15px;
    height: 50px;
    padding: 5px 0;
}

div#csp-tout-area a.csp-tout-title p {
	padding-top: 10px;
	font-size: 13px;
}

div#csp-tout-area div.csp-tout-figure {
	text-align: center;
}

div#tieBrandingFooter {
	text-align: right;
	padding: 5px 5px 5px 0px;
}

#csp-page-header {
	/*background: url("../images/double-border.gif") repeat-x scroll top left;*/
	padding-top: 4px;
}

/* Sub page { */
#csp-breadcrumb {
    color: #686b73;
    font-size: 11px;
    padding: 10px 0px 2px 0px;
    border-bottom: 1px solid #c6c6c6;
}

#csp-breadcrumb, #csp-breadcrumb * {
	font-family: Arial,sans-serif !important;
	font-size: 11px !important;
}

#csp-breadcrumb a {
	text-decoration: none;
	color: #13a3f7;
}

#csp-page-title {
    color: #404040;
    font-size: 30px;
	line-height: normal;
}

.header-category-title-editor {
	width: 610px;
	height: 27px;
}

div#csp-content {
	
}

div#csp-right-col {

}

/*
.resource-link{
	cursor:pointer;
	color:#13A3F7;
	font-size:17px;
}

.resource-left-col img{
	cursor:pointer;
}
*/
.csp-video-player{
	cursor:pointer;
	color:#00447c;
	text-decoration:underline;
}

div#csp-right-col div#page-banner, div#csp-right-col > div.feature {
	position: relative;
}

div#csp-right-col > div.feature {
	overflow: hidden;
}

div.feature .feature-info {
    width: 250px;
	float: left;
	overflow: hidden;
}

div.feature .figure {
    float: right;
	width: 390px;
	overflow: hidden;
}

#csp-right-col #banner-main-text * {

}

#csp-right-col #banner-main-text h1 {
	font-size: 16px;
	font-weight: bold;
	color: #1B75BA;
}

#csp-right-col #banner-main-text h2 {
	font-weight: bold;
	color: #1B75BA;
}

#csp-right-col #banner-main-text .media-subtitle {
	font-size: 14px;
	display: block;
	width: 200px;
}

#csp-right-col .lightbox, #video{
	display: none;
}

div.csp-side-col {
    /*width: 155px;*/
   width: 25%;
}
div.csp-right-col {
    /*width: 495px;*/
    width: 70%;
	overflow: hidden;
	/*padding-top: 13px;*/
	padding-left: 10px;
}
div.csp-side-col, div.csp-right-col {
    float: left;
}

ul#side-col-list {
	padding: 0px;
    display: block !important; /*To hide the mobile trigger*/
}
#mobile-left-col-trigger{
	display: none !important; /*To hide the mobile trigger*/
}

.csp-sibling-items {
    margin-top: 11px;
    width: 100%;
}

.csp-sibling-items li {
	list-style-type: none;
    font-size: 11px;
    margin-bottom: 10px;
}

.csp-sibling-items li a {
    color: #13a3f7;
    display: block;
	font-size: 16px;
    padding: 2px 0;
    text-decoration: none;
}

.csp-children-items li {
	padding: 5px 0px;
	margin-bottom: 0px;
	border-bottom: 1px dashed #EEE;
}

.csp-children-items li a {
	font-size: 11px;
	padding-left: 10px;
}

.csp-sibling-items li a:hover, .csp-sibling-items li.selected > a {
	color: #13a3f7;
	text-decoration:underline;
}

.csp-right-col ul, .csp-right-col ol { padding: 10px 30px; }
.csp-right-col p { padding: 0px 0px 10px 0px; }
.csp-right-col ul li { padding: 5px 0px;}
.csp-right-col ol li {padding: 5px 0px;}

.csp-right-col p.title {
	color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
#csp-right-col table{
	border: none;
	width: 100%;
}
#csp-right-col table tr{
   vertical-align: top;
}
#csp-right-col table tr td{
	padding: 6px;
}
#csp-right-col table.table-middle-align tr{
	vertical-align:middle;
}
#csp-right-col table.table-border{
	border: 1px solid;
}

#sub-category-blocks .sub-category-block {
	/*float: left;*/
	display:inline-block;
	vertical-align: top;
	overflow: hidden;
	padding: 5px 0;
	zoom:1;
	*display:inline;
}

#sub-category-blocks .sub-category-block  .sub-category-block-figure {
	display: block;
	padding: 0px 5px;
	overflow: hidden;
}

#sub-category-blocks .sub-category-block  h2 {
	margin: 20px 0px;
	padding: 0px 5px;
}

#sub-category-blocks .sub-category-block  h2 a {
	color: #13a3f7;
	text-decoration:none;
	font-size: 14px;
	font-weight: bold;
}

#sub-category-blocks .sub-category-block  p {
	margin: 0px;
	padding: 0px 5px;
	font-size: 13px;
	color:#686b73;
}

#csp-logo img{
	
	width:46px;
}

.csp-sibling-items li.selected {
	font-weight:bold;
	text-decoration:none;
}
.csp-sibling-items li.selected a{
	text-decoration:none;
}

#page-banner{
	min-height:auto !important;
}

#main-nav #nav_2:hover{
	background-color:#ffffff !important;
}


/* } EOF Sub page */

.RadMenu_Context { z-index: 99999 !important; }

.RadEditor td.reWrapper_corner,
.RadEditor td.reWrapper_center,
.RadEditor td.reToolZone,
.RadEditor td.reLeftVerticalSide,
.RadEditor td.reTlbVertical,
.RadEditor td.reRightVerticalSide,
.RadEditor td.reToolZone td,
.RadEditor td.reToolCell,
.RadEditor td.reContentCell {
    padding: 0px !important;
}

.reContentCell, .reContentCell iframe, iframe body {
    background-color: #FFFFFF !important;
}

#wdCategoryEditForm {
	padding: 10px 0px 0px 20px;
}

#wdCategoryEditForm td {
	padding-bottom: 5px;
}

#wdCategoryDescriptionEditor {
	padding: 10px 0px 0px 10px;
}

#wdDeleteCategoryOption {
	padding: 10px 0px 0px 10px;
}

.un-published {
	color: #ff8686 !important;
}

.inactive-item, .sub-menu .un-published {
	color: #999 !important;
}

/*
.sub-menu .ctmenu-item {
	padding: 2px 0px !important;
}

.sub-menu .ui-sortable-placeholder {
	padding: 2px 0px !important;
	border: 1px dashed #999 !important;
}
*/

.ui-sortable-helper a {
	cursor: move !important;
}

.RadWindow {
	z-index: 99999 !important;
}
.RadWindow li {
	list-style-type: none;
}

#side-controls-menu ul {
	display: none;
}

#wdBannerFileMan {
	padding:  10px 0px 0px 10px;
}

.top-window {
	z-index: 1001 !important;
}

.lower-window {
	z-index: 1000 !important;
}

/*
#wdBannerFileMan {
	background-color: #FFFFFF;
    border: 1px solid;
    padding: 30px 5px 5px;
    position: absolute;
    z-index: 99999;
}

#wdBannerFileMan .k-window-titlebar {
	width: 540px;
}

#wdBannerFileMan .k-window-titlebar .k-window-actions {
	right: 0px;
}
*/

#sci-addpagebanner {
	background: url("../images/window.png") no-repeat scroll left center transparent;
}

.primary-heading{
	color: #00447C;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;	
}

.layoutColumn table {
	padding: 0px !important;
	margin: 0px !important;
}

.rich-text .content-img {
    float: right;
    padding: 0 0 5px 5px;
}

#cspContactButton {
    background-color: #13a3f7;
	color:#ffffff;
    border-radius: 3px 3px 3px 3px;
    /*box-shadow: 2px 2px 2px #AAAAAA;*/
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 0;
    padding: 5px;
    text-align: center;
    width: 90px;
}

div#csp-mobile-button {
    display: none;
    position: absolute;
    right: 20px;
    top: 30px;	
}

#cspContactButton  a{
	color:#ffffff;
    text-decoration:none;
}

@media (max-width: 480px) and (min-width:0px) {
	body {margin:0;}
	div#csp-nav li.root-item a.mm-trigger {top:-3px;position:absolute;right:5px;}
	div#csp-mobile-button {		
		display:block;
	}
	div#csp-top-section {
		/*min-width: 400px;*/
		display: inline-block;
		background-color: #f1f11;
		width: 100%;
	}
	
	div#csp-logo {
		/*padding-bottom: 10px;*/
	}
	
	ul#main-nav {
		overflow: visible;				
	}
	
	div#csp-nav {
		width: 100%;
		/*float: left;*/
		display:block;
		margin: 0;
		display:none;
	}
	div#csp-nav li {margin: 0;}
	
	div#csp-nav li.root-item {
		width: 99% !important;
		min-height: 40px;
		height: auto;
		float: none;
		position: relative;
	}
	
	div#csp-nav li.root-item a.root-item-link {
		text-align: left;
		padding-left: 20px;
	}
	
	div#csp-nav li.root-item a.mm-trigger {
		display: block;
	}
	
	div#csp-nav li.root-item-hover a, div#csp-nav li.root-item a.root-item-link:hover, div#csp-nav li.selected a {
		/*text-shadow: 0.5px 0.5px 1.5px #333;*/
	}
	
	ul.sub-menu-detail {
		display: none;
	}
	
	.sub-menu-wrapper {
		position: relative !important;
		top: 0px !important;
		left: 0px !important;
		width: 90% !important;
	}
	
	.sub-item {
		width: 99% !important;
		padding-right: 0px !important;
	}
	
	#sub-category-blocks .sub-category-block {
		width: 99% !important;
		float:left;
		margin-bottom:30px;
	}
	
	#sub-category-blocks .sub-category-block .sub-category-block-figure {
		text-align: center;
		float: left;
	}
	
	#sub-category-blocks .sub-category-block .sub-category-block-figure img {
		width: 200px;
	}
	
	#page-banner img {
		width: 400px !important;
	}
	
	#block-37, #block-38, #block-36{

	}
	
	.sub-category-block h2, .sub-category-block p{
		float:left;
		width:100%
	}
	
	#csp-side-col {
		position: relative;
		width: 100%;
		min-height: 60px;
		padding-top: 10px;
	}
	
	#mobile-left-col-trigger {
		display: block;
		cursor: pointer;
		background: url("../images/side-menu-icon-blue.png") no-repeat;
		width: 30px;
		height: 30px;
	}
	
	#side-col-list {
		/*display: none;*/
		margin-top: 5px !important;
	}
	
	#side-col-list li {
		width: 100%;
		margin: 0 !important;
		/*background-color: #2B2D2E;*/
	}
	
	.csp-sibling-items li a {
		color: #13A3F7;
		font-weight: normal;
	}
	
	.aside-menu-item {
		padding: 10px !important;
		border-bottom: 1px solid #FFF;
	}
	
	.aside-menu-item:hover {
		text-decoration:underline;
		/*text-shadow: 0.5px 0.5px 1.5px #333;*/
		
	}
	
	#cspContactButton {
		/*position: absolute;
		right: 0px;
		top: 0px;
		margin: 0 !important;*/
		float:left;
		width:91%;
		padding:10px;
	}
	
	div.csp-right-col {
		padding-left: 0px !important;
		width: 100%;
	}
	
	#page-banner {
		max-height: 133px;
		max-width: 400px;
		min-height: 100px !important;
		overflow: hidden;
	}
	
	#banner-main-text {
		left: 0 !important;
		top: 0 !important;
	}
	
	#banner-main-text > h1 {
		display: block;
		font-size: 16px !important;
		max-width: 400px;
	}
	
	#banner-main-text > h2 {
		display: block;
		font-size: 14px !important;
		width: 400px;
	}
}
	