﻿div#csp-wrapper * {
	font-size: 13px;
}

.csp-form-field {
	border: 1px solid #777;
	width: 280px;
}

textarea {
	border: 1px solid #777;
	width: 280px;
}
.tieContentFormHeaderTitle{font-size:20px !important;margin-bottom:15px; margin-top:10px;}
.tieContentShortDescription{margin-bottom:15px; margin-top:15px;}

div#csp-nav li.root-item{
	width: 31.33% !important;
}
div#csp-nav li.root-item a{
	/*padding-top:11.5px;*/
}

.tieContactUsFormSubmit input{
    background-color: #13A3F7;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0 0;
    padding: 5px;
    text-align: center;
    width: 90px;
    border:0px;
    cursor:pointer;
}
@media (max-width: 480px) and (min-width:0px) {
    body {margin:0;}
    textarea, .csp-form-field {width:95% !important; height: 30px;}
}      