	<div id="asset-detail-page">
		<script type="text/ng-template" id="breadcrumb-tmpl">
			<a ng-if="breadcrumb.link != ''" ng-href="{{breadcrumb.link}}">{{breadcrumb.title}}</a>
			<a ng-if="breadcrumb.link == ''" ng-href="{{breadcrumb.link}}" eat-click>{{breadcrumb.title}}</a>
			<span ng-if="!$last">&raquo;</span>
		</script>
		<div id="breadcrumb">
			<span ng-repeat="breadcrumb in breadcrumbs" ng-include="'breadcrumb-tmpl'">
			</span>
			<!-- <a class="current" href="javascript: void(0)">{{assetTitle}}</a> -->
		</div>
		<div id="page-title">
			<h1>{{assetTitle}}</h1>
		</div>
		
		<!-- Featured block -->
		<script type="text/ng-template" id="bannerblock-tmpl">
			<div class="asset-img"><img class="img-responsive" ng-src="{{assetBanner}}" /></div>
			<div class="asset-text" ng-bind-html-unsafe="assetDescription"></div>
		</script>
		<div class="row whole-row">
			<div class="col-md-12">
				<div class="asset-block" ng-include="'bannerblock-tmpl'">
					
				</div>
			</div>
		</div>
		<div id="asset-detail">
			<div class="row">
				<div class="col-md-8" ng-bind-html-unsafe="assetLongDescription"></div>
				<div class="col-md-4">
					<div class="file-outer">
						<a href="{{assetFileLinkUrl}}" rel="{{assetFileType}}" class="{{assetFileLinkLaunchType}}" ng-class="{true:'hide', false:''}[assetFileLinkUrl == '']" target="{{assetFileLinkTarget}}">
							<div class="{{assetFileType}}">
								{{assetFileDownloadTitle}}
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		jQuery("body").undelegate(".csp-lightbox", "click").delegate(".csp-lightbox", "click", function(event) {
			var isDesktop = reAdjustColorBoxSize(350);
			if (isDesktop) {
				if (jQuery(this).attr('rel').toLowerCase() == 'document')
					wdHeight = jQuery(window).height() - 90;
				jQuery.colorbox({width: wdWidth + "px", height: wdHeight + "px", iframe:true, href: jQuery(this).attr('href')});
				event.preventDefault();
			}
		});
		
		jQuery("body").undelegate("a", "click").delegate("a", "click", function(event) {
			addTick(jQuery(this));
		});
	</script>