﻿.csp-col1 {
    width: 200px !important;
    max-width: 200px !important;
    padding: 10px !important;
}

.csp-col2 {
    max-width: 100px !important;
    width: 100px !important;
    padding: 10px;
}

.csp_prod_desc_image {
    width: 100px;
}

.cspisigallery {
    margin-top: 15px;
}

.csp-col2 img {
    width: 100px;
}