@charset "utf-8";
/* CSS Document */

html,body{margin:0;padding:0;}

#tieMainPageContainer{
	width: 540px;
	border-bottom-color: #c1c1c1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-left-color: #c1c1c1;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-color: #c1c1c1;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-color: #c1c1c1;
	border-top-width: 1px;
	border-top-style: solid;
	background-color: #dc291e;
}

#ccsPageHeader{
	background-color: #efefef;
}

/* Begin Primary breadcrumb */
#ccsPrimaryBreadcrumbContainer{
	background-color: #dc291e;
    width: 540px
}

#ccsPrimaryBreadcrumb{
	clear: both;
    list-style: none outside none;	
	margin: 5px 10px;
    padding: 0;
    white-space: nowrap;
	display:inline-block;
	
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}

#ccsPrimaryBreadcrumb li{

	font-size: 8pt;
	color: #fff;
	font-family: Arial,Helvetica,Sans-serif;
	float:left;
	padding-right: 5px;
	/*
    clear: both;
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 5px;
    padding: 0;
    white-space: nowrap;	*/
}

#ccsPrimaryBreadcrumb li a{
	font-size: 8pt;
	color: #fff;
	font-family: Arial,Helvetica,Sans-serif;
	text-decoration: none;
}

#ccsPrimaryBreadcrumb li a:hover{
	text-decoration: underline;
}

.ccsBreadcrumbDivider{
    color: #fff;
    font-size: 11px;
    text-align: center;
    width: 23px;
	padding-right: 5px;
	padding-left: 5px;
}
/* End Breadcrumb */

/* Begin secondary breadcrumb */

#ccsSecondaryBreadCrumb{
	margin: 5px 10px;
}

.ccsSecondaryBreadcrumbText{
	font-size: 11px;
	color: #fff;
	font-family: Arial,Helvetica,Sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	
}

/* End secondary breadcrumb */


#ccsBannerImageContainer {
    clear: both;
    display: block;
    position: static;
    width: 540px;
	overflow-x:hidden;
}

/* Begin tabs navigation */
#ccsNavigationTbl{
	height: 30px;
	/*margin-bottom: -2px;*/
	border-collapse: collapse;
}

#ccsTabsNavigationContainer{
	display:inline-block;
	width: 540px;
	
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}


td.ccsTabNavigationItem{
	background: url("https://cc.cnetcontent.com/vcs/lenovo/redesign2011/img/tabbg.gif") repeat-x scroll 0 0 #EFEFEF;	
	text-align: center;
	border-right: 1px solid #555555;
	border-left: 1px solid #555555;
	border-bottom: 1px solid #c1c1c1;
	padding-left: 5px;
	padding-right: 5px;		
}

td.tieNavigationTabSelected{
	background: url("https://cc.cnetcontent.com/vcs/lenovo/redesign2011/img/tabbgsel.gif") repeat-x scroll 0 0 #EFEFEF;	
	border-bottom: 1px solid #fff;
}
td.ccsTabNavigationItemHighlighted{
	background: url("https://cc.cnetcontent.com/vcs/lenovo/redesign2011/img/tabbgsel.gif") repeat-x scroll 0 0 #EFEFEF;	
}

td.ccsTabNavigationItem a{
	color: #555555;    
    text-decoration: none;
	font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;	
}

/* End tabs navigation */

/* begin product details buttons*/
#ccsProductDetailsButtonsContainer{
	display:inline-block;
	width: 520px;
	margin-bottom: 30px;
	
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}

table#ccsProductDetailsButtonsTble{
	float:right;
}

/* buttons and the pointy thing*/
td.ccsProductDetailsButtons div a {
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	color: #FFF;    	
}
td.ccsProductDetailsButtons div {
	text-align: center;
	padding: 5px 15px;
	background-color: #a7a7a7;
 	font-family: Arial,Helvetica,Sans-serif;
    font-size: 11px;
}
td.ccsProductDetailsButtons div:hover {
	background-color: #9c3022;
}
td.ccsProductDetailsButtons div.ccsActiveButton {
	background-color: #dc291e;	
}

td.ccsProductDetailsButtons span.ccsArrowHolder
{
	height:6px;
	display:block;
}
td.ccsProductDetailsButtons span.ccsShowArrow
{
	background: url("/global/files/lenovo/img/nav_arrow_down_dc291e.png") no-repeat scroll 50% 0 transparent;
}
/*
td.ccsProductDetailsButtons a{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #a7a7a7;
	color: #FFF;    
    text-decoration: none;
	font-family: Arial,Helvetica,Sans-serif;
    font-size: 11px;
	vertical-align: middle;
	text-transform: uppercase;
}

td.ccsProductDetailsButtons a.ccsActiveButton{
	background-color: #dc291e;	
}

td.ccsProductDetailsButtons:hover a{
	background-color: #9c3022;
}
*/

/*.tab_container {*/
#ccsProductDetailsButtonsContainer{
	/*border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;*/
}

/*.tab_content {*/
#ccsProductDetailsContentContainer{
	padding: 0px;
	/*font-size: 1.2em;*/
}


.tieVideoContent{
	margin-left: 30px; 
}
/* End product details buttons*/


/* Begin Products page content */

#ccsProductContentContainer{
	background-color: #FFF;
}

#ccsProductSummary-Level1{
	margin-left: 30px;
}

#ccsProductContent{
	display:inline-block;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 540px;
	
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}

.ccsProductContentItem{
	float: left;	
	width: 160px;
	padding-right: 10px;
	margin-bottom: 20px;
}
	
.ccsProductDescriptionLong{
	font-size: 10pt;
	color: #666666;
    text-decoration: none;
	font-family: Arial,Helvetica,Sans-serif;

}

#ccsProductButtonsContainer{
	display: inline-block;
	padding-top: 10px;
	
}

.ccsProductMoreButton{
	text-align: left;
	font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;
	color: #666666;
    text-decoration: none;
}

.ccsProductModelsButton{
	margin-top: 10px;
	text-align: left;
	font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;
	color: #666666;
    text-decoration: none;
}

.ccsComingSoon{
	color: #0070c0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-top: 10px;
}

/* Beging product content at level 2*/

#ccsProductSummary-Level2{
	display:inline-block;
	width: 530px;
	margin-left: 15px;
	
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}


.ccsProductContentItem-Level2{
	float:left;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 350px;
}

.ccsProductContentTitle-Level2{
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
	font-family: Arial,Helvetica,Sans-serif;
}

.ccsProductDescriptionShort-Level2{
	color: #666666;
	display: block;
    font-weight: bold;
    padding: 5px;
	font-family: Arial,Helvetica,Sans-serif;
}

.ccsProductDescriptionLong-Level2{
	color: #666666;
	display: block;
    padding: 5px;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;
}

#ccsProductButtonsContainer-level2{
	float:right;
	margin-right: 10px;
	width: 120px;
}


/* End product content at level 2*/	

/* Begin item content at level 3*/	

#ccsProductItemHeaderContainer-Level3{
	display:inline-block;
	width: 510px;
	margin-left: 15px;
	margin-bottom: 15px;
	
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}

.ccsProductItemHeaderText{
	float: left;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

#ccsProductItemHeaderContainer-Level3 .ccsBackToModelsLinkText a{
	float: right;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 11px;
	color: #009DD9;
	text-align: center;
	margin-right: 10px;
	text-decoration: none;
}

#ccsProductItemHeaderContainer-Level3 .ccsBackToModelsLinkText a:hover{
	color: #000;
}
table#ccsViewConfigurationTbl{
	margin-left: 15px;
	margin-bottom: 15px;
	width: 500px;	
	font-size:11px;
}

#ccsViewConfigurationTbl
{
	font-family: Arial,Helvetica,Sans-serif;	
}
#ccsViewConfigurationTbl th
{
	text-align: center;
	font-weight: bold;
	font-size:11px;
	padding:1px;
	width: 33%;
}
#ccsViewConfigurationTbl th span
{
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;
    color: #009DD9;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#ccsViewConfigurationTbl th.ccsConfigurationsTableHeaderFirst
{
}
#ccsViewConfigurationTbl th.ccsConfigurationsTableHeader
{
}
#ccsViewConfigurationTbl tr.ccsConfigurationsTableItemContainer
{
}
#ccsViewConfigurationTbl tr.ccsConfigurationsDetailTableItemContainer td
{
	border-right: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
}
#ccsViewConfigurationTbl tr.ccsConfigurationsTableItemContainer td
{
	background: #fff;
	border-left: 1px solid #efefef;
	border-top: 1px solid #efefef;
	font-size:11px;
	padding: 3px 3px 3px 7px;
	color:#666;
}
#ccsViewConfigurationTbl tr.ccsConfigurationsTableItemContainer td.ccsProductExtendedSpecs
{
	border-right: 1px solid #efefef;
}
#ccsViewConfigurationTbl tr.ccsConfigurationsTableItemContainer td.ccsProductExtendedSpecs img
{
	margin: 10px 0px 0px 3px;	
}
#ccsViewConfigurationTbl td.ccsConfigurationsTableLastItem {
	border-top: 1px solid #efefef;
}

/*
td.ccsConfigurationsTableHeader{
    background: none repeat scroll 0 0 #EFEFEF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #CCCCCC;
    color: #009DD9;
    padding: 5px;
    text-decoration: none;
	margin-right: 5px;
	text-align: center;
	font-weight: bold;
}

td.ccsConfigurationsTableHeaderFirst{
    background: none repeat scroll 0 0 #EFEFEF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #CCCCCC;
    color: #009DD9;
    padding: 5px;
    text-decoration: none;
	margin-right: 5px;
	text-align: center;
	font-weight: bold;
	width: 150px;
}
*/


/*
tr.ccsConfigurationsTableItemContainer{
	background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;
    color: #009DD9;
}

tr.ccsConfigurationsTableItemContainer:hover{
	background: none repeat scroll 0 0 #DADADA;
}

td.ccsConfigurationsTableItem{
	border-left: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
    color: #666666;
    font-size: 11px;
    padding: 3px 3px 3px 7px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
*/

/* End item content at level 3*/	

/*Begin Price and Purchasing settings at level 3*/	
.ccsPricePurchaseContainer{
	margin-left: 10px;
	margin-right: 10px;
}


.ccsPrice{
	color: #6BAE01;
    font-weight: bold;
    margin-bottom: 5px;
	text-align: center;
	font-family: Arial,Helvetica,Sans-serif;
}


/*End Price and Purchasing settings at level 3*/	


/*Begin Extended specs settings at level 3*/	
tr.ccsConfigurationsTableItemContainer .ccsProductExtendedSpecs a{
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 11px;
	color: #009DD9;
	text-align: center;
	margin-right: 10px;
	text-decoration: none;
	text-align: center;
}

tr.ccsConfigurationsTableItemContainer .ccsProductExtendedSpecs a:hover{
	text-decoration: underline;
	color: #000;
}
tr.ccsConfigurationsTableItemContainer .ccsProductExtendedSpecs a:hover span{
    background: none;
    border: none;
    display: block;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 275;
}
/*End Extended specs settings at level 3*/	

/* Begin pagination settings*/
#ccsPagination{
	margin-bottom: 10px;
	margin-left: 15px;
}

.ccsPaginationText{
	color: #009DD9;
	padding-left: 6px;
	padding-right: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}

.ccsPaginationText a{
	color: #009DD9;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}

/* End pagination settings*/

/* Begin accessories main page settings*/

#ccsAccessoriesListContainer{
	display:inline-block;
	width: 510px;
	margin-bottom: 5px;
	
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}

li.ccsAccessoriesLinks{
	color: #009DD9;
	list-style: disc;
	list-style-position:inside;
}

.ccsAccessoriesListItemContainer{
	width: 250px;
	float: left;
	color: #666;

}

.ccsAccessoriesLinks a{
	font-size: 12px;
	color: #009DD9;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;		
}

.ccsAccessoriesLinks a:hover{
	color: #000;
}

/* End accessories main page settings */

/* Begin page footer */

#ccsPageFooterContainer{
	display:inline-block;
	width: 540px;
	background-color: #efefef;
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}

.ccsContent_Cast{
	float: right;
	clear: right;
	padding-right: 5px;
}

.ccsCopywrite{
	float:left;
	color: #aaa;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 15px;
	padding-left: 5px;
}
.cspTopSellerButton {
    float: right;
}
.cspShowTopSeller {
    display: inline;
}
.cspShowTopSeller, .cspShowTopSeller img, .cspShowTopSeller:link, .cspShowTopSeller:active, .cspShowTopSeller:hover, .cspShowTopSeller:visited {
    text-decoration: none !important;
    border: none !important;
}