body {
    background-color: #fff;
}

#csp-TopSellerTitle, #csp-TopSellerTitleItem {
    color: #000000;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#csp-TopSellerTitle {
    margin: 10px 0;
}
#csp-MainSections {
    text-align: center;
    width: 80%;
}
.csp-MainSectionsItem {
    color: #009DD9;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
}
.csp-MainSectionsItem:hover {
    text-decoration: underline;
}
.csp-TopSellerMainSectionSeparator {
    margin: 0 2px;
}
#csp-MainContainer {
    overflow-y: auto;
    width: 430px;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;
    color: #666666;
}
.csp-MainItem {
   padding: 18px; 
}
.csp-MainItem.odd {
    background-color: #EFEFEF;
}
.csp-ExtendDetails a {
    width: 100px;
    float: right;
    color: #009DD9;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.csp-ExtendDetails a:hover {
    text-decoration: underline;
    color:#000000;
}
.csp-ItemDetailsContainer {
    display: none;
    margin-left: 27px;
    margin-top: 12px;
    font-size: 11px;
    border: 1px solid RGB(204,204,204);
    background-color: #fff;
    overflow: hidden;
}
.csp-ItemDetailsSectionTitle {
    width: 100%;
    background-color: RGB(204,204,204);
    height: 13px;
    font-weight: bold;
    padding: 5px 12px;
}
.csp-ItemDetailsSectionItemTitle {
    width: 40%;
    padding: 5px 12px;
    display: inline-block;
    vertical-align: top;
}
.csp-ItemDetailsSectionItemData {
    display: inline-block;
    width: 52%;
}
